[2021-11-04 23:40] dmikalova commented on #480
Using cron for poll based triggering as a paradigm also makes sense because it can support polling things other than commits to a git repo - for example releases in github or gitlab, changes to an s3 bucket, release published on an arbitrary downloads page, etc. Each of these options can be available in the catalog.

[2021-11-05 16:27] afrittoli opened #1258 "Several fragment links broken in the documentation"
# Expected Behavior

All the links in the docs are working.

# Actual Behavior

I'm experimenting with the `netlify-plugin-checklinks` to discover broken links automatically on the website.
In the [deploy log](https://app.netlify.com/sites/tekton/deploys/61855550268ccb0007b82d60), a lot of fragment check are failing, and these three are from the trigger docs:

[code]
Here there's a type, `specifiy

[2021-11-05 16:30] afrittoli commented on #1258
Another one:

[code]

[2021-11-06 02:10] hokadiri commented on #1178
/remove-lifecycle stale
Still needed please!

[2021-11-08 09:49] sm43 commented on #1258
/assign

[2021-11-09 14:57] #1258 closed

[2021-11-09 22:04] boarder981 opened #1261 "EventListener and Dashboard pods crash frequently"
I recently upgraded Tekton Triggers to v0.16.1.  Ever since, my EventListener and Dashboard pods are very unstable and crash often.  Prior to this, I was running the following Tekton versions:

Pipelines v0.26.0
Dashboard v0.18.1
Triggers v0.11.2

Also, my Kuberentes version is 1.21.2

For some background, I needed to upgrade Triggers directly from v0.11 to v0.16.  This is because v0.12 forced JSO

[2021-11-11 02:45] boarder981 commented on #1261
I can hit the EL on 8080 from within the cluster

[code]

The EL pod doesn't emit anything before the pod restarts.  It simply just dies.  Here is the full log from when the pod restarted until the next time it restarted (with no activity during that time)

[code]

And here is the Events section when I describe the pod

[code]

[2021-11-11 21:34] rackstar01 opened #1262 "slack channel integration"
Hello, I need help with the slack channel configurable. I want a configurable slack channel name. developers should be able to provide their own slack channel name that they want to configure for notification.

Thanks

[2021-11-12 04:01] shuknk8s commented on #1184
Did not mean to open the issue, just a closing question. Have you been able
to fix the issue with RBAC which kind of forced me to use a specific
feature branch of the repo since master branch did not feature the fix when
the issue had been filed.

On Tue, Nov 2, 2021, 11:46 AM tekton-robot ***@***.***> wrote:

[2021-11-13 11:56] #1248 closed

[2021-11-13 12:12] savitaashture commented on #1133
@xificurC I don't see the behavior which is mentioned in description with latest Trigger release
could you please try with latest Trigger release.

Thank you

[2021-11-13 23:01] #624 closed

[2021-11-14 00:02] #584 closed

[2021-11-14 00:02] #1015 closed

[2021-11-14 00:02] #831 closed

[2021-11-14 02:04] #484 closed

[2021-11-14 02:04] #959 closed

[2021-11-14 03:05] #952 closed

[2021-11-15 16:48] dibyom commented on #942
(This is still a issue we need to fix)

[2021-11-16 16:33] #1089 closed

[2021-11-17 16:25] dibyom commented on #1217
We should also highlight the `serviceType` field with `LoadBalancer` as a easy way to expose the EL in hosted K8s clusters.

[2021-11-17 18:08] bitsofinfo commented on #788
/reopen

[2021-11-17 20:00] dibyom commented on #526
Verified that this is still an issue. I think adding openAPI schemas would be the ideal long term way of solving this so I'm going to try to  add openAPI schemas for Triggers

[2021-11-17 22:00] dibyom commented on #526
Update: I was able to generate a go file that contains the openAPI structs along with a bunch of OpenAPI violations. Now I'm not sure how to get these into the CRD yaml in some automated fashion.

[code]

Vincent's branch came in handy: https://github.com/tektoncd/pipeline/compare/main...vdemeester:schema-gen

[2021-11-17 22:44] dibyom commented on #526
Ok, it kinda works 🎉

[code]

Main issue is with the URL type:

[code]

[2021-11-17 22:50] dibyom commented on #526
[code]

😞

[2021-11-22 06:28] waveywaves opened #1263 "feature: validate values from eventlistener payload against values in a file on a mounted volume"
### Feature request

We are using Vault for secret management and prefer to use mounted secrets (API keys, webhook secrets) via sidecar injection. It should possible for users to validate webhook secrets from the eventlistener payload against mounted secrets. Currently doing this requires specifying the secret explicitly in the EventListener interceptor.

### Use case

Webhook secret validation ag

[2021-11-22 06:29] waveywaves commented on #1263
/assign @dibyom @wlynch lmk what you guys think

[2021-11-22 18:52] dibyom commented on #526
So, the OpenAPI fix works but this does mean a BREAKING CHANGE if we merge the PR. The old behavior where we allowed wrong cases (e.g. `resourceTemplates`) will now throw an error.
I

I wonder if there is a way to enable the schemas without this breaking change for now (while we announce and deprecate the old behavior).

[2021-11-24 14:32] guillaumerose opened #1268 "Too much memory used with large number of namespaces"
# Expected Behavior

Same memory usage as the pipeline controller

# Actual Behavior

The memory taken by the interceptor and trigger controller is around 1GB.

This is not the case of the pipeline controller which stay around 50MB.

<img width="1468" alt="Screenshot 2021-11-24 at 15 30 56" src="https://user-images.githubusercontent.com/172624/143257378-c21e36ae-6f86-42a5-9e69-000f8c09c6b2.png">

[2021-11-24 16:41] savitaashture opened #1269 "EventListener spec validation is missing"
# Expected Behavior
* Creating EventListener should fail if provided spec is empty
* Its expected that atleast atleast one of the label selector, namespace selector, or triggers (or triggerGroup) is provided

# Actual Behavior
* Creating EventListener is success  if provided spec is empty and creates EL pod but that doesn't do any functionality.

# Steps to Reproduce the Problem

1. Create EL with

[2021-11-24 17:07] waveywaves opened #1270 "feature: add spec to specify EventListener service port :door:"
### Feature request

Update EventListener port to something other than port 8080. The EventListener Service has port config similar to the following. This feature request entails allowing the user to change the "port" to something other than 8080 via a spec change.
[code]
Currently, ServiceType is something the user can provide to change the type of the service from the default "ClusterIP" to the

[2021-11-24 17:48] dibyom commented on #1270
🤣

[2021-11-24 18:22] dibyom opened #1271 "API rule violations in Triggers types"
# Expected Behavior

Triggers should have 0 API violations

# Actual Behavior

Running openapi-gen results in the following API violations:

[code]

# Steps to Reproduce the Problem

1.  ` go run k8s.io/kube-openapi/cmd/openapi-gen \
    --input-dirs ./pkg/apis/triggers/v1beta1,knative.dev/pkg/apis,knative.dev/pkg/apis/duck/v1beta1 \
    --output-package ./pkg/apis/triggers/v1beta1 -o ./ \
    --g

[2021-11-24 18:35] dibyom commented on #1268
Thanks for the detailed bug report. At a first glance, it looks like the watch for the lister/informer cache may be watching too many things.

[2021-11-24 18:37] dibyom commented on #526
From today's WG:
1. The inconsistent handling of case sensitivity is a bug but fixing it is a BREAKING change.
2. We'll add OpenAPI schemas but with the option to preserve unknown fields for now which keep the behavior consistent.
3. We'll add a Deprecation Notice for this behavior and will start validating schemas using OpenAPI 9 months after the Deprecation Notice is sent out.

[2021-11-25 09:46] guillaumerose commented on #1268
I found an explanation for the Triggers controller. See #1273

For the interceptors container:

I observe that all secrets of the cluster are kept in memory. See https://github.com/tektoncd/triggers/blob/main/cmd/interceptors/main.go#L67.
I see 2 possibles solutions:

1. Don't use a secret lister but instead use a secret getter

Pros:
* no more informer
* this is what pipeline already does
Cons:
*

[2021-11-26 08:44] guillaumerose commented on #1268
I also realize that the controller is watchin for all deployments and all services in the cluster. It might be a good idea to filter them.

[2021-11-29 18:26] dibyom commented on #526
1. We need to add `x-kubernetes-embedded-resource: true` to fix resourceTemplate validation
2. Suggestion from @wlynch - Return a list of warnings to the user from admission controller (while also allowing unknown fields)

[2021-11-30 16:08] pascalgulikers opened #1279 "Can't install binding-eval tool due to Google's namespace change on github"
# Expected Behavior
Installation of binding-eval tool
# Actual Behavior
go get -u github.com/tektoncd/triggers/cmd/binding-eval
go get: github.com/googleapis/gnostic@v0.5.7: parsing go.mod:
        module declares its path as: github.com/google/gnostic
                but was required as: github.com/googleapis/gnostic
# Steps to Reproduce the Problem

1.  go get -u github.com/tektoncd/triggers/cmd

[2021-11-30 21:12] dibyom commented on #1262
Hey @rackstar01 - is this slack channel within a specific task? We do not have direct support for notifications to Slack.

[2021-12-01 12:17] #1269 closed

[2021-12-01 16:58] wlynch commented on #1279
This is unfortunately a problem with Go package version resolution that's upstream to us. :( See https://github.com/google/gnostic/issues/262.

When you pass the `-u` flag, that's instructing Go to pull recent minor/patch module updates. Since the gnostic module rename happened in 0.5.6 -> 0.5.7  it's pulled in and causes breakages because it's a patch version.

As an alternative, try using `go ge

[2021-12-01 21:03] pascalgulikers commented on #1279
go get github.com/tektoncd/triggers/cmd/binding-eval
gives:

[code]
indeed :(

[2021-12-08 19:19] dibyom commented on #1224
/cc @jerop @lbernick - We'll need this if we ever plan to drop the v1alpha1 version in pipelines.

[2021-12-09 10:20] qtheya opened #1284 "request.go:668] Waited for *s due to client-side throttling, not priority and fairness, request: GET:https://172.20.0.1:443/apis/triggers.tekton.dev/v1alpha1/clusterinterceptors/github"
# Expected Behavior
Event listener is working as expected
# Actual Behavior
Drasticall performance degradation
 ```1 request.go:668] Waited for 11.393899312s due to client-side throttling, not priority and fairness, request: GET:https://172.20.0.1:443/apis/triggers.tekton.dev/v1alpha1/clusterinterceptors/github```
# Steps to Reproduce the Problem

1. Install Operator > 0.51.1
2.
3.

# Additional I

[2021-12-09 16:38] dibyom commented on #1284
Just to be clear - this was not an issue with Triggers v0.16?

[2021-12-10 04:36] qtheya commented on #1284
Correct

[2021-12-10 21:45] dibyom commented on #1284
Hmm I wonder if we are seeing similar behavior in our own dogfooding cluster where we are on Triggers 0.17.1

[2021-12-13 09:53] khrm commented on #1271
Should we create exception list or do we need to change the names?

[2021-12-13 20:38] lbernick commented on #1146
Triggers doesn't do fuzzy matching currently, but the docs could use an update to better explain how trigger processing works.

/remove-lifecycle rotten

[2021-12-13 20:38] dibyom commented on #1271
We might have to create an exception list for the names_match ones. We should fix the list_type_missing ones

[2021-12-13 20:41] lbernick commented on #526
may be fixed by addressing #1271

[2021-12-13 20:42] lbernick commented on #1268
/priority important-longterm

[2021-12-13 20:46] lbernick commented on #1136
Pipelines now supports arm, we should prioritize fixing this in triggers especially because the fix should be relatively simple.

/assign dibyom
/remove-label help wanted

[2021-12-13 20:47] lbernick commented on #942
/priority important-longterm

[2021-12-14 00:51] #948 closed

[2021-12-14 00:51] #1062 closed

[2021-12-14 00:51] #968 closed

[2021-12-14 00:51] #1059 closed

[2021-12-14 01:52] #1070 closed

[2021-12-14 02:53] #1076 closed

[2021-12-14 02:53] #1081 closed

[2021-12-14 03:54] #491 closed

[2021-12-14 03:54] #820 closed

[2021-12-14 03:54] #799 closed

[2021-12-14 04:55] #77 closed

[2021-12-14 08:59] #44 closed

[2021-12-14 08:59] #1121 closed

[2021-12-14 14:51] OSobky commented on #942
Now I am facing a similar problem when I have string array in the JSON body sent to Event Listener

[2021-12-15 17:36] #1136 closed

[2021-12-17 23:15] shinuza commented on #875
Here's how I fixed it since I didn't have access to the kubernetes nodes, in my case this is cause by the fact that the root CA in

`kubectl get configmaps -n kube-system extension-apiserver-authentication -o=jsonpath='{.data.client-ca-file}'`

Was modified by the team that installed the cluster. So the issuer, was not `kubernetes` but `my-company`. If you look at the `webhook-certs` and `triggers

[2021-12-20 16:35] bitsofinfo commented on #788
/reopen

[2021-12-20 16:45] bmudda commented on #788
This would definitely be a helpful feature for us when integrating with slack as well.

[2021-12-20 16:47] bitsofinfo commented on #788
/remove-lifecycle rotten

[2021-12-21 16:55] #845 closed

[2021-12-21 18:28] #1217 closed

[2021-12-22 06:10] johnlongo opened #1290 "seeing the following errors when I try to apply latest/interceptors.yaml in okd 4.9 please advise"
oc apply --filename https://storage.googleapis.com/tekton-releases/triggers/latest/interceptors.yaml

Error from server (InternalError): error when creating "https://storage.googleapis.com/tekton-releases/triggers/latest/interceptors.yaml": Internal error occurred: failed calling webhook "webhook.triggers.tekton.dev": failed to call webhook: Post "https://tekton-triggers-webhook.tekton-pipelines.s

[2021-12-22 17:56] dibyom commented on #1290
/cc @savitaashture @khrm

[2021-12-26 00:54] johnlongo commented on #1290
Created another cluster and installed again and it worked

[2021-12-26 00:54] #1290 closed

[2022-01-07 07:26] janmaterne opened #1307 "Typo on https://tekton.dev/docs/triggers/triggerbindings/"
Typo on https://tekton.dev/docs/triggers/triggerbindings/

s/Specifying paramters/Specifying parameters/
missing 'e'

[2022-01-07 22:00] dibyom commented on #1284
Sorry for the delay. I checked our logs from the dogfooding cluster and I see many log messages for interceptor messages roughly a milsecond apart. Based on that, I do not think this is an issue with Triggers in general. Could you confirm that your cluster was not overloaded around this time?

[2022-01-07 22:01] dibyom commented on #942
hi @OSobky do you have a quick example of your use case?

[2022-01-08 05:23] qtheya commented on #1284
Hello. From the moment when i opened this issue my team 2 times did fresh install of latest version of tekton operator into different fresh clusters in different aws accounts. In both cases there was the same behavior, so we downgraded version to 0.50.2 and it just works.
In both cases latest AWS EKS v 1.21.x used. Node pools that were provisioned exclusively for tekton:
instance_types = ["c5d.xla

[2022-01-12 15:28] dibyom commented on #735
/close this was fixed in #1252

[2022-01-12 16:12] khrm opened #1294 "Metrics at Triggers Controller Level"
### Feature request

Metrics at Triggers Controller Level to count the number of EL, TB and TT created.

### Use case

[2022-01-17 11:03] OSobky commented on #942
Hey @dibyom, Sorry for the late reply. Sure!

Basically, I was trying to send a request with an array of strings in the JSON body like the following:
`{
"PARAMETERS" : ["-P", "alpha=0.555" , "-P" ,"l1_ratio=0.222"]
}`

However, the event listener generates the following error:
`
{"level":"error","logger":"eventlistener","caller":"sink/sink.go:339","msg":"problem creating obj: &errors.errorString{s

[2022-01-17 15:39] OSobky opened #1295 "Cluster wide TriggerTemplate & EventListener"
### Feature request

Lately, I have started to work with OpenShift Pipelines, and I created multiple pipelines with the needed resources (Tasks, Pipeline Template,  Trigger templates, Trigger Binding, Event Listener). Currently, I am trying to figure out how to install a pipeline template, and it's all required resources across different clusters so the user does not need to go and create them as

[2022-01-18 14:12] tisaiful31 commented on #1168
found this error : " no matches for kind "SyncRepo" in version "triggers.tekton.dev/v1alpha1""

[2022-01-19 20:02] abayer commented on #1271
fwiw, I can't find a way to specify exceptions to rules. If I'm missing something, I'd love to know so I can change https://github.com/tektoncd/pipeline/pull/4402 to ignore the mismatched names. Oh, and I'll happily take this on as well. =)

[2022-01-20 09:50] vdemeester commented on #1168
@tisaiful31 this is to be expected, what I wrote is just a proposal, that's still being discussed and thought trough.

[2022-01-20 10:15] bigkevmcd commented on #1168
@vdemeester I have working code that I'm literally just writing examples and docs for, that simplifies this to just a CR that detects changes in a ref in a git repository and sends a CloudEvent on change...not Tekton specific at all

[2022-01-20 16:57] dibyom commented on #1271
Hmmm...I had found this https://github.com/kubernetes/kubernetes/tree/36981002246682ed7dc4de54ccc2a96c1a0cbbdb/api/api-rules though I'm not sure if this is something directly supported by the tool or if they wrote something on top to ignore the specific violations

[2022-01-20 17:17] abayer commented on #1271
Yeah, looks like it's custom. We can probably rig that up ourselves, I'll take a look.

[2022-01-20 18:16] dibyom commented on #1168
@bigkevmcd That sounds like a really nice solution to this

[2022-01-20 18:35] abayer commented on #1271
@dibyom - see https://github.com/tektoncd/pipeline/pull/4402/commits/deef4fc8c75fb81da3288f94155f8895ef252378#r789049329

[2022-01-24 20:18] #1092 closed

[2022-01-24 20:35] sbwsg commented on #1146
/kind documentation

[2022-01-24 20:36] sbwsg commented on #1146
/remove-kind bug

[2022-01-24 20:36] sbwsg commented on #1146
/label "priority/backlog"

[2022-01-25 21:55] #1271 closed

[2022-01-30 20:40] #1174 closed

[2022-01-31 12:46] guillaumerose opened #1299 "Core interceptor logging is not managed by the logging config map"
# Expected Behavior

Verbosity is changed

# Actual Behavior

Nothing happen

# Steps to Reproduce the Problem

1. Use triggers with an interceptor
2. Observe logs of the interceptor
3. Change settings in config-logging-triggers
4. Observe logs of the interceptor - nothing changed

# Additional Info

The code is directly calling `zap.NewProduction()` at https://github.com/tektoncd/triggers/blob/ma

[2022-01-31 21:34] guillaumerose opened #1301 "klog not working: knative vendoring is using v1, k8s deps v2."
# Expected Behavior

Kubernetes client logs are shown

# Actual Behavior

No logs

# Steps to Reproduce the Problem

1. Run the core interceptor with `-v 9` flag
2. Observe logs

# Additional Info

I saw it with current master when trying to understand how many API requests are issued :)

[code]

[2022-02-01 11:45] badamowicz opened #1303 "EventListener sometimes fails"
# Expected Behavior
Every time an EventListener receives a JSON payload  by a webhook (e.g. from Bitbucket) it executes the associated Trigger.

# Actual Behavior
Sometimes the EL will emit this error message:
[code]

# Steps to Reproduce the Problem
As mentioned it is unfortunately not possible to create a reproducible scenario. It happens in about 5% of the EL calls.

# Additional Info

- Kubern

[2022-02-01 21:19] #1301 closed

[2022-02-01 21:28] dibyom commented on #1299
Hmm yes, we had https://github.com/tektoncd/triggers/pull/1042/files#diff-e70a102727a8db5630e71a62c7573e669ef5dd56c374af9e9d962cbb184af61d that introduced sharedmain style  for interceptors. I have a branch that rebases that with latest commits - https://github.com/tektoncd/triggers/compare/main...dibyom:feature/interceptor-sdk?expand=1

That might fix this

[2022-02-02 20:38] afrittoli opened #1304 "Catalog of Trigger Resources"
### Feature request

Build a community maintained catalog of trigger resources for well known event formats in the CI/CD space. For example GitHub or GitLab webhooks, CDEvents (https://cdevents.dev) and more.

A catalog of Tekton resources could include an opinionated view of the information relevant to a CI/CD system, and define a common set of bindings that extract that information from various

[2022-02-02 20:38] #1257 closed

[2022-02-07 20:21] lbernick commented on #1279
/priority backlog

[2022-02-07 20:39] lbernick commented on #1178
/priority backlog

[2022-02-07 20:39] lbernick commented on #1235
/priority important-longterm

[2022-02-07 20:40] lbernick commented on #1027
/priority backlog

[2022-02-07 20:40] lbernick commented on #1304
/priority important-longterm

[2022-02-08 17:28] geriom opened #1306 "Add frontmatter to API docs"
### Feature request

Add frontmatter to [docs/triggers-api](https://github.com/tektoncd/triggers/blob/main/docs/triggers-api.md) so it can be included in the [website docs](https://tekton.dev/vault/triggers-main/). The frontmatter would look something like this:

[code]

### Use case

The current file can not be included in the website docs because it has no frontmatter. This issue also blocks upd

[2022-02-08 18:17] joaosilva15 commented on #1284
This is also happening to me. Downgraded from 0.18 to 0.16 and the problem seemed to disappear. Although in my case not all github requests were failing, only some.
Triggers: 0.18.0
Pipelines 0.32.1

One warning I get from the listeners pods is `Sink timeout configuration is invalid, default to -1 (no timeout)` not sure if this might be related to the issue.

I was thinking that if the eventlisten

[2022-02-08 20:25] dibyom commented on #1284
That's a good guess but even in v0.16 we were making the same requests.

I wonder if this has something to do with a newer knative/pkg version

[2022-02-09 05:50] qtheya commented on #1284
@dibyom fyi: because i'm using tekton operator i set parameters to TektonInstallerSet and restarted (deleted) pods to apply values to configMap and containers
[code]
Suggested solution doesn't help.
[code]

[2022-02-09 10:45] joaosilva15 commented on #1284
After changing the config map to that I still get the same issue.
Can you explain why this would help this situation? Is that config map used by both pipelines controller and the triggers controller?

[2022-02-09 21:41] dibyom commented on #1284
Sure - the config is used by the knative/pkg package that we use to build our controllers to configure leader election. It had a default resync period of 2 second which was causing a lot of calls to the API server leading to similar client side throttling issues.

Looks like this might be a different issue though @khrm has https://github.com/tektoncd/triggers/pull/1308/files to switch to non-defau

[2022-02-10 17:07] #1307 closed

[2022-02-14 07:20] khrm commented on #871
/remove-lifecycle rotten
Feature will be implemented soon.
@savitaashture

[2022-02-16 16:15] savitaashture commented on #1294
PR : https://github.com/tektoncd/triggers/pull/1305

[2022-02-18 12:26] triantium commented on #1168
There is a implementation that works in combination with FluxCD
https://github.com/jquad-group/pipeline-trigger-operator

They use the Flux Sourcecontroller to track changes.

[2022-02-19 16:28] #1223 closed

[2022-02-21 08:34] #1294 closed

[2022-02-23 08:11] #1306 closed

[2022-02-23 08:17] khrm commented on #1306
@geriom I added frontmatter to `triggers-api.md`.  Will be included in this release.

[2022-02-23 20:02] vasi-grigo opened #1318 "EventListener (from the example) stuck in Creating/Terminating loop on GKE Autopilot 1.21.6-gke.1500"
# Expected Behavior
Trying to get a hello-world eventlistener-trigger working on GKE Autopilot 1.21.6-gke.1500
Following [these instructions](tekton/triggers/examples/v1beta1/eventlisteners/eventlistener.yaml).
Expecting a basic eventlistener to come up that would be able to handle POST HTTP requests.

# Actual Behavior
Pods get stuck in a loop:
[code]
Controller goes haywire writing logs:
[code]

[2022-02-25 14:10] vasi-grigo commented on #1318
Does *NOT* reproduce on 1.21.5-gke.1802 with v0.19

[2022-02-28 12:36] khrm commented on #1318
From the logs, I can see that Autopilot is modifying the deployment/pods. So EL reconciler terminates and restarts the pod.  We need to specify resource requests in the EventListener `KubernetesResource` field.

[2022-02-28 17:16] dibyom opened #1321 "Move TriggerGroups to stable"
Tracking issue to move the TriggerGroups feature from alpha to stable.

User report on Slack: https://tektoncd.slack.com/archives/CKUSJ2A5D/p1644351843124339

[2022-03-09 22:37] defuse commented on #675
/open This is a remote code execution vulnerability in Tekton. Has it been patched, and if so which versions are affected or not affected? What are steps that a Tekton user or developer can take to tell if they are vulnerable?

[2022-03-10 16:27] defuse commented on #675
For anyone following along, I think I figured it out.

The problem is that when you use `$(...)` in a Tekton yaml, especially within a `script:`, the `$(variable)` just gets replaced with the contents of `variable`, and no escaping is done. Tekton actually *can't* escape it properly, because it doesn't know if the `script:` is bash or Python or some other kind of language, so the onus is on the ya

[2022-03-11 16:20] #1226 closed

[2022-03-12 11:52] protosam opened #1324 "v1alpha1 interceptor examples have v1beta1 definitions"
All of the `v1alpha1` examples with interceptor examples seem to be invalid. They all have `v1beta1` structures and will be rejected by the triggers webhook.

The  triggers from the github example [here](https://github.com/tektoncd/triggers/blob/main/examples/v1alpha1/github/github-eventlistener-interceptor.yaml#L7-L28)  look like this.
[code]

They should look like this.
[code]

[2022-03-14 17:32] #1124 closed

[2022-03-17 16:19] dibyom opened #1328 "Nil pointer dereference when Interceptors is nil"
# Expected Behavior

 Webhook returns a proper error if trigger interceptors is nil

# Actual Behavior

Webhook returns an internal error:

[code]

Logs:
[code]

# Steps to Reproduce the Problem

1. Create an EventListener like:
[code]

# Additional Info

User report Slack Thread: More Info: https://tektoncd.slack.com/archives/CKUSJ2A5D/p1647257237334749

[2022-03-17 16:26] dibyom commented on #1324
hi @protosam are you actually seeing the webhook reject these requests?

v1alpha1 should support both the old and the new structures.

[2022-03-17 20:52] protosam commented on #1324
Yep. Observed it first hand in the version of Tekton deployed in an OpenShift.

[2022-03-17 22:06] dibyom commented on #1324
Which version of Triggers are you using?

The new syntax for referring to interceptors was introduced in the v1alpha1 apiVersion itself as part of the [v0.13 release](https://github.com/tektoncd/triggers/releases/tag/v0.13.0). If you are running a Triggers version older than that, you will an error.

The v1beta1 apiVersion was introduced in the v0.15 release

[2022-03-18 23:26] protosam commented on #1324
So `v1alpha1` was just changed without being renamed?

[2022-03-19 17:30] #1231 closed

[2022-03-21 18:14] #1328 closed

[2022-03-21 19:27] dibyom commented on #1268
This was mostly fixed. The remaining work is around caching only the secrets needed by the interceptors vs all secrets.

[2022-03-21 19:29] dibyom commented on #1159
Waiting on pipelines to update with the PSP replacement before adding it to triggers.

[2022-03-22 17:57] dibyom commented on #1324
Not sure what you mean but when we introduced the new syntax we added it in backwards compatible manner by supporting both the new and old syntax at the same time. The support for the old syntax was dropped in the v1beta1 apiVersion introduced in the v0.15 release

[2022-03-22 20:50] protosam commented on #1324
Thanks for clarifying. I don't think having v1beta1 schema examples in place of v1alpha1 examples makes sense. It's nice that v1beta1 schema works in newer versions in place of v1alpha1, but the examples should be updated with legacy examples (there are older versions of tekton being supported right now) or removed all together to pave way for the future perhaps.

Normally a change like this would

[2022-03-30 15:34] dibyom opened #1335 "Update to golang 1.17.8"
From @afrittoli:
 heads-up that the golang 1.17.8 CI images are available now - we went through the update in pipeline and you may want to do the same on triggers side since it it required to update to the latest knative/pkg https://github.com/tektoncd/pipeline/pull/4712 and good to have in any case

This was the pipeline PR required to fix gofmt and related changes https://github.com/tektoncd/pip

[2022-03-31 21:17] #1233 closed

[2022-04-03 09:27] georgettica opened #1337 "Add PagerDuty interceptor"
### Feature request

I would like to have a PagerDuty Interceptor (possibly I will implement it myself if this has enough traction

### Use case

As a developer, I want to act on pagerduty webhook actions and run tekton pipelines vai that info.
Currently, adding the pagerduty event listener validation is not something easily done via CEL interceptors.
I currently mitigated some of the risks I migh

[2022-04-03 15:11] rong280 opened #1338 "I can't use CEL interceptor "cel not found""
Info:
- Kubernetes version: v1.22
- kubelet version: v1.23
- Tekton Pipeline version: v0.34.1
- eventlistenersink:v0.19.1 (container image version)

configuration
[code]

Eventlistener error log:
[code]

Everything works fine when I don't use the interceptor, please help

Thanks !

[2022-04-05 19:29] dibyom opened #1339 "Add PR body to GitHub interceptor"
### Feature request

Add the Pull Request body to the event for GitHub comment update eventTypes. This should be an opt-in

This would be essentially adding the add-pr-body interceptor logic to the existing GitHub interceptor.

### Use case

1. Running CI based on updates to comments in a GitHub PR
2. See use cases in tekoncd/plumbing

[2022-04-05 20:54] dibyom commented on #1338
Hi, it seems likely that the interceptor was not installed?

Try running `kubectl apply -f https://storage.googleapis.com/tekton-releases/triggers/previous/v0.19.1/interceptors.yaml`

(from https://github.com/tektoncd/triggers/releases/tag/v0.19.1)

[2022-04-05 20:57] dibyom commented on #1337
hi @georgettica looking at the PagerDuty usage docs it does seem like payload validation would be hard with just CEL.

A custom interceptor for PagerDuty sounds good. I'll mention that the interceptor doesn't even have to be part of the Triggers code base if that makes it easier. You can write your own PagerDuty interceptor, install it in any cluster and use it. Eventually we'd like to have a cata

[2022-04-05 21:00] dibyom commented on #1324
As I mentioned these are not "v1beta1 schema" per se. The new syntax was introduced in v1alpha1 itself.

We maintain [versioned documentation](https://github.com/tektoncd/triggers#documentation) for each of our releases e.g. if you are using Triggers v0.10.0, please use the docs for [that release.](https://github.com/tektoncd/triggers/tree/v0.10.0/docs#tekton-triggers)

I'll close out this issue s

[2022-04-05 21:00] #1324 closed

[2022-04-05 21:05] georgettica commented on #1337
so I will create an interceptor and link it here when it's created. this way once the catalog is created it will be added

[2022-04-05 21:08] dibyom commented on #1303
hey @badamowicz sorry for the delayed response.
Looking at the error message `error calling MarshalJSON for type v1beta1.ArrayOrString: impossible ArrayOrString.Type:` , I think what is happening is that Triggers is creating a pipelinerun but the pipeline webhook is rejecting it.

The error message comes from https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/param_types.go#L

[2022-04-06 08:00] gaodan-fang opened #1341 "Wildcard match can't be used in EventListener's namespaceselector"
# Expected Behavior
EventListener should be applied successfully

# Actual Behavior
[code]

# Steps to Reproduce the Problem
[code]
Trying to apply the above eventlistener to the cluster and got the yaml error

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app

[2022-04-06 08:32] khrm commented on #1341
Thanks for highlighting this bug.

    Wildcard/* should be quoted in yaml because * is used as anchor and
    aliases in yaml.

[2022-04-06 21:38] #1341 closed

[2022-04-07 01:08] protosam commented on #1324
The schema should have been renamed to [v1alpha2](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/) then shouldn't it?

I think action-wise the examples for v1alpha1 should just be scrubbed so that people using the older CR's end up at the documentation.

The examples are invalid for older versions and it was a mistake to make changes to an

[2022-04-07 16:48] soukainakhalkhouli opened #1344 "Error when creating "triggers.yaml": create not allowed while custom resource definition is terminating"
Hi team ,

While running triggers.yaml by kubectl -n getting-started apply -f triggers.yaml i'm getting this error :

  **kubectl -n getting-started apply -f triggers.yaml
I0407 16:45:26.283014   52144 request.go:665] Waited for 1.175873611s due to client-side throttling, not priority and fairness, request: GET:https://c114-e.us-south.containers.cloud.ibm.com:32006/apis/triggers.tekton.dev/v1alpha

[2022-04-07 21:11] dibyom commented on #1344
Did you uninstall/reinstall triggers right before you ran the command? From the error message it looks like the triggers CRDs are being deleted when you are trying to create your trigger

[2022-04-08 19:19] dibyom commented on #1337
sounds great!

[2022-04-08 22:26] #1178 closed

[2022-04-10 14:46] rong280 commented on #1338
I installed the interceptor according to your method and the problem is solved!  thank you so much !

[2022-04-10 14:46] #1338 closed

[2022-04-11 08:11] #1335 closed

[2022-04-14 15:04] #1321 closed

[2022-04-20 15:09] dibyom commented on #735
/close

[2022-04-20 15:09] #735 closed

[2022-04-23 16:27] Ben-Mark opened #1350 "no where to define webhook URL"
# Expected Behavior
bitbucket example is missing an ingress.yaml
so we can define that url in bitbucket

# Actual Behavior
...

# Steps to Reproduce the Problem
Create a web hook in any cloud git provider
and then try to connect that webhook to this convention.

# Additional Info

- Kubernetes version: 1.21
- Tekton Pipeline version: v0.34.1

Please assist

[2022-04-26 23:15] dibyom commented on #1337
hey @georgettica you are on the right track. I'll work on adding better docs for writing cluster interceptors but in the meantime you can take a look at this PR where I add a cluster interceptor for adding the Pull request body for a PR comment event: https://github.com/tektoncd/plumbing/pull/967/files

In particular, you'd need the main HTTP server as in tekton/ci/cluster-interceptors/add-pr-body

[2022-04-27 00:29] georgettica commented on #1337
And to add this I will just add the custom interceptor?
I'll take a look at you suggestions tomorrow

[2022-04-27 16:26] dibyom commented on #1337
So, the PR I mentioned adds another cluster interceptor called add-pr-body so I thought it would be a helpful reference as you are writing your own pagerduty one. At its core, its just a HTTP server that receives requests in the InterceptorRequest format and responds with a InterceptorResponse.

[2022-04-28 15:59] savitaashture opened #1354 "Handle validation and rotation of certificate for clusterinterceptor"
As part of this PR https://github.com/tektoncd/triggers/pull/1333 we are running clusterinterceptor as HTTPS
and certificates are created internally using Knative pkg
but certificate rotation and validation is not done https://github.com/tektoncd/triggers/pull/1333#discussion_r860302227

Creating this issue to track for the same

[2022-04-28 16:00] savitaashture opened #1355 "Handle validation and rotation of certificate for clusterinterceptor"
As part of this PR https://github.com/tektoncd/triggers/pull/1333 we are running clusterinterceptor as HTTPS
and certificates are created internally using Knative pkg
but certificate rotation and validation is not done https://github.com/tektoncd/triggers/pull/1333#discussion_r860302227

Creating this issue to track for the same

[2022-04-29 19:50] jeusdi opened #1356 "x509: certificate signed by unknown authority"
I've deployed a local docker registry. It uses a self-signed certificate.
When I'm trying to run mask buildpacks task, I'm getting this message:

    x509: certificate signed by unknown authority

I've took a look on [documentation](https://tekton.dev/docs/pipelines/install/#configuring-self-signed-cert-for-private-registry), about how to add my docker registry certificate, but I've not been able

[2022-04-29 23:42] #1261 closed

[2022-04-29 23:42] #1262 closed

[2022-05-02 20:13] #871 closed

[2022-05-02 22:01] dibyom commented on #1355
Closing as a duplicate of #1354

[2022-05-04 04:52] hakuna-matatah opened #1358 "Triggerbindings without `spec` is not allowed to create by validation hook"
# Expected Behavior
[code]
Above spec should be created without issues or validation webhook errors

# Actual Behavior
When above yaml is created it throws off the following error:

 ```admission webhook "validation.webhook.triggers.tekton.dev" denied the request: validation failed: missing field(s): spec```

It expects at least spec body to be initialized.

# Steps to Reproduce the Problem

1. Cr

[2022-05-09 05:33] savitaashture commented on #1358
Hi @hakuna-matatah
Any usecase of TriggerBinding without spec filed :thinking:

[2022-05-09 12:49] #1318 closed

[2022-05-09 17:22] hakuna-matatah commented on #1358
Sorry, could you elaborate ?

[2022-05-10 09:40] akhil97 opened #1361 "Error executing command: fork/exec /bin/sh: exec format error"
# Steps to Reproduce the Problem

1. kubectl -n getting-started logs create-webhook-run-pod -c step-create-webhook.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.7+k3s1", GitCommit:"8432d7f239676dfe8f748c0c2a3fabf8cf40a826", GitTreeState:"clean", BuildDate:"2022-02-24T23:03:47Z", GoVersion:"go1.16.1

[2022-05-10 10:02] khrm commented on #1304
/remove-lifecycle stale
/lifecycle frozen

[2022-05-10 11:50] #1355 closed

[2022-05-10 11:52] akhil97 commented on #1361
![trigger_logs](https://user-images.githubusercontent.com/19953362/167622096-e1a03d4b-782a-42ae-a09d-cb8945fe58ae.png)
This is the only log that I am getting from the command you shared

[2022-05-10 12:07] khrm commented on #1356
I think this should be moved to pipelines.

[2022-05-10 18:54] khrm commented on #1361
Did you update the following fields in 'webhook-run.yaml' as it says in the documentation? ```

    GitHubOrg - the GitHub organization you're using for the namespace in this tutorial.
    GitHubUser - your GitHub username.
    GitHubRepo - the GitHub repository you're using for this tutorial.
    ExternalDomain - set this to a value appropriate to your environment: the external domain of the even

[2022-05-11 03:57] akhil97 commented on #1361
![image](https://user-images.githubusercontent.com/19953362/167765198-16c9f73e-2d37-4060-a469-0a3f1b8b166c.png)
I have updated the webhook-run.yaml file with the GitHub username. I did not understand from your description what values need to be given for GitHubOrg, GitHubRepo, ExternalDomain. I only have a private IP for my cluster so I don't know how to expose the  eventlistener service and what

[2022-05-11 07:05] khrm commented on #1361
For `GitHubOrg`, please put `akhil97`.  GitHubRepo as `ulmaceae` is fine if you use the forked repo of `ulmaceae`.

If you cannot expose the cluster, then use some website like https://beeceptor.com/ with an endpoint. You will get webhook/triggers at the beeceptor's endpoint endpoint. Use the same request which you receive beeceptor's endpoint and send it as curl after port-forwarding EL pod.

[2022-05-11 10:07] akhil97 commented on #1361
These are the logs that I got now after making the above mentioned changes:-
Create Webhook
Note: Unnecessary use of -X or --request, POST is already inferred.
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0*

[2022-05-11 10:55] khrm commented on #1361
Please used forked repo of `ulmaceae`.

[2022-05-11 11:40] akhil97 commented on #1361
![image](https://user-images.githubusercontent.com/19953362/167839967-ec2435dc-4f8a-498d-8f14-cd9f8c7211c9.png)
I don't know why I am getting this error when I created a personal access token and added it to secret.yaml file
![image](https://user-images.githubusercontent.com/19953362/167840734-f9684bac-5d5b-4aaf-a568-804ec3ac5146.png)
I had to do a push to master branch as it was not even asking f

[2022-05-11 15:12] khrm commented on #1361
@akhil97 Please use `git clone git@github.com:akhil97/ulmaceae.git` instead of https version. After this, you should be able to merge.

[2022-05-11 17:32] akhil97 commented on #1361
It is asking me to provide correct access rights
![image](https://user-images.githubusercontent.com/19953362/167911190-823bccb0-5d2d-41d4-9bef-82795bf2c5ef.png)

[2022-05-11 17:53] khrm commented on #1361
Please follow this:

https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

[2022-05-11 18:29] akhil97 commented on #1361
I am now able to do a git clone. How do I check the status of the pod if created? I tried the command mentioned in the trigger docs
![image](https://user-images.githubusercontent.com/19953362/167920571-ddc417cc-2070-40e4-a2e7-cb7e2e916f98.png)

[2022-05-11 18:44] khrm commented on #1361
Check the response in beeceptor. And send that using curl and port-forward.

Please check example folders. It has information on how to use triggers if no external domain.

[2022-05-12 03:53] akhil97 commented on #1361
Are you talking about these examples?:- https://github.com/tektoncd/triggers/tree/main/examples

[2022-05-12 07:17] khrm opened #1364 "Namespace scoped Interceptor"
### Feature request
Today, interceptors can be configured directly in the EventListener definition, which allows Teams to have their own/custom interceptors configured and managed in their namespace without the need of having any specific permissions (only admin permissions in the namespace).

With [TEP-0026: Pluggable Interceptors](https://github.com/tektoncd/community/blob/main/teps/0026-interce

[2022-05-12 10:18] akhil97 commented on #1361
But this link does not have anything about creating event listener and when I run the commands mentioned in the docs I am getting an error
![image](https://user-images.githubusercontent.com/19953362/168048837-3d87b55d-26b7-47ea-aac7-fa78601dfb69.png)

$ kubectl port-forward service/el-github-pr-7b5947b74f-mzf67 8080
Error from server (NotFound): services "el-github-pr-7b5947b74f-mzf67" not found

[2022-05-12 14:30] khrm commented on #1221
Resolved by issue #1259

[2022-05-12 14:30] #1221 closed

[2022-05-12 18:06] khrm commented on #1361
Check what's your EL service and port-forward that service instead of the one given.

[2022-05-13 05:50] akhil97 commented on #1361
![image](https://user-images.githubusercontent.com/19953362/168219348-1539cc0c-2d5c-4b5d-ab4c-600a8e7a3e75.png)
I have used those commands for my EL service only but I am still getting the same error. Also I want to know from this github link:- https://github.com/tektoncd/triggers/tree/main/docs/getting-started#getting-started-with-triggers at which step is the event listener service getting creat

[2022-05-13 06:22] khrm commented on #1361
Check using `kubectl get svc`.

Also, that's pod name in the cmd not EL name.

[2022-05-13 06:44] akhil97 commented on #1361
This is the ouput for kubectl get svc:-
![image](https://user-images.githubusercontent.com/19953362/168226190-83bf9a24-634d-4a8a-9e7c-4f3b70c9e4c8.png)
And for kubectl get el:-
![image](https://user-images.githubusercontent.com/19953362/168226303-3db16731-fcf4-43f7-8def-51eebb38d2d8.png)
Additionally for some reason the event listener pod status is not showing as running. So can you also please te

[2022-05-13 07:26] khrm commented on #1361
EL's yaml:
https://github.com/tektoncd/triggers/blob/104279fbd8ae2791a4a56393003035a42931a121/docs/getting-started/triggers.yaml#L61

Also, can you share EL's deployment/pod? `kc get pod {el-pod-name} -o yaml`

[2022-05-13 08:20] akhil97 commented on #1361
Okay now I understand. I have used the event listener from the same triggers.yaml file that you have specified. However the issue is that the pod is showing status as CrashLoopBackOff and it is restarting automatically.
![image](https://user-images.githubusercontent.com/19953362/168241979-1529dcd6-f31a-4ccb-b2f2-566da48d9c01.png)

[2022-05-13 08:40] akhil97 commented on #1361
These are the logs that I am getting for my event listener:-
![event-listener-logs](https://user-images.githubusercontent.com/19953362/168245504-7fa3e0f3-ddb8-413c-98ef-6c26bb1d98b6.PNG)

[2022-05-13 10:03] khrm commented on #1361
Try applying admin-roles.yaml file here https://github.com/tektoncd/triggers/pull/1367/files:
[code]

[2022-05-13 10:25] akhil97 commented on #1361
What should I do after this?:-
![image](https://user-images.githubusercontent.com/19953362/168264916-630b44ba-89bc-4aa6-89dd-ced9bd72a220.png)

[2022-05-13 10:53] khrm commented on #1361
Delete the deployment and then check.
[code]

[2022-05-13 11:02] akhil97 commented on #1361
Still the same issue:-
![image](https://user-images.githubusercontent.com/19953362/168270272-253f3c54-c644-4523-a8e9-8f9f686a6a6e.png)

[2022-05-13 11:08] khrm commented on #1361
Is log still the same?

[2022-05-13 11:12] akhil97 commented on #1361
Yeah

[2022-05-13 11:12] khrm commented on #1361
Try this:
[code]

[2022-05-13 11:17] akhil97 commented on #1361
It is not working. In fact another event listener is getting created with a different id and its state is changing continuously between Running and CrashLoopBackOff
![image](https://user-images.githubusercontent.com/19953362/168272632-bb0b3316-9296-48af-8494-914bfd71db07.png)

[2022-05-13 11:26] khrm commented on #1361
Can you share the logs for the pod? Is it still the same?

[2022-05-13 11:30] akhil97 commented on #1361
Yeah, still the same. The pod is somehow restarting by itself with another id
![image](https://user-images.githubusercontent.com/19953362/168274409-dfd3ad1e-3da9-49f3-af62-941397fdca78.png)

[2022-05-13 11:44] khrm commented on #1361
What's the version of Triggers that you are using? Can you try latest release?
[code]

[2022-05-13 12:00] akhil97 commented on #1361
Okay, I think the restarting issue is resolved now. So should I now try out these steps?:- https://github.com/tektoncd/triggers/tree/main/examples

[2022-05-13 12:03] khrm commented on #1361
Yes.

[2022-05-13 12:27] akhil97 commented on #1361
Can I give another port number for this step:-
kubectl port-forward service/el-${EVENTLISTENER_NAME} 8080
beacuse it is saying address already in use. If yes what changes shouls I make?
![image](https://user-images.githubusercontent.com/19953362/168282885-e7d59805-8ac5-4d3f-bd37-b94697f1576c.png)

[2022-05-13 12:37] khrm commented on #1361
Yes, you can use different port.

[2022-05-13 12:38] khrm commented on #1361
Sorry, you can't.

[2022-05-13 12:40] khrm commented on #1361
Try this:

[code]

[2022-05-13 12:47] khrm commented on #1361
Semicolon is the difference here.

[2022-05-13 13:01] akhil97 commented on #1361
Okay that worked. Now for the next step here what should be given for the commit id:-
![image](https://user-images.githubusercontent.com/19953362/168288918-1ae087fc-8d5e-4049-ba16-97da10bf31c9.png)

[2022-05-13 13:30] khrm commented on #1361
Your forked repo's latest commit id

[2022-05-13 13:51] akhil97 commented on #1361
I have given the latest commit id but the curl command just says not found:-
![image](https://user-images.githubusercontent.com/19953362/168298137-f3d2be12-9c16-47c8-b663-59091e2535d0.png)
![image](https://user-images.githubusercontent.com/19953362/168298200-33f1cbf6-ae12-4b46-99d2-8a5dd8925df6.png)
![image](https://user-images.githubusercontent.com/19953362/168298288-3ca06c28-0dfd-4e13-b4d7-ae66c

[2022-05-13 13:53] khrm commented on #1361
What's the port number where you have port-forwarded? Check that.

[2022-05-13 13:56] akhil97 commented on #1361
![image](https://user-images.githubusercontent.com/19953362/168299068-40287995-6387-405b-bd0d-6b375af858cf.png)
It is 8080 only

[2022-05-13 14:07] khrm commented on #1361
It's `localhost:34053`. @akhil97

[2022-05-13 14:16] akhil97 commented on #1361
![image](https://user-images.githubusercontent.com/19953362/168302936-14be3b7b-fc2d-40b6-b992-dadd34304d0e.png)
![image](https://user-images.githubusercontent.com/19953362/168303064-265fcb08-6728-42b3-92a8-20989bf6584f.png)
Curl command gives empty reply from server and some error in port forwarding command too

[2022-05-13 14:38] khrm commented on #1361
What's your dev environment? Is it Linux? Or Mac? Install socat.

[2022-05-13 17:18] akhil97 commented on #1361
I am using Linux.
I am still facing the socat issue
![image](https://user-images.githubusercontent.com/19953362/168335172-ce2067b6-2676-4775-92fb-17be0fd0214f.png)

[2022-05-16 09:28] khrm commented on #1361
How have you installed Kubernetes? Are you using https://github.com/kubernetes-sigs/kind/ ? Or something else?

[2022-05-16 10:03] akhil97 commented on #1361
I have followed the steps mentioned in this documentation for installing via minikube:- https://tekton.dev/docs/getting-started/tasks/

[2022-05-16 10:15] akhil97 commented on #1361
I have mentioned these details right in the beginning while creating a new issue: -
Kubernetes version:

**Output of kubectl version:
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.7+k3s1", GitCommit:"8432d7f239676dfe8f748c0c2a3fabf8cf40a826", GitTreeState:"clean", BuildDate:"2022-02-24T23:03:47Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version:

[2022-05-16 10:35] khrm commented on #1361
Try:

[code]

[2022-05-16 12:02] akhil97 commented on #1361
So which type of clusters should be used for running your example?

[2022-05-17 08:17] akhil97 commented on #1361
I also wanted to know if we can use GKE cluster on GCP for running this example?

[2022-05-17 11:49] khrm commented on #1361
Yes, we can use GKE. Did you try running `minikube service  {service-name-el}`? Did it work?

[2022-05-17 12:05] akhil97 commented on #1361
Sorry @khrm , a correction from my side based on the previous comments. I am not using minikube cluster. I am using k3s cluster.
 **Output of kubectl version:
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.7+k3s1", GitCommit:"8432d7f239676dfe8f748c0c2a3fabf8cf40a826", GitTreeState:"clean", BuildDate:"2022-02-24T23:03:47Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"linu

[2022-05-18 03:27] bigkevmcd commented on #1337
@dibyom Reading this does make me wonder about adding a simple `hmac('sha256', body, '', 'secret-name', 'namespace')` type function to the CEL library which would make it fairly simple to handle signed requests from a upstreams.

I have a use for this for another project...

[2022-05-18 05:13] jbg opened #1368 "EventListeners fail to connect to interceptors if the TLS CA cert is generated after they launch"
There is a race condition between EventListener starting up and core-interceptors generating the CA. EventListeners appear to only read the secret on launch, so if the CA cert doesn't exist yet, they'll never work until restarted.

# Expected Behavior

It should not matter which order services are started in.

# Actual Behavior

core-interceptors must be started first (and given time to generate t

[2022-05-18 05:28] georgettica commented on #1337
If that wouy exist, I could write the whole interceptor by this

[2022-05-18 11:22] akhil97 commented on #1361
The package socat is not found error is not coming on GKE cluster. But I am getting a message in the log that some parameter for git repository url is missing and I am unable to understand which yaml file needs to be changed
![image](https://user-images.githubusercontent.com/19953362/169027002-170ecd53-03b2-4ed0-8f8e-48e923bae75d.png)

[2022-05-19 09:22] khrm commented on #1361
I think if you are using GKE, then you don't need to port-forwards. Use IP and then getting started should work.

[2022-05-19 09:22] khrm commented on #1361
Directly configure using ingress.

[2022-05-19 09:46] dibyom commented on #1337
@bigkevmcd yeah I think that would be a good addition!

[2022-05-19 09:47] dibyom commented on #1368
/cc @savitaashture

[2022-05-19 10:14] shibumi commented on #1337
I don't know if an implementation in CEL is really that useful. I spotted two major vendors with webhook signatures so far:

* PagerDuty: https://developer.pagerduty.com/docs/ZG9jOjExMDI5NTkz-verifying-signatures
* Datatrans (a big swiss payment provider): https://api-reference.datatrans.ch/#section/Webhook

The hooks are both very different and I would be afraid that a `hmac('sha256', body, '', '

[2022-05-19 20:26] khrm commented on #788
/reopen

[2022-05-19 20:26] khrm commented on #788
/remove-lifecycle rotten

[2022-05-19 20:27] khrm commented on #788
/lifecycle frozen

[2022-05-20 07:25] akhil97 commented on #1361
The pipeline run pod is getting created but it is not in running state
![image](https://user-images.githubusercontent.com/19953362/169475191-44f73ba9-7d9b-4936-b19e-027521bfb834.png)
This is the description of that pipeline run pod:-
Name:         getting-started-pipeline-run-bfhrt-build-docker-image-pmz-68zrj
Namespace:    getting-started
Priority:     0
Node:         gke-sample-cluster-default-p

[2022-05-20 14:27] dibyom commented on #1364
Yup I don't think we can remove the current webhook interceptors until we also have namespace interceptor support

[2022-05-25 04:48] akhil97 opened #1369 "Error: a container name must be specified for pod pipeline run for build docker image step"
# Steps to Reproduce the Problem

1. kubectl -n getting-started apply -f ./docs/getting-started/pipeline.yaml
# Additional Info
The following command is giving this error in the log
kubectl logs --follow getting-started-pipeline-run-nplnw-build-docker-image-pxc-g5x8c -n getting-started
error: a container name must be specified for pod getting-started-pipeline-run-nplnw-build-docker-image-pxc-g5x8c

[2022-05-25 23:35] r0bj opened #1370 "v0.20.0: Post https://tekton-triggers-core-interceptors.tekton-pipelines.svc:80/cel network is unreachable"
# Expected Behavior
Triggers work after tekton triggers update to version v0.20.0.

# Actual Behavior
Triggers don't work after tekton triggers update to version v0.20.0.
Event generates error logs message:
[code]

Request is sent to URL https://tekton-triggers-core-interceptors.tekton-pipelines.svc:80/cel but service `tekton-triggers-core-interceptors.tekton-pipelines.svc` is expecting traffic on

[2022-05-26 12:51] Achari-Sumanth opened #1371 "Error while creating secret key, getting permission denied in the logs at runtime"
# Steps to Reproduce the Problem

1.kubectl -n getting-started apply -f ./docs/getting-started/secret.yaml

# Additional Info

kubectl logs getting-started-pipeline-run-7sjw4-build-docker-image-wkv-w9glk -n getting-started
![image](https://user-images.githubusercontent.com/64124889/170491113-25cd16cb-d237-4618-ae4d-e54a64a70ae6.png)

- Kubernetes version:

  **Output of `kubectl version`:
*Client

[2022-05-26 16:29] AlanGreene commented on #1369
As the error message states you must specify the name of the container for which to retrieve the logs, or you can explicitly request logs for all containers in the Pod.

For example, to display logs of the `step-condition-check-python-test` container:
`kubectl logs getting-started-pipeline-run-nplnw-build-docker-image-pxc-g5x8c -n getting-started -c step-condition-check-python-test`

or to display

[2022-05-26 17:28] akhil97 commented on #1369
I tried the second command mentioned and I am getting this in my logs
![image](https://user-images.githubusercontent.com/19953362/170541700-3ac97965-2d98-42a4-bf96-edea125484ad.png)
I am using a GCS repository on google cloud and I have created the private ssh key and added it to secret.yaml but it is saying permission denied due to some reason

[2022-05-27 06:53] khrm commented on #1370
Did you upgrade incrementally? From which version did you upgrade?

[2022-05-27 17:11] r0bj commented on #1370
Yes, I upgraded from version v0.19.1 to v0.20.0 (and many incremental upgrades before that).

[2022-05-30 05:44] jayarampoojari11 opened #1372 "go.mod file not found"
# Expected Behavior

# Steps to Reproduce the Problem

1. kubectl logs getting-started-pipeline-rue41d68971c6d5314835b703993fcbaea-pod -c step-condition-check-go-test

![Screenshot from 2022-05-30 11-04-19](https://user-images.githubusercontent.com/55138819/170924709-df8f4e69-8d18-4918-9203-0855ce95ee49.png)

# Additional Info
output:

no required module provides package main_test.go: go.mod file

[2022-06-01 15:56] flo-02-mu commented on #1370
I'm running into the same issue. The ClusterInterceptors from the installation guide (e.g. https://storage.googleapis.com/tekton-releases-nightly/triggers/latest/interceptors.yaml) are setup like this:
[code]
which does not use https on port 8443
I got it up an running using:
[code]
instead.

[2022-06-02 17:19] antoniosthanasisgit commented on #875
Try to change cert-manager version to v1.4.0 it works for me
kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.4.0/cert-manager.yaml

[2022-06-07 19:21] quant-daddy opened #1373 "EventListener constantly receiving events from nowhere?"
# Expected Behavior
The event listener pod is constantly getting events from somewhere that I can't quite figure out. I am not seeing any incoming request at the ingress level so could it be internal cloudevents? I also noticed that I'm getting timeout on cel expression evaluation pod. Not sure how to debug this.

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[2022-06-07 22:45] quant-daddy opened #1374 "Eventlistener using wrong URL for clusterinterceptor"
# Expected Behavior
Event listener should use right address for interceptors. I have configured ClusterInterceptors to use `https://tekton-triggers-core-interceptors.tekton-pipelines.svc:8443/cel`
[code]
# Actual Behavior
The listener may be the wrong URL or there is some issue with throttling?
[code]
The service URL for `tekton-triggers-core-interceptors` service is below:
[code]

# Additional In

[2022-06-12 13:24] znqerz commented on #1370
I met the same issue on v0.20.0 as @flo-02-mu said.

[2022-06-14 09:18] khrm commented on #1235
/remove-lifecycle stale

/lifecycle frozen
It's needed but not now and should be in backlog.

[2022-06-14 17:48] akhil97 opened #1375 "Authenticating a private git repository"
I am trying to use tekton triggers for a private git repository instead of forking the mentioned repository (https://github.com/iancoffey/ulmaceae) in the example. I have already tried steps mentioned in these links:-
https://github.com/tektoncd/pipeline/blob/main/docs/auth.md#ssh-authentication-git
https://github.com/tektoncd/pipeline/blob/release-v0.35.x/examples/v1beta1/taskruns/authenticating-

[2022-06-17 10:12] freefood89 commented on #1374
I'm getting a similar issue with the same version:

[code]

[code]

It's trying to hit `https://tekton-triggers-core-interceptors.tekton-pipelines.svc:80` when the service is configured for `8443`. I tried manually changing the svc port (8443 -> 80) and got:

[code]

[2022-06-17 10:46] freefood89 commented on #1374
Actually, I fixed the ClusterInterceptor (both cel and github) config's `spec.clientConfig.service.port` to `443`, modified the `svc/tekton-triggers-core-interceptors` port to 443 and restarted the EventListener to see if the certs get created and my issue was resolved

[2022-06-20 08:18] savitaashture commented on #1368
Hi @jbg

I have added watch mechanism to fix the issue so that EL pod won't come to running state until it finds `caBundle`

PR: https://github.com/tektoncd/triggers/pull/1377
If you have cluster with setup could you verify and let us know if you face any other issues

Thanks

[2022-06-23 10:21] savitaashture opened #1380 "Remove conditions from getting-started example"
**Details:**
As part of Pipeline [v0.37.0](https://github.com/tektoncd/pipeline/releases/tag/v0.37.0) release `Conditions` are completely removed and Triggers [getting-started](https://github.com/tektoncd/triggers/blob/main/docs/getting-started/pipeline.yaml#L109-L122) example using `Conditions` and because of that all the integration tests are failing for Pull Request with below error

[code]

[2022-06-23 22:20] #1146 closed

[2022-06-24 16:18] khrm commented on #1380
Resolved by #1381

[2022-06-24 16:18] #1380 closed

[2022-06-27 04:07] savitaashture commented on #1368
There is a patch fix release https://github.com/tektoncd/triggers/releases/tag/v0.20.1 which has fix for this issue
Please do try out

[2022-06-28 02:13] jbg commented on #1368
@savitaashture it seems to work well, thank you!

[2022-06-29 15:07] dibyom commented on #1361
Might be resolved. @khrm to check

[2022-06-29 15:11] #1369 closed

[2022-06-29 15:16] dibyom commented on #1370
Duplicate of #1374
/assign @savitaashture

[2022-07-01 14:11] savitaashture commented on #1370
Hi @r0bj Sorry for the late response

Yes there is a PR https://github.com/tektoncd/triggers/pull/1379 which shows that port should be same in both clusterinterceptor spec as well as service

Please do let me know if you still facing this issue

[2022-07-01 23:17] #1154 closed

[2022-07-01 23:17] #1299 closed

[2022-07-01 23:17] #1032 closed

[2022-07-02 02:16] znqerz commented on #1370
the issue was fixed after upgraded to triggers version: v0.20.1.

[2022-07-04 05:11] savitaashture commented on #1370
Thank you @znqerz for trying out with 0.20.1

Shall i close the issue ?

[2022-07-04 11:03] joaosilva15 commented on #1374
I believe this issue is more related to https://github.com/tektoncd/triggers/issues/1284? @quant-daddy can you confirm that the IP in your URL is you API server? I'm also seeing this error in the 0.20.1 release of triggers. The issue got better after 0.19.0 but this message still show up and the timeouts still happen

[2022-07-04 11:05] joaosilva15 commented on #1284
Hey @dibyom forgot about this and left the triggers in version 0.16 for a while. I tried to upgrade to 0.20.1 and is clearly better than 0.18.0 but we still get timeouts due to throttling while getting clusterinterceptors
[code]
I believe this is the same issue as https://github.com/tektoncd/triggers/issues/1374

[2022-07-04 22:07] quant-daddy commented on #1374
@joaosilva15 Yes the URL was for the API server. I think this could be related to the API request throttling in newer version of kubernetes. With the introduction of `ClusterInterceptor` CRD, I think the event listener has to query the API server repeatedly for the data in the CRD for each event received. If we receive a lot of events (most of them not useful), it triggers the rate limit / throttl

[2022-07-06 14:58] afrittoli opened #1387 "Non HTTPs custom cluster interceptor broken in v0.20.1"
# Expected Behavior

After installing v0.20.1 I can continue to use my non-HTTPs custom cluster interceptor

# Actual Behavior

It looks like triggers reconciles a `caBundle` in the interceptor definition, which results in:

[code]

I manually delete the `caBundle` from my interceptor and things started working again for some time.
After a while things stopped working again, and I realised that th

[2022-07-06 15:20] dibyom commented on #1387
Manually specifying `spec.clientConfig.url`  might be a workaround for now

[2022-07-06 16:00] afrittoli commented on #1387
Deleting the cluster interceptor, restarting the event listener and then recreating the cluster interceptor seems to work, the service is up and running now - I'll keep an eye on it.
Once the patch release is ready I will try the upgrade from v0.20.1 to v0.20.2.

[2022-07-06 17:09] afrittoli commented on #1387
Interceptor crashed again:
[code]

[2022-07-06 17:13] afrittoli commented on #1387
Tried the following:
- delete CI
- delete EL deployment
- create the CI with URL only

[code]

We'll see if this setup lasts

[2022-07-07 15:09] dibyom opened #1388 "FR: Add common trigger bindings in TriggerGroups"
### Feature request

Currently, TriggerGroups allows users to group triggers that share a common set of interceptors. It may also be useful for some of these groups to share some common bindings across the triggers as well.

### Use case

1. Remove repetitive copying of the same bindings between triggers that are part of the same triggerGroup

Example of what this could look like:
[code]

[2022-07-07 16:00] dibyom commented on #1374
Hmm, yeah we might be making direct calls to the API server instead of going via the lister cache

[2022-07-07 19:59] dibyom commented on #1284
@joaosilva15 yes it seems like there are some spots where we are calling the API server directly instead of going through the lister cache.

[2022-07-07 21:17] #1027 closed

[2022-07-07 21:17] #1279 closed

[2022-07-08 09:20] joaosilva15 commented on #1284
@dibyom thanks for following up on this 🙏

[2022-07-08 11:35] vdemeester commented on #1224
/lifecycle frozen
I think it still needs to be fixed 👼🏼

[2022-07-08 18:02] r0bj opened #1390 "v0.20.1: Post https://tekton-triggers-core-interceptors.tekton-pipelines.svc:8443/cel: x509: certificate signed by unknown authority"
# Expected Behavior
Triggers work after tekton triggers update from version v0.19.1 to v0.20.1.

# Actual Behavior
Triggers don't work after tekton triggers update from version v0.19.1 to v0.20.1.
Event generates error logs message:
[code]

# Additional Info

- Tekton Pipeline version:
[code]

[2022-07-11 15:55] quant-daddy commented on #1374
Hope it gets fixed soon! @dibyom Thanks

[2022-07-13 15:33] dibyom opened #1391 "Interceptor Legacy syntax not getting updated"
# Expected Behavior
Update from v0.18.x to v0.21.x should work

# Actual Behavior
EL errors out with the following:

[code]

# Steps to Reproduce the Problem

1. Install EL in Triggers v0.18: https://github.com/tektoncd/plumbing/blob/ff29d8b1e460ade9b248910758b2b2112d6a80bc/tekton/resources/nightly-tests/eventlistener.yaml
2. Update EL to Triggers v0.21
3.

# Additional Info

Slack thread: https:/

[2022-07-14 10:16] rremella opened #1392 "tekton trigger : {"level":"error","ts":"2022-07-14T10:07:57.253Z","logger":"eventlistener","caller":"sink/sink.go:278","msg":"couldn't unmarshal json from the TriggerTemplate: invalid character 'r' after object key:value pair","knative.dev/controller":""
# Expected Behavior

Need to split the body.pullRequest.fromRef.id from bitbucket payload

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

Client version: 0.22.0
Pipeline version: v0.24.3
Triggers version: v0.14.2

apiVersion: triggers.tekton.dev/v1alpha1
kind: EventList

[2022-07-14 16:39] dibyom commented on #1392
@rremella looking at the error it looks like the msg is from the trigger template replacement, could you share the triggerTemplate?

[2022-07-15 10:18] rremella commented on #1392
@dibyom , thanks for the response, please find the trigger template I am using

apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: bucket-template
spec:
  params:
  - name: PULL_REQUEST_FROM_BRANCH
    default: default-triggertemplate-value
  - name: SPLIT
    default: default-triggertemplate-value
  resourcetemplates:
  - apiVersion: tekton.dev/v1beta1
    kind: Pipe

[2022-07-15 10:20] rremella commented on #1392
@dibyom , thanks for the response, please find the trigger template I am using

apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: bucket-template
spec:
  params:
  - name: PULL_REQUEST_FROM_BRANCH
    default: default-triggertemplate-value
  - name: SPLIT
    default: default-triggertemplate-value
  resourcetemplates:
  - apiVersion: tekton.dev/v1beta1
    kind: Pipe

[2022-07-15 14:59] gnunn1 opened #1393 "Add option for EventListener to specify different HTTP response codes"
### Feature request

Currently the Tekton eventlistener responds to successful POST requests with a 202 to indicate that the pipeline has started but has not completed. When interfacing with SCM systems like Github, Gitlab, etc this is sufficient however triggers are quite flexible with bindings enabling the event listener to be called from a variety of sources.

These alternative systems sometime

[2022-07-15 15:03] khrm commented on #1393
/assign khrm

[2022-07-15 15:04] khrm commented on #1393
/assign @khrm

[2022-07-19 09:28] Fabian-K opened #1396 "Adding ClusterInterceptor requires restart of tekton-triggers-core-interceptors to get caBundle"
# Expected Behavior
When adding a new ClusterInterceptor, the caBundle should automatically be added

# Actual Behavior
caBundle is only added when tekton-triggers-core-interceptors is restarted. I also *think* that in case the cert is deleted and a new one is created, existing ClusterInterceptors are not updated and keep the old caBundle.

# Steps to Reproduce the Problem

1. Deploy tekton trigge

[2022-07-19 13:32] Fabian-K commented on #1396
Hi @savitaashture
I did not even think of custom interceptors but it perfectly makes sense that triggers do not maintain `caBundle` for them.

The behavior I mentioned however also applies to the core interceptors. The example might be an edge case, however, if you (accidentally?) delete one of the core interceptors and then re-add them by applying the release, it will only get the caBundle when r

[2022-07-20 11:05] khrm commented on #526
Is this resolved and can be closed? @dibyom

[2022-07-22 20:27] dibyom opened #1399 "Bug: Configuring Debug log for EventListeners does not work"
# Expected Behavior

Users should be able to configure debug logging for their ELs by following  https://github.com/tektoncd/triggers/blob/main/docs/troubleshooting.md#configuring-debug-logging-for-eventlisteners

# Actual Behavior

Log level does not get changed to debug.

# Steps to Reproduce the Problem

1. Follow steps in https://github.com/tektoncd/triggers/blob/main/docs/troubleshooting.md#c

[2022-07-23 14:26] #1295 closed

[2022-07-24 01:33] seunggs commented on #1368
I'm not using a cluster interceptor at all, but the event listener goes into crashLoopBackOff status. When I run `kubectl logs` on the event listener pod, this is the error I see:

[code]

Not sure what I'm doing wrong - any guidance would be much appreciated!

[2022-07-24 22:51] seunggs opened #1400 "A single trigger creates two pipeline runs"
# Expected Behavior
Making a call to a trigger should only create one pipeline run.

# Actual Behavior
Single call to a trigger creates two pipeline runs.

# Steps to Reproduce the Problem

1. Set up a tekton trigger
2. Call the event listener service via http call

# Additional Info

- Kubernetes version:
[code]

- Tekton Pipeline version:
[code]

[2022-07-25 03:24] khrm commented on #1400
Can you show EventListener log?

[2022-07-25 03:34] seunggs commented on #1400
[code]

[2022-07-25 14:01] rremella commented on #1392
@dibyom

Any comment on trigger template above ?

[2022-07-26 17:50] khrm commented on #1400
It's difficult to debug this. Can you give a sample to reproduce this?

[2022-07-26 17:51] khrm commented on #1399
Change in the documentation: https://github.com/tektoncd/triggers/pull/1401

[2022-07-27 14:45] #1396 closed

[2022-07-27 15:22] khrm commented on #1268
Fixed by https://github.com/tektoncd/triggers/pull/1359

[2022-07-27 15:22] #1268 closed

[2022-07-27 15:27] savitaashture commented on #1370
Closing issue as issue got resolved with `v0.20.1`

[2022-07-27 15:27] #1370 closed

[2022-07-27 15:28] khrm opened #1405 "Pass EventListener Configurations via environment Variables"
### Feature request

EventListener Configurations should be passed via environment variables instead of just hard-coded args params to the container. If a controller/operator is managing Triggers, it overwrites whatever changes we make to controller deployment arguments.

### Use case

It makes it easier to configure EventListener settings using the operator.
Also, our properties are manageable vi

[2022-07-28 06:09] savitaashture commented on #1390
Hi @r0bj

Could you try with latest [v0.20.2](https://github.com/tektoncd/triggers/releases/tag/v0.20.2) Triggers release

even after using v0.20.2 release still there is an issue please provide the steps to reproduce the issue

[2022-07-28 06:10] savitaashture commented on #1374
Hi @quant-daddy

Could you try with latest [v0.20.2](https://github.com/tektoncd/triggers/releases/tag/v0.20.2) Triggers release

even after using v0.20.2 release still there is an issue please provide the steps to reproduce the issue

Thank you

[2022-07-28 21:00] r0bj commented on #1390
@savitaashture it seems that v0.20.2 fixed it my case. Thanks!

[2022-07-29 11:31] rremella commented on #1392
@dibyom

Any comment on trigger template above ?

[2022-07-29 16:36] afrittoli opened #1408 "[Docs] RBAC link points to google cloud docs"
# Expected Behavior

RBAC link points to k8s docs

# Actual Behavior

Is this information correct?

The RBAC link points to google cloud docs?

[2022-07-29 18:15] seunggs commented on #1400
Here's my setup:

TriggerBinding:
[code]

TriggerTemplate:
[code]

Trigger:
[code]

Event listener:
[code]

Triggering this el via http request to `http://el-pulumi-el.tekton-pipelines:8080` creates two pipelines per trigger.

[2022-08-03 15:06] dibyom commented on #1408
@afrittoli which doc page is this link in ?

[2022-08-03 15:36] AlanGreene commented on #1408
Looks like https://tekton.dev/docs/triggers/install/

last point in the Prerequisites

[2022-08-03 16:56] seunggs commented on #1400
Anything?

[2022-08-04 18:17] khrm commented on #1400
Sorry. I didn't notice this. Will look into this.

[2022-08-04 18:19] khrm commented on #1400
Were you triggering via browser? If you send events via browser, then the browser generally sends the two requests. Please try with `curl`.

[2022-08-04 21:51] seunggs commented on #1400
It's being triggered from a node server, so I don't think it sends two requests. Also, just to confirm, I used curl and still creates two PipelineRuns (with an identical eventId)

[2022-08-05 14:08] khrm commented on #1400
@seunggs You are using EventListener in multitenant mode using Namespace selector, you don't need to put Triggers in EventListener Spec. Please check whether this fixes the issue.

@dibyom Should I create a validation for this? Or just make EL skip spec during multitenant mode?

[2022-08-08 13:38] #1408 closed

[2022-08-09 21:04] dibyom commented on #1400
Hmm would the validation be for the exact same trigger being repeated twice? And how would be validate it given that we might be adding a new trigger to the namespace at any given time.  Or are we saying we should not allow triggers in spec when also in multi-tenant mode. Or we could also update the docs to make it clearer that with namespace triggers we don't need to add triggers to the spec?

[2022-08-10 14:58] khrm commented on #1400
Yes, I meant we shouldn't allow triggers in spec when also in multi-tenant mode.

[2022-08-10 15:17] #1390 closed

[2022-08-10 15:19] #526 closed

[2022-08-10 15:21] dibyom commented on #1361
From @khrm - we might need to create a new pipeline to fix this again

[2022-08-11 10:25] joaosilva15 commented on #1284
Hey @dibyom, it is still happening, I was trying to understand why and these two lines are the only ones that would most likely cause the problem. https://github.com/tektoncd/triggers/blob/e324592c33405efac198c02233fcef85922ca15d/pkg/sink/sink.go#L459-L460 but we are using the new format (or at least I think so), so the webhook key should not be defined in our case

[2022-08-11 15:11] dibyom commented on #1284
Hmm, that's really odd - that is using a Lister to get the clusterinterceptor and the lister should utilize the informer cache

[2022-08-11 18:32] dibyom commented on #1392
hi @rremella not sure if this is the case in your template or an issue with the pasted formatting in your comment above but there is a missing space  in `value` fields for params i.e. it should be aligned with the name field.

[2022-08-18 21:19] dibyom opened #1421 "Improve Triggers getting-started tutorial"
### Feature request

The getting started tutorial is fairly old and could use a refresh.

- [ ] **Urgent** Remove PipelineResources from the [pipeline](https://github.com/tektoncd/triggers/blob/main/docs/getting-started/pipeline.yaml)
  - PipelineResources are deprecated and we should not use deprecated features in examples

- [ ] Simplify the [Create and execute the ingress and webhook Tasks](htt

[2022-08-18 21:35] #1263 closed

[2022-08-22 17:20] anthr76 commented on #1374
I am currently facing this issue. A fresh https://github.com/tektoncd/triggers/releases/tag/v0.20.2 triggers release is installed. I have a ClusterInterceptor installed like:

[code]

A service like:

[code]

An eventlistener like:

[code]

Which when the eventlistener is triggered results in

[code]

[2022-08-22 17:22] anthr76 commented on #1390
https://github.com/tektoncd/triggers/issues/1374#issuecomment-1222664674

[2022-08-22 20:33] lbernick opened #1427 "EventID in parameter variable substitution"
### Feature request

Similar to how in Pipelines I can refer to `context.pipelineRun.namespace` or `tasks.<pipelinetaskname>.status`, it would be great if I could refer to `$(context.eventID)` or something similar in a trigger binding.

### Use case

I'd like to use the event ID as an "external ID" for use when calling the github API (specifically [update check run](https://docs.github.com/en/rest

[2022-08-23 15:15] savitaashture commented on #1374
Hi @anthr76
I have tried the steps you mentioned but i dont see such error

Because when we remove `caBundle` from `ClusterInterceptor`

[code]

Triggers  do watch on the core ClusterInterceptor for every minute and if there is no `caBundle` it will add it  and because of that
we don't see this error `tls: bad certificate"`

[2022-08-23 15:16] savitaashture commented on #1374
Could you provide me step by step instruction which you have followed and because of that you observed above issue

[2022-08-23 15:24] anthr76 commented on #1374
Sure I will provide live manifests to see if that helps?

I deploy Tekton like: https://github.com/anthr76/infra/blob/tekton-sway-sig/k8s/base/tekton-pipelines/deploy/kustomization.yaml

Set up an event listener like: https://github.com/anthr76/infra/blob/tekton-sway-sig/k8s/base/sway-sig/eventlisteners/gitlab-listener.yaml

Put an ingress on the eventlistener: https://github.com/anthr76/infra/blo

[2022-08-23 20:55] dibyom opened #1429 "Sink timeout config is invalid"
# Expected Behavior

Newly created eventlisteners with no customization should not have invalid configuration

# Actual Behavior

I see the following log line when I create a new listener:

[code]

# Steps to Reproduce the Problem

1. Use Triggers release v0.20.2
2. Apply the github example
3. tkn logs el github-listener

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[2022-08-23 21:24] dibyom commented on #1399
I just tried this for https://github.com/tektoncd/triggers/pull/1423#issuecomment-1224899518 and my EL log was still set to info till restart

[2022-08-23 21:45] dibyom commented on #1399
Hmm, the docs do mention the need to delete and recreate the EL. So, I think this works but having to restart the EL just to set debug logging seems excessive

[2022-08-23 21:59] dibyom opened #1430 "Enabling debug mode requires restarting event listener"
### Feature request

When the Triggers controller creates the EventListener deployment it passes in an env var called `K_LOGGING_CONFIG` which contains a JSON string describing the logging config (currently, we pass in the same logging config that applies to the controller itself). The EventListener deployment/pod then uses this logging config to initialize its logger.

To update the logging confi

[2022-08-24 07:50] khrm commented on #1430
I like the 3rd approach better.

[2022-08-24 12:52] afrittoli opened #1431 "Nil dereferences in the trigger interceptor logic"
# Expected Behavior

No nil dereferences in the trigger interceptor logic

# Actual Behavior

From the Tekton security audit.

- triggers/pkg/interceptors/github/github.go:85
- triggers/pkg/interceptors/bitbucket/bitbucket.go:79
- triggers/pkg/interceptors/gitlab/gitlab.go:78
- triggers/pkg/interceptors/cel/cel.go:128

https://github.com/tektoncd/triggers/blob/0bd41e3c7cf85f60a4072dafd102ad4640364

[2022-08-24 13:25] khrm commented on #1431
I raised a pr but this doesn't affect Triggers in End to End scenario. We explicitly set the context and then make a request to the core interceptor:
https://github.com/tektoncd/triggers/blob/6cba67aff9493d5a0178a27cfe5a947e9b860f3a/pkg/sink/sink.go#L435

[2022-08-24 14:55] khrm commented on #1429
We don't use this value at all, it's coming from the knative eventing package we use.

[2022-08-24 16:56] khrm opened #1434 "Fetch GitHub commit ID from kodata failed"
# Expected Behavior
Changeset information should be available to the triggers components.
# Actual Behavior

At present, this information isn't available and we get a information log saying that there's some error.
[code]
# Steps to Reproduce the Problem

1. Create an EL
2. Check the log.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline ve

[2022-08-24 23:04] georgettica commented on #1337
/remove-lifecycle stale
Please TAL as I don't want this issue to die

[2022-08-25 11:10] khrm commented on #1430
Also, the fifth approach won't require access to the tekton-pipelines namespace.

[2022-08-25 20:01] dibyom commented on #1337
hi @georgettica sorry for the delay - are you looking for a review of https://github.com/georgettica/pagerduty-tekton-interceptor or are you looking to get that merged into the triggers source tree?

[2022-08-26 04:56] khrm commented on #1434
Resolved by https://github.com/tektoncd/triggers/pull/1435.

[2022-08-26 04:56] #1434 closed

[2022-08-26 10:15] georgettica commented on #1337
First a review to see if this is good.
Second help to merge into this repo

[2022-08-29 13:15] anthr76 commented on #1374
After looking closer at this issue and the lack of others able to reproduce I ended up removing all CRDs related to tekton and the namespace itself (`tekton-pipelines`) after doing so this error has went away. Not exactly sure of the lingering resource that hurt me here but if I find out I will update this post.

[2022-08-29 13:26] savitaashture commented on #1374
@anthr76 Thanks a lot

Considering your comment will be closing this for now and do open it if you face it again

So closing it for now

[2022-08-29 13:26] #1374 closed

[2022-08-31 09:03] afrittoli opened #1437 "Document release processes for Triggers"
Document what the release process looks like:

- the release manager role
- how version numbers are used and their meaning
- the release frequency
- the steps to perform a major and a minor release

Include the links to existing / new documents in the issue.

[2022-08-31 11:18] afrittoli opened #1438 "OpenSFF Best Practices Badge Program for Triggers"
Achieve the [OpenSFF Best Practices Badge](https://bestpractices.coreinfrastructure.org/en).
Add the badge to the main project README.

<a href="https://bestpractices.coreinfrastructure.org/projects/6527"><img src="https://bestpractices.coreinfrastructure.org/projects/6527/badge"></a>

Missing MUST checkboxes (doesn't mean we don't do these - I'm just unsure atm)

- [x] If private vulnerability re

[2022-09-01 12:05] afrittoli opened #1439 "Support trigger via CloudEvents"
### Feature request

Support [CloudEvents](https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/bindings/http-protocol-binding.md#3-http-message-mapping) compliant responses.

I see a few options:
- When a cloudevent is received, respond with a cloudevent. The current body could be placed in the payload.
- When a cloudevent is received, respond with no payload
- Allow users to disable the r

[2022-09-01 18:38] dibyom commented on #1439
We can probably add a cloud event response type behind a opt in flag?

[2022-09-01 19:18] afrittoli commented on #1439
It sounds good, but I think it should be only for incoming CloudEvents.

[2022-09-01 20:04] dibyom commented on #1439
Are you saying we return the current response if the input is not a cloud event? I was thinking we could eventually stabilize on always returning a cloud event?

[2022-09-01 20:11] afrittoli commented on #1439
I guess we could... I'm not sure if there is any spec about expected replies for a webhook.
If we use CloudEvents binary format, the body would not change at all, only HTTP headers would be added... so I guess we could send that to all eventually.

[2022-09-02 00:55] seunggs commented on #1400
Hi @khrm sorry for the late response - was taken away on another project. I'm a little confused as to the solution here - I'm using multiple event listeners in `tekton-pipelines` namespace. What should I do to make sure duplicate pipelines are not created?

[2022-09-02 02:33] seunggs commented on #1400
Does not specifying `namespaceSelector` make it non-multitenancy setup?

[2022-09-02 10:27] khrm commented on #1400
By multitenancy, I meant that EL serves namespaces specified there apart from which `triggers` in spec. You shouldn't specify `triggers` in spec or you shouldn't use `namespaceSelector`.

[2022-09-02 10:30] khrm commented on #1400
I reopened this because we need to add validation in future to avoid doing this.

[2022-09-02 15:11] savitaashture opened #1441 "Refactor interceptor main"
As per the [comment](https://github.com/tektoncd/triggers/pull/1385#discussion_r961755899) there are lot of certs related code exist in interceptor main code
Creating this issue to track

### Use case

[2022-09-02 15:41] seunggs commented on #1400
OK thanks - but if I don't specify triggers in spec, how will it know to trigger which pipeline?

[2022-09-02 22:36] #1303 closed

[2022-09-04 04:12] cdaf commented on #480
Has there been any movement on this issue. Was considering moving from Jenkins server to Tekton within our cluster, seemed like a nice integrated solution, but wow, it's a lot more complicated than I ever imagined.

So after much learning I have my pipeline defined, but as I'm working in a CRC instance, I cannot expose it public, so I need an outreach solution. I'm currently considering running a

[2022-09-04 22:36] #1344 closed

[2022-09-05 03:43] seunggs commented on #1400
I'm not sure how to get this working without triggers, but I can confirm that removing `namespaceSelector` from EL works as expected (i.e. only one pipeline run is created).

Thanks for the help @khrm!

[2022-09-13 11:03] SQLExceptionPhil opened #1447 "PodSecurityPolicy removed in Kubernetes 1.25"
# Expected Behavior
The released deployment manifest doesn't have deprecated resources listed in it.

# Actual Behavior
PodSecurityPolicy tekton-pipelines is listed in the deployment manifest which is a deprecated resource as of 1.21 and will be deleted in 1.25.

# Steps to Reproduce the Problem

1. download the latest release.yaml (tested v0.20.2 - is also included in v0.21.0)

# Additional Info

[2022-09-14 16:13] dibyom commented on #1447
We are tracking our alternative to PSP deprecation in https://github.com/tektoncd/pipeline/issues/4112

[2022-09-14 16:14] dibyom commented on #1439
Yeah, there are no expected replies as far as I know (other than the HTTP status code)

[2022-09-14 16:15] #1429 closed

[2022-09-19 09:03] gsgs-libin opened #1448 "tekton trigger controller support args "-el-image-pull-secrets" for pull eventlistenersink docker image"
I push all the image to private docker repositories, So I hope to support the setup for imagePullSecrets.

https://github.com/tektoncd/triggers/blob/main/cmd/controller/main.go

![image](https://user-images.githubusercontent.com/22513159/190984062-b1ca40aa-97ab-464a-9e86-29d04e8e600e.png)

[2022-09-21 15:08] dibyom commented on #1361
From @khrm - the tutorial works but we still need to update the pipeline to remove pipeline resources. Tracked in
https://github.com/tektoncd/triggers/issues/1421

[2022-09-21 15:08] #1361 closed

[2022-09-23 09:32] Fabian-K commented on #1439
Just to add some context/motivation. This is especially an issue in combination with knatives retry function (https://knative.dev/docs/eventing/event-delivery/). Because of the unexpected response, it is treated as a failure and retried. The retry results in duplicated resources created by triggers.

[2022-09-23 14:55] afrittoli commented on #1438
FYI @tektoncd/triggers-maintainers - is anyone available to drive this to completion?

[2022-09-27 20:09] #1427 closed

[2022-09-28 14:37] jmcshane commented on #1421
it does appear that there are more than just the getting started that need this attention. most of the pipelines in the examples directory use `resources` instead of workspaces. could we make an issue that is just "refactor examples to align with latest pipeline release". once that's done, it may be simpler to break down the Getting Started updates into smaller tasks

[2022-09-28 15:56] dibyom commented on #1438
Taking a stab at this

[2022-09-28 15:57] dibyom commented on #1438
At 21% but I think we just need to manually add links to our build/test docs to bump this number up!

https://bestpractices.coreinfrastructure.org/en/projects/6527

[2022-09-28 16:12] jmcshane commented on #1421
OK, I'm working on the pipeline samples across the entire examples directory now

[2022-09-28 16:46] dibyom commented on #1438
"It is SUGGESTED that the project use a configuration for at least some dynamic analysis (such as testing or fuzzing) which enables many assertions. In many cases these assertions should not be enabled in production builds. [dynamic_analysis_enable_assertions] "

Does not have a N/A button

[2022-09-28 16:46] dibyom commented on #1438
Up to 63% - the Security tab will require some dedicated time to get through

[2022-09-28 16:50] dibyom commented on #1438
"The default security mechanisms within the software produced by the project SHOULD NOT depend on cryptographic algorithms or modes with known serious weaknesses (e.g., the SHA-1 cryptographic hash algorithm or the CBC mode in SSH)."

GitHub webhook validation - I think we look at the SHA-1 header.

[2022-09-28 21:42] dibyom opened #1450 "Migrate create-webhook and create-ingress to the Tekton Catalog"
The two tasks are part of the getting-started tutorial and are usable in general outside of the tutorial. I think having it in the catalog would help make it more discoverable

https://github.com/tektoncd/triggers/blob/main/docs/getting-started/create-webhook.yaml

https://github.com/tektoncd/triggers/blob/main/docs/getting-started/create-ingress.yaml

[2022-09-29 18:18] dibyom opened #1452 "Interceptor Timeout"
### Discussed in https://github.com/tektoncd/triggers/discussions/1451

<div type='discussions-op-text'>

<sup>Originally posted by **joshua-blickensdoerfer** September 29, 2022</sup>
Hello,

i have written a custom Cluster interceptor. In the eventlistener log i can see that there is a timeout after a few seconds

"logger":"eventlistener","caller":"sink/sink.go:381","msg":"Post \"http://custom-sv

[2022-09-30 14:31] jmcshane opened #1454 "Flaky test forbidden licenses"
# Expected Behavior

PRs that don't change dependent libraries shouldn't fail the license check

# Actual Behavior

Initial run of #1453 failed

# Steps to Reproduce the Problem

1. Submit an empty PR
2. Run the `pull-tekton-triggers-build-tests` a few times
3. see if it flakes

# Additional Info

[code]

[2022-09-30 14:42] #1454 closed

[2022-10-03 15:01] jmcshane commented on #1452
Right now, the way this could be done on the eventlistener would be to add custom args for overriding the defaults for the http client. We could build an HTTP client for each cluster interceptor, this could simplify the default EL http client construction as we have to assemble the full tls config for all the interceptors on startup right now in https://github.com/tektoncd/triggers/blob/v0.21.0/pk

[2022-10-03 20:17] dibyom commented on #1452
Yeah I think that makes sense

I think so 😬 do we need to build the interceptor on each call? can we do it periodically or when needed if a interceptor changes?

(Doesn't help with timeouts but for certs at least we could provide tls.Config's GetCertificate similar to how knative/pkg's [webhook implementation does:](https://github.com/knative/pkg/blob/main/webhook/webhook.go#L145-L167))

[2022-10-03 20:19] jmcshane commented on #1452
Yeah, that was my presumption as well. Let me take a look at how the interceptor watch works and see if we can keep these clients somewhere reasonable and just update on watches

[2022-10-04 14:22] dibyom opened #1457 "Automated API Reference generation"
We need to port https://github.com/tektoncd/pipeline/pull/4494

_Originally posted by @dibyom in https://github.com/tektoncd/triggers/issues/1438#issuecomment-1265966969_

[2022-10-04 14:22] #1438 closed

[2022-10-04 15:52] dibyom commented on #1457
Turns out we already have this https://github.com/tektoncd/triggers/blob/main/docs/triggers-api.md

[2022-10-04 20:27] #1457 closed

[2022-10-04 20:28] dibyom commented on #1447
We need to port https://github.com/tektoncd/pipeline/pull/5536 to Triggers

[2022-10-05 08:10] bigkevmcd commented on #1439
I ran into this too, and I had a look at the code...

https://github.com/tektoncd/triggers/blob/main/pkg/sink/sink.go#L211-L223

We could detect CloudEvent requests there, and either write the response as JSON, or, as a CloudEvent message

[2022-10-05 08:54] afrittoli commented on #1439
I think the response is JSON today, but there are no CloudEvents headers, so it's rejected by the broker

[2022-10-05 10:43] bigkevmcd commented on #1439
I had a crack at this earlier this morning https://github.com/tektoncd/triggers/compare/main...bigkevmcd:triggers:cloudevents-triggers it needs a bit of tidying but the test passes.

[2022-10-05 11:37] RAZA-ABBBASI opened #1459 "More than one EventListeners Instances Not Created on OKD"
I have 3 different services to be deployed on OKD 10 from three different repositories. I want to create separate event listener for each service. Eventlistener for the first service is successfully created; including the deployment, pod and service but not for the other two services, I am using same eventlistener yaml, the only difference is the name of the service and the triggerReference.
The s

[2022-10-05 14:10] afrittoli commented on #1438
🎉  Thank you @dibyom !!!

[2022-10-10 09:28] afrittoli commented on #1437
Example from the pipeline repo: https://github.com/tektoncd/pipeline/blob/main/releases.md

[2022-10-11 21:29] afrittoli commented on #1437
Fixed through https://github.com/tektoncd/triggers/pull/1461

[2022-10-11 21:29] #1437 closed

[2022-10-12 06:06] savitaashture commented on #1448
Hey @gsgs-libin

You can specify imagePullSecrets by providing `kubernetesResource` in eventlistener object https://github.com/tektoncd/triggers/blob/main/pkg/apis/triggers/v1beta1/event_listener_types.go#L85

[2022-10-12 06:06] savitaashture commented on #1448
Let me know if you have any other query

[2022-10-13 15:09] theautoroboto opened #1463 "tls: client offered only unsupported versions"
# Expected Behavior
tekton-triggers-core-interceptors v0.21.0 pod to run as expected on OpenShift v4.10.30

The deployment process has been tested on v0.20.0, v0.20.1, and v0.20.2 without issue

# Actual Behavior
tekton-triggers-core-interceptors v0.21.0 pod fails with the error
[code]

# Steps to Reproduce the Problem

1. Deploy fresh or update to v0.21.0/interceptors.yaml
[code]

# Additional In

[2022-10-13 15:50] quant-daddy commented on #1284
This issue is still there. EventListener is timing out. Any updated on this? This issue pretty much makes the Tekton Triggers unusable. @dibyom
[code]

[2022-10-13 16:28] dibyom commented on #1284
@quant-daddy which version of Triggers? And do you see this in the EL logs? Also, do you have any stats around the number of triggers/requests the EL is trying to process?

[2022-10-13 16:35] dibyom commented on #1463
/cc @savitaashture @khrm

[2022-10-13 17:37] quant-daddy commented on #1284
Hi @dibyom I'm using the latest version of Triggers (0.21). The issue is mainly arising because I'm using the event listener as the cloudEventsUri so every pipelinerun /taskrun status change is hitting it. This leads a lot of requests of course. Processing each request is also expensive because the listener has to call the ClusterInterceptor for each trigger processing. Because of API throttling,

[2022-10-14 02:22] gsgs-libin commented on #1448
Thank you for your reply, but I set it up to find that it will report an error, I don't know if there is a problem with my configuration，but the annotations is in effect。https://github.com/tektoncd/triggers/blob/96a078b105762f26a77dc9e52eb3cb34e0ad5de9/vendor/k8s.io/client-go/applyconfigurations/core/v1/podspec.go#L46
[code]

[code]

[2022-10-14 08:03] gujiwork opened #1464 "couldn't create resource with group version kind tekton.dev/v1beta1"
# Expected Behavior
  curl http://xxxx:8080 -d '{}'

# Actual Behavior

# Steps to Reproduce the Problem

1.
[code]
2.
[code]
3.
[code]
# Additional Info
[code]
- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.

[2022-10-14 15:32] quant-daddy commented on #1373
This seems to happen when triggers are timing out.

[2022-10-14 15:32] #1373 closed

[2022-10-15 14:56] quant-daddy commented on #1284
This issue has disappeared after I started using a separate service as cloud events sink.

[2022-10-18 12:06] Brutus5000 opened #1465 "Don't return HTTP 202 if a global interceptor fails"
# Expected Behavior

If a global interceptor fails to process (e.g. `interceptor stopped trigger processing: rpc error: code = FailedPrecondition desc = event type  is not allowed`), the event listener http response should return status code 400 Bad Request. This indicates the user, that something was wrong with his payload and (even more important) that the pipeline did not run at all.

Also some

[2022-10-18 18:43] khrm commented on #1465
We did this for performance reasons. Is putting out the log only at Error Level OK?

[2022-10-18 18:46] khrm commented on #1465
Also, we have k8s events as well as cloudevents.

[2022-10-18 18:58] khrm commented on #1459
No, there are no such restrictions.  You should be able to create three EL.

[2022-10-18 21:15] Brutus5000 commented on #1465
Eventually the decision is up to you. I can only comment from both the user (app developer) as well as admin (cluster operator) perspective as I'm working in both worlds.

As an admin knowing it to be in k8s events and having it on error level would be sufficient.
As a user this might not be sufficient, and I'd like to elaborate why:

Your answer "performance reasons" actually surprised me.

From

[2022-10-19 15:13] khrm commented on #1284
Can you join our next WG call?
Or send us the spec, environment and load which causes this issue?

[2022-10-19 15:22] quant-daddy commented on #1284
Hi @khrm the issue was mainly caused by overload of cloudevents created by PipelineRun/TaskRun status changes. I was using the event interceptor as the cloud event sink. This lead to almost 60-70 events every pipeline run, and hence a call to the API server to evaluate the ClusterInterceptor logic (this is probably because ClusterInterceptor is a CRD). Once I created a used a separate service as t

[2022-10-19 15:28] khrm commented on #1399
This one was fixed. Need to change behaviour of logging tracked by another issue.

[2022-10-19 15:28] #1399 closed

[2022-10-19 15:29] khrm commented on #1393
/remove-lifecycle stale

[2022-10-19 16:14] dibyom opened #1468 "Remove webhook validation on delete"
@dibyom I think this is also needed for triggers

_Originally posted by @vdemeester in https://github.com/tektoncd/pipeline/issues/5610#issuecomment-1283591181_

[2022-10-26 22:28] rusty-jules commented on #788
Any word on this? Another use case is for hooking up the `EventListener` to a Knative Eventing `Broker`. The `Broker` requires a response to be [either empty or a single valid CloudEvent](https://knative.dev/docs/eventing/sinks/). The current response from `EventListener` causes the `Broker` to retry the event up to the limit, resulting in multiple pipeline runs per event. Only solution has been t

[2022-10-27 01:14] treyhyde commented on #788
This seems very related to #1439

[2022-10-27 01:17] treyhyde commented on #1439
I make extensive use of triggering pipelines via cloudevents delivered from knative... so that works... but I'm forced to disable retry since knative thinks all the responses are bogus regardless of the 202 since it responds with JSON that isn't a CE.

Doing any of the things in the original topic here works for me, even if guarded by a feature flag.

My old discussion on the subject: https://knat

[2022-10-27 07:21] savitaashture commented on #1448
Ah i see

[2022-10-27 07:40] #1372 closed

[2022-10-27 10:42] simonlaw0711 opened #1471 "Cannot create getting-started event listener pod"
# Expected Behavior
Could be able to run the event listner pod

# Actual Behavior
Ran into a error:
[code]

# Steps to Reproduce the Problem

1. Follow the instruction on [here](https://github.com/tektoncd/triggers/tree/v0.8.1/docs/getting-started) to run `kubectl -n getting-started apply -f ./docs/getting-started/triggers.yaml`

My yaml file:
[code]
# Additional Info

- Kubernetes version: 1.22.1

[2022-10-27 12:27] savitaashture commented on #1464
Hi @gujiwork

I tried by installing `Pipeline v0.40.0` , `Triggers v0.21.v` and executed this example https://github.com/tektoncd/triggers/tree/release-v0.21.x/examples/v1beta1/github and then did curl request it worked successfully

To try out your example could you provide yaml for Pipeline `hello-flow` and respective tasks so that will try your example to reproduce the issue

Could you try this

[2022-10-27 14:37] savitaashture commented on #1463
Hi @theautoroboto

I tried installing Pipeline and Triggers on Openshift v4.10.30

Openshift Version
[code]

Tekton Component Version
[code]

When i send curl request to Triggers eventlistener i get success result

Here is the tekton-triggers-core-interceptors pod logs

[code]

Let me know if you still get the issues as i am not able to reproduce it

[2022-10-28 18:22] dibyom commented on #1465
From the example your provided, it does not necessarily mean that something was wrong with the payload - the payload itself may be fine but the trigger author wanted to filter out that particular event type. One complication here is that there isn't a 1-1 mapping between an incoming event and a trigger - a single incoming event can fire multiple triggers.  https://github.com/tektoncd/triggers/issu

[2022-10-29 20:15] simonlaw0711 commented on #1471
Please help

[2022-10-31 21:08] lbernick opened #1473 "Eventlistener status.address.url port does not match spec.resources.kubernetesresource.serviceport"
# Expected Behavior

Eventlistener status.address should accurately reflect the service where the EventListener can be reached.

# Actual Behavior; Steps to Reproduce the Problem

EventListener spec:

[code]

[code]

^ The service is created on the port I specified.

[code]

^ EventListener spec has the correct kubernetesresources.serviceport, but status.address.url is incorrect.

# Additional Inf

[2022-11-02 08:31] ronnberg opened #1474 "Dynamic triggering of triggerGroups"
### Feature request

I would like to have the possibility to use interceptor variabels when matching triggers with matchLabels. This would mean that you could define a single eventlistener for multiple repositories and activate specific triggers where labels match something in the payload. Since eventlistener has a long running pod it make sense to me to not have one eventlistener per repository.

[2022-11-02 15:34] savitaashture commented on #1471
Hi @simonlaw0711 could you provide information of Installed Triggers version

Also could you check whether `caBundle` is added or not by doing

`kubectl get clusterinterceptor github -o yaml`

[2022-11-02 18:28] dibyom opened #1475 "E2E tests broken"
# Expected Behavior

E2E tests run successfully

# Actual Behavior

With Pipeline v0.41 release, the min version of k8s needed is 1.23. Triggers e2e tests first install the latest version of Pipelines. Currently they run on GKE clusters provisioned using Boskos. By default, the use the gke stable channel where the default release is 1.22. This means all of our e2e tests are now failing while tryin

[2022-11-02 18:28] dibyom commented on #1475
I think it makes sense to update our tests to run on kind instead of switching the GKE channel to rapid or use the latest release from the stable channel both of which would result in using k8s >1.23

[2022-11-02 19:59] dibyom commented on #1475
Looks like stable channels for gke is now using 1.23:

[code]

https://prow.tekton.dev/view/gs/tekton-prow/pr-logs/pull/tektoncd_triggers/1476/pull-tekton-triggers-integration-tests/1587874585666129920

So, a quicker fix would be to update our plumbing to include https://github.com/tektoncd/plumbing/pull/1251

[2022-11-03 01:41] dibyom commented on #1447
https://github.com/tektoncd/pipeline/pull/5652/ added PSA restricted to the entire tekton-pipelines namespace which means triggers controllers will fail to come up with Pipeline v0.41

[2022-11-03 08:43] #1371 closed

[2022-11-03 12:57] savitaashture commented on #1447
@dibyom I see your PR for this issue so assigned to you

[2022-11-04 13:17] #1447 closed

[2022-11-04 14:46] jwitrick opened #1478 "Interceptor fails to get secrets which lead to unrecoverable eventlistener failures"
Since upgrading to tekton triggers: 0.21 we have noticed our eventlisteners would suddenly stop working and the error logs would be filled with:
[code]
And the errors will continue to happen until the Eventlistener pod is killed.

After looking around I noticed at the same time the eventlistener starts having errors there are logs in the core-interceptor pod:

[code]

# Expected Behavior

Ideally

[2022-11-05 06:43] #1364 closed

[2022-11-05 13:59] CJCShadowsan opened #1479 "tekton-triggers-controller/core-intereptors/webhook v0.21.0 is forbidden: violates PodSecurity"
# Expected Behavior
Should deploy without errors

# Actual Behavior
deployment comes back with:

[code]

# Steps to Reproduce the Problem

1. Deploy pipelines v0.41.0, triggers v0.21.0, interceptors v0.21.0, and dashboard v0.30.0

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

v0.41.0

[2022-11-05 17:52] AlanGreene commented on #1479
This looks like a duplicate of https://github.com/tektoncd/triggers/issues/1447 which is fixed on main and would be included in the next release.

[2022-11-08 01:45] PollosD opened #1481 "The error type is not understood"
I tried to use filter to determine whether the string "develop" exists in the ref field, but the error " rpc error: code = InvalidArgument desc = error evaluating cel expression: expression \"body.ref.exists(r, r.name == 'refs/heads/develop')\" failed to evaluate: got 'types.String', expected iterable type"", I don't understand what this means, my expression is as follows: body.ref .exists(r, r.na

[2022-11-08 17:43] dibyom commented on #1479
This should be fixed by #1447

[2022-11-08 17:43] #1479 closed

[2022-11-08 17:46] dibyom commented on #1478
Makes sense to me.

@savitaashture any idea why the certs would go bad? Shouldn't the expiry time for them be fairly long?

[2022-11-08 23:03] #1475 closed

[2022-11-08 23:04] dibyom commented on #1459
/kind question

[2022-11-08 23:04] #1459 closed

[2022-11-08 23:04] #1441 closed

[2022-11-09 09:30] bigkevmcd commented on #1481
Hi @PollosD

`exists` takes an array or list, and calls the "predicate" on each of them, and returns true if any of them return true.

https://github.com/google/cel-spec/blob/master/doc/langdef.md#macros

It's not clear what you're trying to do, but if you want to check that `body.ref` is not empty, and it matches `"refs/heads/develop"` you could perhaps try `has(body.ref) && body.ref == "refs/hea

[2022-11-09 15:49] jfuerneisen commented on #1463
Hi,

we have the same issue in an openshift 4.11.12 cluster

kubernetes version v1.24.6+5157800
[code]

we are running the same setup on an okd  4.11.0-0.okd-2022-11-05-030711 cluster
kubernetes version v1.24.0-2566+5157800f2a3bc3-dirty

[code]

A big difference between these clusters is, that the openshift cluster has fips enabled the okd runs without fips.

Can u maybe confirm if u have (not) fi

[2022-11-10 06:31] #1481 closed

[2022-11-14 21:43] treyhyde commented on #1478
Since rolling back to 0.20.x I can confirm we haven't seen this.   Probably directly related to https://github.com/tektoncd/triggers/pull/1385.

0.21.x was pretty catastrophic for us.

Any idea why there are certificates at all in this path?

[2022-11-15 15:31] khrm commented on #1339
/remove-lifecycle rotten
/lifecycle frozen

This feature is essential.

[2022-11-16 14:53] savitaashture commented on #1478
Hi @treyhyde
could you provide the steps to reproduce issue
Because for me upgrade is working fine

[2022-11-16 15:33] treyhyde commented on #1478
I don't know if we have a silver bullet for reproduction.

The EventListeners in question as configured as Ksvc (Knative Service) as per the example here: https://tekton.dev/docs/triggers/eventlisteners/#contract-for-the-customresource-object.

We have a few ELs in this namespace but the one that triggered this frequently was the one that was least likely to scale to 0 and live for many hours.  Th

[2022-11-16 16:06] treyhyde commented on #1478
[code]

Does this mean this was the last time the cabundle was updated?

In reviewing the 0.21.x change, I noticed there is a lot of polling, sometimes with only 10s wait.  Kube API is too slow overall, I wonder if a single slow API call could cause this to fail in unexpected ways.

[2022-11-18 06:50] savitaashture commented on #1478
Hi @treyhyde I tried below steps

[2022-11-22 07:00] krishnaraman001 commented on #1478
Hi all,
I am also getting the same exception
`{"level":"error","ts":"2022-11-22T06:44:45.487Z","logger":"eventlistener","caller":"sink/sink.go:381","msg":"Post \"https://tekton-triggers-core-interceptors.tekton-pipelines.svc:8443/cel\": x509: certificate signed by unknown authority (possibly because of \"x509: ECDSA verification failure\" while trying to verify candidate authority certificate \"te

[2022-11-25 20:47] #1159 closed

[2022-11-26 16:47] #1350 closed

[2022-11-27 01:07] ezh opened #1485 "Unable to define Webhook interceptor according to the latest schema"
# Expected Behavior

Webhook is using `objectRef`

# Actual Behavior

`objectRef` is ignored

# Steps to Reproduce the Problem

There is a schema with interceptor definition https://github.com/tektoncd/triggers/blob/main/docs/interceptors.md#specifying-an-interceptor

[code]

but the example in the document contains legacy behavior

[code]

I tried multiple variants:

[code]
without params. It wor

[2022-11-27 08:21] ezh commented on #1485
Is there any proper way to pass `objectRef` to a webhook configuration?

[2022-11-29 11:20] jwitrick commented on #1478
#

@savitaashture have you looked back at your setup after 1, 2, 3, etcc.. days and confirmed you dont see the issues? Also how many events are being sent to the EL, and how busy if your cluster?

When we were having this issue, it was occurring every ~24 hours and it was difficult for us to detect..besides watching logs.

[2022-11-30 11:53] krishnaraman001 commented on #1478
`{"level":"error","ts":"2022-11-22T06:44:45.487Z","logger":"eventlistener","caller":"sink/sink.go:381","msg":"Post \"https://tekton-triggers-core-interceptors.tekton-pipelines.svc:8443/cel\": x509: certificate signed by unknown authority (possibly because of \"x509: ECDSA verification failure\" while trying to verify candidate authority certificate \"tekton-triggers-core-interceptors.tekton-pipeli

[2022-11-30 12:03] ArturFortunato opened #1486 "Allow to define dynamic `pipelineRef`s in PipelineRuns in TriggerTemplates"
### Feature request

I'm looking for a way to define a single EventListener and TriggerTemplate to use for multiple repositories. But every repository has a different Pipeline.
The Pipeline name for each repository is well known, which can be retrieved from the TriggerTemplate parameters.

### Use case

Here's an example of what I'm looking for:

<img width="524" alt="image" src="https://user-imag

[2022-11-30 14:34] savitaashture commented on #1478
Hi @jwitrick

I have not kept setup for 3-4 days and it was not that busy

May be need to stress testing and then need to check the failure reason but i am confused here that we generated token which expiration time is too long but how those errors are seen :thinking:

Is that because of http request throttling  :thinking:

[2022-11-30 14:35] savitaashture commented on #1478
Will try with making system busy by sending request continuously using loop
Lets see how it behaves

[2022-11-30 16:06] khrm commented on #1486
If you write `tt.params.repository_name`, it should resolve.

[2022-11-30 16:56] ArturFortunato commented on #1486
Lifesaver @khrm, thank you! 🙏 🙏

[2022-11-30 16:56] #1486 closed

[2022-11-30 19:02] kcloutie opened #1487 "Changed files in Github interceptor"
### Feature request

I would like the github interceptor to enrich the payload of an incoming request with the list of changed files related to a pull_request or push event similar to what is done in the [add-pr-body](https://github.com/tektoncd/plumbing/tree/main/tekton/ci/cluster-interceptors/add-pr-body) interceptor. In addition, it should also accept a regex expression that can be matched agai

[2022-11-30 20:12] nagasree9 opened #1488 "OWNERS files support for approving pull-requests before executing pipelines"
### Feature request

I would like to have a github interceptor that blocks a pull request trigger from being executed unless invoked by an owner or with a configurable comment by an owner, for example `/ok_to_test`. Owners would be defined in an OWNERS file at the root of the repository

### Use case

We have a few terraform modules in which a lot of developers from different teams contribute into

[2022-11-30 22:21] dibyom commented on #1488
Related Work: we were building something similar for Tekton's own CI https://github.com/tektoncd/plumbing/issues/482