[2019-06-23 00:04] bobcatfish opened #3 "Get initial CI setup"
_This is a Zenhub epic._

## Expected behavior

This repo should have automated CI running on every PR, just like our other tektoncd projects. Ideally this would be using Tekton itself - in https://github.com/tektoncd/pipeline/issues/922 we are working toward triggering PipelineRuns with Prow, however there are still some barriers (e.g. logs) so in the interests of not blocking this project, we pr

[2019-06-23 00:09] bobcatfish opened #4 "Get linting running against repo"
## Expected behavior

Every PR should have logic applied to it to make sure that:
* Go code is formatted as expected
* Markdown files are formatted as expected and links they contain work

## Actual behavior

We don't have any code, or any automation :O

## Additional info

* These are called ["build-tests"](https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml#L397) in the prow config

[2019-06-23 00:11] bobcatfish opened #5 "Get unit tests running against PRs"
## Expected behavior

Every PR should have all unit tests (i.e. `go test ./...`) executed against it.

## Actual behavior

We don't have any code, or any automation :O

## Additional info

* [This is the config for the Pipeline unit tests](https://github.com/tektoncd/plumbing/blob/33ee852094dd0f62f95a92e49d9a3c189729c1ca/prow/config.yaml#L431) <-- for now we should probably just copy this and do e

[2019-06-23 00:13] bobcatfish opened #6 "Get end to end tests running against PRs"
## Expected behavior

Every PR should have all end to end tests (i.e. tests in the `test` dir which use [the `e2e` build label](https://github.com/tektoncd/pipeline/blob/master/test/README.md#running)) executed against it.

## Actual behavior

We don't have any code, or any automation :O

## Additional info

* [This is the config for the Pipeline end to end tests which are called "integration test

[2019-06-23 02:46] bobcatfish opened #7 "Make instructions in DEVELOPMENT guide work"
# Expected behavior

Folks who try to follow along with our DEVELOPMENT.md should be able to actually run the commands.

(of course one way to meet this would be to delete the stuff we don't have yet, but I think it would put us in a great position to add all the supporting code we need to just make it work!)

# Actual behavior

We have no code yet, so most of the contents of the DEVELOPMENT.md wo

[2019-06-23 02:49] bobcatfish opened #8 "Create a skeleton controller that does nothing"
It will be easier for ppl to start adding functionality if we add an empty controller that doesn't actually reconcile anything, just:

* Has all the config needed to build and deploy with `ko`
* Will start running and invoke a reconcile loop of some kind that does nothing (maybe just logs hello world?)

## Additional info

Continuing to use knative/pkg is probably our best bet for now, in which ca

[2019-06-23 02:53] bobcatfish opened #9 "Create a skeleton webhook that does nothing"
It will be easier for ppl to start adding functionality if we add an empty webhook that doesn't actually do anything (eventually this webhook controller will be used to verify Trigger types), just:

* Has all the config needed to build and deploy with `ko`
* Instantiates an admission controller that isn't actually doing anything, e.g.:

[code]

## Additional info

Continuing to use knative/pkg is

[2019-06-23 02:59] bobcatfish opened #10 "Add initial type defintions"
## Expected behavior

We should have the structure of the types we want to add for Tekton Triggers clearly defined in this repo and agreed on by all owners:

- `EventListener`
- `TriggerBinding`
- `TriggerTemplate`

Each type should:
- Be defined in `go` such that it can be fed to `update-codegen.sh`
- Be agreed on by all owners
- Be clearly documented in comments (so that it would be fully docume

[2019-06-23 03:03] bobcatfish opened #11 "Add automated coverage for examples"
## Expected behavior

Any examples we add to the repo should have at least a base level of testing applied to them with each PR, e.g. making sure the structure is sound (even if we don't verify the behavior).

## Actual behavior

In #10 we'll be adding types and examples, but we don't yet have any tests for them.

## Additional info

* In the pipelines repo, these "tests" are called "yaml tests" a

[2019-06-23 03:06] bobcatfish opened #12 "Add baseline level of user docs"
## Expected behavior

It'll be easier to iterate on docs and we'll be in a better position docs-wise in the future if we start with some basic docs now that we can continue to add to.

## Actual behavior

In #2 we'll add the bare minimum required docs that each tekton project needs to have, but those are more for the contributors and maintainers of the project, and less about users of the project.

[2019-06-23 03:10] bobcatfish opened #13 "Create getting started guide"
## Expected behavior

People who want to use Triggers should have an obvious place to look for some quick start docs on how they can get up and running, e.g.:

- How to install and setup
- What the types are and how to use them
- Where to look for more

## Actual behavior

In #2 we'll add a DEVELOPMENT.md for contributors, but we won't have any getting started docs for users.

## Additional info

[2019-06-23 03:16] bobcatfish opened #14 "Create docs for each type"
## Expected behavior

Users of Triggers should have a place to look for docs on each CRD that they'll be interacting with.

## Actual behavior

We have no docs, but in #10 we'll be adding the types. The only docs we have at the moment are in [the design doc](https://docs.google.com/document/d/1fngeNn3kGD4P_FTZjAnfERcEajS7zQhSEUaN7BYIlTw/edit#heading=h.iyqzt1brkg3o).

## Additional info

One decisi

[2019-06-23 03:19] bobcatfish opened #15 "Create project justification docs"
## Expected behavior

When users come to the repo for this project, they should be able to easily find an explanation of why the project exists and how it relates to other projects.

## Actual behavior

This is something we don't yet have for Tekton Pipelines, which results in questions such as https://github.com/tektoncd/pipeline/issues/644. Having docs like this from the start would probably sav

[2019-07-02 20:58] ncskier commented on #8
/assign @ncskier

[2019-07-08 15:42] vtereso commented on #4
@vdemeester has already pushed the https://github.com/tektoncd/triggers/blob/master/test/presubmit-tests.sh file, which handles linting using the defaults in the `tektoncd/plumbing` repo

[2019-07-08 15:42] #4 closed

[2019-07-08 15:44] vtereso commented on #5
@vdemeester has already pushed the https://github.com/tektoncd/triggers/blob/master/test/presubmit-tests.sh file, which handles `go test` using the defaults in the tektoncd/plumbing repo

[2019-07-08 15:44] #5 closed

[2019-07-08 15:55] vtereso commented on #6
Thanks again to @vdemeester for setting this up [here](https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml#L703)

[2019-07-08 20:21] vtereso opened #19 "Handle arbitrary event payloads"
# Expected Behavior
The main strength of `tektoncd/triggers`, and more specifically, a `triggerBinding` is that it will act as the glue enabling you to extract fields of an event payload to be used in a `triggerTemplate` to create arbitrary resources.

# Current Behavior
We don't have anything for this

# Background
Since events can have any structure, we will not always have a definition for the

[2019-07-09 01:34] vincent-pli commented on #9
//assign @vincent-pli

[2019-07-10 14:11] ncskier commented on #7
@bobcatfish to clarify, are we making it possible to install `triggers` independently from `pipeline`? If so, we'll need to add yaml for our own Namespace, ClusterRole, ServiceAccount, ClusterRoleBinding, etc. (some of these might be duplicates from `pipeline`; for example, the Namespace could be the same yaml file that's in `pipeline`?).

[2019-07-10 17:56] vtereso commented on #15
I merged an initial README to address this. Once things are fleshed out or otherwise, maybe we can docs on similar projects. This should be good to close out.

[2019-07-10 18:01] bobcatfish commented on #15
woot let's close it 🎉

[2019-07-10 18:01] #15 closed

[2019-07-10 18:03] vtereso commented on #14
/assign

[2019-07-10 18:07] vtereso commented on #14
I will approach this in the Tekton way with a markdown for each.

[2019-07-11 19:49] ncskier commented on #7
I followed up with @bobcatfish about my previous comment, and I will proceed with this issue under the assumption that users can install `triggers` without having installed `pipelines` (although they will work best together). The `triggers` project will be installed into the `tekton-pipelines` namespace, but will use its own ServiceAccount.

[2019-07-11 23:43] iancoffey commented on #10
Closed prematurely, theres still items to address despite the PR being merged 😅

[2019-07-15 07:42] vincent-pli commented on #19
Could we use `reflect`

[2019-07-15 13:28] bobcatfish commented on #19
With the caveat that this is something I've heard other people say, and not something I've really experimented with myself, I'm under the impression that using reflection has a significant performance impact. (That and code that uses reflection can be a little confusing to follow!)

[2019-07-15 14:44] vtereso commented on #19
This is the approach using reflect, but as mentioned, there is a considerable performance impact.

[2019-07-15 21:22] vtereso commented on #19
/assign

[2019-07-16 20:16] xihaLong opened #25 "K8S-styled templating - remove triggers' XYZTemplates, template types, template definitions, and variable interpolations from trigger controllers and triggers API"
Tekton going forward, as of last week's working group meeting, is following the template style of K8S, which can be interpreted as specifically avoiding a few things. https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/declarative-application-management.md#what-about-parameterization

2/3rds of that K8S document applies directly to how Tekton will want to

[2019-07-16 20:24] xihaLong commented on #25
https://github.com/tektoncd/triggers/blob/master/config/300-triggertemplate.yaml As a simple edit, I will remove this file in a pull request. This suggestion is open for comments
Will of course also impact https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/trigger_template_types.go among other locations, though those can come in other pull requests

If Triggers wants to ma

[2019-07-16 20:41] xihaLong commented on #25
https://github.com/tektoncd/pipeline/issues/850

[2019-07-16 21:15] dlorenc commented on #25
Hey! Thanks for opening this. I think the discussion last week you're citing here has a few impacts on the rest of the project, and we especially need to think carefully through how to apply these rules to the triggering project here.

I agree here. Where possible interpolation should happen before calling the API. Some notable exceptions in k8s already exist though. Here is one: https://kubernete

[2019-07-17 00:21] xihaLong commented on #25
affects pipelines and triggers https://docs.google.com/document/d/11QWLYPP-yj_K_ghQqHr3LFonFE9bfHwtooYq6qPhn8w Less Template, More Tekton

[2019-07-17 00:29] xihaLong commented on #25
@dlorenc Let's consider to not publicly publish a mechanism for cookie-cutting from a set of intermediate template resources, even if similar mechanisms are used internally or encouraged externally such as in a git repository or using a template publishing tool. I saw fairly convincing arguments in the "Declarative Application Management" document https://github.com/kubernetes/community/blob/maste

[2019-07-17 14:27] dlorenc commented on #25
I'm pretty familiar with that document, but I'm not sure I follow how we would address the same use cases without having a mechanism to create resources when an event is triggered.

Could you explain more? I'm hesitant to remove any of these features until we fully understand the replacements.

[2019-07-22 15:22] ncskier commented on #8
PR https://github.com/tektoncd/triggers/pull/18 completes this issue.

[2019-07-22 15:22] #8 closed

[2019-07-22 15:37] ncskier commented on #6
Closing this issue because of the previous comment, and PR https://github.com/tektoncd/triggers/pull/18 adds a basic e2e test for `ko apply -f config/`

[2019-07-22 15:37] #6 closed

[2019-07-22 18:01] bobcatfish opened #28 "Make sure that tabs vs. spaces will be caught by presubmit linting"
# Expected Behavior

Our codebase should consistently use tabs or spaces, and if code is submitted that is inconsistent, it should be caught by our presubmit linting checks.

# Actual Behavior

Although #4 added linting, #21 added some files with spaces instead of tabs (https://github.com/tektoncd/triggers/pull/21#discussion_r305946629) and our linting didn't catch it :O

[2019-07-22 18:04] bobcatfish commented on #25
As mentioned in https://github.com/tektoncd/triggers/pull/26#issuecomment-512532701 and https://github.com/tektoncd/triggers/pull/24#issuecomment-513025973 I'm hoping we can reduce the number of places we are discussing completely removing our templating & template types so I'd like to close this issue for now.

[2019-07-22 18:04] #25 closed

[2019-07-22 18:05] ncskier commented on #10
@iancoffey What work is still left under this issue? Is it the work outlined in [this](https://github.com/tektoncd/triggers/pull/17#issuecomment-510496225) comment?

[2019-07-22 19:19] iancoffey commented on #10
@ncskier Yes, I just wanted to make sure I made followup issues if they didnt exist for each of those items (which I have not done yet)

[2019-07-22 19:44] ncskier commented on #10
Ok, sounds good! I was just looking over the issues for another one to pick up, and I wasn't positive what was left to do for this one 😁That would be great if you could create new issues documenting the remaining work 👍

[2019-07-23 13:32] #14 closed

[2019-07-23 13:36] iancoffey opened #32 "Implement TriggerResourceTemplate Spec"
The initial types PR did not implement the `TriggerResourceTemplate`.

https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/trigger_template_types.go#L30

# Acceptance criteria

The `TriggerTemplate` has a functional `TriggerResourceTemplate` and controller logic to handle creating the objects.

[2019-07-23 14:08] ncskier commented on #7
Closing this issue now that `ko apply -f config/` works, the `hack` directory (with `update-deps` and `update-codegen`) works, and the skeleton controller & webhook exist.

Relavent PRs:

- docs update: https://github.com/tektoncd/triggers/pull/30
- skeleton webhook: https://github.com/tektoncd/triggers/pull/21
- skeleton controller: https://github.com/tektoncd/triggers/pull/18
- types & `hack` co

[2019-07-23 14:08] #7 closed

[2019-07-23 14:35] bobcatfish commented on #7
niiiiice 🎉

![image](https://user-images.githubusercontent.com/432502/61720869-8e131d00-ad35-11e9-8657-0bab6472b668.png)

[2019-07-23 14:42] bobcatfish commented on #9
I think this is fixed by https://github.com/tektoncd/triggers/pull/21 thanks @vincent-pli !!! (plz re-open if I'm wrong :D)

[2019-07-23 14:42] #9 closed

[2019-07-23 14:43] bobcatfish commented on #3
Woot all the subtasks are completed! Closing this epic :D

[2019-07-23 14:43] #3 closed

[2019-07-23 14:52] bobcatfish opened #33 "[Epic] Initial controller + webhook"
This is a [zenhub epic](https://github.com/tektoncd/triggers/blob/master/CONTRIBUTING.md#zenhub-project) about adding some baseline functionality to our initial controller and webhook, namely:

- Webhook should actually validate the types as we've added them so far
- Webhook and controller are able to handle arbitrary event payloads
- Controller should create a running pod when an EventListener re

[2019-07-23 14:56] bobcatfish commented on #19
Another way to tackle this would be to initially target only creation of `PipelineResources` and `PipelineRuns`, which would reduce the scope required a bit and we could add support for arbitrary resources later (but if we can get it all at once then great!)

[2019-07-23 14:57] bobcatfish opened #35 "All existing types should have validation"
# Expected Behavior

When the webhook notices that one of our trigger CRD types is created, it will invoke each type's validation. When that validation is invoked, it should look at the fields of each CRD and make sure they are valid.

# Actual Behavior

We have the skeleton webhook added, but our validation functions are empty, e.g.

https://github.com/tektoncd/triggers/blob/357fee5b70356dfd25eb2

[2019-07-23 15:06] bobcatfish opened #36 "Controller should create EventListener pod on creation"
# Expected Behavior

When an `EventListener` CRD is created, the triggers controller should respond by making an instance of running container that can be invoked with CloudEvents.

Eventually this running container would expose a Knative eventing addressable endpoint which could be invoked with CloudEvents and would create resource instances in response, but in the context of this issue, the goal

[2019-07-23 15:11] vtereso commented on #19
I understood this work item to just be the event side extraction only, which be the logic to set `TriggerBinding` params

[2019-07-23 15:12] bobcatfish opened #37 "Create an end to end test (in go) that creates an EventListener"
# Expected Behavior

We should have a suite of end to end tests that we can use to test triggers functionality. We can start with a simple one that:

1. Creates an EventListener
2. Confirms it is created
3. Deletes the EventListener
4. Confirms it is deleted

(If #36 happens first, this test can actually look for a running container, otherwise this will be a very light test!)

# Actual Behavior

W

[2019-07-23 15:14] bobcatfish opened #38 "Create builder package for tests"
# Expected Behavior

[The builder package in pipelines](https://github.com/tektoncd/pipeline/tree/master/test/builder) is super handy for instantiating instances of the pipeline CRDs in unit tests! Would be great to have something like this (and tests for the builders themselves in triggers :D

# Actual Behavior

We don't have this yet!

When @vdemeester added this to pipelines it took him quite a

[2019-07-23 15:18] bobcatfish opened #39 "Update EventListener to consume CloudEvent"
# Expected Behavior

Once we have #36 the next step is for the running binary to expose a Knative addressable endpoint that can be invoked with a CloudEvent!

It doesn't have to actually do anything with the CloudEvent at this point but maybe could log something fun?

# Actual Behavior

Once we have #36 we'll have a running pod but it won't be listening for CloudEvents yet

# Additional Info

If w

[2019-07-23 15:22] bobcatfish commented on #19
Oh good call! My bad, I didn't read it fully and assumed it was about specifying arbitrary templates in the Template - just ignore me 😅

[2019-07-23 15:36] vtereso commented on #32
/assign

[2019-07-23 15:39] vtereso commented on #36
From my understanding and according to the [docs](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/):

Limitations
I think Deployment makes the most sense?

[2019-07-23 21:59] ncskier commented on #36
@iancoffey do you have an opinion? Was there an advantage to using a StatefulSet for the TektonListener?

[2019-07-24 14:59] #19 closed

[2019-07-24 15:08] iancoffey commented on #36
iirc, the reasons I chose statefulset are the `Ordered, graceful deployment and scaling `and `Ordered, automated rolling updates` properties meant it less likely two listeners of different versions be exposed at once. That seemed like a big potential problem at the time.

https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#using-statefulsets

I dont have a strong opinion and mor

[2019-07-24 18:20] vtereso commented on #39
From what I have discovered, vendors (GitHub, DockerHub, etc.) do not emit CloudEvents and it would be necessary to have some middle-layer such as Knative eventing to generate them. Parsing of the CloudEvent structure is supported just like any other (arbitrary payload), but since there is an overhead to generate this it seems unnecessary to have Trigger/this work item use Knative and CloudEvents.

[2019-07-24 18:54] ncskier commented on #36
Ok, thanks Ian. I'm not extremely knowledgable about those situations where we might want a StatefulSet over a Deployment, but it seems like a Deployment will work well for us right now. Down the line, if we want to change it to a StatefulSet, we can.

[2019-07-25 02:41] vincent-pli commented on #39
I think we need make decision before really implementation.
I prefer to support `CouldEvent`, reasons:
1. That's true the vendors do not emit `CouldEvent` but we can leverage `knative-contrib` to do the translation, the problem is some sources in `knative-contrib` is depends on `knative-serving`, like `github source`, I guess maybe we need implements ourselves.
2. Without `CloudEvent` we need defi

[2019-07-25 09:27] vincent-pli commented on #35
@bobcatfish
Can you assign this issue to me, I will add basic validation based on current design.

[2019-07-25 13:18] vtereso commented on #39
We will be discussing this briefly and will update the issue.

[2019-07-25 14:05] bobcatfish commented on #38
example of how this can make tests more succinct https://github.com/tektoncd/pipeline/pull/1044/files

[2019-07-25 18:10] vtereso opened #42 "Event/Addressable Proposal"
This proposal addresses the specifications as outlined in the initial design proposal (https://docs.google.com/document/d/1fngeNn3kGD4P_FTZjAnfERcEajS7zQhSEUaN7BYIlTw/edit#heading=h.iyqzt1brkg3o), namely:
- Whether or not to have first class support of [CloudEvents](https://github.com/cloudevents/spec)
- How to create an addressable endpoint

This proposal takes the perspective of getting things o

[2019-07-25 18:26] dlorenc commented on #42
Thanks for the detailed report @vtereso! I'm convinced by everything here.

[2019-07-25 18:51] vtereso commented on #38
/assign

[2019-07-26 02:20] vincent-pli commented on #42
That’s convincing description, thanks.

[2019-07-26 11:59] iancoffey commented on #42
I think its all perspective, really.

A different way to look at this is that until we accept CloudEvents, we are only supporting the simplest use-case of people actually directly hitting the Trigger Listener from the raw event sources - looks good for a demo, but what about real life use cases? It doesn't seem to be tenable in a multiple event setup, even a small one. Hence why I have always pict

[2019-07-26 14:32] bobcatfish commented on #42
Thanks for writing this all up @vtereso and @iancoffey ! @iancoffey thanks for providing us with concrete use cases and stopping us from being too theoretical 😉  and @vtereso I want to give you a quick shout out for a very thorough, clear, and convincing proposal! Very nicely done imo :D

TL;DR: from what I can tell this proposal actually _expands_ what we can support, from just CloudEvents, to Cl

[2019-07-26 14:34] bobcatfish commented on #42
🙏

[2019-07-26 14:37] bobcatfish commented on #39
Note discussion continuing in https://github.com/tektoncd/triggers/issues/42

[2019-07-26 14:42] bobcatfish commented on #42
p.s. If possible it would be great to bring this up and discuss it in the working group meeting this wednesday, even if we haven't yet decided what we want to do. I'm gonna add it to the agenda :D

[2019-07-26 21:08] vtereso commented on #42
Yes, I would not want to exclude `CloudEvents`.
@iancoffey made great points about why it would be dismissive to *only* enable raw events.
By "first class support" I was referring to whether or not the event being parsed is guaranteed to be in the structure of a `CloudEvent` (by means of an adapter or assumption).
Since event bindings can support any sort of payload, a `CloudEvent` (as seen [here]

[2019-07-27 10:18] afrittoli commented on #42
💯
One of the objective that I hope the Triggers project will help us achieve is the ability to trigger pipelines/tasks asynchronously, i.e. where Tekton is the source of the events handled by the listener - e.g. https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/v1alpha1/taskrun/resources/cloudevent/cloudevent.go#L42.

One of the things that I like about the cloud events spec is the t

[2019-07-27 10:50] afrittoli opened #44 "Task trigger within a pipeline"
This is a proposed feature that would help orchestrating asynchronous pipelines.

The use case is as follows: as a user I want to be able to include in a pipeline a component that is executed asynchronously and possibly externally i.e. Tekton on a different cluster or something that is not Tekton at all.

For instance a pipeline may include a Task that sends a cloud event on completion. The cloud

[2019-07-27 11:31] vtereso commented on #44
To my understanding and regarding the initial proposed design, Triggers should be able to create any resource as specified in the [`TriggerTemplate`](https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md).

IIUC, a `PipelineRun` with a referenced `Pipeline` (or `TaskRun`) should very well be able to internally emit a cloud event. As I mentioned in a [recent comment](https://git

[2019-07-27 11:35] iancoffey commented on #42
Ah, I see. Thanks for this incredibly verbose and detailed issue. I think that as long as the project can ingest cloudevents and process them into pipelineruns (and not be tied to the one spec, as the proposal states), then the proposal is satisfied and Im not sure it matters if we use all the helpers and servers and tools CloudEvents provides since we are getting to where we wanted to be anyway.

[2019-07-27 12:00] afrittoli commented on #44
Depending on how this is implemented in may impact `triggers` or `pipeline` or both, but I created this in the triggers project because this is where folks with interest on event driven workflows will hang out :).

Normally a `TaskRun` is created by the `PipelineRun` controller for each `Task` in the referenced `Pipeline`. The `PipelineRun` controller will only create the `TaskRun`  when the corre

[2019-07-28 05:36] vincent-pli commented on #42
I think positions are based on different angle of view.
For @vtereso , he consider more about implements and availability.

That’s true for now, that means we need put something before `Trigger` and vendor as a translater, I have not check too many but `Knative-contrib`, see the list:
[code]
That’s means if we hit the vendor which not include in the upper list, we need implements ourself’s or seek

[2019-07-29 15:33] ncskier commented on #44
Hi @afrittoli, I like this use case of asynchronous Pipelines!

If I'm not mistaken, our current design will support this architecture already, but without using a CloudEventResource as an input PipelineResource. Instead, Triggers would receive the CloudEvent, and the TriggerBinding + TriggerTemplate would pass the relevant information from the CloudEvent to Task D. So, we don't currently have a d

[2019-07-29 21:13] n3wscott commented on #42
Hello Tekton friends!

there is a lot in this bug to catch up on and before I do, a couple things:

- Knative Eventing is no longer coupled to Istio. https://github.com/knative/eventing/issues/294
- You are signing up for a lot of work to not use the components provided by knative-contrib for integrating with GitHub.
- There is likely no way an expose service to the internet will be lighter weight

[2019-07-29 22:12] dlorenc commented on #42
Thanks for the reply @n3wscott! I have some questions inline:

This is great to see!

Does scale to zero require Istio?

I'm not quite sure I understand this, or how this differs from the proposals here. Can you share more?

This is definitely not our goal :) People have been hooking github webhooks up to systems for a long time though, so I don't think it's fair to characterize doing that again a

[2019-07-30 00:51] vincent-pli commented on #44
`Trigger` will create `task/taskrun` referred by another `pipeline`? 🤔
I don's saw any clue in the design document.
I always think `Trigger` only create `pipelineResource` and `pipelineRun`!

If that's in the scope, we need interact with `pipelineRun` controller, expect is emit `CloudEvent`. That's big change.

For the case from @afrittoli, the asynchronous `task` in a `pipeline`, I think it shoul

[2019-07-30 01:02] vincent-pli commented on #42
Thanks @n3wscott

I saw some components in `Knative-contrib` just create `deployment` not expose to outer world, is there any consider for it?

[2019-07-30 07:57] khrm commented on #42
Thanks @n3wscott

I think the latest Github source doesn't even require Knative-eventing but it does require knative-serving.

@dlorenc

Yes. It uses knative-serving.

Yes. That's true.

Agreed but as dlorenc said:

[2019-07-30 13:28] ncskier commented on #44
Oh, my mistake. I didn't realize that all of the tasks had to be under one Pipeline. So, the current plan for Triggers can achieve the same functionality, but will not be able to trigger a Task in a Pipeline. That seems like a problem that will have to be tackled under the Pipelines project. Triggers will be able to create the proposed CloudEventResource, so if the Pipelines project is able to wai

[2019-07-30 14:02] dlorenc commented on #42
I think in my ideal world we would basically write them for a core set of systems (Github, Gitlab, Bitbucket), then rely on knative/eventing for the rest and more complex ones.

[2019-07-30 14:41] ncskier commented on #42
I might be misunderstanding this comment, but at the moment, the Triggers project isn't concerned with creating webhooks. Instead, we are only concerned with receiving "events" (which will probably be from webhooks in most cases). So, we are letting the user decide how to create the webhooks; this could be through the GitHub/GitLab/etc web UI, through Knative Eventing, etc.

[2019-07-30 14:42] n3wscott commented on #42
@dlorenc Hello, nice to meet you!

No, but it does require some kind of mesh, there are a couple options now.

The code that you write does not have to interact with github at all, and github has a maybe once delivery system, and if your deployments are busy or lagging, then you will have to think about queues too, and that is what eventing is for too.

I would recommend thinking of a conical form

[2019-07-30 14:53] n3wscott commented on #42
@vincent-pli

Some things are pull based and the deployment acts as a way to request out and convert pull/poll based workloads into push based workloads. Maybe that is what you are asking?

If the question is around serverless aspects of it, we still have some work to do with regards to how to scale down active components...

[2019-07-30 15:00] n3wscott commented on #42
@khrm

This is true, and an impl detail of that source but if this is a hard no, perhaps come and add a `mode` to it to use a deployment over a serving service?

To be clear, eventing has more work to be done to support all of what you want. But we plan to do it at some point and we could use help, OR an alternate idea is if Tekton does this work, make those components use the in-development sourc

[2019-07-30 15:05] n3wscott commented on #42
@ncskier

If that is the case, really you can drop in the Knative Eventing Contrib github source and point it at your function in the same way you might point github's webhook at your function. The payload _is the same_ with the addition of some cloudevent metadata in the headers. Thats all... And this allows you to also not use any of that and point github directly at the function.

Knative also

[2019-07-30 15:31] afrittoli commented on #42
Hello! Thank you for your comments on this!

I find it very really nice for services that react to events to scale down to zero 0. Two caveats:
- This does not come at no cost. The extra complexity and resource consumption of managing knative serving and some service mesh needs to be taken into account
- There should be some infrastructure in place to trace events and/or capture logs because when

[2019-07-30 16:38] khrm commented on #42
Discussion digress to knative-contrib dependency and cloud event, so I wrote that reply.
I think even if we go with the current proposal, it doesn't preclude us from using Knative-contrib sources. As @bobcatfish pointed out that `event.head_commit.id and event.repository.url are not going to be values that the CloudEvent spec` . So anyway we are going to do the work to get it from webhook events b

[2019-07-30 17:22] ncskier commented on #28
PR https://github.com/tektoncd/triggers/pull/40 closes this issue.

[2019-07-30 17:22] #28 closed

[2019-07-30 17:27] vtereso opened #45 "Enable TriggerBindings to validate requests (e.g. GitHub)"
# Expected Behavior
Events received by the `EventListener` addressable service should only be handled if the requester and request are authenticated.

We can use GitHub as an initial use case.

From @khrm :

# Actual Behavior
Currently, nothing does this.

We have discussed doing this via header matching:

However as mentioned above, more is required than just header matching.

# Additional Info

[2019-07-30 17:39] vtereso opened #46 "Set up EventListener Deployment for Resource Creation"
# Expected Behavior
The `EventListener` `Deployment` pod needs to be able to reference the `TriggerBinding(s)`/`TriggerTemplates` associated with the `EventListener` in order to be able to create resources with the received event.

# Actual Behavior
Currently, nothing does this.

# Additional Info
There is seemingly two ways to day this:
- Set up Tekton/K8s client within the pod to pull the necess

[2019-07-30 17:46] vtereso opened #47 "Create Resource(s) from Event(s)"
# Expected Behavior
The `EventListener` `Deployment` pod should be able to create resources as defined in the associated `TriggerTemplate(s)` when receiving an event

# Actual Behavior
Currently, nothing does this.

# Additional Info
When the event/message is received, it should be parsed to populate the corresponding `TriggerBinding(s)`, which should then inject their values into the `TriggerTemp

[2019-07-30 17:50] vtereso opened #48 "Add Triggers information to Resources"
# Expected Behavior
Any resources created through Triggers should be properly labelled and annotated to specify their origins.

# Actual Behavior
Currently, nothing does this.

# Additional Info
Documentation should be included.

[2019-07-30 17:55] vtereso opened #49 "Add Conditionals to Resource Creation"
# Expected Behavior
Users should be able to specify a `Conditional` against event payload values to ensure that resources are generated dependent on the payload data. For context, webhook POST data from GitHub specifies the source organization/repository/branch. Users will want to make `TriggerBindings` that execute against particular branches, etc.

# Actual Behavior
Currently, this is no conditi

[2019-07-30 18:03] vtereso opened #50 "Add Support For Naming Modifiers"
# Expected Behavior
Resources that are created by `TriggerTemplates` will clash if the names defined in the resources are static. Add some postfix/modifier (uuid/timestamp) to resources to prevent naming collisions.

Pipelines uses uuid's so it's probably best to follow that convention.

# Actual Behavior
Currently, nothing does this.

# Additional Info
If all resources get an automatic and unknow

[2019-07-30 18:16] iancoffey commented on #10
This is long since merged, Im going to close this one.

[2019-07-30 18:16] #10 closed

[2019-07-30 19:11] ncskier commented on #37
@bobcatfish @vdemeester
For these Tekton Triggers go tests, should we follow the Pipeline repo's test format, and use the [knative.dev/pkg/test](https://github.com/tektoncd/pipeline/blob/master/test/init_test.go#L35) library?

[2019-07-30 19:35] vdemeester commented on #37
I think so, yes

[2019-07-30 19:49] ncskier commented on #37
Ok, thanks

[2019-07-31 00:52] vincent-pli commented on #42
Seems a little get out of control 😆
Our point in controversy is should we support `CloudEvent` as the first class.

Seems `CloudEvent` club has many members:

- `Knative-eventing`: Help on event persistence, decouple for publisher and consumer, event router and filter...
- `Knative-contrib`: Help on event access/translate from different vendors.
- `Knative-serving`: Help expose to outer world

If

[2019-07-31 03:16] bobcatfish commented on #42
Quick update that this topic is on the agenda for this week's [working group meeting](https://github.com/tektoncd/community/blob/master/contact.md#working-group) so I highly recommend that folks with strong opinions attend and/or add your thoughts to the agenda if possible if you can't attend.

[2019-07-31 13:42] dlorenc commented on #42
Hey everyone! A few of us met yesterday to discuss this proposal and how to make it work well with knative/eventing. Here's what we discussed/agreed on:

@vtereso @ncskier @iancoffey @EliZucker

* We like knative/eventing!
* We think that the model in the initial proposal just works with it out of the box, since we'll expose an Addressable for every EventListener
* This will let people use knative

[2019-07-31 16:22] vtereso commented on #45
/assign

[2019-07-31 16:36] vtereso commented on #45
Actually, not. Someone else feel free to tackle this. :)
/unassign

[2019-07-31 16:37] vtereso commented on #46
/assign

[2019-07-31 19:40] ncskier opened #54 "Define EventListener Status"
# Expected Behavior
When an EventListener resource is created, we expect its status section to have information about the resulting deployment and the endpoint this deployment can be reached at.

# Actual Behavior
The [event_listener_types.go](https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/event_listener_types.go) file defines the EventListener resource to have an empt

[2019-07-31 20:21] vtereso commented on #50
Many ways to tackle this one 🤔, but discussion definitely necessary immediately after we have resource creation.

[2019-07-31 20:47] ncskier commented on #50
I like your first approach 👍
However, I don't really like that `${1}` in the second example, but something like this could be an alternative:
[code]
Or, to match your "verbose" example:
[code]
Here, `uniqueName: true` or `unique: true` would signal that we should append a `uuid` to the resource name.

[2019-07-31 21:51] EliZucker opened #55 "Proposal to move TriggerBinding-TriggerTemplate connection out of TriggerBinding definition"
In the docs for `TriggerBinding`s, we say:

I don't disagree with this idea and I don't think `TriggerTemplate` reusability should change.

However, for many users, it may end up being even more important for `TriggerBinding`s to be reusable! `TriggerBinding` reusability is severely limited in the current design because within the definition, a specific `TriggerTemplate` is referenced within the `

[2019-08-01 08:18] vincent-pli commented on #54
I think the `status` should be like this:
[code]
Include:
- conditions (`duckv1beta1.Status`), include several `type`s
  + `TriggerBindingProvided`: means `TriggerBinding` is get and validated.
  + `ListenerReady`: `deployment` and `service` is created, i don't want to tell `deployment`, hide the implement details.
  + `Ready`: everything is ok
- `address`, this part is follow the `Addressable` de

[2019-08-01 08:36] vincent-pli commented on #49
So, the `Condition` means general `Condition`, not the `Condition` in `tekton pipeline`?

[2019-08-01 13:27] vtereso commented on #49
I believe we should be using Tekton pipeline [`Conditions`](https://github.com/tektoncd/pipeline/commit/8f84f033413026c8594cf744ec27e4fe829b8f87) for this.

[2019-08-01 13:56] vincent-pli commented on #49
I feel it's a little heavy, `Conditions` in pipeline will launch `container` to do the comparing.
Image that, when received a event, we need create `pod` only for string comparison...

[2019-08-01 14:14] vtereso commented on #49
@vincent-pli  That's true. I made a point in counter argument to the `Conditionals` initially because I can't really see much besides string comparison to be done, especially here. Tekton is probably better served to used `Conditions` because the work has already been kicked off and the time it takes the `Condition` to complete is minuscule in comparison to the entire workload. Where as here, **ma

[2019-08-01 14:15] vtereso commented on #49
This work is still blocked, but I think discussion in the issues like this is great. Opinions? @bobcatfish @ncskier @iancoffey

[2019-08-01 14:34] vtereso commented on #55
The way I understand it, the `TriggerBinding` is simply pulling all of the specified parameters from the payload and storing them. This is then passed to the `TriggerTemplate` to be utilized. In this way, `TriggerBindings` are very much tied to `TriggerTemplates`, but it is the variance in configuration (`Conditions`, `headerMatch`, etc.) that warrants these two to be distinct (encouraged reuse).

[2019-08-01 15:35] EliZucker commented on #55
Oh right, I was staring at the YAML in the docs and forgot that the spec is a slice of `TemplateBindings`.

The merit of this proposal depends on the complexity of user payloads. If we are intending to target simple projects where all you might need to extract is something like the commit ID and repository URL, then my suggestion might not make sense. But with large complex payloads, it might be w

[2019-08-01 16:27] vtereso commented on #55
I completely agree that the first point is an area that _could_ be reused.

Assuming there were multiple different `TriggerBindings` for different GitHub repositories on a single `EventListener`, they would all be triggered (assuming the same kind of event) since the headers match. As a result, I envision `Conditions` to be necessary components to `TriggerBindings` to prevent all bindings from fir

[2019-08-01 16:38] vtereso commented on #46
For now, I will take the stance/assumption that all Triggers resources are created within `tekton-pipelines` namespace as per the [config](https://github.com/tektoncd/triggers/tree/master/config). This way, the `rest.InClusterConfig()` pulled by the `EventListener` deployment pod will be able to correctly obtain the object references.

[2019-08-01 18:30] EliZucker commented on #55
I wonder if we could list reasons why  `TriggerTemplates` are intended to be more reusable vs `TriggerBindings`?

Not saying I think one way or another, but it seems kind of arbitrary to me that `TriggerTemplates` are the ones that are reusable, and we should probably justify it to ourselves while we're at such an early stage in the project. Theoretically `Conditions` and `headerMatch` could move

[2019-08-01 19:22] vtereso opened #56 "Rework TriggerBindingSpec"
Currently, the TriggerBindingSpec is defined as follows:
[code]
This means we have multiple _distinct_ event bindings within a `TriggerBinding`. Currently, we have a one-to-many mapping from `EventListener` to `TriggerBinding` and well as a one-to-many mapping from `TriggerBinding` to `TriggerTemplates`. As I understood it, we wanted to support this?

I believe this may not be the best design deci

[2019-08-01 19:33] #42 closed

[2019-08-01 20:35] ncskier commented on #56
From what I understood, I thought we wanted a one-to-one mapping between TriggerBinding and event; for example a TriggerBinding cannot have a `push` event and `pull_request` event, it can only have one of them. I've created a PR [here](https://github.com/tektoncd/triggers/pull/57) to address this. Please let me know if this changes functionality in a negative way.

[2019-08-02 06:41] vincent-pli commented on #55
A compromise solution:
[code]

Then `TriggerBinding` only take care of event parameter extraction logic.

[2019-08-02 13:14] vtereso commented on #55
This seems analogous to moving only the headers into the `EventListener` (event will go away). I think this is fine if we wanted to do this, but since `TriggerBindings` are connected to particular kinds of events, it seems to less explicit as to what kind of message type is being parsed inside of the `TriggerBinding`. As I mentioned before, this will only probably only help reuse where we have som

[2019-08-02 13:29] ncskier commented on #55
Sorry I'm jumping into this conversation a little late; thanks for writing up this proposal Eli! 👍
I think it's a really good idea to be thinking about how to reuse TriggerBindings.

I think it makes more sense to put the filtering/conditional information in the TriggerBinding (possibly conditional info can go in the TriggerTemplate though?). This is because I like the clear division of informatio

[2019-08-02 13:59] vtereso commented on #55
I think this proposal in getting at the heart of something important and I would like to see more reuse as outlined. I have reservation because of the leaky abstraction nature of this, where as currently everything is neatly encapsulated. However, it's a good idea.

[2019-08-02 14:11] ncskier commented on #55
Yeah, thinking about it more, I like the idea of reuse when thinking about a catalog. I don't think that we can decouple the TriggerBinding from the TriggerTemplate. However, I think that it is compelling to have an entry in a catalog with a suite of reusable TriggerBindings & TriggerTemplate(s).

For example, consider having a Pipeline that builds and deploys a Go project. In the example catalog

[2019-08-02 16:25] EliZucker commented on #55
To be clear they're also specifying a target TriggerTemplate, doing header filtering, and allowing for conditionals.

I also don't fully understand why @vincent-pli 's solution or any potential solution that moves parts of `TriggerBinding` that aren't parameter extraction logic into `EventListener` creates a leaky abstraction to the point that it isn't worth doing. From the end user's perspective,

[2019-08-02 17:13] ncskier commented on #55
If we're going to make `TriggerBindings` reusable, then I think it would be beneficial to put conditionals (and maybe also header matching) in the `TriggerBindings`, and introduce input parameters for the `TriggerBindings`. To do this, `TriggerBindings` would look something like the following:
[code]
So the `EventListener` would look something like this:
[code]
In this example, we would only creat

[2019-08-02 18:15] EliZucker commented on #55
yeah I like that proposal above from @ncskier better than the current project design.

[2019-08-05 13:14] vtereso commented on #55
I question how much benefit there is in not including references to the `TriggerTemplate` in the `TriggerBinding`. I suppose two templates might have slight variances in naming/labels/etc. where it could potentially see more reuse so seems good I suppose.

This is a semi-blocker for a few things, so if we are in agreement, can proceed with implementing @ncskier suggestion?

[2019-08-05 13:23] vtereso commented on #11
/assign

[2019-08-05 13:27] vtereso commented on #11
I haven't found any good tooling to help automate the process for when the examples are updated (to avoid copy pasting into the markdown doc files). It would be advantageous to retain the formatting that we get by GitHub's native code fencing so I will make some utilities that will update/check the files for this purpose. In addition to asserting the examples in an e2e test.

[2019-08-05 17:13] EliZucker commented on #55
I agree with proceeding to implement @ncskier 's suggestion

[2019-08-05 17:23] EliZucker commented on #50
Still trying to understand the full extent of this issue. Would this still be a problem if we removed any guarantees of resource creation order and forced people to use in-line resource definitions?

So you would have to do something like this example I took from a pipelines yaml:
[code]

[2019-08-05 17:44] vtereso commented on #50
Right, I didn't really specify :sweat_smile:. If you want to create a `PipelineResource` and refer to it within a `PipelineRun`, it will need to know the identifier and since many events can come in, there has to be a system to uniquely name each.

[2019-08-05 17:47] vtereso commented on #50
Also, I don't see why someone would create more than a few resources within these templates where it shouldn't be very costly to create resources in order. If some `TriggerTemplate` had two resources and one relies on the other, this was my understanding for why we would want to support this.

[2019-08-05 19:47] vtereso commented on #50
@ncskier Made a good point that having an explicit field within the `TriggerBinding` to specify ordering on/off might be the best way to tackle this, but as a first pass, forced ordering is probably easiest.

[2019-08-06 08:23] khrm commented on #45
/assign

[2019-08-06 13:11] vtereso commented on #39
This can be closed out since it will be addressed in https://github.com/tektoncd/triggers/issues/47?

[2019-08-06 13:12] #32 closed

[2019-08-06 13:29] ncskier commented on #39
This technically works right now, but if we want to be able to use our Service as a Knative Eventing sink, then we need to expose port `80`. I would think that's part of this work item since Knative Eventing is the only eventing source I know of that sends CloudEvents, but we can open a new issue if that is preferred. @EliZucker what do you think?

[2019-08-06 15:39] vtereso commented on #13
/assign

[2019-08-06 15:52] vtereso commented on #13
It seem like this is mostly done? The installation (since we currently have no release) is specified in the DEVELOPMENT.md. To my understanding, the other two points seem to be sufficient as well. Maybe additionally link/add this https://github.com/tektoncd/triggers/blob/master/DEVELOPMENT.md#install-triggers to the top level README?

[2019-08-06 16:17] EliZucker commented on #13
I'll look at finishing this up. /assign

[2019-08-06 16:17] EliZucker commented on #13
nvm just saw you assigned yourself..

[2019-08-06 16:54] EliZucker commented on #39
Our [agreed upon proposal](https://github.com/tektoncd/triggers/issues/42#issuecomment-516854462) includes becoming a (Knative) addressable endpoint, and in order to do that we:

(according to the knative interface docs). Since that's part of this issue and we haven't done that yet I think this issue should stay open for now. There's also the separate question of exposing ports (I'm hoping we can

[2019-08-06 18:29] EliZucker opened #62 "Proposal to rename TriggerBinding"
If we're including conditionals and headermatching in `TriggerBinding`, then I would propose renaming it to something like `TriggerSifter` (open to alternatives).

I suggest this because the Trigger**Binding** name was created to reflect how it **binds** values from the event payload onto the `TrigerTemplate`, however it will now also be doing filtering and headermatching. I think the name should

[2019-08-06 19:12] vtereso commented on #45
This probably should have been blocked since https://github.com/tektoncd/triggers/issues/47 and https://github.com/tektoncd/triggers/issues/55 are still open. @khrm how are you handling it in the meantime?

[2019-08-06 20:07] khrm commented on #45
I assign myself to work on this. Yet to start. Just following the discussions atm.

[2019-08-06 20:57] vtereso commented on #55
/assign

[2019-08-07 00:31] vincent-pli commented on #35
/assign

[2019-08-07 01:40] vincent-pli opened #64 "House keeper for Pipeline related stuff"
# Expected Behavior
When `event` received, deployment of `EventListener` will create at least one `PipelineResource` and one `Pipelinerun`, then those stuff will get out of hand of `Trigger`.
That’s caused a problem, after period, there will be tens of hundreds `pipeline` related stuff leaved.

So I think we need setup garbage disposal/house keeper mechanism for the situation.
I saw https://github

[2019-08-07 14:30] vtereso commented on #46
Resolved via https://github.com/tektoncd/triggers/commit/a771c06d11d5ae78845e55e1d21d7e1556f709fb

[2019-08-07 14:30] #46 closed

[2019-08-07 21:48] ncskier commented on #62
This is a good point, but I still don't mind the name `TriggerBinding` since we're binding event data to a set of output parameters (almost like a transformer). Plus there's conditional logic. So, I don't think it's _necessary_ to change the name, but if we find one that sounds better, I wouldn't be opposed to an update.

I don't really like `TriggerSifter` because I think it loses the idea of the

[2019-08-07 22:06] ncskier commented on #47
/assign @ncskier

[2019-08-07 22:24] ncskier commented on #37
Closing this issue because we merged PR https://github.com/tektoncd/triggers/pull/53 👍

[2019-08-07 22:24] #37 closed

[2019-08-08 00:15] bobcatfish commented on #55
Very late to the party but in general I think these are some pretty cool improvements! My comments kinda go hand in hand with #62 - when I look at this proposed design:

[code]

I'm wondering a couple of things:
1. Does it make sense to have these responsibilities all in the same CRD?
2. What is the bare minimum set of functionality that we want to get working in our first iteration?

@ncskier was

[2019-08-08 01:50] vincent-pli commented on #55
Could leverage `Knative eventing` for the event filter, the diagram is a recent demo:
![image](https://user-images.githubusercontent.com/8669744/62668276-e9900c80-b9bd-11e9-8310-703a91e6859b.png)

But I prefer to tekton's own `Condition`, I like @ncskier 's proposal, event it's a little multi-responsibility  : D.
For the `Condition` implementation, I still think `Pipeline Condition` is heavy, we a

[2019-08-08 14:35] dlorenc commented on #49
So to clarify, today we have something like:

[code]

We could extend this to support more advanced filtering with something like:

[code]

Where a.b.c is a nested json field.

Other questions:
- What type of matching?
- Do we need regex?
- Not equals? Equals?

[2019-08-08 14:47] vtereso commented on #49
The header match field is sort of a contrived way of allowing access to the headers without having to introduce a new interpolation variable (like `${header}`) since `${event}` extracts from the payload so that was sort of the delineation between headers and conditionals in a way. If we were to introduce direct/interpolation access to the headers, maybe conditions/conditonals could encapsulate hea

[2019-08-08 15:10] sbwsg commented on #49
Adding a usecase here in support of regex: On a previous team we used a regex branch match to determine whether a CI pipeline should run in response to a push event or not. I forget the exact pattern but it was something relatively simple/naive like "ignore branches named master, qa, and dev": `^((?!(master|qa|dev)).*)$`

[2019-08-08 15:53] vtereso opened #68 "Triggers RBAC"
# Expected Behavior
Users should specify a service account (or a role binding?) in the `EventListener` to be used for resources created as per specific `TriggerTemplate`.

# Actual Behavior
Currently, there is no implementation.

# Additional Info
Currently, the `EventListener` creates a `Deployment` and a load balancer `Service` (to reference the deployment), which enables the pods to be addressa

[2019-08-08 16:24] vtereso commented on #68
We could simply add the permissions necessary to create Tekton resources as a default. If roles could be added onto a service account for the life of the `EventListener`, this might work well too.

[2019-08-08 17:33] vtereso commented on #13
Not sure how to proceed with this for now.
/unassign

[2019-08-08 17:50] vtereso commented on #64
I agree that resource build up could/would become cumbersome, especially when we are generating resources based on events. Triggers is enabling users to create these resources simply, which only exacerbates this Tekton issue. Maybe an option could be added to the PipelineRuns/TaskRuns, where resources can be deleted after runs? In terms of handling arbitrary resource deletion, I don't know how muc

[2019-08-08 18:31] vtereso commented on #54
/assign

[2019-08-08 19:00] chhsia0 commented on #50
For the first approach, there's probably no need to specify a unique name for each generated resource since within a `TriggerTemplate` there should already be no name conflict, so the resource names can be e.g., `$(uniqueNamePrefix)-git-source`, `$(uniqueNamePrefix)-simple-pipeline-run`, where `uniqueNamePrefix` can be made required to be assigned from a `TriggerBinding`. Some mechanism to make th

[2019-08-08 19:21] ncskier commented on #68
_Aside_: we currently don't have a good name for the pod/deployment that runs when an EventListener is created; I don't like calling the pod the EventListener, because that's already the name of the resource. For now, I'll call that pod/deployment the EventListener "sink."

---
So, the design challenge I see at the moment is that the EventListener "sink" pod needs to get/create two different sets

[2019-08-08 19:28] vtereso commented on #68
Idea one 🙏

[2019-08-08 19:50] vtereso commented on #50
Interesting... IIUC, your suggestion is to allow for resource templates to be able to reference one another? Kubernetes already supports generated names if the name field is left empty where an interpolation variable allows you to reference the "unknown" generated name. This seemingly stipulates that the resources MUST be created in order since the the name couldn't be extracted otherwise. I am sh

[2019-08-08 21:09] chhsia0 commented on #50
Hmm good point on the field interpolation. Maybe simply `$(output.git-source)`?

If it's not preferred to enforce the resource generation order, then it looks a bit better if the naming contract is explicit in the resource template, like the first approach.

[2019-08-09 01:07] vincent-pli commented on #68
Could we add permission for all resource of group `tekton.dev` (Pipeline) to `ClusterRole`: `event-listener-sink`.
I think most of case are in the scope of `tekton pipeline`.

Base on that, I'm a little prefer idea two. With idea two,
- In most of case (in tekton-pipeline), use need do nothing more than create `EventListener`, `TriggerBinding` and `TriggerTemplate`.
- If user want to handle resour

[2019-08-09 01:58] vincent-pli commented on #64
Could we add `metav1.OwnerReference` of the resources (except `Pipelinerun`) to a `Pipelinerun`. I believe there is at least one `PipelineRun`, right?

So the problem is when to delete the `Pipelinerun`
- Use `informer` of `Pipelinerun`, monitor the `Pipelinerun`, delete it when complete.
- Change the `Pipeline` refer by `PipelineRun`, add last task which could send `event` to `EventListener`, whe

[2019-08-09 15:28] vtereso commented on #64
`PipelineResources` are created ahead of time compared to `PipelineRuns` (since they do not support being embedded currently?), where likely only some should have owner references. If a resource doesn't have a specific SHA/revisions/tags, it's potentially reusable so deleting it _might_ be bad? That aside, I guess it is possible to add a `metav1.OwnerReference` to referenced `PipelineResources`?

[2019-08-09 15:35] vtereso commented on #64
This has also been discussed here: https://github.com/tektoncd/pipeline/issues/544

[2019-08-11 02:40] chhsia0 commented on #50
Another idea that is more close to the first approach and avoids ordering and resolving after resource generation:
[code]
The spirit is that, the "contents" of the generated resources are defined in the `TriggerTemplate`, but the "names" that are used to refer to the generated resources are specified when the `TriggerTemplate` is instantiated.

[2019-08-12 16:02] iancoffey commented on #68
Another vote for idea #1 👍

[2019-08-12 22:04] bobcatfish opened #69 "Design for cron triggering"
# Expected Behavior

Folks will want to run Pipelines periodically, e.g. very night or every few hours they may want to trigger CI. Some use cases:

- To run long running Pipelines that take too long to run on every commit
- To pull in external changes on a regular basis (e.g. new versions of dependencies)
- To do nightly releases

# Actual Behavior

We've been discussing and designing solutions f

[2019-08-13 14:14] bobcatfish commented on #45
Hey @vtereso !

I'm late to the `headersMatch` discussion - can we add some details here (or even in a separate design doc) about what use cases we need the `headerMatch` field for and how it would work.

From the example in #42 it looked like the main use case was for filtering based on the type of event, e.g.:

[code]

But then I asked @dlorenc and he said the most important use case was about v

[2019-08-13 14:22] bobcatfish commented on #49
I have a feeling that no matter what we do, people are going to want to express more complex Conditions eventually.

Here's an example of some slightly more complicated logic a person might want to use: https://github.com/wlynch/cel-playground/tree/get-commit#example-expressions

[code]

That's using a language called CEL and it's conceivable that folks will very quickly want to:

1. Choose the la

[2019-08-13 15:07] vtereso commented on #49
Definitely not, but it was my main/only consideration in opposition to utilizing containers. I think providing some optimized conditional checks down the line (should they be necessary) is a great point. With that consideration, I think containers are the way to go 👍

[2019-08-13 15:39] vtereso commented on #45
As mention in the conditionals discussion [here](https://github.com/tektoncd/triggers/issues/49#issuecomment-519550598), the headers field was an implicit way to access the headers without having to introduce another interpolation variable. I believe the intent was to "match" against anything that could be passed here, which could both designate and authenticate. It has been mentioned that an expl

[2019-08-14 20:13] EliZucker commented on #69
Considering our current design is focused around HTTP requests, and all events don't necessarily come in that format, my understanding is that we will eventually end up having a separate event-adapter library (or will recommend lightweight adapter(s) that already exist; for example [vincent's github adapter](https://github.com/vincent-pli/gitlabsource/)).

With this in mind, I think the best way t

[2019-08-15 13:36] vtereso commented on #68
Creating service accounts automatically seem questionable. Adding access to the Triggers resources shouldn't be an issue. I will take this approach.
/assign

[2019-08-15 16:12] ncskier commented on #68
So that we only give access to read the Triggers resources in the current namespace, we can create a `Role` in that namespace with only `get` 👍

[2019-08-15 18:18] ncskier commented on #36
Sorry, I should have closed this earlier from https://github.com/tektoncd/triggers/pull/43

[2019-08-15 18:18] #36 closed

[2019-08-16 16:05] bobcatfish opened #71 "Proposal to separate Validation / Filtering from TriggerBinding"
# Expected Behavior

As much as it makes sense (our design should be as simple as possible and no simpler! :D) we should try to make our CRDs:

- Have one clear job
- Minimize repetition (e.g. in #55 we made `TriggerBindings` more reusable b/c we figured otherwise folks could end up having to create the same `TriggerBindings` over and over again).

In light of #55 (see "actual behaviour" below), I

[2019-08-18 16:04] khrm commented on #45
@vtereso @bobcatfish

I felt the general use case for headers match would be just simple match to send events to matching TriggerBinding whether it be Github, Gitlab or CE type coming in headers.

If I understand @dlorenc use case, it's about securing webhook? I don't think we can validate token which is set up for webhook using just regex.

Github computes the hash of payload using the above toke

[2019-08-19 02:05] vincent-pli commented on #69
Agree with @EliZucker , this part should not in the scope of `Trigger`.
Any reason we don't leverage `Knative eventing` or `Knative contrib`? not light enough?
if so i guess we need consider to create tekton's event source repo.

[2019-08-19 14:57] bobcatfish commented on #69
The solution could be that we recommend `Knative eventing`, I don't want to jump to any conclusions just yet!

Basically if I wanted to use Tekton as a complete CI solution (and I do! :D https://github.com/tektoncd/pipeline/issues/267) then I would need to be able to setup cron triggering somehow. And if I found the "triggering" part of the project but found no guidance about how to setup triggeri

[2019-08-21 15:06] vtereso commented on #50
/assign

[2019-08-21 15:13] bobcatfish opened #76 "Add a log library + logging config to the EventListener binary"
# Expected Behavior

It looks like [the EventListener binary](https://github.com/tektoncd/triggers/blob/master/cmd/eventlistener/main.go) is going to be doing a lot of work in the future, so we should treat it's logs like we would logs from our controller, e.g.:

- Be able to log at different levels (e.g. error vs warn vs debug)
- Allow the instantiator of the binary to control the log level (e.g.

[2019-08-21 15:38] ncskier commented on #11
If I'm not mistaken, it looks like this issue is complete. Can we close it? @vtereso

[2019-08-21 16:14] pmorie opened #77 "Users should only be able to create TriggerTemplates for resources they are permissioned to use"
In the current design, users would be able to use the `spec.resourceTemplates` field to escalate their degree of write permission within the cluster; users of TriggerTemplate are able to create any resource that the service account responsible for creating resources in a TriggerTemplate has permission to create. For example, if a user does not have access to create Pods, but the service account se

[2019-08-21 18:09] #11 closed

[2019-08-21 18:39] akihikokuroda commented on #50
Can we introduce a predefined variable like $(pipelinerun) and replace the variables in the definitions with the uuid of the pipelinerun when the bindings and templates are used?

[2019-08-21 19:55] akihikokuroda opened #78 "Securing triggering"
# Expected Behavior

The triggering event must be communicated from the event source to the triggering in a secure way and the event must be authenticated before the processing.

1. TLS should be optionally enabled for the communication.
2. The event / payload must be authenticated in the way provided by the event source.

# Actual Behavior

I believe that these are necessary in the production env

[2019-08-21 21:49] ncskier commented on #78
Thanks for creating this issue. Security is a very important topic that we've been discussing recently, so it's crucial to document these issues/security concerns 👍

I misunderstood the GitHub validation issue; I thought it was just a string match (like [GitLab](https://docs.gitlab.com/ee/user/project/integrations/webhooks.html#secret-token) webhooks seem to be), but the hash & compare is more in-

[2019-08-21 22:36] akihikokuroda commented on #78
I agree about the TLS.  When the user create the eventlistener CD, he/she should create the ingress  route and uses the external address of them to the webhook configuration.

I looked at the knative code that handling the github authentication

It is using

in the eventing-contrib github so it's github unique code.

The core of the code is only a few line like this:

[code]

So it is not too bad

[2019-08-22 08:05] vincent-pli opened #79 "Exception expose"
# Expected Behavior
When exception occurred, end user could easily to know what happen exactly.
I don't prefer to check the log of `Pod` create by `EventListener` controller, it's mass and should transparent to end user.
I think `cr` of `EventListener` is a good choice. It's not reusable and end user know it.

Check the discussion here: https://github.com/tektoncd/triggers/pull/74#discussion_r3155

[2019-08-22 08:15] vincent-pli commented on #78
I guess there should be some third part components stand in front of `EventListener` to handle the authentication, like `knative/event-contrib/githubAdapter` or [gitlabsource](https://github.com/vincent-pli/gitlabsource).

I think `EventLister` should not cover it, since different event source has different authentication, we can not handle them all.

[2019-08-22 15:06] ncskier commented on #78
In an effort to track all of the issues related to security, [issue45](https://github.com/tektoncd/triggers/issues/45) also mentions the GitHub hash authentication (number 2 in this issue). FYI @khrm 🙂

[2019-08-22 15:24] bobcatfish commented on #45
@vtereso what do you think about expanding this issue to be about authenticating against GitHub including hashing the payload ?

[2019-08-22 15:28] bobcatfish opened #80 "Add clear docs on how to set up TLS correctly for EventListener"
# Expected Behavior

@akihikokuroda brought up in #78 that in order to use triggers securtely, users need to use TLS for communication b/w the EventListener and the requester.

In further discussion it was agreed that this is up to the person setting up triggers:

However we should make this easy on the user by including in our docs (maybe install instructions?) at least recommendations / links ar

[2019-08-22 15:30] bobcatfish commented on #78
In the interests of organizing this a bit, I've turned this issue into an "epic" (visible via [zenhub](https://github.com/tektoncd/triggers/blob/master/CONTRIBUTING.md#zenhub-project)) with these issues in it:
- https://github.com/tektoncd/triggers/issues/80 to document setting up TLS
- https://github.com/tektoncd/triggers/issues/45 matching event headers / GitHub auth
- https://github.com/tektonc

[2019-08-22 15:31] bobcatfish commented on #78
And depending on how we decide to implement #45 we might want to bring in https://github.com/tektoncd/triggers/issues/49 as well

[2019-08-22 15:32] bobcatfish commented on #45
@khrm I've tried to group together issues related to this: https://github.com/tektoncd/triggers/issues/78#issuecomment-523956330

It sounds like for this issue our next step will be to create a design for how we express authenticating the caller.

[2019-08-22 15:35] vtereso commented on #35
From the WG discussion:

With the typing structure of Triggers, following references will likely be necessary for validation. For example, parameter validation of an `EventListener` trigger will need to cross reference the corresponding `TriggerTemplate` and `TriggerBinding`. Our validation function does not have access to a client, but it would likely be the best place to store this logic. The ad

[2019-08-22 16:12] EliZucker commented on #78
I tend to agree with @vincent-pli. This issue goes back to the discussion of how much event-specific code we want to build into the EventListener. Broadly, my understanding is that we want the EventListener to accept event-agnostic HTTP messages while hopefully allowing users to take in simple HTTP-native event messages (from services like Slack or GitHub) without a more advanced event-specific ad

[2019-08-22 17:47] akihikokuroda commented on #45
For the authentication, we can extend the Filter idea in https://github.com/tektoncd/triggers/issues/71 to run the (Tekton)task.  We need to create the TriggeringEvent pipeline resource that has the whole event header and payload.  The task authenticates the event using the resource and success or failure based on the result.
In this way, all the event source unique handling are in the task defini

[2019-08-22 17:59] akihikokuroda commented on #80
/assign

[2019-08-22 18:00] ncskier commented on #45
Interesting idea to use a Tekton Task to execute the validation 🙂 This sounds to me like an equivalent alternative to the conditionals being discussed in [issue49](https://github.com/tektoncd/triggers/issues/49). We could potentially use Tasks instead of Conditionals?

Also, just a thought; instead of creating an "event" PipelineResource to pass the event header & payload to the Task, could we pas

[2019-08-22 19:16] chhsia0 commented on #50
It seems that the conclusion of today's meeting is that we'll moving towards a solution that's similar to @vtereso's first proposal. For this direction, here's another potential proposal:
[code]
Pros:
* The interpolation syntax is consistent with `params`.
* No need for user to put `metadata: name: git-source-$(id)` in the template.
* No implicit $(uuid)
Cons:
* The uniqueness must be handled by t

[2019-08-22 19:40] khrm commented on #45
I thought we can have validation using conditionals. Just different pod for different providers. Like github pod, gitlab pod, etc.
So that if some other event source in future is needed, we don't need to change logic, just have a pod.

Why use tasks over conditionals, @akihikokuroda ?

[2019-08-22 20:14] akihikokuroda commented on #45
@khrm I thought it might not fit.  I might not understand the conditional correctly.  I'll look it, again.

[2019-08-22 20:20] #55 closed

[2019-08-23 00:41] vincent-pli commented on #78
Agree with @EliZucker
Just like `Knative/event-contrib`,  but seems recently there is a trend to move components in `Knative/event-contrib` to `Knative/event`, it make them heavier to adopt by us. so, I think we need consider create ours.

[2019-08-23 00:53] vincent-pli commented on #35
@vtereso
😓 Missing the WG meeting.
Right, validation function is the right place to do that, I will check it and back here later.

[2019-08-23 08:59] khrm commented on #45
Yea. I was thinking of doing the same.

@vtereso @akihikokuroda
But I am still in doubt about whether it's OK to have a taskrun / pipelinerun(which has conditions) every time a new event arrives to check for authentication before proceeding with creation of resources?

[2019-08-23 13:27] akihikokuroda commented on #45
@khrm I looked at the implementation of the condition.  The condition is executed as a task with one step in it internally.  https://github.com/tektoncd/pipeline/blob/830ffc26e6bee0a5d11ce95ec328b2ef448f00de/pkg/reconciler/pipelinerun/pipelinerun.go#L624
Using task explicitly may be more clear and easy to understand.

[2019-08-23 14:40] vtereso commented on #45
As far as the manifestation, I don't have particular feelings one way or the other. It seems like the `PipelineRun` reconciler is where the only place where `Conditions` are resolved into `TaskRuns`. Looking at this briefly, it seems like we would have to recreate some of this, which is less than ideal, but maybe not too bad? Otherwise, we could have a condition section that allows users to spec o

[2019-08-26 09:44] vincent-pli commented on #64
**Proposal**:
1. Design new kind:`TriggerExecutor`
[code]
`TriggerExecutor` will be create in controller of `EventListener`.   and set `Pipelinerun` ref in it for all `Pipelinerun` created in this event received.

2. Enhance `EventTemplate`
[code]
When creation, all resources in `EventTemplate` should:
- Set owner to `EventListener`
- If `DeleteAfterComplete` is true, set owner to `TriggerExecutor

[2019-08-26 13:29] vtereso commented on #64
I believe the next step being taken to address the resource proliferation is to embed `PipelineResources` within `PipelineRuns`, which will implicitly set the owner reference. I see here that [job controllers](https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/#ttl-controller), have taken a ttl approach to deletion as well. @bobcatfish seems like it would be relatively simp

[2019-08-26 13:51] vincent-pli commented on #64
Yes, but beside the embed case, `pipeline` also support original way.
and we also need to handle arbitrary resource deletion.

This is  a very draft solution, but I think we need consider the issue now, always welcome suggestion.

[2019-08-26 14:15] vincent-pli commented on #64
Yes, the upper proposal is based on the owner references.
For the cron job, hmm, to be honest, is a choice, but not attractive...

[2019-08-27 21:09] bobcatfish opened #83 "Restrict creation of Resources to just Pipeline Resources?"
# Expected Behavior

After discussing with @IMJasonH and @dibyom I'm thinking it would make sense to restrict the types of Resources a user can create with TriggerTemplates to just types that we know are needed for executing Tekton Pipelines (e.g. `PipelineResources`, `Conditions`, `PipelineRuns`, etc.).

I think this makes sense because:

- It's easier to expand the scope later than it is to rest

[2019-08-28 03:08] vincent-pli opened #84 "Define policy for modification of TriggerBinding and TriggerTemplate"
# Expected Behavior
`TriggerBinding` and `TriggerTemplate` are designed for reusing, that's means one single `TriggerBinding` will be shared by several `EventListener`.
So if modification occurred on `TriggerBinding` or `TriggerTemplate` what should related `EventListener` do?
- Ignore (dev env)
- Stop working and send notification to avoid potential exception (production env)

I think we should e

[2019-08-28 21:19] vtereso commented on #50
@chhsia0 With params, access it going through the key/name. In this approach, the key is technically `name` and the value is being used instead since `$(resources.name)` is ambiguous. A consistent interpolation syntax seems good, but everything in the domain is arbitrary to begin with and the expectation would be for people to read up on the docs. Thoughts?

[2019-08-28 21:25] vtereso commented on #50
@chhsia0 A consistent interpolation syntax is a good point, but in general, markup is relative where the expectation would be for people to read up on the docs. I don't really have much of an opinion one way or the other.

I made a PR for the `$(uid)` approach, but I could alter it to do the above. One advantage of this approach is that it keeps the yaml a bit smaller.

[2019-08-28 21:34] vtereso commented on #77
@pmorie I'm not too familiar with the distinction between users and service accounts. [This](https://kubernetes.io/docs/reference/access-authn-authz/authentication/) says:

Could you further explain how a user would have access to such a service account where it would be an escalation?

[2019-08-28 23:47] akihikokuroda commented on #13
@iancoffey I wonder if the getting start doc is the good place to put the reference to the create Webhooks doc?
https://github.com/tektoncd/triggers/pull/82#pullrequestreview-281061107

[2019-08-29 15:54] iancoffey commented on #13
@akihikokuroda Yes, this sounds like a good place to me!

I had been waiting for https://github.com/tektoncd/triggers/pull/74 to land before beginning this guide but an install guide sounds like a nice start.

[2019-08-29 16:01] akihikokuroda opened #86 "Create automated test for create webhook task"
# Expected Behavior
The create webhook task should be tested automatically

# Actual Behavior

The automated test for the create webhook task doesn't exist yet.  The task is created in this PR: https://github.com/tektoncd/triggers/pull/82

[2019-08-29 20:28] #47 closed

[2019-08-29 20:30] bobcatfish commented on #68
@vtereso if we agree that it isn't necessary, what do you think about moving this out of the 0.1 milestone and revisiting it later?

Alternatively I could settle for making it configurable and off by default like you said, but my preference is (always XD) to avoid adding functionality as long as we can until we're sure we need it.

[2019-08-29 21:23] vtereso commented on #68
I think it removing it from the milestone makes sense.

[2019-08-30 17:10] bobcatfish commented on #13
@iancoffey we've got #74 now!! :tada: :tada: :tada:

[2019-08-30 17:38] bobcatfish commented on #68
kk sounds good - thanks @vtereso !

[2019-08-30 21:04] bobcatfish opened #87 "Support for dynamic params to TriggerTemplates beyond just event values"
# Expected Behavior

It should (maybe!) be possible for users to provide values to `TriggerTemplate` from sources other than events

# Actual Behavior

A [TriggerTemplate](https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md) takes parameters, and doesn't need to worry about where those come from e.g.:

[code]

At the moment these values can be provided only by a [TriggerBindi

[2019-08-30 21:28] wlynch commented on #87
I like it!

Might be a noob questions, but would we need to explicitly list all fields in `outputs`? It seems like it would be great if we could treat the output of the step similar to the `event` in TriggerTemplates.

e.g. for the examples you gave above, being able to reference the ParamBinding in the TriggerBinding:
[code]

For filtering, this may not solve all problems since we might want to m

[2019-08-31 11:43] akihikokuroda commented on #86
/assign

[2019-08-31 14:53] akihikokuroda opened #88 "MakeTriggerBinding more reusable"
# Expected Behavior

The TriggerBinding should be reusable for the same event and the same pipeline.

# Actual Behavior

from https://github.com/tektoncd/triggers/issues/87

Users can provide **static** values to the TriggerTemplate by putting them to the params in the TriggerBinding instead of the attribute values in the event.

This method makes the TriggerBindings non-reusable in the same cases

[2019-09-03 13:23] ncskier opened #92 "Webhook pod crash loop "can't set finalizers""
# Expected Behavior
The Triggers webhook pod should not crash.
# Actual Behavior
The Triggers webhook pod crashes with these logs:
[code]
# Steps to Reproduce the Problem

1. Running on OpenShift
2. `ko apply -f config/`

[2019-09-03 13:26] vtereso commented on #83
I believe we already have the full scope since that is how it is implemented as per https://github.com/tektoncd/triggers/commit/c9537c0636218b51766dfc5dbab4db5bdbd0389d. If we wanted to restrict this to core tekton objects for the initial release, we could do so at the apiGroup/resource level.

[2019-09-03 14:01] ncskier commented on #83
Sorry, I'm a little late adding my opinion to this issue.

One benefit I see of not restricting TriggerTemplates to only Tekton resources, is that it decouples the Triggers project from the Pipelines project. So, if Pipelines creates new resources, or modifies its resources (which will happen in the future since it's still in alpha), the Triggers project might become broken from these changes, and

[2019-09-03 14:35] #92 closed

[2019-09-03 18:05] ncskier commented on #56
I think this was resolved under issue https://github.com/tektoncd/triggers/issues/55

[2019-09-03 18:05] #56 closed

[2019-09-04 09:56] khrm opened #95 "Bug: Error running admission controller on openshift"
# Expected Behavior
Admission controller should run without any issue.

# Actual Behavior
Admission controller fail to run
{"level":"fatal","logger":"webhook","caller":"webhook/main.go:107","msg":"Error running admission controller{error 25 0  failed to create a webhook: mutatingwebhookconfigurations.admissionregistration.k8s.io \"triggers-webhook.tekton.dev\" is forbidden: cannot set blockOwnerDe

[2019-09-04 09:58] khrm commented on #95
Oops. I was using older code with no finalizers in clusterrole. Closing the issue

[2019-09-04 09:58] #95 closed

[2019-09-04 14:17] vtereso commented on #50
The above has been merged, so hopefully that isn't too controversial. We can revisit this if necessary. Closing for now.

[2019-09-04 14:17] #50 closed

[2019-09-04 16:29] chhsia0 commented on #50
Sorry I missed this message. Yeah it's good to have something to start with. Can't wait to try it out :)

[2019-09-05 01:48] vincent-pli commented on #48
I think it should not set `ownerReferences` if the resource defined in `triggerTemplate` already has one.  In such case, we suppose the resource has the garbage collection mechanism, we should keep it.

[2019-09-05 01:48] vincent-pli commented on #48
/assign @vincent-pli

[2019-09-05 14:47] bobcatfish commented on #77
After investigating and thinking about this a bit more, I think the TL;DR is:

afaik @pmorie is pointing out that in our current design, if a user can create an EventListener (with a serviceaccount that can make PipelineRuns, read TriggerBindings, etc.), and you can create Pipelines + Tasks, they'll then have additionally the ability to:

1. Create Resources like PipelineRuns
2. Creating a Pipelin

[2019-09-05 14:49] bobcatfish commented on #77
haha i am bad at TL;DRs XD

[2019-09-05 15:24] khrm commented on #71
/assign

[2019-09-05 18:34] ncskier opened #97 "Error creating EventListener sink Deployment on OpenShift"
# Expected Behavior
When creating an EventListener resource, I expect an EventListener sink deployment & service to be created.

# Actual Behavior
When I create an EventListener resource, no sink deployment or service is created. This was on OpenShift. The triggers controller gave the following error:
[code]

# Steps to Reproduce the Problem

1. Running on OpenShift
2. Create an EventListener reso

[2019-09-05 19:38] vtereso commented on #77
Thought about this a bit more, but please correct me if I am wrong.

Since Triggers only allow you to create the resources specified with the template, it is the responsibility of the service account to specify the permissions, where there is no permissions issue*. The caveat here is that from those resources generated, reconcilers might do auxiliary processes. For example, the service account may

[2019-09-05 19:44] vtereso commented on #77
To this point, maybe pipelines should require the service account to be able to create pods if it doesn't so already?

[2019-09-05 19:55] vtereso commented on #88
I don't know if this solves https://github.com/tektoncd/triggers/issues/87 since it is just shifting the location of the default value, where values could have been statically defined the `TriggerTemplate`.

Since EventListener's aren't resuable, I think it make sense to delegate as much here as possible.

[2019-09-05 20:04] #97 closed

[2019-09-05 20:05] vtereso commented on #87
In the case of _creating_ a release, there is no event to process? A "manual" `TaskRun`/`Pipeline` could use whatever parameters necessary to do this. Alternatively, if a tag was added to the repository, a "tag trigger" could take this event information and work as current to upload a release?

[2019-09-05 20:13] vtereso commented on #84
@vincent-pli Thanks for raising this. I think this raises a few points to be considered:
- If updates are restricted, what about when either of these are deleted?
- Should we create reconcilers for `TriggerBindings` and `TriggerTemplates` to notify the `EventListener` about this sort of thing? If so, won't validation restriction this since modifying one of these resources at a time will invalidate

[2019-09-05 20:19] vtereso commented on #83
From the WG discussion, we seem to be aligned that restricting resource creation to the `tekton.dev` apigroup makes sense for a first release. TBD on implementation. Should we add a `ConfigMap` whitelisting the permissible apigroups for creation? Use an environment variable?

[2019-09-05 20:25] akihikokuroda commented on #88
@vtereso It is a different requirement. The param values come from different places for these issues.

[2019-09-05 20:47] dibyom commented on #38
Fixed in #52

[2019-09-05 20:47] #38 closed

[2019-09-05 20:59] dibyom commented on #71
From the WG today, we are already doing portions of this in #45 and #89 i.e. moving the validation away from `TriggerBinding` (thanks @khrm ) So, @bobcatfish suggested we close out this proposal and maybe open a new one in the future for Filtering only!

[2019-09-05 20:59] #71 closed

[2019-09-05 21:07] dibyom commented on #83
I think a `ConfigMap` makes sense! I'll take a stab at this

/assign

[2019-09-05 21:13] vtereso commented on #87
I think having additional parameters exterior to the event might be unavoidable though and we wouldn't want to ruin re-usability. To this point, the initial thought is to push more into the `EventListener` since it isn't reusable.

[2019-09-05 21:14] dibyom commented on #39
/assign

[2019-09-05 21:19] ncskier commented on #86
Fixed in #94

[2019-09-05 21:19] #86 closed

[2019-09-06 00:53] vincent-pli commented on #84
@vtereso Thanks for your comments.

This scenario is fatal error, should high light in the status of related `EventListener` immediately. The `pod` should keep running.

I prefer let controller of `EventListener` to watch `TriggerBinding` and `TriggerTemplate`.
In reconciler of `EventListener`, we could:
- Add specific tag to related `TriggerBinding` and `TriggerTemplate`, maybe the value of tag i

[2019-09-06 13:26] vtereso commented on #87
Also, this gets at the discussion of reusability in general and how much there really is. Spoke with @ncskier about this yesterday and a `TriggerTemplate` can only be as reusable as the resources it is templating (e.g. a `Pipeline`). I can easily be swayed to the pursuit of reusability, but I don't believe the case is as strong as with core Tekton. If tools like `tkn` or the skylark approach pick

[2019-09-06 15:47] vtereso commented on #12
@iancoffey For the current examples, I had only been asserting them against D4D, which is why people have run into permissions issues etc. Just for the sake of clarity, I think it would be great to include the environments tested in the docs/examples.

[2019-09-06 20:29] vtereso commented on #83
@dibyom The root README specifies:

Implementation specifics or otherwise, seems good to update this and potentially add some info other places.

[2019-09-07 05:47] TheJaySmith commented on #69
One thing we could do is recommend third party sources such as Google Cloud Scheduler, or easy cron.

also, you can declare cron jobs within [Kubernetes](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/).

[2019-09-09 05:33] vincent-pli commented on #35
To restrict that:
One `TriggerTemplate` should include at least one `Pipelinerun`, is that make sense?

[2019-09-09 13:27] vtereso commented on #35
@vincent-pli I don't think any verification of the params being used in the templates is necessary. In this way, I don't think we need to check for particular resources in the templates (e.g `PipelineRun`). What restrictions are you referring to?

[2019-09-09 13:29] ncskier opened #101 "TriggerTemplate resource should not need metadata.namespace"
# Expected Behavior
When a templated resource in a TriggerTemplate is created without specifying a namespace, I expect the resource to be created in the same namespace as the EventListener which triggered this creation.

Currently, one needs to specify the namespace as a parameter in the TriggerTemplate for resources to be created properly.

# Actual Behavior
When a templated resource is created w

[2019-09-09 13:45] vtereso commented on #101
/assign

[2019-09-09 14:42] vincent-pli commented on #35
Actually I want to find a signal which can express that:
`The process triggered by the coming event has done, then please collect the garbage if necessary.`
I think the status of `Pipelinerun` could play the role, so I think the restriction is needed.

[2019-09-09 16:38] dibyom opened #103 "EventListener reconciler fails service reconciliation"
# Expected Behavior
Reconcile should succeed.

# Actual Behavior
If we update an EventListener, the deployment reconciliation succeeds but the service reconcile fails with the following:

[code]

# Steps to Reproduce the Problem

1. Create an event listener
2. Update the event listener spec (e.g. modify the service account)
3. Look in controller logs for the failure

# Additional Info

/kind bug

[2019-09-09 16:39] dibyom commented on #103
/assign
/kind bug

[2019-09-09 16:51] ncskier commented on #64
It seems like we don't want to use the EventListener as the OwnerReference, because the EventListener is supposed to persist through multiple triggerings of resource creation.

So, I think that one cleanup mechanism could be to give every triggered resource a label using the $(uid) or an "event id." Then when a user wants to delete all of these resources, they can delete all resources with the $(u

[2019-09-09 18:19] ncskier commented on #35
I agree with @vtereso. I don't think that we should force users to trigger PipelineRuns (event though in most cases they will be doing this).

I don't think that we want to delve into parsing the status of a triggered PipelineRun at the moment. Currently, Triggers isn't concerned with the resources after they've been created, and I don't think we should complicate things by watching a PipelineRun'

[2019-09-09 19:26] ncskier commented on #88
Yes, currently a user is able to supply parameters for a TriggerTemplate in the TriggerBinding. I agree with Aki that not ideal because it means the TriggerBinding is no longer reusable (which was the goal of #55).

I agree with Aki that a good solution could be to have the TriggerBinding take input parameters and pass these in from the EventListener. I propose the following code refactor:

### Cu

[2019-09-09 19:28] ncskier commented on #88
/assign

[2019-09-09 20:10] #103 closed

[2019-09-10 00:54] vincent-pli commented on #64
@ncskier Thanks for your comments.

Please take a look at my previous comments: https://github.com/tektoncd/triggers/issues/64#issuecomment-524796225
It's similar to your second option.
I want to summary all the solutions here for further discussion:
1. Add label to resources with the content of `$(uid)` or `event id`, then let user delete resource by label. It's simple for implements and use, but

[2019-09-10 05:31] vincent-pli commented on #88
Could we resolve this by make `EventListener.Triggers.TriggerBinding` as a array, like this:
[code]

This could keep `EventListener` simple.

[2019-09-10 13:40] ncskier commented on #88
@vincent-pli If I understand correctly, you're proposing that we merge two TriggerBinding resources where one has static parameters, and the other has the event-parameters. While I like your intent of keeping the EventListener simple, I think this complicates the implementation and also the TriggerBinding type. Your proposal makes the TriggerBinding play a dual-role of (1) mapping event informatio

[2019-09-10 13:54] vtereso commented on #64
@vincent-pli Good point. One thing that may help however is that all labels cascade from the `EventListener` and also labels["app"] = el.Name, where any of these could be used for deletion.
[code]

[2019-09-10 14:04] ncskier commented on #64
Good point @vtereso, you could just use the label `app=eventlistenername` to delete all of the resources associated with that EventListener 👍

[2019-09-10 18:30] dibyom commented on #35
@vincent-pli as part of #83 , I'm adding some validation for trigger templates. Not verifying that the trigger templates contains a pipelinerun but verifying that it contains at least one resource template and at least one param

[2019-09-10 18:39] ncskier commented on #35
@dibyom I understand wanting to have at least one resource template, but I don't think that we should force the user to have at least one param. I could potentially see a use case where someone would want to trigger something without reading any of the event information, and I don't think we get much by forcing the user to have at least one param.

[2019-09-10 19:10] dibyom commented on #35
Good point, no params might be useful for Cronjobs/periodic pipelineruns among other things!

[2019-09-10 19:54] #101 closed

[2019-09-11 00:51] vincent-pli commented on #88
@ncskier Thanks for your comments.
I agree with you the proposal will complicates the implementation.
but can get one benefit , for example:
User could put all static information in one single `TriggerBinding`, the information such as:
- dockerRegistry
- docker token
- git registry
- git token
- kube config path

and use it in every `EventBinding`, no need do the copy-paste work.

[2019-09-11 13:16] vtereso commented on #88
I can see why this could be attractive in some way, but I believe it complicates things more than clarifies. Likely, we should create two different explicit types within the `EventListener` trigger, one for static and one for dynamic values. Otherwise, it would appear you could have as many `TriggerBindings` as you would like. In this scenario, I would prefer passing the variables in from the `Eve

[2019-09-11 13:31] ncskier commented on #88
Thanks @vincent-pli, I agree that it might be helpful to reuse static input values. My issue is with using the TriggerBinding to specify these inputs, because it gives the TriggerBinding a dual-role. I think it would be more clear to create a new type or use a ConfigMap to store these parameters instead of using the TriggerBinding.

However, to keep things simple for now, I would like to try to im

[2019-09-11 14:06] khrm opened #107 "Aggregate roles to built-in clusterroles"
# Expected Behavior
Service Accounts having admin or edit clusterrole should be able edit triggerbindings, eventlisteners and triggertemplates. Service Account having view should be able to view triggerbindings, eventlisteners and triggertemplates.

# Actual Behavior
Currently, operation fails for such account, e.g.:

[code]

# Steps to Reproduce the Problem
Run `kubectl get triggerbindings` from

[2019-09-11 14:06] khrm commented on #107
/assign

[2019-09-12 00:52] vincent-pli commented on #64
@vtereso I think it's a good idea, I will update the #96
For the option 3, I think we need more further discussion.

[2019-09-12 10:18] a-roberts opened #109 "Example folder would benefit from a readme"
# Expected Behavior
I should be able to use triggers easily applying the example resources after installing it

# Actual Behavior
I've got it all running and now I'm scratching my head, so let's add an overview and perhaps an example curl with a POST in

Juicy looking code https://github.com/tektoncd/triggers/blob/master/pkg/sink/sink_test.go#L304

[2019-09-12 10:21] a-roberts opened #110 "Webhook yaml shouldn't utilise microclimate-utils image"
# Expected Behavior
We should find an image (ideally built from open-source, Microclimate isn't and I used to work on it!) that we can use instead, ideally one that's maintained for us so won't have CVEs/need to be refreshed etc

# Actual Behavior
It does 😢

# Steps to Reproduce the Problem

1. Have a look at https://github.com/tektoncd/triggers/blob/master/docs/create-webhook.yaml#L55

@akihikoku

[2019-09-12 10:34] a-roberts opened #111 "Implement EventListener response codes (e.g. bad request on empty)"
# Expected Behavior
If I curl my event listener with no data, I should get back an error that I've sent it a bad request - and be told what the format should be. Noticed this when working https://github.com/tektoncd/triggers/issues/109 (figuring out what data I should be sending and for fun, sending nothing to see what I'd get back)

# Actual Behavior
I get an empty response and a return code 200

[2019-09-12 11:01] a-roberts opened #112 "Add logging for handling events"
# Expected Behavior
We should provide useful logging in https://github.com/tektoncd/triggers/blob/master/pkg/sink/sink.go#L43 (in my case I had a PipelineRun and PipelineResources created, it just wasn't immediately obvious to me - and tailing the listener logs didn't give me any clues

# Actual Behavior
I expect to see, for example: created PipelineRun named x with PipelineResources (a, b, c)

#

[2019-09-12 16:38] #109 closed, assigned to a-roberts

[2019-09-12 19:02] dibyom opened #114 "EventListener Service type should not be hardcoded"
# Expected Behavior

Currently, the service object created by the EventListener controller is of type LoadBalancer. This is really nice for getting started quickly since (at least for GCP) you get a public IP that you can use to talk to the Event Listener sink very easily.

However, this may not be the behavior that everyone wants. Cluster operators/Tekton admins may have different requirements on

[2019-09-12 19:05] dibyom opened #115 "Setup a release pipeline for Triggers!"
# Expected Behavior

We should have a Task/Pipeline for releasing Triggers. We can probably reuse parts of the Pipeline release task/pipeline.

# Actual Behavior

We do not have anything at the moment

# Additional Info

https://github.com/tektoncd/pipeline/tree/master/tekton#release-pipeline

[2019-09-13 15:34] ncskier opened #117 "Create a working validate example"
# Expected Behavior
Now that https://github.com/tektoncd/triggers/pull/89 has been merged, Triggers has the capability to validate http POST events. For someone learning about Triggers, I expect there to be example YAML files that I can apply to create a working example of this validation.

# Actual Behavior
There is nothing in the `examples/` directory that creates an EventListener with working v

[2019-09-13 16:15] khrm commented on #117
/assign khrm

[2019-09-13 16:15] akihikokuroda commented on #110
https://github.com/tektoncd/triggers/pull/99 include the changes.

[2019-09-13 16:27] ncskier commented on #117
Thanks for picking this up @khrm! 🙂

[2019-09-13 17:58] ncskier commented on #117
@vtereso pointed out that the [validate-event.md](https://github.com/tektoncd/triggers/blob/master/docs/validate-event.md) page has a static example, so under the issue, please update the page to use your new validation example with `` and run `./hack/update-docs.sh`

[2019-09-13 18:03] akihikokuroda commented on #117
The validate-github-event.yaml has issue https://github.com/tektoncd/triggers/pull/119

[2019-09-13 18:09] iancoffey commented on #13
Pardon the delay on this! I have a good start here and should push something for yall to validate this coming week.

[2019-09-13 19:27] dibyom commented on #115
/assign

[2019-09-16 16:50] dibyom commented on #114
Closed via #116

[2019-09-16 16:50] #114 closed

[2019-09-17 14:46] a-roberts commented on #110
Thanks all, closing 😄

[2019-09-17 14:46] #110 closed

[2019-09-17 16:24] ncskier commented on #78
Waiting for documentation from @vtereso to close out this issue

[2019-09-17 16:26] ncskier commented on #45
Follow up with @iancoffey for documentation of Validation.

[2019-09-17 16:26] #45 closed

[2019-09-17 17:36] ImJasonH commented on #64
I think we want to consider some solution that persists the state/history of runs off-cluster, at which point it's safe to delete it from the cluster (or mark it for eventual later deletion).

The system for persistent off-cluster storage/indexing isn't designed yet, but I believe it would solve this and many other problems in a CI/CD system, like tracking the success of a continuous build over ti

[2019-09-17 18:20] vtereso commented on #49
Current status from WG: We have already integrated [validation of Triggers using tasks](https://github.com/tektoncd/triggers/pull/89), which validates the event source. This issue should create a separate conditions (plural) field for the event trigger for the following reasons:

- In order to allow for reusable components, we wouldn't want to combine validation with potentially multiple condition

[2019-09-17 18:24] vtereso commented on #49
Whoever picks this up should also add the test builder(s) for the validation task fields within the `EventListener`

[2019-09-17 19:43] #48 closed

[2019-09-18 15:17] dibbles opened #124 "Propagate an eventid label to resources created in response to an event"
Proposal to add a label to all resources created in response to an event with the same label, for example:

labels:
  triggers-eventid: 12345

this would enable items to lookup other artefacts created in response to the same event.  For example, a github webhook triggers the event listener causing 2 pipelineruns to launch (2 separate trigger templates) and a monitor taskrun to launch (a 3rd trigge

[2019-09-18 15:37] #115 closed

[2019-09-18 15:43] ncskier commented on #124
Thanks for creating this issue @dibbles! I think that this is an important use case for us to consider where we're orchestrating work across multiple TriggerTemplates.

This `eventUID` sounds very similar to the `$(uid)` interpolation variable we currently have in the [TriggerTemplates](https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md). One suggestion I have is to treat th

[2019-09-18 17:49] skaegi commented on #83
Gulp -- I'd like to be able to create Secrets too. e.g. the event contains information that I use to create a Secret needed later in my pipeline.

[2019-09-18 19:12] vtereso opened #125 "Pod proliferation problem using Triggers with many webhooks"
# Expected Behavior
ValidationTasks allow events to be properly validated, which gates `EventListener` Triggers

# Actual Behavior
This works "as intended" assuming low traffic, but with potentially many Triggers on an `EventListener`, this will start a validate `Task` for every single Trigger on the the `EventListener`, which can currently be the source of multiple event sources resulting in a lo

[2019-09-18 19:40] skaegi commented on #88
Would it ever be desirable to inline and altogether do without the separate binding?
e.g.
[code]

A common way I would want to use this is to add additional params that I can use in the template that are not necessarily defined in the binding.

[2019-09-18 20:28] ncskier commented on #88
@skaegi

The only case I can think of where you wouldn't want a TriggerBinding is for a Cron job, or something where you don't care about the event payload. Otherwise, you would want to pass event information to your PipelineRun/TaskRun/PipelineResource requiring a TriggerBinding.

This is interesting; in your use case is there a reason why you wouldn't want to define the parameters in the Trigger

[2019-09-18 21:07] vtereso opened #126 "Params without defaults"
As per discussion on [this PR](https://github.com/tektoncd/triggers/pull/123), perhaps it is more explicit/better separation to _only_ allow for static parameters to be passed from the top level `EventListener`. Should we find sensible, remove the default field within the `TriggerBinding` input parametes and/or the `TriggerTemplate` params.

[2019-09-18 21:08] #88 closed

[2019-09-19 08:01] khrm commented on #49
/assign

[2019-09-19 10:25] dibbles commented on #125
@vtereso I'm not sure I exactly follow what is it you are specifying here - but I think this in relation to conversations we were having yesterday about "pod proliferation"

I think what you are saying is "only start one instance of the validate task/pod" and use an underlying service from that validate pod to report back for each of the triggers?  Is that right?

Do you know if the plan is to all

[2019-09-19 11:03] khrm commented on #125
At present, you could have Github and Gitlab combined in a single one.

I don't think this would solve. Won't during validation you will have to create pod anyway?

I think what @vtereso want is just one source for an event listener. So that we have just one 'pod' which communicates with EventListener during validation.  Not using tasks or conditionals.

We could use a side car for validation?

[2019-09-19 12:52] vtereso commented on #125
@dibbles Yes, this was in relation to yesterdays call after thinking it through more. Essentially, this change enforces a kind of contract where each event source (e.g. a webhook) must have a different `EventListener`. The underlying `EventListener` reconciler currently creates a service and deployment (the listening pod), where this is a unique service/domain that each event would be sent. This w

[2019-09-19 12:59] vtereso commented on #125
One consideration to also consider is that with the case of GitHub, someone could create multiple different webhooks on a repository, where this would probably mean one of two things:
- All the webhooks would need the same secret
- Also have one `EventListener` for each of these distinct webhooks on the repository.

[2019-09-19 13:07] khrm commented on #125
We really can't force user to have one webhook or secret.
Third makes sense.

[2019-09-19 13:14] vtereso commented on #125
This also enables people to provides their own intermediary adapters/services that can do authentication more efficiently (not spinning up tasks) where the listener could validate by a white-list ingress.

[2019-09-19 14:59] ncskier commented on #125
It seems to me like the questions at the core of this issue are:
### 1. Is it "bad" to have one EventListener for each webhook (when I have many webhooks)? Why is it "bad"?
  - This could create many idle EventListener sink pods
  - Define what is too "bad" to use
### 2. Is it "bad" to have many `triggers` in one EventListener? Why is it "bad"?
  - This could spawn many Validation tasks (and/or Fi

[2019-09-19 16:03] vtereso commented on #125
@ncskier Well put. The way I wrote the issue was from the frame of enforcing the first perspective you listed. I'm cool with whoever changing the issue name?

[2019-09-19 18:05] dibyom commented on #125
Thanks @ncskier I agree we should tackle 1. and 2. separately.

To me 2. is the more immediate problem. As @vtereso and @khrm suggested, we could change the interface for the validation from a task that is run per event to something more long running.

One idea -- the interface for the validation could be an objectReference to another Addressable. Something like how EventSources in knative/eventin

[2019-09-19 18:48] ncskier commented on #126
@vtereso does https://github.com/tektoncd/triggers/pull/127 close this issue? Or is there still more discussion that you want to have about removing `default` from TriggerTemplate parameters?

[2019-09-20 01:18] vtereso commented on #126
Yeah, I would keep it open for discussion about `TriggerTemplate` defaults.

[2019-09-22 16:53] akihikokuroda commented on #124
/assign

[2019-09-23 09:16] dibbles opened #132 "EventListenerTrigger should have a Name property"
# Expected Behavior

I expect to be able to easily identify different triggers within an eventlistener.   I would propose that each trigger have a Name, thus I can easily find an entry I want to delete in the situation where only a parameter value differs between multiple entries

# Actual Behavior

If I have multiple entries in an eventlistener using the same triggerbinding and triggertemplate bu

[2019-09-23 10:09] khrm commented on #132
/assign

[2019-09-23 12:37] akihikokuroda commented on #124
PR: https://github.com/tektoncd/triggers/pull/133

[2019-09-23 16:07] khrm commented on #132
@dibbles Are you looking for something like this: https://github.com/tektoncd/triggers/pull/134

[2019-09-24 13:52] iancoffey commented on #13
I have opened an early WIP pr here and should have the branch done this week -> https://github.com/tektoncd/triggers/pull/135

Since there are several good documents in this repo already, the idea behind this guide is to focus on making sure an operators first real Triggers project starts off well by building a real system. It will use the webhook task and highlight the RBAC aspect of the triggers

[2019-09-24 18:09] #117 closed

[2019-09-24 19:34] #132 closed

[2019-09-24 20:09] dibyom commented on #125
Expanding on my comment above after playing around with knative-eventing's Github source and chatting with @dlorenc....I'll compile these into a proper design proposal but in the meantime what do folks think about the following?

[code]
The syntax is similar to Knative [EventSource](https://github.com/knative/eventing-contrib/blob/master/github/samples/githubsource.yaml#L30) sinks i.e the objectRe

[2019-09-25 12:09] khrm commented on #125
Yes, I would also like them at the trigger level. My reasoning is because I don't have too many event listeners pod. The same listener can be used for multiple triggers easily.

Pass secret name and key/s Name alongwith Event Body and Headers? It would be responsibility of interceptor to have access to value of secrets from key and name but interceptor would need access to all those secrets.

[2019-09-25 17:07] khrm opened #136 "Should Trigger be a separate Custom Resource"
# Expected Behavior
Trigger inside Eventlistener feels like an independent cr. It has template ref, binding, param, and name. Latter of which seems to be better off with having an ObjectMeta based on the usecase for which it is added.
If listener have just ref to trigger and trigger is a separate cr, then various operations on triggers can be easily done using verbs.
# Actual Behavior
At present,

[2019-09-25 17:08] khrm commented on #136
/assign

[2019-09-25 17:20] khrm commented on #125
Also, would tasks based approach would face the same problems with conditionals/filtering?
I have no idea whether after the validation step, we would same webhook being used to execute many triggers.

[2019-09-25 17:47] dibyom commented on #136
So, I think initially we had many of these inside a TriggerBinding and then we extracted them out to make the bindings more reusable/have each CR be responsible for one thing.

I like the idea of not having to patch event listeners if we have to modify a trigger. Though it might make sense to embed trigger specs in an EL spec as well to reduce the number of things we have to create or for getting

[2019-09-25 18:20] vtereso commented on #136
Yeah, I do agree making updates to the Trigger definition is tedious as things stand. In contrast, this does allow for the sink to iterate over the triggers within an `EventListener` without having to make additional API calls. I think this has merit, but we should probably wait until things are slightly more stable before making this decision.

[2019-09-25 18:22] vtereso commented on #136
I am biased towards less resources until we see a strong case in terms functionality one way vs the other. With less resources, there is less burden on the user and there is less to go wrong.

[2019-09-25 21:04] vtereso opened #137 "Update EventListener Reconciler"
Before https://github.com/tektoncd/triggers/pull/70, on reconciliation we would [check the existing resources against the intended resources](https://github.com/tektoncd/triggers/blob/f4ef2ffa611c3d2bcd9d2400bf94b51646b231fc/pkg/reconciler/v1alpha1/eventlistener/eventlistener.go#L152), which should always result in an update since the internal resources never have the defaults set by the K8S API s

[2019-09-25 21:08] vtereso commented on #137
Also note, that currently we have an informer on Deployments/Services that is doing a pass through to the `EventListener` reconciler, which would be unnecessary with the above.

[2019-09-26 02:55] vtereso commented on #125
When speaking with @dibyom, I think he made good points regarding this. We wouldn't want to use pods for validation one way or the other because if bogus requests are received, this could easily DOS/overload the cluster. However, for verified payloads, these filter pods should be relatively light weight and probably ok.

[2019-09-26 12:14] iancoffey commented on #136
I agree with this, but am also open to the idea if it proves to make life easier for operators.

[2019-09-27 00:36] vincent-pli commented on #137
@vtereso
I just back from another project, maybe missing some discussion.
I wonder to know why `Controller` of `EventListener` take the responsibility like a `webhook ` for resources (deployment, SVC)?

I think we just need make sure the resources are existed, no need to guarantee them from destruction with intent.
Maybe I missing something 🤔

[2019-09-27 01:02] vincent-pli commented on #125
@dibyom

So, is this idea out?

[2019-09-27 13:01] #124 closed

[2019-09-27 13:21] vtereso commented on #137
Ideally, the reconciler would only propogate changes from the `EventListener` downward into the `Service` and `Deployment`. However, since the `Deployment` status can be updated, we need the informer to enqueue the `EventListener` reconciler to get this updated status. I believe the only manual configuration we want to permit would be scaling the replicas on a `Deployment` so this too would trigge

[2019-09-27 13:25] vtereso commented on #137
The above would be a nice to have I suppose. Initially I was trying to use one of the K8s libraries to default the values for the Deployment internally, but our locked versioned don't necessary coincide with the K8s environment. However, using https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run should achieve the intended result and at least cleans up the ugly code portion of this

[2019-09-27 13:28] vtereso commented on #54
@dibyom I created https://github.com/tektoncd/triggers/issues/137 to further refine the `EventListener` reconciler, which ties into the status. However, do you think https://github.com/tektoncd/triggers/commit/ce67d51f4c605ba6d8b152bea0ec09c9b9ae76c0 is sufficient to close this out?

[2019-09-27 13:49] iancoffey commented on #125
@vincent-pli fwiw - what you describe is how use this project. I will likely never have an EventListener exposed outside the cluster for security issues - everything gets processed and validated up front (and converted to CloudEvents) and the listener is only used locally. This pattern works really well so far. Hopefully whatever we land on doesn't exclude our ability to make use of this pattern.

[2019-09-27 15:28] dibyom commented on #125
Exactly what @iancoffey said! You can always use knative-eventing in front to do all your event processing and then forward those to triggers.

We just did not want that to be the only way to use triggers i.e. we wanted a alternative for users who did not necessarily want to take in all of knative-eventing as a dependency. So, we added this optional task/interceptor bit to do event processing for

[2019-09-27 15:59] dibyom commented on #54
Sounds good to me!

[2019-09-27 15:59] dibyom commented on #54
/close

[2019-09-27 15:59] #54 closed

[2019-09-29 06:03] vincent-pli commented on #125
Thanks for clarification, I think that's make sense.

Seems the `interceptor` not only do the `validation`, maybe do the `mutating` or whatever (converted to CloudEvents).
Looks like what `eventsource` did in `knative-eventing`,  do we have plan to setup some `buildin` `interceptor`, for example `github interceptor` or whatever.

Hum, could we just let user write their `eventsource`? it's just my

[2019-09-29 07:05] vincent-pli commented on #84
Summary the solution here:
1. In `reconcile` of `EventListener` add specific tag to `TriggerTemplate` and `TriggerBinding`.
2. Record the `Generation` of `TriggerTemplate` and `TriggerBinding` to the `EventListener.status.generations`
3. Watch the `TriggerTemplate` and `TriggerBinding`, when update occurred, the related `EventLister` (find by the label added in step 1) will enter the `work queue`.

[2019-10-01 19:23] #39 closed

[2019-10-02 01:15] cc189 commented on #69
This feature will be very handy!
Maybe we can add
- `schedule` filed in `EventListener`'s spec
- `lastTriggeredTime` field in `EventListener`'s status

[2019-10-03 19:34] #83 closed

[2019-10-04 10:39] CarolynMabbott opened #142 "Following example instructions gives me 2 listener pods - examples broken as cant follow instructions"
Followed the instructions in example/README.md
I created the resources for the example by following instruction No 1

This gave me 2 listener svc and 2 listener pods
Both were cerated at the exact same time and then when trying to port forward in step No 4 it breaks as there is 2 pods called listener on the same port with a label called listener

This happens when when you apply `kubectl apply -f

[2019-10-04 13:30] CarolynMabbott opened #143 "eventlistener is poisoned by the validate in the example"
The example is broken
By taking the validate step out of the event listener then the example works again

[2019-10-04 20:36] dibyom commented on #83
So, chatted with @vtereso and here is what we are thinking:
* We'll keep the static restriction for 0.1

* In the future we'll add two checks:
1. does the EventListener ServiceAccount have access to the Resources in the template?

2. does the user creating the EventListener have access to the Resources in the template as well as the EventListener ServiceAccount?

Once we have these two checks we'l

[2019-10-06 14:58] akihikokuroda opened #145 "EventListner service name is a generatedName"
# Expected Behavior

Event listener service name should be the name of the event listener so that it can be addressed easily in the cluster.

# Actual Behavior

The event listener name has been changed to the generatedName.  It can be obtained from the status of the event listener resource but it is not necessary to be the generatedName.

# Steps to Reproduce the Problem

1.
2.
3.

# Additional In

[2019-10-06 16:22] akihikokuroda opened #146 "Eventlistener service not associated with correct listner pod / deployment"
# Expected Behavior

The event listener service is associated the corresponding event listener pod / deployment.  The event sent the event listener service should be sent the right event lister pod / deployment.

# Actual Behavior

The event listener service is associated with the corresponding pod / deployment by the selector labels but the pod / deployment for the event listener doesn't have a u

[2019-10-07 13:17] vtereso commented on #145
I made this change since the reconciler currently reconciles the service and deployment state against the `EventListener` name. If there was already a service/deployment existent with the same name as the `EventListener`, we would rewrite its defintion.

[2019-10-07 13:29] akihikokuroda commented on #145
I think it should be overwritten.  If the EventListner service with the same name  as the EventListener exists, it's like a phushing

[2019-10-07 14:28] dibyom commented on #146
Hmm, I thought we added the eventlistener name as a label as well

[2019-10-07 15:17] vtereso commented on #145
@dibyom @ncskier Thoughts? I know it makes things slightly more cumbersome, but I also don't think it's too bad to get the service name (done [here](https://github.com/tektoncd/triggers/blob/master/test/e2e-tests-ingress.sh#L71)). When we pull the service name from the `EventListener` status, we can be certain that is up. I feel that collisions could occur if someone had an application and they us

[2019-10-07 15:31] vtereso commented on #143
The validation task should be replaced with the interceptors with https://github.com/tektoncd/triggers/pull/140

[2019-10-07 15:40] dibyom commented on #145
Could go either way on this one. I think the status should be the definitive place that contains the deployment/service instead of us relying on conventions.

How common is the collision case of an existing deployment/service having ? Instead of overwriting, can we just return an error and refuse to create the service/deployment?

[2019-10-07 15:46] dibyom commented on #145
FWIW, this pattern exists elsewhere...when I create a new GithubSource (e.g. the githubsource-sample) , the deployment that gets created seems to be a generated name: ` githubsourcesample-46hb2-xn4dn-deployment`. The service name is: `githubsourcesample-46hb2-xn4dn`

[2019-10-07 15:47] akihikokuroda commented on #145
If this is the design, the creation of the ingress and the webhook become complicated.  It must wait until the event listener service is created.   The create ingress and webhook docs must be changed.

[2019-10-07 15:50] akihikokuroda commented on #145
The issue is the service name.  The service name is a name used to refer to the service.  It must be well known name.

[2019-10-07 15:53] #146 closed

[2019-10-07 16:35] dibyom commented on #145
In the getting started PR at least, the event listener gets created first and then the ingress/webhook. If that is the flow we recommend, the webhook/ingress task can take the EventListener name as input as figure out the service name from the el Status?

Yeah, I guess I think this comes back to what is the API that the event listener exposes. The service name seems to be part of the API; whether

[2019-10-07 18:23] dibyom commented on #145
Ok, I think I understand the Ingress problem. If you create and recreate the event listener now, you will also have to rerun the ingress task since the service name is not deterministic anymore. Is that accurate @akihikokuroda ?

[2019-10-07 18:30] akihikokuroda commented on #145
Yes, that's a part of issue.  It annoys the user :-)   I like the prefix idea.  It makes less conflicts and easy to understand for the user.

[2019-10-08 13:38] vtereso opened #149 "Access Headers Within TriggerBinding"
# Expected Behavior
The `TriggerBinding` should allow parameters to be bound to the headers.

# Actual Behavior
Currently, only the payload can be bound to using the `$(event.X)` interpolation

[2019-10-08 13:41] ncskier commented on #149
How's the syntax `$(header.X)` and `$(body.X)` look?

[2019-10-08 19:00] dibyom opened #153 "Document how to expose EventListeners to the world"
A guide with all the options on exposing EventListeners:
1. Using the default Ingress
2. Using Nginx Ingress
3. Using a system like knative/eventing

[2019-10-08 19:06] #145 closed

[2019-10-08 20:21] dibyom opened #155 "Release process for gh-validate binary"
# Expected Behavior
The github-validate binary is different in that it is not installed by default (i.e. no YAML in the config/ folder references it). So by default it will not be published. We should modify the release task to publish the binary as well.

# Actual Behavior
We have to manually publish the binary

[2019-10-09 18:41] dibyom commented on #143
Closed by #150

[2019-10-09 18:41] #143 closed

[2019-10-09 20:52] dibyom opened #158 "Interceptors Need Trigger Information"
# Problem
The current `gh-validate` binary that is used as an EventInterceptor is very basic. For each request that comes in, it validates the [webhook payload](https://developer.github.com/webhooks/securing/#validating-payloads-from-github). To do this, it uses a single static webhook that is passed as an [enviornment variable](https://github.com/tektoncd/triggers/blob/master/examples/event-inter

[2019-10-10 01:35] vincent-pli opened #161 "Check the rules in specific namespace in webhook when creating `EventListener`"
# Expected Behavior
Check the `rules` for specific namespace when webhook received `EventListener` creating request. if the `rules` is not satisfy the webhook will raise exception immediately rather than leave it to event receiver.

# Actual Behavior
No exception when `EventListener` created, will raise permission denied when event arriving.
# Steps to Reproduce the Problem

1.
2.
3.

# Additional

[2019-10-10 10:42] a-roberts commented on #158
I think this has came about based on the discussions @dibbles and I had with @vtereso and yourself @dibyom so this proposal is certainly welcome and necessary for the work we'd like to do moving off Knative in favour of using Triggers.

Specifically, we don't want *every* Trigger to be kicked off when a webhook event occurs (e.g. a Git push), and we only wish to have one EventListener we will be u

[2019-10-10 10:58] dibbles commented on #158
Agree with @a-roberts (but then we did have a chat about this, so no big surprises there).  I would add that:

- passing the trigger name would allow the logging system of the interceptor service to clearly highlight which decisions where made for which trigger - or at least log information that can be tracked to decision making for a specific trigger

- making both the request body and headers av

[2019-10-10 12:44] vtereso commented on #158
/assign

[2019-10-10 15:44] iancoffey opened #164 "Fix or delete E2E Docs Tests"
Currently, we try to run all the manifests in docs just like Pipelines, but this wont really work with the getting started guide stuff as-is and arguably isnt as great a fit with Triggers docs in general. It seems like a manifest yaml validation and maybe a kubectl --dry-run test might be a better fit.

They were commented out in https://github.com/tektoncd/triggers/pull/135, and so we should cons

[2019-10-10 18:14] dibyom commented on #158
This sounds a lot like Filtering/Conditionals which I think @khrm  is working on in #49 :smile:

I agree! We should definitely add this.

Indeed! So, how does the user flow work for dashboard? The user specifies the secretKey and the secretRef and we either store that in the eventlistener (using the new header/params) or in a configMap (with a key that references the trigger name)?

Another idea I

[2019-10-10 19:35] wlynch opened #165 "Make TriggerBindings optional for EventListeners"
# Expected Behavior

Don't require a TriggerBinding for EventListeners. If it is not defined, assume there are no bindings.

# Actual Behavior

EventListener fails (not during creation, during runtime) with the error:

[code]

This error is visible in the event listener pod logs.

# Steps to Reproduce the Problem

Sample event listener (adapted from https://github.com/tektoncd/triggers/pull/162/co

[2019-10-10 20:00] wlynch commented on #165
/assign wlynch

[2019-10-10 21:29] #158 closed

[2019-10-11 15:33] a-roberts opened #169 "Proposal to add arbitrary labels for generated resources"
# Expected Behavior
@dibbles and I have been pondering how to see what PipelineRuns/Pipelineresources were created by certain triggers (for our use case, so we can monitor them and report on GitHub if the Tasks all passed)

Example labels would be, for example, the Git repository URL, branch, the trigger name, any other params etc

# Actual Behavior
This isn't here atm

[2019-10-11 15:42] a-roberts opened #170 "Proposal to add pre/post interceptor hooks"
# Expected Behavior
It'd be useful to be able to run something (perhaps a Notification?) once the validator task has passed (or perhaps just before)

A specific use case we're thinking of is that, assuming the interceptor passes, kick off another PipelineRun/PipelineResource/Trigger that monitors kicked off PipelineRuns with a certain label (which would be implemented as part of https://github.com

[2019-10-11 20:45] #165 closed

[2019-10-15 16:25] vtereso commented on #69
Closing for now thanks to https://github.com/tektoncd/triggers/pull/162

[2019-10-15 16:25] #69 closed

[2019-10-15 16:27] vtereso commented on #87
@bobcatfish Do you feel that this has been "solved" by adding interceptors as well as static parameters in the `EventListener`?

[2019-10-15 16:40] wlynch opened #176 "Proposal: Allow multiple TriggerBindings in Triggers"
# Expected Behavior

Allow triggers to be composed from multiple trigger bindings.

Motivating example: Have one trigger binding that extracts relevant parameters from the incoming event and provide a second binding that provides environment specific parameters (e.g. where to run/deploy).

Example:

[code]

# Actual Behavior

Triggers only allow specifying one TriggerBinding.

# Additional Info

T

[2019-10-16 14:59] ncskier opened #178 "Support JSONPath syntax for variable extraction in TriggerBindings"
# Expected Behavior
A user should _intuitively_ be able to specify a [`body`](https://github.com/tektoncd/triggers/blob/master/docs/triggerbindings.md#body) parameter to point to a piece of data in their HTTP request JSON body.

# Actual Behavior
Currently, the Triggers project is using the [gjson](https://github.com/tidwall/gjson) library because it makes it easy for us to search the JSON for a s

[2019-10-16 15:18] dibyom commented on #178
JSONPath definitely seems more popular and is definitely used in other parts of k8s (e.g. kubectl supports it)

[2019-10-16 15:25] kav commented on #178
My inclination as a user would be to match standard json syntax  _unless_
1. The expressiveness of the querying capabilities is an important feature here and throughout Tekton (or even just Triggers)
1. gjson is standard elsewhere in the Kubernetes or even Tekton ecosystem

Those are true perhaps updating the regex to catch `[` and `]` and report to the user that they might want to read about gjso

[2019-10-16 15:50] dibyom commented on #125
@vincent-pli sorry missed your comment.

yes! similar to event source receive adapters in knative

Yes! we include a default github one though I think

Since you can always use a eventsource in front of triggers with the sink set to the event listener. And I think you should be able to use the recieve_adapter part of the event source as an interceptor

[2019-10-16 15:51] #125 closed

[2019-10-16 19:10] ncskier commented on #176
Right now the EventListener can specify constant parameters ([example here](https://github.com/tektoncd/triggers/blob/master/examples/eventlisteners/eventlistener.yaml#L14)). It seems to me like this proposal would store these parameters in a separate TriggerBinding instead. This same idea was proposed by @vincent-pli when we first introduced parameters into the EventListener. I was previously hes

[2019-10-16 19:20] ncskier commented on #178
From some quick searching, I didn't find any JSONPath Go libraries with a lot of support.

The one that seemed to fit and had the most stars was https://github.com/oliveagle/jsonpath, but it says `this library is till bleeding edge, so use it at your own risk. :D` (which is a typo) 😅

https://github.com/buger/jsonparser seems to be more popular, and does not require us to know the structure of the

[2019-10-16 19:29] ncskier commented on #13
#135 is merged, so closing this issue.

[2019-10-16 19:29] #13 closed

[2019-10-17 14:55] dibyom commented on #35
Closed by #160

[2019-10-17 14:55] #35 closed

[2019-10-17 14:56] #12 closed

[2019-10-17 14:56] #33 closed

[2019-10-21 12:31] akihikokuroda commented on #178
I like the JSONPath better.  Can we add a flag for the syntax and support multiple libraries?

[2019-10-21 13:28] ncskier commented on #178
I think it'd be best to stick to one syntax (and one library) to avoid confusion & more convoluted code.

From the discussion here, it sounds like JSONPath would be best for us to use. It seems like whoever picks up this issue to implement JSONPath should probably check out the https://godoc.org/k8s.io/client-go/util/jsonpath library that @dibyom mentioned, or find another library to replace the g

[2019-10-22 14:56] vtereso opened #184 "TriggerBinding interpolation does not support OwnerReferences"
# Expected Behavior
Resources are created in order so we should be able to specify `OwnerReferences` on resource templates within the `TriggerBinding`.

# Actual Behavior
There is no interpolation variable to provide access to the necessary variables to do this.

# Additional Info
This is mostly a continuation of https://github.com/tektoncd/triggers/issues/50. In order to achieve this we would sto

[2019-10-23 17:14] ncskier opened #186 "Enforce Go code coverage"
# Expected Behavior
I expect our tests to cover at least 80% of our go code for each package.

This code coverage should be shown in our tests on GitHub. [This](https://github.com/tektoncd/pipeline/pull/1452#issuecomment-544855288) is an example of code coverage being shown in a Tekton Pipelines PR.

# Actual Behavior
We do not verify that our tests cover at least 80% of our go code for each packa

[2019-10-23 23:14] kav opened #187 "Fragile object creation order issues"
# Expected Behavior
EventListeners, TriggerBindings, and TriggerTemplates can be installed by a helm chart, flux, jenkinsx gitops or other process that does not allow users to specify object creation order. In the event an object can not function, e.g. an event listener referencing a non-existing template, that object should report status rather than refusing to install.

# Actual Behavior
EventLi

[2019-10-24 01:27] vincent-pli commented on #84
Hi guys, the implements is not follow the upper design, more simple:
1. Start watcher in the `pod` which created by `EventListener`, the watcher will watch on related `TriggerBinding` and `TriggerTemplate`.
2. If any `Delete` and `Update` occurred on related `TriggerBinding` and `TriggerTemplate`, a k8s event will be send and bind to related `EventListener`

[2019-10-25 16:53] wlynch commented on #176
/assign wlynch

[2019-10-26 15:45] #186 closed

[2019-10-27 11:26] afrittoli commented on #87
The way I implemented this for now is an `initContainer` in the `CronJob` that triggers the `EventListener`: https://github.com/tektoncd/plumbing/blob/master/tekton/config/nightly-release-cron-base/trigger-with-uuid.yaml#L35.

I could do the same with an interceptor, but it's not clear for me yet how to best use them.
Since interceptors are services, if I have to create a new service for every tim

[2019-10-28 15:00] wlynch opened #189 "FR: Dynamic TriggerTemplate Resources"
## Motivating Use Case

Be able to run/test Tekton Trigger configurations ephemerally without needing to apply it permanently to the cluster. e.g. how do I test a change to a Template/Pipeline config?

## Proposed Solution

Add a new type that can be included in TriggerTemplates that will read configuration dynamically from a file.

This type should take a volume generating resource (such as [GitR

[2019-10-28 18:31] ncskier opened #192 "Meaningful (e2e) tests for examples"
# Expected Behavior
We should know when code changes break the examples we are hosting in the Triggers repository.

# Actual Behavior
We do not currently run automated tests on all of the examples included in the Triggers repository. So, a code change can break the examples without us knowing about it. This was made apparent recently when a change broke the cron example (https://github.com/tektonc

[2019-10-29 15:56] hhellyer opened #194 "EventListener response is pod log message not parseable JSON."
I've created a very simple test pipeline that just echos out the message it is sent and I'm experimenting with triggers and event listeners to invoke it from a script.
When the pipeline is triggered using curl the request it is sent contains a JSON body and the event listener picks the parameters out of the body (and could pick them from fields the header too) in a nice structured way.

However th

[2019-10-29 16:09] vtereso commented on #68
As per WG, this doesn't seem necessary so I am closing.

[2019-10-29 16:09] #68 closed

[2019-10-29 16:33] vtereso commented on #126
As per WG, the `TriggerTemplate` author should be able to well define the parameters such that  `TriggerTemplate` could be valid without bindings. Closing.

[2019-10-29 16:33] #126 closed

[2019-10-29 18:37] akihikokuroda commented on #112
/assign

[2019-10-29 22:14] vtereso opened #195 "Add log for event parameters"
# Expected Behavior
The event parameters should be logged after (and maybe before) resolution to help debug any failures.
# Actual Behavior
There are no logs.

[2019-10-30 01:07] kav commented on #49
Might be worth considering using JsonPath here as well as (https://github.com/tektoncd/triggers/issues/178). I'm definitely for lightweight conditional filtering without making more pods. As a user though whichever language is used to navigate and select object properties should likely also be used for conditionals if that functionality is available.

[2019-10-30 16:24] khrm commented on #194
/assign

[2019-10-30 18:42] vtereso commented on #49
I meant to specify conditional filters as containers, my apologies. I have been back and forth on the container issue, but in consideration for the security, I have come back to my skepticism. I agree interceptors might be too heavy weight in many circumstances and we could add string comparisons (and maybe regex), which might handle most cases. This has been discussed since the initial MVP so I d

[2019-10-30 19:51] akihikokuroda commented on #112
I added log entry for each resource generation.  If it fails, the error log entry follows the log entry.
[code]

[2019-10-30 19:59] akihikokuroda commented on #112
PR: https://github.com/tektoncd/triggers/pull/197

[2019-10-30 20:13] akihikokuroda commented on #111
/assign

[2019-10-31 13:00] akihikokuroda commented on #111
PR: https://github.com/tektoncd/triggers/pull/198

[2019-10-31 15:00] adjavaherian opened #199 "Question: Multiple triggers, listeners"
So, Without any sort of conditionals in the trigger templates, what is the current recommendation for assigning different pipelines to different event types?

For example, on PRs, I want to have a full build => deploy pipeline for a preview environment.
But for a commit to a dev branch, I simply want to build an artifact (to be deployed in a separate process).

Do you all do this with multiple tri

[2019-10-31 15:40] skaegi opened #200 "TriggerTemplateRun !?"
TriggerTemplates are really important to us as we use them to lay down non Tekton resources like ConfigMaps and Secrets however we have been forced to write our own implementation because our eventing is totally different. In addition to event based triggering we support API based triggering and what I observed is that the payload looks remarkably like what I imagine a TriggerTemplateRun object wo

[2019-10-31 15:41] #112 closed, assigned to akihikokuroda

[2019-10-31 20:21] akihikokuroda commented on #76
/assign

[2019-11-01 15:52] bobcatfish commented on #200
Ah interesting idea! So you'd like a way to _trigger_ the creation of the resources in the `TriggerTemplate` arbitrarily by providing the values you need 🤔

I think this is an interesting idea and I like the idea of making `TriggerTemplates` even more useful.

The plumbing repo is handling this problem (b/c they want to have crons that invoke `TriggerTemplates`) by [curling the event listener URL

[2019-11-01 16:07] bobcatfish opened #201 "Better name for TriggerTemplate?"
# Expected Behavior

`TriggerTemplate` is a pretty cool idea, which has the potential for being used beyond just in `triggers` b/c folks may have all kinds of circumstances in which they want to create instances of CRDs.

For example in #200 @skaegi is requesting a way to invoke a `TriggerTemplate` without any kind of `EventListener` and [in the PipelineResource redesign](https://docs.google.com/d

[2019-11-01 16:09] bobcatfish commented on #62
I feel like these days `TriggerBinding` really _only_ does binding, it no longer does anything conditional (I don't think?) since we moved that functionality into [interceptors](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md#event-interceptors) so I think the name was good in the end and we could close this issue?

[2019-11-01 18:50] akihikokuroda commented on #76
PR: https://github.com/tektoncd/triggers/pull/202

[2019-11-02 17:27] afrittoli opened #203 "Support dry-run in the admission webhook"
# Expected Behavior
I can `kubectl diff` tekton triggers resources

# Actual Behavior
On the plumbing repo:

[code]
[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-11-04 15:25] skaegi commented on #200
No, I'm not looking for the interceptor to be involved at all. I'm just looking for a way to give a template some params and then make it so.

(re Nitpick: I just was picking on the word `Run` because it is kind of similar to a `Pipeline/TaskRun`)

[2019-11-04 20:03] akihikokuroda commented on #76
@bobcatfish @dibyom After implementing this as the same way as the webhook and controller, we realized that the `config-logging-triggers` ConfigMap must be created in the same namespace as the eventlistener.  It is inconvenient to the user.   We are considering the option putting the logging config in the eventlistener crd but it requires extra work.  Is there any better options?

[2019-11-04 20:27] akihikokuroda commented on #76
I probably create the default configmap only when the configmap doesn't exist at the eventlistener creation.  Is this a good option?

[2019-11-04 20:34] ncskier commented on #111
Thanks @akihikokuroda 👍 The PR was merged, so I'm going to close this issue.

[2019-11-04 20:34] #111 closed

[2019-11-04 22:27] wlynch commented on #178
Alternative to consider: [CEL](https://github.com/google/cel-spec)

This is what [Knative plans to use for its conditionals](https://github.com/knative/eventing/blob/master/docs/broker/filtering.md), and I think this would be useful to use for interpolation as well. See https://github.com/google/cel-spec/blob/master/doc/langdef.md for the full spec.

See https://github.com/google/cel-go for Go imp

[2019-11-05 14:51] bobcatfish opened #205 "Support routing to different eventlisteners based on request content"
# Expected Behavior

In our recent working group meeting, @mnuttall described his use case where he wants to have triggering for many repos, where each needs to have different eventlistener configuration (). He would like a way to minimize the number of ingresses and running interceptors that are required to support this, e.g. something like:

* One endpoint for all GitHub events to hit
* One inte

[2019-11-05 15:31] mnuttall commented on #205
Hi @bobcatfish thank you for writing this up.

One EventListener makes event routing simple - it gets all events. However it's then routing to multiple triggers across multiple repositories, and so maintaining it - via GitOps or otherwise - can become contentious. We may start with one uber-EventListener but I think we need to evolve beyond it.

Ideally I'd like the owners of a Pipeline for a spec

[2019-11-05 15:51] dibyom commented on #76
Yeah, having the reconciler create a default configmap seems like a good place to start! We should make sure they get cleaned up though!

[2019-11-05 16:08] #176 closed

[2019-11-05 16:22] bobcatfish commented on #178
My 2 cents (apologies to everyone who already has to hear me say this all the time):

An important requirement here imo is that no matter what we provide, someone is always going to have a use case where they want to do something more complicated. Once they want to do that more complicated thing, there's a good chance they're going to want to do it in the language / syntax of their choice. If we d

[2019-11-05 17:54] dibyom opened #207 "FR: Suport core/built-in event interceptors"
We should add a set of "core" built-in interceptors e.g. for for validating Github/Gitlab payloads. This will simplify things for the user as they do not have to deploy their own services to use them.

Previously mentioned in the [interceptors design doc](https://docs.google.com/document/d/1sw6R-DHmGzfHpD6itMr1AgmNdsjkFdMIUZhv-L6OQLw/edit#heading=h.z3hraejv7bmg)

In terms of syntax, we could eithe

[2019-11-07 13:17] bobcatfish commented on #178
A couple other principles I want to throw in here:

1. Being very deliberate with our interfaces
2. Keeping coupling and dependencies on other projects to an absolute minimum

The coupling one is interesting: in both pipelines and trigers we depend on a lot of projects in our source, we don't actually run instances of other services. This question might feel like "oh it's not a dependency because

[2019-11-07 15:29] akihikokuroda opened #209 "Default logging configuration ConfigMap not removed"
# Expected Behavior

The default logging configuration ConfigMap is created when the EventListener is created in the namespace and it doesn't exist.  It should be removed when the last EventListener is removed in the namespace.

# Actual Behavior

The default  logging configuration ConfigMap is not removed after the last EventListener in the namespace is removed.
# Steps to Reproduce the Problem

[2019-11-07 15:35] dlorenc commented on #207
Nice!

[2019-11-07 19:49] akihikokuroda commented on #76
I opened a separate issue for the configmap clean up. https://github.com/tektoncd/triggers/issues/209

[2019-11-07 20:22] ncskier commented on #76
Sounds like this issue is done 👍

[2019-11-07 20:22] #76 closed

[2019-11-08 01:31] wlynch commented on #169
I think you should be able to do this today with `TriggerTemplate`. e.g.

[code]

For reusability, you could set this in the EventListener on a per Trigger basis:

[code]

Now, it's an open question whether this should happen **automatically** for all resources created. My gut instinct is to add `trigger.name` similar to [event listener name and event id](https://github.com/tektoncd/triggers/blob/

[2019-11-08 16:10] dibbles commented on #169
hmmm - I might be doing something wrong by trying that approach gives:

[code]

[2019-11-08 16:41] dibbles commented on #169
my bad - got it working .... problem between keyboard and chair.

[2019-11-11 17:10] vtereso commented on #201
In deciding this, I think we should confirm whether we will or will not be opening templates to create any (or most) kind(s) of resources since that seems significant to the name (e.g. `TektonTemplate` vs `ResourceTemplate`).

Currently templates inject parameters as well as references via the `$(uid)` interpolation variable. In a world where run resources do not reference other event time resourc

[2019-11-12 17:24] wlynch commented on #169
/assign wlynch

[2019-11-12 20:09] dibyom commented on #178
Based on the WG discussion today, we agreed to move forward with replacing Gjson with JSONPath for event variable interpolation in trigger bindings.

[2019-11-12 20:27] dlorenc commented on #207
The proposed schema is:

[code]

The existing `objectRef` and `header` fields will move under `webhook`, and then other core interceptors will appear at the top level next to `webhook`.

[2019-11-12 21:07] vtereso commented on #49
As per the [design document](https://docs.google.com/document/d/1c-cGLdRb4LuH2_rUn50cIhHPabAoj4iQvw49L4T2nSU/edit#), I believe we will be using CEL to satisfy this conditional/filter request so that interceptors are reusable. This should also enable people to get away with simple validation as well outside of VCS like GitHub, GitLab, etc.

[2019-11-12 21:50] dibyom commented on #178
Played around with https://godoc.org/k8s.io/client-go/util/jsonpath a bit. Seems relatively simple to use: https://gist.github.com/dibyom/cbc8fa7cf0890dcac3b02817a5c326d3#file-main-go

One decision to make is whether to combine Tekton's variable interpolation syntax aka the `$()` with the JSONPath syntax of the form `{.head_commit.id}`.

When combined it looks like this: `$({.head_commit.id})` --

[2019-11-13 17:09] vtereso commented on #178
Definitely option 2 or 3. I don't particularly like curly braces because it looks like a template, but it isn't? To keep consistency with stuff like `$(uid)`, I suppose I vote option 2.

[2019-11-13 17:51] bigkevmcd commented on #207
I'd be interested in taking on at least the GitHub interceptor (and probably the GitLab one too) once the refactoring lands...

[2019-11-13 20:01] dlorenc commented on #207
Ah nice! Sorry I missed this and sort of jumped the gun on getting the github one started. PR coming in a minute!

[2019-11-13 20:03] dlorenc commented on #207
https://github.com/tektoncd/triggers/pull/221

[2019-11-13 20:13] daniyalj opened #222 "unknown field "bindings" when creating the getting-started example"
# Expected Behavior

When creating the `triggers.yaml` an EventListener is created

# Actual Behavior

After changing the `DOCKERREPO-REPLACEME` variable run:
[code]

# Steps to Reproduce the Problem

1. Following the getting started guide [here](https://github.com/tektoncd/triggers/tree/master/docs/getting-started#getting-started-with-triggers)
2. Deploy triggers.yaml

# Additional Info
Environme

[2019-11-13 20:48] dibyom commented on #222
hi @daniyalj ...sorry for the trouble...the getting started guide you are following is from the master branch which has some backwards incompatible changes (e.g. bindings vs binding) from the currently released version.
You could try following the getting started guide for the installed branch instead: https://github.com/tektoncd/triggers/tree/v0.1.0/docs/getting-started#getting-started-with-trigg

[2019-11-13 20:51] daniyalj commented on #222
thanks for the quick reply @dibyom `binding` worked for me

[2019-11-13 20:51] #222 closed

[2019-11-14 21:52] #169 closed

[2019-11-18 19:36] wlynch commented on #195
I can handle this.

/assign wlynch

[2019-11-18 20:30] wlynch commented on #178
How do we distinguish JSONPath from raw strings? e.g. the JSONPath filter body.head_commit.id vs the raw value "body.head_commit.id"?

Should we always enforce the use of `{}`?

[2019-11-19 16:51] wlynch commented on #189
/assign wlynch

[2019-11-19 16:51] wlynch commented on #200
For my own clarification - Is the primary reason to support these is to bundle params for multiple Resources specified in a template, instead of specifying each as a Pipeline/TaskRun? Are there any other advantages you see in specifying this as its own resource?

You may be interested in https://github.com/tektoncd/triggers/pull/226/files#diff-d5a0150984469b75717587a4812ee75aR187-R195 which separa

[2019-11-20 23:03] #195 closed

[2019-11-21 22:56] dibyom commented on #178
Good question. What I'm thinking (using Option 2 from above) is using the `$()` to differentiate. So, a user would do the following:
* `$(body.head_commit.id)` - JSONPath value replaced
* `body.head_commit.id` - raw string.

[2019-11-22 07:56] ruudjutinant opened #230 "is it possible to use triggers without knative?"
it a question.

I use kubernetes on-premise with ingress-nginx.

[2019-11-22 17:41] sbose78 opened #231 "Patch kubernetes objects from trigger templates"
In addition to supporting creation of new kubernetes objects in a Trigger Template, could we support 'patching' of an existing object as well ?

[2019-11-25 09:45] vdemeester commented on #231
@sbose78 you mean "Additionally" instead of "Instead" right ? :sweat_smile:

/kind question
/kind feature

[2019-11-25 10:13] vdemeester commented on #189
/kind feature

I am not sure why it should take a `PipelineResource`. What is the requirement for that ?
Also, related to [tektoncd/pipeline#1369](https://github.com/tektoncd/pipeline/issues/1369), we should make sense that we may (or user may) not use `PipelineResource` in some cases, and thus, we should make sure our design(s) work without it too :angel:

[2019-11-25 10:33] vdemeester commented on #178
/kind feature

[2019-11-25 10:35] vdemeester commented on #230
/kind question

It is definitely possible to use triggers without knative. There is no dependency on knative at all, and as of "today", there is no "easy" way to expose the triggers webhook using a knative `Service`.

/cc @dibyom to make sure I'm not wrong :stuck_out_tongue:

[2019-11-25 14:56] sbose78 commented on #231
I meant, "instead of ONLY" :P but I will fix the description.

[2019-11-25 15:56] dibyom commented on #230
Yeah, you can use Triggers without Knative.  You should be able to expose your EventListener with an Ingress: https://github.com/tektoncd/triggers/blob/master/docs/exposing-eventlisteners.md

If you want to use Knative eventing instead, you'd want to set it up with the EventListener as the "sink" that knative eventing forwards its messages to.

[2019-11-25 18:54] wlynch opened #233 "Use dynamic client instead of rest client"
# Proposal

Currently, we use the Kubernetes REST client for all resource creation. Instead, I think we should switch to using the [dynamic client](https://godoc.org/k8s.io/client-go/dynamic).

Our current REST client implementation assumes that the underlying resource is meant for Kubernetes. By abstracting this to the dynamic client, we get a few benefits:

1. We can replace a majority of our RE

[2019-11-25 18:54] wlynch commented on #233
/assign wlynch

[2019-11-26 17:09] sbose78 commented on #231
My ambitious use case is:

I wish to store the Pipeline definition yamls in a Github repo, and when a new changes to the same is merged changes, I would the webhook to trigger the following:

1. Patch the Pipeline definition, followed by:
2. Create a new PipelineRun

[2019-11-26 17:16] bobcatfish commented on #231
Oh interesting @sbose78 ! (ps are you in the triggers WG meeting right now or was this a coincidence?? haha :D )

So is this pretty much just the difference b/w a `kubectl apply` vs a `kubectl create`?

Another option: you could have a Pipeline that applies the new Pipeline definition, vs. creating it in Triggers?

[2019-11-26 17:18] ston1th opened #237 "Add nightly releases?"
Hello tekton team,

I would like to propose nightly releases based on the `master` branch, to be able to test out new features more easily.

Currently the latest container image is `v0.1.0`.

What do you guys think?

[2019-11-26 17:25] vdemeester commented on #237
We are already doing that for `tektoncd/pipeline` so it shouldn't be hard to automate for `triggers`. I can take a look if needed (soon-ish).

/kind feature
/cc @dibyom

[2019-11-26 17:29] sbose78 commented on #231
Correct, that's an option!

Correct ;)

Haha! I wanted to join, but had a conflict, Kevin pinged me about it :)

[2019-11-26 17:30] sbose78 commented on #233
+1 on using the dynamic client. We use it everywhere in https://github.com/redhat-developer/service-binding-operator

[2019-11-26 17:35] bobcatfish commented on #237
@wlynch "volunteered" to take a shot at this as well! in the interests of some dogfooding 🐶 (and @vdemeester not having to do everything haha)

@ston1th do you have any requirements timeline-wise? I think we're assuming that it's fine if it's within the next few weeks?

[2019-11-26 17:42] ston1th commented on #237
@bobcatfish no not really - the next few weeks are fine :+1:

In the meantime I'll just build stuff myself.

[2019-11-26 18:38] #230 closed

[2019-11-26 18:42] dibyom commented on #201
Currently, TriggerTemplates contain a field called `ResourceTemplates` containing the raw template

[2019-11-26 18:44] dibyom commented on #199
Filters should be in the upcoming 0.2 release. Until then, the workaround would be to use a interceptor as @ncskier mentioned.

[2019-11-26 18:44] #199 closed

[2019-11-26 18:45] #62 closed

[2019-11-26 18:46] dibyom commented on #161
@vincent-pli Interesting. Could you elaborate on what rules we should be checking for in a namespace?

[2019-11-26 18:47] dibyom commented on #142
Haven't run into this yet. Is this still a problem @CarolynMabbott ?

[2019-11-28 09:58] bigkevmcd opened #243 "Matching on GitHub events"
# Proposal

Now that we have GitHub/GitLab interception, it'd be nice if we could match only on specific branch/repo combinations for things.

e.g. if you want to only execute triggers on a push to "master" for a repo, or maybe a build when a pull request is opened in a repo.

Perhaps something like...

[code]

or for merges:

[code]

For GitLab support, I'm not sure if this would use `merge_reque

[2019-11-28 10:17] bigkevmcd commented on #243
A more radical proposal, is to separate interception and filtering, and allow for filtering (interception) and modification, for example, trimming a SHA to 6 characters, or splitting the branch from `refs/heads/master`.

[2019-11-28 17:08] ston1th opened #244 "Occasional Race-Condition in TriggerTemplate resulting in failed PipelineRun"
# Expected Behavior
TriggerTemplate gets triggerd and first creates the `PipelineResources` (`git` and `image`) and after these the `PipelineRun`.

# Actual Behavior
Most of the time this works fine but sometimes the `PipelineResources` are not yet fully created at the time the `PipelineRun` wants to start.
This way the `PipelineRun` fails with this error message:

[code]

# Steps to Reproduce the

[2019-12-02 18:07] dibyom commented on #244
@ston1th I don't think this is a Triggers specific issue. You can run into the same if you create and try to use a pipelineresource and a pipelinerun that uses at the same time. A workaround for this would be to embed the pipeline resource in your pipelinerun instead of creating it as a separate resource: https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#resources

[2019-12-02 18:09] dibyom commented on #243
Yeah, we are working on implementing Filtering as it own thing that's separate from interceptors in #49

[2019-12-02 19:15] bigkevmcd commented on #49
@dibyom I had a very rough go at this last week

https://github.com/bigkevmcd/triggers/tree/master/pkg/interceptors/cel

[2019-12-02 19:16] dibyom commented on #207
Closing this since we now have core interceptors both GitHub and GitLab. Thanks @dlorenc

[2019-12-02 19:57] #207 closed

[2019-12-03 09:37] ston1th commented on #244
@dibyom Thanks, embedding seems like a good solution to this.

[2019-12-03 09:37] #244 closed

[2019-12-03 20:49] dibyom commented on #49
Awesome! @wlynch mentioned that we could consider a "core" CEL interceptor as an alternative to a top level `filters` field

[2019-12-03 21:12] dibyom opened #248 "Remove DeprecatedBinding from EventBinding"
The `binding` field is kept around to make it smoother for users upgrading from 0.1 to 0.2. Once the 0.2 release is done, we should be able to remove the field.

ref #242

[2019-12-03 21:15] dibyom opened #249 "Support multiple interceptors"
# Expected Behavior

A trigger can specify multiple interceptors.

# Actual Behavior

A trigger can only have a single interceptor.

# Additional Info

Would be needed if we go with Option 3 from the [Filters design doc](https://docs.google.com/document/d/1c-cGLdRb4LuH2_rUn50cIhHPabAoj4iQvw49L4T2nSU/edit#) (#49)

[2019-12-03 22:33] wlynch commented on #189
Here's a pass at a proposal: https://docs.google.com/document/d/1fTob_Y6qo61vl6UIhraV6tSRM9Vb-DrugCyihB6md_Q/edit#

@vdemeester Would particularly like your feedback here, since this has heavy overlap with your [catalog URI proposal](https://docs.google.com/document/d/1O8VHZ-7tNuuRjPNjPfdo8bD--WDrkcz-lbtJ3P8Wugs/edit#heading=h.mj21784twjrt).

[2019-12-04 14:48] bigkevmcd commented on #209
/kind bug

[2019-12-04 14:49] bigkevmcd commented on #209
/assign

[2019-12-06 07:08] ruudjutinant commented on #230
@dibyom sorry for the late response.

I'm not sure we are in the same point. sorry for not explain for the first time.

I tried to apply resource `EventListener`, I got this
`Error from server (InternalError): error when creating "poc-trigger/eventlis.yaml": Internal error occurred: admission webhook "triggers-webhook.tekton.dev" denied the request: mutation failed: cannot decode incoming new obje

[2019-12-06 10:24] ruudjutinant commented on #230
it's worked now
with this
[code]

[2019-12-06 17:37] dibyom commented on #230
yeah, we made a breaking change i.e. replacing `binding` with `bindings`. #242 should help make the upgrade process smooth!

[2019-12-06 19:14] dibyom opened #252 "Split out Test_NewResources into smaller tests"
template/event_test.go contains a Test_NewResources function that tests both ResolveParams and ResolveResources. So, there is quite a bit of setup required to test each function.

We should separate it out into smaller tests that test each of those two exported functions separately

[2019-12-06 19:30] dibyom opened #253 "Proposal: Typed Values for TriggerBindings"
# Current Behavior

Currently, TriggerBindings are a lot like `Params` in pipelines i.e. they have a `name` and a `value` field. The value field can either contain an expression - GJson/JSONPath which are wrapped in `$()` or it can be static string i.e. not wrapped in `$()`.
[code]
# Proposal

Instead of reusing the same `value` filed and using `$()` to differentiate between expressions and string

[2019-12-06 19:57] ncskier commented on #253
Neat idea! However, one thing to note is that this will restrict users so they can no longer mix static & json values:
- `"my-static-string-$(body.path.to.a)"`
- `"$(body.path.to.a)-$(body.path.to.b)"`

Here's an example TriggerBinding that my team uses that mixes static strings and json values ([source here](https://github.com/pipeline-hotel/example-pipelines/blob/master/triggers-resources/config

[2019-12-06 21:04] dibyom opened #254 "Integration tests are flaky"
From https://github.com/tektoncd/triggers/pull/250#discussion_r355026821

Looks like we might be intermittently timing out on

[code]

[2019-12-06 21:33] ncskier opened #255 "TriggerTemplate params work without the spec.params field"
# Expected Behavior
I expect that when my TriggerTemplate does not have the `spec.params` field, the resource template parameter substitution will not work.

# Actual Behavior
When I do not specify the `spec.params` field, parameter substitution still appears to work. [Here](https://github.com/pipeline-hotel/example-pipelines/blob/master/triggers-resources/config/simple-pipeline/simple-pipeline-te

[2019-12-06 21:57] wlynch commented on #249
I'm happy to pick this up.

/assign wlynch

[2019-12-06 22:39] #209 closed

[2019-12-06 22:41] dibyom commented on #253
Yeah, I noticed some of the tests had that but none of the examples so I wasn't sure if anyone was using the concat behavior in Bindings.

I don't have too strong of a feeling about this but having strong types does allow some nicer separation i.e. all of the string/template concatenation happens only in the templates and not in the binding. Though this will be a breaking change and can make the t

[2019-12-09 17:50] dibyom commented on #255
Looks like we need to add some validation for the templates?

[2019-12-09 18:01] dibyom opened #257 "Escaping Quotes in TriggerBinding values"
### What?
Today, if the Binding expression is a JSON string, we escape the double-quotes i.e. if the output is `{"a": "b"}`, we use `{\"a\":\"b\"}`.

###  Why do we do this?
From @ncskier :
I think it's because we're passing that JSON object as a type String in the ResourceTemplate JSON: https://github.com/tektoncd/triggers/blob/master/pkg/sink/sink.go#L195. So, we have to escape those quotes, oth

[2019-12-09 18:09] bobcatfish opened #258 "Values injected into the template should be escaped"
# Expected Behavior

It should be possible for me to pass along the body of a github pull request event to a TaskRun + Task.

# Actual Behavior

When I'm trying to trigger from a pull request and pass along the description of the pull request to a Task, I run into trouble b/c the description contains characters like `\r` and `\n` and I can't figure out how to escape this in the template properly :

[2019-12-09 18:16] dibyom commented on #249
Adding this to 0.2 Milestone since this will be needed for Filters as Interceptors approach from https://github.com/tektoncd/triggers/issues/49#issuecomment-561350595

[2019-12-09 18:51] ncskier commented on #258
Unfortunately, I think that this is a bug. This is related to issue https://github.com/tektoncd/triggers/issues/257.

However, it might be possible to get around this by escaping the body in the interceptor, and passing the escaped body out of the interceptor?

[2019-12-09 20:11] bobcatfish commented on #258
Oh interesting! Maybe that'll work :thinking: that means I'd have to write it in a service tho - i feel like fixing it might be easier XD. This was for a POC I was putting together, if the bug's still around when i get back to it I'll try that out @ncskier :pray :D

[2019-12-10 16:45] dibyom opened #260 "Inconsistent types for Header values extracted from bindings"
If I use `$(header)`, the values are an array of strings. If I use `$(header.key)`, the values are string.

I noticed this when working on #241. I think using strings instead of arrays would be the more expected behavior. This is also the behavior we use in most cases.

[2019-12-10 18:21] #233 closed

[2019-12-10 21:18] bigkevmcd commented on #260
Possibly a good first task?

Affected tests are https://github.com/tektoncd/triggers/blob/master/pkg/template/event.go#L151 and https://github.com/tektoncd/triggers/blob/master/pkg/template/event_test.go#L597

[2019-12-10 21:23] dibyom commented on #260
Hey @bigkevmcd I think #241 should fix this actually

[2019-12-10 21:43] #178 closed

[2019-12-10 21:50] dibyom commented on #254
I think the issue noticed in #250 has been fixed by #256 so we can close this

/close

[2019-12-10 21:50] #254 closed

[2019-12-10 22:08] dibyom opened #262 "Uninstalling Triggers can potentially uninstall Pipelines as well"
# Expected Behavior

Triggers should not be responsible for creating/deleting the tekton-pipelines namespace since installing pipelines is a pre-requisite.

# Actual Behavior
Reported by @AlanGreene on Slack:

Hi folks, quick question regarding install and uninstall of triggers. Is it known / expected that removing triggers (via. kubectl delete --filename https://storage.googleapis.com/tekton-rele

[2019-12-10 22:10] dibyom commented on #255
cc @bigkevmcd in case you are looking to pick up any issues :stuck_out_tongue:

[2019-12-11 11:38] a-roberts opened #265 "Triggers 0.1 release link in main Readme points to Tekton Pipelines 0.1"
![image](https://user-images.githubusercontent.com/12814972/70618415-a8796480-1c0a-11ea-986a-d5b6f117ab27.png)
you can see the link goes to
https://github.com/tektoncd/pipeline/releases/tag/v0.1.0

😄

[2019-12-11 15:36] ncskier commented on #262
Are we happy running everything under the `tekton-pipelines` namespace, or should we use our own namespace like `tekton-triggers`?

Thoughts @dibyom @wlynch ?

[2019-12-11 15:36] #265 closed

[2019-12-11 15:51] wlynch commented on #262
I suspect that most users will want triggers to be in the same namespace as pipelines by default. We default to the current namespace in the EventListener if one is not explicitly provided, and that feels like behavior that makes sense.

As Dibyo pointed out, pipeline is a prerequisite for triggers - we can probably just remove the namespace config and things should just work.

[2019-12-11 21:40] wlynch opened #269 "Use RoundTripper-like interface for interceptors"
Tracking bug for modify interceptors to model after [Golang HTTP RoundTrippers](https://godoc.org/net/http#RoundTripper)

Currently:

https://github.com/tektoncd/triggers/blob/3c645a9f50abb3a59cbd5613de8cdc9ee9d9a39f/pkg/interceptors/interceptors.go#L27-L30

Proposed:

[code]

[2019-12-11 22:33] wlynch opened #270 "FR: Add URL option to WebhookInterceptor"
# Expected Behavior

[WebhookInteceptor](https://godoc.org/github.com/tektoncd/triggers/pkg/apis/triggers/v1alpha1#WebhookInterceptor) docs say: `Either objectRef or url can be specified`

# Actual Behavior

There is no `url` field. We should add it!

[2019-12-11 22:36] wlynch opened #271 "FR: Core Interceptor plugins"
# Summary

* TEP: https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#work-plan

* Work Plan/Progress: https://github.com/tektoncd/triggers/issues/271#issuecomment-724830692

# Expected Behavior

Core Interceptors should be pluggable so that users can choose which are available by default.

# Actual Behavior

Interceptors are currently static.

# Additional Info

htt

[2019-12-12 16:00] #262 closed

[2019-12-13 14:26] akihikokuroda opened #276 "Add health check URL for eventlistener"
# Expected Behavior

Health check requests should be processed separately from events

# Actual Behavior

Health check requests should be processed separately from events but the separate URL doesn't exist for the health check now so they are sent to the same URL as events.  It causes extra usage of the resources and filling the event listener log with the entries like below.
[code]

# Steps to Re

[2019-12-13 21:26] dibyom commented on #276
I think adding a health check port is reasonable. Should we add a liveness/readiness check probe to the sink deployment? This way the health check works for all environments, and not just EKS?

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes

[2019-12-17 15:43] anneqm opened #283 "Update Trigger example to describe embedding the resource in the PipelineRun spec"
Please update the Tekton Triggers example:
As a Tekton pipeline author, I want working example that embeds resources in the PipelineRun spec so that my PipelineRun doesn't fail with resource not found error.

[2019-12-18 14:17] CarolynMabbott commented on #142
Dont get this issue anymore, have tried multiple times and works every time now

[2019-12-18 14:17] #142 closed

[2019-12-19 20:33] #194 closed

[2019-12-19 21:46] wlynch opened #290 "Deprecate trigger.interceptor"
# Expected Behavior

Users should use `interceptors` instead of `interceptor`. In #272 we support upgrading `interceptor` => `interceptors`, but we will want to remove compatibility for 0.3.x

# Additional Info

This is in preparation of #249, #272

[2019-12-20 06:55] #258 closed

[2019-12-20 07:38] dibyom commented on #187
Fixed in #263
/close

[2019-12-20 07:38] #187 closed

[2019-12-20 10:58] CarolynMabbott opened #293 "Error when following Getting Started Guide - ingress-run.yaml"
When following the Getting Started Guide run the command `kubectl apply -f docs/getting-started/ingress-run.yaml`

You get the following error:
```Error from server (InternalError): error when creating "docs/getting-started/ingress-run.yaml": Internal error occurred: admission webhook "webhook.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "

[2019-12-20 10:58] CarolynMabbott commented on #293
/assign

[2019-12-23 14:26] CarolynMabbott opened #298 "Flaky build tests for triggers"
The `pull-tekton-triggers-build-tests` are flaky
I did a PR for a README change and the test failed in the linting part
[code]

[code]

Reran the tests and it passed so appears to be a flaky test

[2019-12-23 14:39] vdemeester commented on #298
/area test-infra
/kind flake

Sometimes, the linter times out… most likely when the node it runs in is a bit under load…

[code]

[2019-12-24 12:32] CarolynMabbott opened #299 "Deletion of example resources doesnt work"
Following the triggers examples the cleanup command doesnt work to delete the resources you create

[2019-12-24 12:32] CarolynMabbott commented on #299
/assign

[2019-12-30 10:08] #293 closed

[2019-12-30 13:41] zops opened #306 "（GitLab）TriggerBinding.Event Variable Interpolation"
# body info:
`{
  "object_kind": "push",
  "event_name": "push",
 ...
  },
  "commits": [
    {
      "id": "e57b7098e944cbba6c153aeb9400cc89479dc783",
      "message": "20191227\n",
      "timestamp": "2019-12-27T06:58:57Z",
      "url": "http://xxx.com/xxx/knative-nodejs4/commit/e57b7098e944cbba6c153aeb9400cc89479dc783",
      "author": {
        "name": "xxx",
        "email": "xxx@xxx.com"

[2020-01-03 11:20] liuchintao opened #311 "Does GitLab Interceptor need to trim secretData?"
This is my gitlab secret token config and curl command.

gitlab-webhook-token.yaml

[code]

[code]

I think the `task` pod should create after I request, however `el-xxx` pod's log says that:

[code]

I found that `secretData` got from k8s client would add a line break?

How can I use Tekton-Trigger with gitlab?

[2020-01-06 14:36] ncskier commented on #283
I'll take a look at this.

[2020-01-06 15:23] wlynch opened #314 "FR: Binding resolution utility"
It would be nice to have a utility that takes in an HTTP request + binding and spits out the resulting params. This would be useful for testing / validating JSONPath bindings without needing to fully execute a trigger.

[2020-01-06 17:03] dibyom commented on #314
In the future, this could make sense as part of the triggers portion of the `tkn` CLI as well?
cc @vdemeester @chmouel

[2020-01-06 19:00] dibyom commented on #311
cc @dlorenc @wlynch

[2020-01-06 19:03] dibyom commented on #306
I think this is due to the breaking change from GJSON to JSONPath for the triggerBinding syntax...most likely you are following the docs for the master version (using JSONPath) while the triggers installation is running the 0.1 release (using Gjson). Two options:
1. Follow the 0.1 docs: https://github.com/tektoncd/triggers/releases/tag/v0.1.0
OR
2. Install the latest master version instead of the

[2020-01-06 19:22] #255 closed

[2020-01-07 06:54] cccfeng opened #318 "Allow config listen port of Eventlistener"
# Expected Behavior
When I deploy the triggers project, I expect to be able to configure the port that EventListener listens to, which helps to configure EventListener's service more flexibly.

# Actual Behavior
We internally register headless service in k8s, and the ingress service perform health check on port 80 by default. So it's not enough for us to only listen to port 8080.

# Steps to Repro

[2020-01-07 14:37] bigkevmcd commented on #311
Your secret has `\n` at the end...

Try using `echo -n` instead:

[code]

[2020-01-07 16:08] #318 closed

[2020-01-07 17:09] wlynch commented on #314
/assign wlynch

[2020-01-07 17:26] bigkevmcd commented on #49
Now that CEL interceptor is in there, I'd like to see if we can't agree on how to do CEL munging, i.e. the original `values` implementation in early days of that branch.

[code]

I'd propose something similar, I don't have a better name than values, but I think it should be a list of key/values, with "key" and "expression" as the keys for each thing to update.

so...

[code]

This would be used in

[2020-01-07 19:04] ncskier commented on #299
I think PR https://github.com/tektoncd/triggers/pull/316 fixes this.

[2020-01-07 19:53] #283 closed

[2020-01-07 19:59] #299 closed

[2020-01-07 22:42] #249 closed

[2020-01-08 05:23] piyush-garg opened #322 "Feature Request: Clusterwide TriggerBinding"
In tektoncd/triggers, Trigger Binding is the concept that is used to extract details from the events and stored as parameters to use further.

TriggerBindings are designed with the consideration of reusability. A user can associate a TriggerBinding with multiple EventListeners.

Currently, TriggerBinding is a namespaced resource and it is reusable only within a namespace. If a user wants to use th

[2020-01-08 08:59] liuchintao commented on #311
@bigkevmcd Oh! Thanks for your reply, it is my carelessness

[2020-01-08 21:00] #252 closed

[2020-01-08 21:21] vtereso commented on #322
I don't know how many people want cluster scope, but this seem sensible. The only consideration against this is that it would likely be the only cluster scoped resource for the Triggers project? `EventListeners` are resolved to their namespace and `TriggerTemplate` will refer to namespace scoped resources (e.g. `Pipeline`) where a cluster scoped resource (`ClusterTriggerTemplate`) with an internal

[2020-01-08 23:18] wlynch commented on #269
/assign wlynch

[2020-01-08 23:22] wlynch opened #325 "Daisy-chain Interceptors"
# Expected Behavior

Interceptors should daisy chain into each other, so that they can modify payloads that other interceptors can consume.

e.g. for 2 interceptors A and B, the original request should go to A, the response of A should be the request of B, and the response of B should be used for resource resolution.

# Actual Behavior

[The original request is sent to each interceptor.](https://g

[2020-01-09 13:59] piyush-garg commented on #322
@vtereso I don't see that much complication if in future we need to add support for `ClusterTriggerTemplate`, we can create the resources in metadata.namespace or the namespace from where its getting called. But that is the case needs to be discussed when there comes a request for support for `ClusterTriggerTemplate`

But I don't see any this kinda issue with `ClusterTriggerBinding` Can we go ahea

[2020-01-09 14:06] vdemeester commented on #322
Right, which is not really a consideration on my part tbh :sweat_smile:. We have the same in pipeline with `ClusterTask` :angel:. I think we can go ahead and open a PR for it :angel: :pray:

[2020-01-09 16:27] dibyom commented on #49
Yeah, using to modify body will be an interesting feature though I think we should track it in its own issue. I'll close this and open a new one for that!

[2020-01-09 16:27] dibyom opened #330 "Event payload modification using CEL"
From @bigkevmcd in https://github.com/tektoncd/triggers/issues/49#issuecomment-571687378

Now that CEL interceptor is in there, I'd like to see if we can't agree on how to do CEL munging, i.e. the original values implementation in early days of that branch.

  triggers:
    - name: cel-trig
      interceptor:
        cel:
          filter: "headers.match('X-GitHub-Event', 'pull_request')"

[2020-01-09 16:28] #49 closed

[2020-01-09 21:59] #269 closed

[2020-01-10 10:41] chmouel commented on #311
/close

[2020-01-10 10:41] #311 closed

[2020-01-10 13:28] vdemeester opened #332 "Proposal: Change API Group for triggers"
While experimenting on tektoncd/pipeline#1773, I experimented with api groups (`tekton.dev`) and [commented out](https://github.com/tektoncd/pipeline/pull/1773#issuecomment-568018607) that, I wished, triggers would have a different API group than `tektoncd/pipeline`.

It might be a bit late to change `tektoncd/pipeline` api group, but I feel we could do it for `tektoncd/triggers` given we are stil

[2020-01-10 16:01] dibyom commented on #332
Sounds like a reasonable change to me.
Are there any other benefits besides detecting the presence of Triggers?

Also, doesn't this mean we'd have to update all bindings/templates/eventlistener yamls to the new `apiGroup`. Would the mutating webhook help here as well?

[2020-01-10 16:30] vdemeester commented on #332
Not much, just that I feel it "isolate" each project each project `project.tekton.dev` ; under the same *umbrella* `tekton.dev` :stuck_out_tongue_closed_eyes:.

Good question, I think the webhook could be setup to listen to both as a backward compatible mechanism but I am not sure… I didn't experiment with that yet :sweat_smile:

[2020-01-10 18:20] wlynch commented on #332
:+1:

Related: Having a separate API Group / Namespace would also have prevented #262.

A similar pattern can be found in other projects Knative (serving.knative.dev, eventing.knative.dev, messaging.knative.dev, internal.knative.dev, ...), Istio (config.istio.io, networking.istio.io, ...)

[2020-01-10 20:40] wlynch opened #336 "Interceptor API: How to represent "OK, but don't continue"?"
Currently our API for interceptors treats a 200 OK status code as "request succeeded, continue", and treats any other response code as "there was an error, stop". We don't have a clear way to say "request succeeded, stop".

We should define a separate, Tekton specific way to describe this information.

# Option 1: Reuse HTTP response codes anyway

In this approach, we would say that `202 Accepted`

[2020-01-10 21:28] dibyom opened #338 "Handling Multiple Array values for JSONPath"
Say we have the following event body:
`{ body: [ {"a":"b"}, {"c","d"}, {"e":"f"} ] }`,

and a JSONPath expression in a TriggerBinding such as `$(body[0:2])`

# Expected Behavior

We should get a valid JSON array back e.g. `[ {"a": "b"}, {"c": "d"} ]`

# Actual Behavior

Using JSONPath array accessors that return multiple elements (e.g. `$(body[0:2])`) returns each element separated by a space inst

[2020-01-10 22:12] wlynch opened #339 "CEL base64 decoder"
Similar to #329, we should add a function for base64 decoding message payloads! This would be useful for processing Google Cloud Pubsub events, where the `message.data` field is base64 encoded.

https://cloud.google.com/pubsub/docs/push#receiving_push_messages

/kind feature
/cc @bigkevmcd

[2020-01-13 17:19] vtereso commented on #336
Although we now have internal/core interceptors, I like to consider cases that use a network (similar to the recent [Round-Tripper update](https://github.com/tektoncd/triggers/commit/d182697ec591cbae1954deceaa663cd5aff7a814)) since it is unlikely we will satisfy everyone's use case out of the box.

Currently, it seems like [we never return an HTTP failure code](https://github.com/tektoncd/triggers

[2020-01-13 19:20] vtereso commented on #338
It seems like we would need to change the [ported code from k8s.io/client-go/util/jsonpath/jsonpath.go](https://github.com/tektoncd/triggers/blob/b5944e5c66a04d4189376c2642d6657d80e022df/pkg/template/jsonpath.go#L62). The issue is still open/unresolved so uncertain if we should modify this ourselves or wait for it to be resolved.

[2020-01-13 20:13] vtereso commented on #153
@dibyom Anything outstanding?

[2020-01-13 20:24] vtereso commented on #189
This seems like it could be satisfied with a TaskRun that would `kubectl create`/`kubectl apply` a URI?

[2020-01-13 20:46] vtereso commented on #200
We could potentially add a body field (with the above params) to `EventListener`s, where if detected, the pod would handle that singular "request" and then terminate. However, this would then complicate the status of `EventListener` (now they terminate?). Like @wlynch, perhaps the the library call above might suit you. @vdemeester any such plans the CLI to provide glue of this sort?

[2020-01-13 20:53] #325 closed

[2020-01-13 20:53] dibyom commented on #338
Yup! The workaround is a lot of work for the user. So, definitely worth fixing it.

[2020-01-13 21:11] vtereso commented on #205
### One endpoint for all GitHub events to hit | A way to route traffic to different eventlisteners
I suppose it would be possible to send a request to an "interceptor" that is actually an `EventListener`? A CEL expression (or some custom interceptor) could read the request and mutate/decorate the data to construct the necessary `EventListener` service name. However, I believe we will need to intro

[2020-01-13 21:33] vtereso commented on #276
IIRC, the status of the EventListener should be reflected in the Status field, but I don't think that makes this any less valid? Cleaning the logs seems good.

[2020-01-13 23:37] dibyom commented on #153
Yeah the last one -- an example using knative + triggers. I think we could point to Ian's https://github.com/iancoffey/brokers-tekton

[2020-01-14 15:45] CSTDev opened #347 "Unable to use nested values in arrays in TriggerBinding"
# Expected Behavior
Be able to access values of objects within arrays. I'm trying to get the branch name out of a Bitbucket webhook body. I'm able to get the value of $(body.push.changes) which is an array, but not any object within it. [see here for bitbucket spec](https://confluence.atlassian.com/bitbucket/event-payloads-740262817.html#EventPayloads-Push)

# Actual Behavior
Requested path is pas

[2020-01-14 20:18] #338 closed

[2020-01-15 13:50] JCzz opened #349 "Could not find the required trigger template or trigger bindings in namespace"
Creating Webhook

I am trying to create a webhook in the Tekton Dashboard.

I have successfully done:
build-docker-image-from-git-source:
https://github.com/tektoncd/pipeline/blob/master/docs/tutorial.md#task-inputs-and-outputs

And Triggers example:
https://github.com/tektoncd/triggers/tree/v0.1.0/examples

Now I am trying to create a github Webhook:
https://github.com/tektoncd/experimental/blob/

[2020-01-15 18:06] JCzz opened #351 "How to expose an EventListener via Knative"
Trying to create [Webhooks](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/GettingStarted.md) and expose a listener to Internet/github.com

I found [this](https://github.com/tektoncd/triggers/issues/153) and got a little scared, so I just want to get a verification -  is this the way to go to expose EventListener using Knative urls?

If using Ingress, do you setup a L

[2020-01-15 22:52] ncskier commented on #349
Hi @JCzz, I'm going to copy this issue over to the [experimental](https://github.com/tektoncd/experimental) repository where the Webhooks Extension lives, and I'll answer your questions over there 🙂. It seems to me like the issue you're running into is due to how the Webhooks Extension is using Tekton Triggers; it isn't a problem with Tekton Triggers itself.

However, if I am mistaken, and/or you

[2020-01-15 22:52] #349 closed

[2020-01-16 10:26] bigkevmcd commented on #336
Maybe we extend the interceptor to be more explicit:

[code]

The bool is true if it should continue, false if not, and that way the error can become less of a marker that the request should not continue?

[2020-01-16 11:01] bigkevmcd commented on #339
This is fairly trivial, here it is on top of the cel-munging branch https://github.com/tektoncd/triggers/compare/master...bigkevmcd:base64-decoding happy to open a PR.

As to the name of the function...

[2020-01-16 15:04] vtereso commented on #351
@JCzz Can you be a bit more explicit on the use case? The Triggers sink is an addressable, which should be compatible with Knative Eventing.

[2020-01-16 16:00] vdemeester commented on #351
As @vtereso said, I don't think it's possible yet (to exposed the event listener using knative serving), but I feel it would be nice to have that option somehow in triggers :angel: (aka being able to have the service as a knative service if the user wants)

[2020-01-16 19:57] dibyom commented on #351
Yeah, deploying the event listener sink as a Knative service would be cool :)

You can definitely use Knative eventing in front of the event listener -- one example here: https://github.com/iancoffey/brokers-tekton

You should also be able to use a non load balancer service type and then expose it to the outside world using an ingress (just like with any other k8s service)

[2020-01-17 14:44] searsaw opened #355 "invalid memory address or nil pointer dereference on `v0.2.0`"
# Expected Behavior
A PipelineRun should be created when sending a webhook from Github.

# Actual Behavior
The event listener errors out with an `invalid memory address or nil pointer dereference` panic.

# Steps to Reproduce the Problem

1. Create an event listener with a Github interceptor using `v0.2.0` syntax.
2. Send the webhook.
3. Check the logs for the error.

# Additional Info
I'm using s

[2020-01-17 15:20] vdemeester commented on #355
/kind bug
/cc @wlynch @dibyom

[2020-01-17 18:45] dibyom commented on #355
Ok, I can reproduce this :cry:

[2020-01-17 18:49] kaczyns opened #356 "Mutating webhook times out when EventListener has multiple triggers"
# Expected Behavior
I can use the tekton dashboard to create multiple webhooks (greater than 8 or so).

# Actual Behavior
When creating the 9th webhook, the mutating webhook `triggers-webhook.tekton.dev` times out while processing the `EventListener` that was updated by the tekton dashboard.

# Steps to Reproduce the Problem

1. Install tekton dashboard v0.3.0 https://github.com/tektoncd/dashboard

[2020-01-17 20:10] ncskier commented on #356
I was able to reproduce this issue with Tekton Triggers v0.1.0 installed on OpenShift after creating an EventListener with 37 triggers.

I wrote up this quick bash script to reproduce the error if anyone wants to try it out:
[code]

Next I'll see at what point I can reproduce the error with Triggers v0.2.0

[2020-01-17 20:48] ncskier commented on #356
Also, we should probably create an e2e test to prevent a regression from occurring. To do this, I think we'll need a "realistic" maximum number of triggers that we think an EventListener should be able to have. I'm not really sure what this semi-arbitrary number should be.

[2020-01-17 20:57] dibyom commented on #355
Have a fix in #357 The core issue was that we were passing a request object with a drained body to the first interceptor always. In addition, were using the `GetBody` function which can sometimes be nil.

I'll add some tests and then we'll do a `0.2.1` release. Monday is a holiday so targeting Tuesday.

[2020-01-20 19:07] DanielBFox opened #361 "Question : gitlab interceptor / triggerbinding variable interpolation"
# Expected Behavior
Be able to access HTTP JSON body parameters of Gitlab push hook event

# Actual Behavior
I try to access the **ref** parameter from the body of a Gitlab push hook event
But I receive this error message from the event listener pod :
{"level":"error","logger":"eventlistener","caller":"sink/sink.go:144","msg":"failed to ApplyEventValuesToParams: &{%!w(string=failed to replace JSON

[2020-01-21 07:51] aitchjoe commented on #361
Same problem!

I also tried CEL/Github/WebHook interceptors, the result is even worse:

and the eventlistenersink pod crashed.

[2020-01-21 08:06] aitchjoe commented on #361
I tried $(body) and it is null. But from [gitlab_test.go](https://github.com/tektoncd/triggers/blob/d182697ec591cbae1954deceaa663cd5aff7a814/pkg/interceptors/gitlab/gitlab_test.go#L104):
[code]

[2020-01-21 09:30] amlozano opened #362 "How to expose the EventListener to Bitbucket webhook"
# Expected Behavior
I can call an EventListener from Bitbucket, authorising the call with a token

# Actual Behavior
I can configure a generic Webhook EventListener, but I don't find an easy way of exposing the EventListener to be called from BitBucket with a token Authentication. I can only think on exposing an interceptor that will handle the authentication, which requires a component to be code

[2020-01-21 09:31] amlozano opened #363 "How to expose the EventListener to Bitbucket webhook"
# Expected Behavior
I can call an EventListener from Bitbucket, authorising the call with a token

# Actual Behavior
I can configure a generic Webhook EventListener, but I don't find an easy way of exposing the EventListener to be called from BitBucket with a token Authentication. I can only think on exposing an interceptor that will handle the authentication, which requires a component to be code

[2020-01-21 09:32] #363 closed

[2020-01-21 09:32] amlozano commented on #363
I closed because of duplication (problem in my browser)

[2020-01-21 16:40] dibyom opened #365 "JSONPath filter expression is invalid"
# Expected Behavior
Given the expression: `$(body.taskRun.spec.outputs.resources[?(@.name == 'bucket')].resourceRef.name)`, the expression should be valid

# Actual Behavior
User gets a "unterminated expression" error

[code]

[2020-01-21 16:50] dibyom commented on #330
https://github.com/tektoncd/triggers/pull/329

[2020-01-21 17:26] afrittoli opened #366 "Upgrade to v0.2.0 requires recreating event listeners"
# Expected Behavior
Upgrading to triggers v0.2.0. Event listeners should be up and running.

# Actual Behavior
Event listeners are in crashloop, with the following error:
[code]

# Steps to Reproduce the Problem

1. Run triggers v0.1.0
2. Create event listeners
3. Upgrade to triggers v0.2.0

# Additional Info
To fix this issue:
- [ ] Update Release notes to say that the Params field has been remov

[2020-01-21 17:38] afrittoli commented on #365
I tried a few more, but no luck
[code]
When I drop the filter it works fine:
[code]

[2020-01-21 17:45] bigkevmcd opened #367 "CEL expressions in TriggerBindings"
Being able apply functions to the hook bodies in the trigger bindings might be useful.

Perhaps prefixing the expressions?

I think this can probably mostly be done with the CEL interceptor (with the the overlays functionality) so this might be an easy way around this.

[code]

[2020-01-21 18:39] dibyom commented on #365
/label bug

[2020-01-21 18:41] afrittoli commented on #365
I tried on the latest codebase, adding a unit test in jsonpath_test.go with array filtering works fine:
[code]

[2020-01-21 18:42] dibyom commented on #365
Now that's interesting...I'd have expected that to fail

[2020-01-21 18:45] dibyom commented on #367
/kind feature
/area api

[2020-01-21 19:52] dibyom commented on #366
Two things here:

1. We deprecated and removed the params field from the EventListener. So, when we upgrade from 0.1 to 0.2 and the reconciler tries to [upgrade `binding` and `interceptor` to `bindings` and `interceptors`](  https://github.com/tektoncd/triggers/blob/v0.2.0/pkg/reconciler/v1alpha1/eventlistener/eventlistener.go#L142), the webhook fails because it cannot parse the deleted `params` f

[2020-01-21 19:54] dibyom commented on #366
I think fixing 1. will also fix 2. We can add a `DeprecatedParams` field though it will do nothing but prevent the crashes.
Also, since the sink is a Deployments, while the new Pod will get into a `CrashLoopBackoff` state, the old pod should still keep running:

[code]

[2020-01-21 19:58] dibyom commented on #366
To fix this issue:
- [ ] Update Release notes to say that the Params field has been removed and explicitly mention that Params field will not work at all and users will have to create `TriggerBindings` with static values instead.
- [ ]  Add a `DeperecatedParams` field to fix the sink `CrashLoopBackoff`

[2020-01-21 19:58] dibyom commented on #366
[code]

[2020-01-21 23:35] dibyom commented on #365
The issue is with the (`tektonVar` regex)[https://github.com/tektoncd/triggers/blob/2e5139968840164666df5854805115bf95ea6d00/pkg/template/jsonpath.go#L18] that is being used in [`applyEventValuesToParams`](https://github.com/tektoncd/triggers/blob/master/pkg/template/event.go#L91)

The regex is `\$\(?([^\)]+)\)` -- it keeps matching all chars that are not a `)` so when it sees the brackets in the

[2020-01-22 10:44] afrittoli commented on #365
The need for a regex comes from the fact that we support embedding the jsonpath filter into text.
One simple solution could be to not support embedding jsonpath in text.
Alternatively we could try using recursion in regex to find balanced parenthesis - see https://www.regular-expressions.info/recurse.html#balanced - I've not tried that and I don't know if the golang regex library supports that?

[2020-01-22 12:44] khrm opened #370 "Reducing the pods related to EventListener"
# Expected Behavior
There should be fewer pods or deployments related to EventListener.

# Actual Behavior
At present, you can any number of pods handling EventListener logic. This led to wastage of resources due to the proliferations of these pods.

# Additional Info
Current Proposal:
https://docs.google.com/document/d/1is5sJMkqWMnOa4fP87H39auTnWR1IKFu7TxTkMNJV5c/edit#

[2020-01-22 13:52] vdemeester commented on #370
/kind feature

[2020-01-22 15:46] #355 closed

[2020-01-22 16:08] ncskier opened #371 "Embed TriggerBinding in EventListener triggers"
# Expected Behavior
I expect to be able to send static parameters to my TriggerTemplate without creating an extra TriggerBinding resource to define these parameters in.

# Actual Behavior
In v0.1.0, we had a `params` field in the EventListener:
[code]
This field made it very easy for me to send static parameters to my TriggerTemplate. However, we removed it with the v0.2.0 release, because paramet

[2020-01-22 16:12] dibyom commented on #365
yes, and that we support multiple jsonpath expressions in the same string

Yeah, especially since you can do that in templates already. I proposed something similar in #253 (Also related, https://github.com/tektoncd/triggers/issues/367)

One issue here though is that we'd be making a breaking change in a patch release

Heh. Yeah I did try a couple on regex101. Though I think that needs recursion s

[2020-01-22 16:23] ncskier opened #372 "Easily access version information"
# Expected Behavior
After installing Tekton Triggers, I expect there to be an easy way to find the version of Tekton Triggers that I am running.

# Actual Behavior
As far as I know, there is not an easy way to find what version of Triggers I have running.

# Steps to Reproduce the Problem

1. Install a version of Triggers
2. Try to verify what version of Triggers you are running

# Additional Info

[2020-01-22 16:41] afrittoli commented on #365
We could have some code - not based on regex - that looks for balanced parenthesis after a `$(` - but that same code code could then return the simplified jsonpath expression - I don't think we would need regex anymore? Alternatively the code that looks for balanced parenthesis could prepend/append some TOKEN e.g. `__JSONPATHSTART__` and `__JSONPATHEND__` that we then could use in the regex to get

[2020-01-22 18:19] vdemeester commented on #372
/kind feature

[2020-01-22 18:44] afrittoli opened #373 "Webhook interceptor fails to make a request to the service"
# Expected Behavior
The webhook interceptor should make a request to the configured service.

# Actual Behavior
I get the following error in the event listener pod:
[code]

# Steps to Reproduce the Problem

1. The event listener is connected to tektoncd/plumbing, it receives events on comments
2. Leave a comment to a PR (e.g. https://github.com/tektoncd/plumbing/pull/98)
3. The event listener trie

[2020-01-22 19:17] dibyom commented on #366
/assign

[2020-01-22 19:39] dibyom commented on #365
/assign

[2020-01-22 20:23] dibyom commented on #365
Yeah, since we are only really trying to remove the portion of the expression that tekton adds i.e. the leading `$(` and the last `)` I think something like this might also work:
[code]

[2020-01-22 20:55] dibyom commented on #365
wip fix in https://github.com/tektoncd/triggers/compare/master...dibyom:issues/365?expand=1