[2020-09-30 18:09] dibyom commented on #616
/assign

[2020-10-01 00:32] win5do commented on #776
Looking forward to it, I closed this issue.

[2020-10-01 00:33] #776 closed

[2020-10-01 10:42] savitaashture commented on #616
/unassign

[2020-10-01 11:40] rannox commented on #781
Hello!

thanks for the fast reply!

That sounds strange, you have changed to non-root containers, meaning that shouldn't had any impact for secured clusters?

We are running Rancher v2.4.5 with Kubernetes 1.18.3.
Our PSP contains in general:
- no running of root containers
- no privileged containers
- UID and GIDs must be in the range 1000000000 - 1000100000

[code]

Hope that help.

[2020-10-02 04:56] rannox commented on #781
So just to be sure that the corrected PSP was used, i edited the `release.yaml` from the version 0.6.1 to use our PSP instead of the defined `tekton-triggers`-PSP:
[code]
After changing the PSP to `secured-psp`, the Pods of v0.6.1 also didn't start:
[code]
Adding the security context with our ranges for UIDs and GIDs to the `release.yaml` fixed the problem:
[code]

[code]

Unfortunately applying t

[2020-10-06 14:56] bitsofinfo opened #788 "Feature: EventListener response customization"
Would be great to be able customize the response the _EventListener_ returns to invokers.

Currently it always returns JSON like this:

[code]

**Use case**

When integrating w/ interactive tools like Slack slash commands, the response returned by the _EventListener_ is directly consumed by the caller (slack) and displayed to the user as feedback. It generally looks like this:

![image](https://us

[2020-10-06 15:19] dibyom commented on #788
/kind feature

[2020-10-06 15:39] dibyom commented on #781
/kind bug

[2020-10-07 18:31] #617 closed

[2020-10-07 20:21] dibyom commented on #781
@rannox @savitaashture

just to verify, does the security context from https://github.com/tektoncd/triggers/pull/789/files work for you?

[2020-10-08 05:16] rannox commented on #781
Hello @dibyom

yes, setting the security context with the ID 65532 fixed the problem for me!
Thanks! :)

[2020-10-08 15:46] savitaashture commented on #781
@dibyom verified on minikube it works :+1:

[2020-10-08 16:02] #781 closed

[2020-10-08 16:59] #568 closed

[2020-10-08 18:55] dibyom opened #791 "Remove template.Name field"
template.Name was deprecated in favor of template.Ref and should be removed in v0.10

/kind cleanup

[2020-10-09 15:51] dibyom opened #792 "Support resources in podTemplate"
# Expected Behavior

Users can configure resource requirements for their Listeners

# Actual Behavior

Users have no way of doing this today.

# Additional Info

From: https://github.com/tektoncd/triggers/issues/505#issuecomment-690611723

/kind feature

[2020-10-09 15:51] dibyom commented on #505
@robermar23 sorry for the delay. I opened a new feature request to track setting resource requirements in #792

[2020-10-09 19:29] bobcatfish opened #793 "Triggers nightly build can't compile unit tests"
# Expected Behavior

Triggers nightly build should only fail if something is wrong.

# Actual Behavior

Triggers nightly build can't compile all unit tests b/c they need golang 1.14 minimum and seem to be using 1.13:

[code]

params to the tasks the pipeline is using:

[code]

[2020-10-09 20:02] #793 closed

[2020-10-09 20:06] bobcatfish opened #795 "TestTrigger_Error fails in nightly release"
# Expected Behavior

Unit tests should consistently pass or fail; failures should consistently indicate real problems.

# Actual Behavior

When run as part of the nightly release, the test TestTrigger_Error fails with:

[code]

Failed twice using "latest" golang (15.2?):
* https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/triggers-release-nightly-ngspw?pipelineTask=unit-tes

[2020-10-12 12:59] savitaashture commented on #792
@dibyom i have already created issue for the same https://github.com/tektoncd/triggers/issues/762

I think we need to close one of them

[2020-10-12 13:11] savitaashture commented on #775
@dibyom when we apply above workaround `eventlistener` CRD deleted along with `kind: EventListener` CR

But the `Deployment` which have `ownerReferences` as `EventListener`
[code]
exist as it is which results `pod` also in running state

But as per GC rule if `ownerReferences` deletes then respective `resources` also should delete right

[2020-10-12 15:13] dibyom commented on #792
ahh missed, that I'll close this.
/close

[2020-10-12 15:13] #792 closed

[2020-10-12 15:57] savitaashture commented on #762
/assign

[2020-10-12 18:45] dibyom opened #796 "Use a test helper for rawExtension objects in tests"
# Expected Behavior

We use a helper function to generate rawExtension objects needed in tests

# Actual Behavior

Currently manually setting an []byte with inline json string in quite a few tests which makes the tests brittle.
For some error cases, this might be useful but generally we should use the helper function when possible.

# Additional Info

[code]
From https://github.com/tektoncd/trigge

[2020-10-12 18:58] dibyom opened #797 "Use Listers for fetching data from EventListeners"
# Expected Behavior

The API server should not be a direct dependency during Trigger processing.
Instead of calling the API server directly, we should read off of a lister cache. We already do this in the reconcilers, we should do it for the EventListener as well.

# Actual Behavior

Currently, each EventListener directly makes calls to the API server to fetch TriggerBindings, TriggerTemplates, an

[2020-10-12 20:08] dibyom commented on #795
/assign

[2020-10-13 14:48] jlpettersson opened #799 "Improve setup when a pipeline does not exists"
# Expected Behavior

That triggers is easy to setup, both:
* when a git repository with code and a pipeline exists, but also
* when a git repository is empty and a pipeline not exists

# Actual Behavior

It is easier to setup the triggers when code and pipeline already exists / are known. For a platform team working with automatisation, what kind of source code and pipeline to use with the trigger

[2020-10-14 04:27] savitaashture commented on #650
/assign

[2020-10-14 06:00] savitaashture commented on #650
Hey @verokarhu sorry for the late reply

Yes that is one option but with that we will have dependency on thirdparty installation

And as part of this we are planning to support https connection to eventlistener pod as an inbuilt feature

[2020-10-14 09:39] #795 closed

[2020-10-14 18:00] dibyom commented on #616
/close

[2020-10-14 18:00] #616 closed

[2020-10-14 19:55] csantanapr opened #800 "add timestamps to json log output of controller"
# Expected Behavior

Easy to detect via logs how long it took from receiving the webhook HTTP request until is done creating resources and replying back to the webhook originator (ie github)

# Actual Behavior
Sometimes github would complain that the request time out because the response from the trigger listener controller didn't reply in time.

This is based on my vague understanding

# Steps to

[2020-10-14 20:04] csantanapr commented on #650
This is great to see that is being worked on. 👍

I know about Istio but is a too heavy requirement for a simple use case where OpenShift Ingress Route comes with reencrypt and passthrough out of the box.

I'm using tekton via a downstream of OpenShift Pipelines, and the enterprise client wants a solution that goes along the same way OpenShift deals with this using Route reencrypt and passthrough

[2020-10-15 07:29] hprateek43 opened #801 "Support for triggering multiple pipelines from same EventListener"
We are trying to migrate from Argo to TektonCD and are facing some implementation issues around Triggers. Argo allowed to deploy one Sensor and trigger multiple workflows through it based one event type. Can we do something similar with Tekton? I went thought the documentation and found a 1:1 relation between event listeners, triggertemplate and PipelineRuns.

[2020-10-15 12:45] AlanGreene commented on #801
The `resourcetemplates` field of the TriggerTemplate accepts a list of resources to create. You can specify multiple PipelineRuns in that list if you wish, for example:

[code]

[2020-10-15 15:33] dibyom commented on #801
/kind question

Like @AlanGreene mentioned, each TriggerTemplate can contain multiple `resourceTemplates` (i.e. PipelineRuns`)

Each event listener can also contain multiple triggers that can be triggered on the same event.

Does this answer your question?

[2020-10-15 15:54] dibyom opened #803 "Webhook: TLS handshake error from 10.128.0.8:47288: secret "triggers-webhook-certs" not found"
# Expected Behavior

Users in fresh Triggers installation can create new triggers resources

# Actual Behavior

Users in new triggers installs cannot create new triggers resources.
Triggers webhook logs if filled with:
[code]

# Additional Info

1. I think this only happens for new clusters where Triggers was not installed before and not if one is upgrading.

/kind bug

[2020-10-15 15:54] dibyom commented on #803
Probably related to: https://github.com/tektoncd/triggers/commit/8eb2067bcc90cbfa3eca783497ab83b07da16d47

[2020-10-15 16:17] dibyom commented on #775
Yeah, that's very strange. Let me try to replicate this on my setup.

[2020-10-15 16:24] #803 closed

[2020-10-15 16:37] savitaashture commented on #775
* Created EL
* deleted Triggers using `kubectl delete -f https://storage.googleapis.com/tekton-releases/triggers/previous/v0.8.1/release.yaml`
* Ran `kubectl patch crd/eventlisteners.triggers.tekton.dev -p '{"metadata":{"finalizers":[]}}' --type=merge`

* EL CRD and CR got deleted but corresponding deployment exist

[2020-10-15 16:43] savitaashture commented on #775
I tried to set `foregroundDeletion` in eventlistener `finalizer`
by referring this
https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L315
and it works
means respective Deployment and pods are deleted

[2020-10-16 15:32] #800 closed

[2020-10-19 03:04] csantanapr commented on #800
Thank you @afrittoli for the quick fix 👍

[2020-10-19 10:02] aii-ssvinoth22 opened #805 "Event listeners -> Cel interceptors with lowerAscii() is failing"
# Expected Behavior
   Convert a repo name to lowercase using cel interceptors
# Actual Behavior
    Added interceptors to event listener as below
    `- name: eks-front-push
    interceptors:
        - cel:
            overlays:
            - key: extensions.repo_name
              expression: "body.repository.name.lowerAscii()"`

  but failed. as below
   `"msg":"expression \"body.repository.nam

[2020-10-19 12:48] afrittoli commented on #805
I tried this in a unit test and it worked fine:
[code]

I wonder why it fails when running in the event listener

[2020-10-19 12:55] afrittoli commented on #805
Could you share the version of tekton and kubernetes in the additional info?

[2020-10-19 12:59] aii-ssvinoth22 commented on #805
triggers.tekton.dev/release=v0.8.1

[2020-10-19 14:57] dibyom commented on #805
loweAscii() was added in v0.9 -- could you try with v0.9.1?

[2020-10-20 00:26] aii-ssvinoth22 commented on #805
Yes i tried and it worked, thanks!

[2020-10-20 21:00] gabemontero opened #807 "separate SAs for controller/webhook deployment to allow for different permission sets"
# Expected Behavior

The controller and webhook deployments for triggers have differing permission needs, and should have only the permissions they need assigned to them

# Actual Behavior

Since the controller and webhook deployments utilized the same serviceaccount, the controller has the ability to create secrets, even though only the webhook deployment (which is the  wrapper around the knative

[2020-10-20 21:00] gabemontero commented on #807
/assign @gabemontero

[2020-10-20 21:03] dibyom commented on #775
At the WG today, we discussed adding the `foregrounddeletion` finalizer by default using a mutating admission webhook.

[2020-10-20 22:14] dibyom commented on #807
/kind feature

[2020-10-20 22:21] dibyom commented on #681
With @khrm 's Trigger CRD work (TEP-009); it should be possible to have a single cluster wide EventListener that can handle Triggers across multiple namespaces.
(The path based  triggers portion of the proposal should allow you to hit only a certain subset of triggers and not all of them).

Does this address your use case @skaegi ?

[2020-10-20 22:23] dibyom commented on #805
/close

[2020-10-20 22:23] #805 closed

[2020-10-22 03:53] sravankumar777 opened #809 "Eventlistener container crashes with eventlistener created with SA having no permissions to use eventlisteners."
# Expected Behavior

- Eventlistener shoud log error message & not crash, when event listener is created with a serviceaccount not having permissions for eventlisteners objects.
- Eventlistener could hang-in failure state provided with error message to check for right permissions of serviceaccount.

# Actual Behavior
Event Listener container crashes, when an eventlistener created with invalid(serv

[2020-10-22 03:54] sravankumar777 commented on #809
/kind bug

[2020-10-22 15:58] #809 closed

[2020-10-23 18:55] dibyom commented on #775
Looks like foreground deletion support for kubectl got merged: https://github.com/kubernetes/kubernetes/pull/93384

But looks like we'll have to wait till 1.20 for it to be released which is supposed to be in December.

Once we have that, running the `kubectl delete --cascade=foreground ...` should fix our issues.

[2020-10-27 03:13] ddy4633 opened #813 "Invalid X-GitLab-Token"
# Expected Behavior

Error : "msg": "Invalid X-GitLab-Token",

# Actual Behavior

- "trigger image": "gcr.io/tekton-releases/github.com/tektoncd/triggers/cmd/eventlistenersink:v0.9.1

[code]
- my secret:

[code]

- my test:

[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-10-27 07:42] yaoxiaoqi commented on #797
/assign me

[2020-10-27 07:43] yaoxiaoqi commented on #797
/assign @yaoxiaoqi

[2020-10-27 16:06] bigkevmcd commented on #813
Based on reading https://github.com/tektoncd/triggers/blob/master/pkg/interceptors/interceptors.go#L79

Can you try...

[code]
I suspect it's an error in the example.

[2020-10-28 07:36] ddy4633 commented on #813
Thank ,But when I'm normal . I have a new problem
[code]

[2020-10-28 09:15] bigkevmcd commented on #777
Discussed at yesterday's (2020-10-27) Triggers call, to be able to drop the quoting of strings, we need to allow folks to retain the behaviour for at least a minor release or two, adding an annotation to TriggerTemplates that require the previous behaviour feels like the best option.

Simply, the issue is caused by quoting strings that are being inserted at unknown positions in a byte slice, short

[2020-10-28 10:23] bigkevmcd commented on #813
@ddy4633 can you paste the results of
[code]

[2020-10-28 10:24] ddy4633 commented on #813
[code]

[2020-10-28 18:27] dibyom commented on #813
Might be running into https://github.com/tektoncd/pipeline/issues/2816

the workaround might help: https://github.com/tektoncd/pipeline/issues/2816#issuecomment-655106483

[2020-10-30 00:12] ibexmonj opened #817 "TriggerTemplate deletion does not clean up Taskrun's created by Triggertemplate"
# Expected Behavior

- Using tekton-trigger 0.3.1 on kubernetes version 1.14.
- On deletion of Triggertemplates I would expect Taskrun pod's that were created as part of a trigger event to be cleaned up along with the triggertemplate resource.

# Actual Behavior

I have observed this behavior when deleting triggertemplates via helm delete as well as manual triggertemplate deletes.

# Steps to Repr

[2020-11-02 11:14] afrittoli opened #820 "Support a pipeline of execution"
# Expected Behavior
As a triggers user I would like to be able to run a series of common operations on the event payload before splitting into the various triggers.

Examples are:
- (1) checking the git provider token
- add extra content / perform pre-processing of the payload to add fields required for CEL filters downstream. Examples:
  - (2) extract commands from a github comment
  - (3) append

[2020-11-02 15:59] dibyom commented on #817
We do not add the trigger template as the owner of the created taskruns so this is expected behavior.  This would be a neat feature but I'm not sure if deleting all taskruns on a triggertemplate deletion would be a good default for all users (I can see some users wanting the opposite -- keeping the taskruns around).

The issue of deleting taskrun pods has come up quite a few times. For our dogfood

[2020-11-02 17:59] ibexmonj commented on #817
@dibyom Appreciate the response.

Granted a vanilla delete option is not ideal. But something along  the lines of `spec.successfulJobsHistoryLimit: n` for Cronjob where it keeps `n` number of cronjobs in the history would be valuable.

In the meanwhile, i will review the cronjob in the dogfooding repo.

[2020-11-02 21:32] dibyom commented on #817
Totally agree that this is a very common and important use case.  We've had a few feature request for this in the pipelines repo (https://github.com/tektoncd/pipeline/issues/2856, https://github.com/tektoncd/pipeline/issues/1334, https://github.com/tektoncd/pipeline/issues/1302). I think this is something we definitely need to solve but I'm not sure if this is something that has to be part of Trig

[2020-11-03 11:13] praveen4g0 commented on #678
I see similar issue with `pipelineRef` too.

[code]

Steps to Reproduce:

[code]

Triggers version: v0.8.1

[2020-11-03 15:26] ibexmonj commented on #817
@dibyom thanks for the background info and for sharing those additional issues.

Looks like the pipeline issue has been closed and they mention `Cronjob` is the way to go there.

Maybe this is something i can contribute to if its low key priority and no one is working on it. I just have to get familiar with how and what i need to do to buid, test, contribute etc.

[2020-11-03 16:06] dibyom commented on #817
Yeah, this issue keeps coming up from time to time. At some point we were considering adding a TTL controller to Pipelines itself before settling on the CronJob solution. I'd suggest starting a thread on slack or commenting on the CronJob issue above to figure out what we want to do here.

[2020-11-03 18:06] wlynch commented on #820
Thanks for the feature request!

Initial reaction - this seems like a good goal (in particular, for webhook validation). We're looking to keep the EventListener largely agnostic, deferring to Interceptors to handle user customization and other things like credentials and caching. Having an EventListener level hook for user defined interceptors might be one way to approach this. We've been discussi

[2020-11-04 10:37] afrittoli opened #822 "Dynamically add triggers to event listeners"
### Feature request

As a Tekton user I would like to be able to add triggers to existing event listeners.

### Use case

The use case for this is a "native" notification system for Tekton.

Notifications are possible today in Tekton using the following setup:
- configuring tekton to send cloud-events to a specific event listeners
- adding triggers that:
  - match specific taskruns / pipelineruns

[2020-11-04 10:38] afrittoli commented on #822
/cc @dibyom @wlynch @vdemeester @bobcatfish

[2020-11-04 16:58] dibyom commented on #822
/cc @khrm

The label based idea is essentially what @khrm proposed and is implementing as part of [TEP-009](https://github.com/tektoncd/community/blob/master/teps/0009-trigger-crd.md)

[2020-11-07 19:01] ekarlso opened #824 "EventListeners stops receiving events randomly"
# Expected Behavior
EL's should be receiving events especially when near no load.

# Actual Behavior
EL's are hanging totally randomly when running inside Istio ServiceMesh.

I have tested rebuilding the Tekton triggers

ss -s - in the EL's container

[code]

Also it doesnt seem to be Istio related sicne when I'm shelled into the container I can't reach the EL on localhost:8080 either as it just h

[2020-11-09 21:37] dibyom commented on #824
From Slack thread:

1. Would be nice to get some pcap to see if there are any clues. ideally two things - packets when everything is working, and one when you make a request to the EL when its hanging. I don't have anything specific to look for but I was hoping having that info would provide some clues on what is going on.

2. another thing to try would be to get some profiling info from the EL it

[2020-11-09 21:43] #797 closed

[2020-11-09 21:55] ekarlso commented on #736
@dibyom I guess OpenTelemetry is a better / newer way to do this

[2020-11-09 22:36] ekarlso commented on #824
1. PCAP from curl localhost:8080 on the EL pod
[code]
2020/11/09 22:35:06 === received SIGQUIT ===
*** goroutine dump...
goroutine 57 [running]:
main.main.func3()
	github.com/tektoncd/triggers/cmd/eventlistenersink/main.go:125 +0x165
created by main.main
	github.com/tektoncd/triggers/cmd/eventlistenersink/main.go:119 +0x84d

goroutine 1 [IO wait]:
internal/poll.runtime_pollWait(0x7f87e991c698, 0x7

[2020-11-10 16:55] dibyom commented on #271
Pending the TEP getting merged, here is the implementation plan:

- [ ]  Migrate core interceptor to new interface structs - We'll migrate the core interceptors to use the new API. In this step, the core interceptors will still run inside the EventListener but will use go structs from the new API.

- [ ] Implement [TEP-0022](https://github.com/tektoncd/community/pull/218) i.e. modify the CEL inter

[2020-11-10 20:32] afrittoli commented on #822
I should have read the TEP to the end.
That's great, I look forward to the selector feature!

[2020-11-11 21:36] dibyom commented on #824
Two potentially interesting things:

1. goroutine 55 [IO wait, 7 minutes]:
7 mins waiting to readHeaders -> maybe the read/write timeouts from https://github.com/tektoncd/triggers/pull/747 will help here?

2.

	github.com/tektoncd/triggers/vendor/golang.org/x/net/http2/frame.go:237 +0x89
github.com/tektoncd/triggers/vendor/golang.org/x/net/http2.(*Framer).ReadFrame(0xc000512460, 0xc0008d2a20, 0x0,

[2020-11-12 09:46] vdemeester commented on #203
/remove-lifecycle stale

[2020-11-13 17:41] dibyom opened #827 "Cannot use interface{} pkg/apis/triggers/v1alpha1"
# Expected Behavior

We should be able to use structs with fields of type map[string]interface{}.
Notably, for TEP-0022 and TEP-0026 we'll use these in the InterceptorRequest and InterceptorResponse types. In addition, we'll need it for the InterceptorParams fields.

# Actual Behavior

Build tests fail with:
[code]
# Steps to Reproduce the Problem

1. Add a field of type map[string]interface{}
1.

[2020-11-14 23:53] gabemontero commented on #77
/remove-lifecycle stale

I still need to revisit where @khrm is wrt the trigger CRD / multi-tenant event listener work etc. per https://github.com/tektoncd/triggers/issues/77#issuecomment-674581396

[2020-11-15 15:57] gabemontero commented on #610
/remove-lifecycle stale

[2020-11-15 19:09] ekarlso commented on #824
@dibyom yes it seems that the PR you linked in fixed the issue here

[2020-11-16 17:11] #807 closed

[2020-11-16 18:50] bobcatfish commented on #697
I think this is an important discussion to have before the beta release. talking with @dibyom last week i think he's planning to follow up on this.

/remove-lifecycle stale

[2020-11-17 08:50] vdemeester commented on #624
/remove-lifecycle stale

[2020-11-17 20:44] #824 closed

[2020-11-19 09:29] LWZ55 opened #831 "Refer ResourceTemplates code by git url instead of writing code directly in the TriggerTemplates"
### Feature request

For resourceTemplates in triggerTemplates, we don't want to write the resourceTemplate directly in the yaml. We can put that content in the github.Then we specify the git url to get different resourceTemplate.

### Use case
Details as follow:
The following is TriggerTemplate.However the resourceTemplate is written directly.

[code]

Then we want to replace the commented code w

[2020-11-19 19:12] #777 closed

[2020-11-20 11:59] #774 closed

[2020-11-20 16:07] gabemontero commented on #610
Hey @dibyom ... as part of iterating on my securitiy/policy/rbac etc. TEP, I'm revisiting this issue and the various discussion of options.

At the moment, my opinion still is that your proposal from back in June is still the best and most "native" Tekton Triggers solution, in that it only requires OPA (vs. say Istio) and the webhook interceptor path if more of a "first class" approch from a Tekto

[2020-11-20 19:33] gabemontero commented on #77
@dibyom @khrm - to help illustrate my point about the optional nature of the EVT sa ref field and multi-tenant event listeners, I've opened an experimental PR https://github.com/tektoncd/triggers/pull/836 to explain where things need to go, and we sufficiently close the gaps originally noted by this issue.

[2020-11-23 14:24] afrittoli commented on #504
This feature would be really valuable for tracking purposes, at least when the source of the event is within the cluster.
An event sent over HTTP does not leave any trace in etcd. A `TriggerRun` object would be stored in the cluster, and it would make it easier to have a cohesive view of asynchronous workflows, keep track of events in a [result store](https://github.com/tektoncd/community/blob/mas

[2020-11-24 11:10] wwu-cx opened #841 "Cannot bind JSON objects like $body, $header, $body.changes etc."
# Expected Behavior

A binding to an JSON Object that worked in v0.9.1 should continue working in v0.10.0

# Actual Behavior

Whenever is use a JSON Object in a TriggerBinding like

[code]
or
[code]

 i get

`{"level":"info","logger":"eventlistener","caller":"sink/sink.go:237","msg":"ResolvedParams : [{Name:text Value:tkn help} {Name:header Value:{\"Content-Length\":\"301\",\"Content-Type\":\"appl

[2020-11-25 09:11] bigkevmcd commented on #841
There's mistake in the release notes, which we'll get fixed, but the documentation is correct https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md#escaping-quoted-strings

you'll want to change that to `triggers.tekton.dev/old-escape-quotes: "true"`

[2020-11-25 12:13] wwu-cx commented on #841
that worked, thank you

[2020-11-25 12:13] #841 closed

[2020-11-25 15:36] dibyom commented on #822
I'll close this out since selectors implement this. Feel free to re-open if that does not fully match your use case!

[2020-11-25 15:36] dibyom commented on #822
/close

[2020-11-25 15:37] #822 closed

[2020-11-25 16:11] #650 closed

[2020-11-25 16:47] dibyom commented on #504
Was adding `TriggerRun` also part of this proposal? (maybe #200 instead? 👼)
Definitely agree that we need a good way to track an event but I'm not sure if we want to do that using etcd as that would make the API server a direct dependency in the path of processing each Trigger. Maybe the results store can be an alternative way to keeping track or we could use something like Channels in Knative Eve

[2020-11-25 17:11] dibyom commented on #831
Interesting, this seems related to https://github.com/tektoncd/pipeline/issues/2298 . Maybe we can extend referencing via git (or bundles) to not just tasks but also other resources such as Templates.

I'm curious -- what's the use case for referencing only the `resourceTemplates` section from git as opposed to say the entire TriggerTemplate object.

[2020-11-25 17:28] csantanapr commented on #650
Yay 🎉 haply to see implemented

[2020-11-28 04:37] r0bj opened #845 "v0.10.0: github $(body.head_commit.modified): couldn't unmarshal json: invalid character"
# Expected Behavior

Event is handled without errors, it worked in v0.9.1.

# Actual Behavior

When trying to parse github webhooks, fields like `$(body.head_commit.modified)`, `$(body.head_commit. added)`, `$(body.head_commit.removed)` error message is generated.

JSON input looks like this:
[code]

Error log:
[code]

Adding annotation `triggers.tekton.dev/old-escape-quotes: "true"` helps in this

[2020-11-28 04:51] r0bj opened #846 "v0.10.0: even listener: cannot list resource "clustertriggerbindings""
# Expected Behavior

Event listener works without generating errors.

# Actual Behavior

Using Role and RoleBinding from: https://github.com/tektoncd/triggers/tree/v0.10.0/examples/role-resources/triggerbinding-roles for tekton triggers. Event listeners generates error logs:
[code]

# Steps to Reproduce the Problem

1. Deploy triggers with Role and RoleBinding from https://github.com/tektoncd/trig

[2020-11-30 16:20] dibyom commented on #846
Ok, so it looks like we are missing a cluster role (required only for clustertriggerbindings) from the examples/.
I'll update it but in the meantime the EL should still work as intended as long as you are not using a ClusterTriggerBinding.

[2020-11-30 16:22] dibyom commented on #845
We added a new CEL function called `marshalJSON` that will be in the v0.11 release that should help with this (correct me if I'm wrong @bigkevmcd )

[2020-12-01 16:41] #64 closed

[2020-12-01 22:48] #846 closed

[2020-12-02 12:14] #762 closed

[2020-12-02 12:18] savitaashture opened #849 "Remove podTemplate, serviceType field from eventlistener spec"
`podTemplate`, `serviceType` has been deprecated as part of 0.10 release and it will be removed in 0.11
`podTemplate`, `serviceType`  now handled as part of `spec.Resources.KubernetesResource`

As of now we will not remove `serviceAccountName` for the ease of usage

/kind cleanup

[2020-12-02 12:20] savitaashture commented on #849
/milestone Triggers v0.11

[2020-12-02 15:52] dibyom commented on #610
Yeah, one issue with the previous webhook interceptors was it was difficult to distinguish between expected and unexpected errors (i.e. #336). Pluggable interceptors should solve this .

[2020-12-02 17:17] gabemontero commented on #77
UPDATE: we had a centralized discussion on this in today's WG call today ... the skinny:
- per @dibyom the pluggable interceptor rework should reduced the permission scope of the EventListener
- EL permissions in general are on @khrm 's radar wrt multi-tenant EL
- we also discussed a few tweaks to the first pass approach I did in https://github.com/tektoncd/triggers/pull/836
- But in general, we'l

[2020-12-03 16:11] bigkevmcd commented on #845
This is exactly what `marshalJSON` solves, it would quote the list correctly and insert it as a string, which can be decoded by a step in a task.

[2020-12-03 17:33] savitaashture commented on #849
/assign

[2020-12-03 18:11] bitsofinfo opened #853 "0.10.x: cryptic error message when not changed over to `extensions` in CEL overlays"
After upgrading to 0.10.1, I missed an overlay CEL that referenced `body.var` and not `extensions.body.var`  this message maybe could be clearer as to what the issue is?

[code]

[2020-12-03 19:21] r0bj commented on #845
So right now my `EventListener` uses github interceptor, and looks similar to this:
[code]

In order to keep using field `$(body.head_commit.modified)` (after annotation `triggers.tekton.dev/old-escape-quotes: "true"` is removed) do I need to replace github interceptor for CEL Interceptor?

[2020-12-03 20:55] dibyom commented on #853
yeah that's not a helpful error
/kind bug
/assign

[2020-12-04 06:41] #853 closed

[2020-12-07 13:15] bigkevmcd opened #856 "Add more generic HMAC validation"
### Feature request

We support GitHub and GitLab's SHA-based signatures for incoming webhooks, but being able to trust Webhooks is important as they can come from anywhere.

I'd like to be able to do something like provide a header/algorithm (sha1/sha256 etc)/secret/key combination, and use that to validate received bodies.

[code]

[2020-12-07 17:17] dibyom opened #857 "CEL - Webhook Interceptor Chaining broken"
# Expected Behavior

It should be possible to add a field using a CEL overlay and then use that overlay value in a Webhook Interceptor.

# Actual Behavior

This behavior used to work but broke in v0.10.0/1 . This was due to the CEL interceptor moving to the new Interface where it can only write to the new `extensions` field while webhooks are still in the old interface and have no access to the `e

[2020-12-07 17:48] dibyom commented on #735
We still need to do this at some point!

[2020-12-09 20:45] dibyom commented on #813
I'm going to close this since there hasn't been any activity in a while. Feel free to re-open if you are still running into issues!
/close

[2020-12-09 20:45] #813 closed

[2020-12-09 20:46] dibyom commented on #772
This should have been fixed with #823
Please feel free to reopen if this is still an issue!
/close

[2020-12-09 20:46] #772 closed

[2020-12-09 20:48] #857 closed

[2020-12-09 20:48] dibyom commented on #788
The Notifications work that @afrittoli is doing in [TEP-0032](https://github.com/tektoncd/community/blob/master/teps/0032-tekton-notifications.md) might be related here.

[2020-12-09 20:49] dibyom commented on #713
/remove-lifecycle stale

@piyush-garg any updates on this?

[2020-12-09 20:49] dibyom commented on #709
/remove-lifecycle stale

This will still be a huge help in reducing manual toil for release captions

[2020-12-09 20:49] dibyom commented on #682
/remove-lifecycle stale

[2020-12-10 09:18] piyush-garg commented on #713
I can raise the PR if this looks good to you. Was looking for feedback on this

[2020-12-10 12:45] #849 closed

[2020-12-11 12:50] viniagostini opened #861 "Configurable timeout and/or retries on webhook interceptors"
### Feature request
Currently, I have a webhook interceptor calling a service that sometimes takes more than 5 seconds to respond, and when it happens the trigger throws a Timeout error.

Would be nice if I could configure some retry strategy or increase this timeout.

[2020-12-14 12:48] fiunchinho commented on #781
I tried running the getting started guide in `v0.10.1` and I'm facing the same issue.
```OCI runtime create failed: container_linux.go:348: starting container process caused "chdir to cwd (\"/home/nonroot\") set in config.json failed: permission denied"```

[2020-12-14 17:48] dibyom commented on #385
Still a bug that we need to fix :)

[2020-12-14 21:03] dibyom commented on #781
@fiunchinho what kind of environment are you trying to run Triggers in (i.e. k8s version, is it minikube/gke/openshift etc.)

Also, do you see this error for the Triggers controller deployment or the EventListener deployments?

[2020-12-16 09:06] vdemeester opened #864 "Add a configuration for SecurityContext to reconciled eventlistener Deployment"
With #862 is merged, eventlistener deployment are no more able to be created, *by default* on OpenShift.
The reason for it is that, by default, you cannot set `uid` for your Pods, OpenShift takes care of this. To be able to use `runAsUser: 65532` on OpenShift, you need to use `anyuid` which is a *higher* privilege than you usually need to.

Before this change, the eventlistener pod(s), in OpenShif

[2020-12-16 09:16] MarcelMue commented on #864
I will try to provide a PR with a fix as I introduced the change.

[2020-12-16 11:59] MarcelMue commented on #864
PR which adds a flag is open now. My main concern is that I am unable to test this properly - so would rely on someone trying this on openshift.

[2020-12-16 17:32] dibyom opened #867 "Interceptors: Migrate CEL and source control interceptors to a separate server"
The work for this issue is to migrate the core interceptors (minus webhook) to run on their own deployment. The EL will send HTTP requests using the interface specified in [TEP-0026](https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#http-interface).

Part of [TEP-0026](https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#http-interface

[2020-12-16 17:34] dibyom opened #868 "Interceptors: Implement CRD to provide a single way to install Interceptors"
The work for this will involve implementing the InterceptorConfig CRD as described in [TEP-0026](https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#installing-interceptors)

[2020-12-16 17:36] dibyom opened #869 "Interceptors: Implement new config API aka how to use interceptors in Triggers"
The work for this issue is to implement changes to how users writing a Trigger configure Interceptors as described in [TEP-0026](https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#using-interceptors-in-triggers) i.e. how to supply params declared by an Interceptor in a Trigger.

# What?

Discuss options for how we should configure interceptors inside a Trigger.

# W

[2020-12-16 17:38] dibyom opened #870 "Document plan for webhook interceptors"
With [TEP-0026](https://github.com/tektoncd/community/blob/master/teps/0026-interceptor-plugins.md#tep-0026-pluggable-interceptors), we'll have a single interface for interceptors. However, for backwards compatibility we still allow webhook interceptors. We should document a plan for how to deprecate webhook interceptors while letting users migrate to the new pluggable interface easily.

[2020-12-16 17:42] dibyom opened #871 "Allow TLS connections between EventListener and Interceptors"
### Feature request

EventListeners today communicate with Interceptors over HTTP. We should optionally allow TLS connections as well.
We will likely want to do this for the new pluggable interceptors API and not the old style webhook interceptors.

### Use case

* Using Triggers in an environment that mandates E2E TLS.

[2020-12-18 09:49] Hokwang opened #875 "failed calling webhook x509: certificate signed by unknown authority"
Hi,

I have on-prem kubernetes cluster.

I installed pipeline, dashboard, triggers.
And following getting-started,
when I run below command, there's error.

[code]

I don't know why this error occurs.

# Additional Info
- Kubernetes version: 1.17.11
- Tekton Pipeline version: 0.19.0

[2020-12-21 17:40] dibyom commented on #875
I wonder if this has something to do with the on prem k8s setup. I think what's happening is that the K8s API server is sending a request to the Triggers webhook but its failing due to the self signed certs.

Does this also happen when creating pipeline resources?
Is there anything in the webhook logs? (`kubectl -n tekton-pipelines logs -f  tekton-triggers-webhook-xxx`)

[2020-12-22 11:45] Hokwang commented on #875
@dibyom
Yes, my kubernetes cluster is on on-prem and installed using kubeadm.

Actually tekton pipeline has same problem. (https://github.com/tektoncd/pipeline/issues/3609)

In this case, I removed
`mutatingwebhookconfiguration.admissionregistration.k8s.io/webhook.pipeline.tekton.dev` and
`validatingwebhookconfiguration.admissionregistration.k8s.io/config.webhook.pipeline.tekton.dev`.
and then it

[2020-12-22 17:47] dibyom commented on #875
mutatingwebhookconfiguration.admissionregistration.k8s.io/webhook.pipeline.tekton.dev and
validatingwebhookconfiguration.admissionregistration.k8s.io/config.webhook.pipeline.tekton.dev.
and then it works.

Yes, that would work since it removes the webhooks but that way you won't get any of the benefits from the webhooks (validation + setting default values etc.)

The way the certs work for webhook

[2020-12-24 00:15] isaaguilar opened #879 "typo in getting-started input usage"
https://github.com/tektoncd/triggers/blob/045e704ce44d75e274e2490e3c1d98041dc74f60/docs/getting-started/pipeline.yaml#L74

I was getting an error until I changed this to `"$(resources.inputs.image-source.url)"`

[2020-12-29 20:10] dibyom commented on #827
Use https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions#JSON instead

[2020-12-30 13:01] MarcelMue commented on #864
I added some more unit tests and am fairly confident now, that this can be closed.

[2020-12-30 22:13] andrewrynhard opened #883 "Can't remove old EventListener in latest nightly"
# Expected Behavior

`kubectl delete el X` should remove eventlistenter.

# Actual Behavior

Webhook fails to parse:

[code]

# Steps to Reproduce the Problem

1. Create el with `podTemplate` on v0.10
2. Update to nightly
3. Delete/apply el

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]
Client version: 0.15.0
Pipeline version: v0.19.0
Triggers version: v20201

[2020-12-31 08:49] veggiemonk commented on #618
That would be very useful

[2021-01-04 10:35] vdemeester commented on #864
/close

[2021-01-04 10:35] #864 closed

[2021-01-05 15:55] #586 closed

[2021-01-05 17:59] khrm commented on #883
/assign

[2021-01-05 18:01] khrm commented on #883
This is happening because we removed podTemplate and serviceType https://github.com/tektoncd/triggers/pull/852/files
I think we didn't handle deprecation properly here. We should have first setup defaults to change El and then remove those fields in next release.

[2021-01-06 13:28] arve0 opened #888 "Unable to delete TriggerTemplate on 0.8.1 created in earlier version"
# Expected Behavior
Deleting should be successful:
[code]

Similar as #883. Is there any way to force deletion?

# Actual Behavior
[code]

# Steps to Reproduce the Problem

1. Install triggers v0.4.0
2. Create a `TriggerTemplate`
3. Upgrade triggers to v0.8.1
4. Try to delete `TriggerTemplate`

👆🏻 This is on OpenShift through the _Red Hat OpenShift Pipelines Operator_, operator starting version v1

[2021-01-06 13:38] arve0 commented on #888
Was able to resolve with:
[code]

Feel free to close, if out of scope.

[2021-01-06 15:48] dibyom opened #889 "Docs: Write an example/guide on using Triggers with Knative Events"
The simple case would be to use a Knative Eventing source along hook it up with a Tekton EventListener.

One example: https://github.com/iancoffey/brokers-tekton

[2021-01-07 13:33] praveen4g0 opened #890 "#761 would this behavior applies to CEL overlays too?"
**Kind:** Question

* #761 (apply triggertemplate param default value if body/header based triggerbinding param missing from body/header)

eg:
[code]

what happens when user hit sink url, with a payload, where body doesn't contains field `ref` ?

### Actual:
* It ends up with below error
[code]
### Expected:

* Trigger template should get default value (master), or at least with some appropriate e

[2021-01-07 18:38] #867 closed

[2021-01-08 13:52] bigkevmcd commented on #890
Your CEL expression is generating an error, so it's not getting to the TriggerTemplate...

You could try something like this as an expression:

[code]

[2021-01-08 20:18] ibexmonj commented on #504
I believe this will be very valuable and the justification I have here is `Cronjob` wont be GA until K8s v1.20 . The fact that Cronjob is still `beta` and cronjob triggering is[ best-effort](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/) at best leaves a lot to be desired. We do see cronjobs failing to schedule any jobs from time to time and this would be a huge limitation f

[2021-01-11 09:54] Fabian-K opened #892 "Idea: consider 0 as valid value for EventListener replicas"
Hi,

I´m trying to replace the deployments created by EventListener with Knative Services to enable scale to zero. I´m aware of https://github.com/tektoncd/community/blob/master/teps/0008-support-knative-service-for-triggers-eventlistener-pod.md and think this is a great long term solution. Until this is fully implemented: what are your thoughts of considering 0 as a valid value for the field repl

[2021-01-12 08:31] Thearas opened #893 "Question: How to set default value for an array type parameter in TriggerTemplate"
Here is my `Pipeline`:
[code]
I want to extract the `MESSAGES` from HTTP body:
[code]
Got an error when I applied it:
[code]

[2021-01-12 20:27] dibyom opened #894 "Triggers nightly release failing"
# Expected Behavior
Nightly builds work

# Actual Behavior

From @afrittoli  on Slack:

I see this error in the triggers nightly build
[code]

It looks like triggers has a new base image that is not known by the publish task
https://github.com/tektoncd/triggers/blob/7d49df432f52768aff28f72a048e947538342706/tekton/publish.yaml#L113-L117
[code]

[2021-01-12 20:27] dibyom commented on #894
/assign

[2021-01-12 22:16] #894 closed

[2021-01-13 12:31] Fabian-K opened #896 "EventListener sometimes fails to resolve binding"
Hi,

for our tekton deployment, sometimes we see EventListeners failing to process events with the following information in the log

[code]

The mentioned TriggerBinding however exists. Do you have an idea why this fails sometimes? Is there anything i can check?

Thanks, Fabian

EventListener
[code]

TriggerBinding
[code]

# Additional Info

- Kubernetes version: `v1.18.12`
- Tekton Pipeline versi

[2021-01-13 15:50] dibyom commented on #890
/kind question

[2021-01-13 15:52] dibyom commented on #888
Looks like you were trying to upgrade from v0.4.0 to v0.8.1 -- we usually try to ensure you can upgrade/delete from the previous version but while upgrading from a much older release you might run into issues. I think the approach you took of deleting the webhooks (and then recreating them) is the way to go in that scenario.

[2021-01-13 15:52] #888 closed

[2021-01-13 15:53] dibyom commented on #879
Ahh that's a really old syntax...looks like we need to update your getting-started docs.

/kind bug

[2021-01-13 16:00] dibyom commented on #896
Looks like you are running a fairly old version of Triggers...in that release we'd make a call to the API server directly each time we wanted to resolve a binding. In newer releases, we use a lister so that the result is cached and we do not have to make a network call (reducing the chances of failure). Also in newer releases, you have the ability to inline/embed the binding within your Trigger sp

[2021-01-13 16:11] Fabian-K commented on #896
Thanks for the quick reply! I´m confused... isnt 0.10.2 the latest version of triggers?

[2021-01-13 16:19] MarcelMue commented on #791
/assign

[2021-01-13 16:30] savitaashture commented on #782
/assign

[2021-01-13 17:43] dibyom commented on #896
You are absolutely correct. I'm going to blame a lack of coffee 🤦

(I think using embedded bindings should still work as a workaround).

One question: Does this happen when you initially create a Trigger/EventListener/Binding? Or does this consistently happen even when an EL has been running for some time?

[2021-01-13 19:28] Fabian-K commented on #896
Hehe, happens to me all the time :D

The log message was from today, the trigger, and the event listener was created last year. I do not know for how long the pod of the event listener existed tough.

Embedding sounds like a good idea, I ´ll definitely try this

[2021-01-13 20:44] #791 closed

[2021-01-13 20:49] dibyom commented on #861
Hi, sorry about the delayed response. We discussed this during a Working Group meeting. Summarizing the discussion:

We're trying to decide between providing config options vs adding some standardized retry behavior for webhook interceptors. Adding a config option can lead to some complexity (e.g. we already have EL level timeouts...how will this interact with that). Maybe we could just do some st

[2021-01-13 20:55] dibyom commented on #892
Hmm interesting idea...Are you manually creating a Knative Service using the EventListener sink image?

I'm guessing we only need the EventListener because we fetch the EventListener to get the list of triggers to process...I wonder if there is a way we could refactor that code so that you could just pass it a list of triggers.

also /cc @savitaashture for timeline on Knative EventListener impleme

[2021-01-13 21:14] dibyom commented on #893
At the moment, trigger template params are of type string because the values extracted by TriggerBindings are always strings -- if we select a JSON body, we provide its string representation to the template.

The only hacky workaround would be to add each member of the array individually as a param if you already know the size of the array.

One of the reasons we did not have array params is that

[2021-01-14 05:47] #893 closed

[2021-01-14 08:30] Fabian-K commented on #892
Yes, exactly! I only did a quick test so far but the following service definition seems to work (almost a 1:1 copy of the deployment)

[code]

[2021-01-14 20:51] wlynch opened #901 "Proposal: Use UUID for Trigger Event IDs"
Short proposal I wanted to get feedback on before making a change.

Currently we generate Event IDs similar to `generateName` by [randomly generating a 5 character string](https://github.com/tektoncd/triggers/blob/9bc264f2cefd7b7ade512841ba4ae04c81da582c/pkg/template/resource.go#L143) to associate to the event. While this has worked so far, we might find that the current 5 character solution isn't

[2021-01-14 21:14] #782 closed

[2021-01-15 05:41] gokula-krishna-dev opened #902 "Getting started eventlisteners RBAC issues"
# Expected Behavior
Eventlistener pod run with no errors

# Actual Behavior
Eventlistener started with following error

[code]

# Steps to Reproduce the Problem
I am following the instructions from the guides

https://github.com/tektoncd/triggers/tree/master/docs/getting-started
https://github.com/tektoncd/pipeline/blob/master/docs/install.md

1. minikube start --memory 6144 --cpus 2 --insecure-re

[2021-01-15 11:05] khrm opened #904 "Remove Deprecate fields PodTemplate and ServiceType"
PodTemplate and ServiceType are deprecated and need to be removed in a future release.

[2021-01-15 16:48] dibyom commented on #902
Hmm, looks like the roles in getting/started/rbac might be a bit out of date. I'll update the docs. In the meantime, the roles from examples/rbac.yaml should work.

[2021-01-15 16:48] dibyom commented on #901
Sounds reasonable to me!

[2021-01-16 07:31] #883 closed

[2021-01-16 11:06] MarcelMue commented on #901
Sounds reasonable - some notes:
- Is the current ID used in any length limited fields (e.g. name)? Following RFC4122 we would have 36 characters instead of 5
- Do we expect the hyphens in the UUID to have any impact? It shouldn't in k8s but I am not sure where this ID is currently used
- I would like to introduce more debug logging in `triggers`, logging the full UUID might be very spammy. There a

[2021-01-19 04:31] weinix opened #909 "Unable to create EventListener with Gitlab Interceptor"
# Expected Behavior
Create an EventListener with a Github interceptor.
# Actual Behavior
`Error from server (BadRequest): error when creating "./pipelinetriggers/eventlistener.yaml": admission webhook "webhook.triggers.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "name"
`
# Steps to Reproduce the Problem

Create EventListener with below ya

[2021-01-19 04:32] weinix commented on #909
And I should have added, that this was working yesterday, was there any changes in the tekton release last 24 hours?

[2021-01-19 04:40] weinix commented on #909
just to update, I was able to create the listener by change last line to: `ref: build-deploy-template `

[2021-01-19 10:03] renhao-0518 opened #910 "Skip trigger by specific field"
Can a specific commit message be used to skip the trigger and execute ci，Sometimes the modification is not the code

[2021-01-19 10:51] savitaashture opened #911 "Remove template.Name field"
`template.Name` was deprecated in favor of template.Ref and should be removed in v0.12

/kind cleanup

[2021-01-20 06:11] #879 closed

[2021-01-20 06:11] #902 closed

[2021-01-20 16:00] savitaashture opened #920 "Add flag to enable TLS connection to EventListener"
Had discussion in Triggers WG that providing flag might be clearer than setting an environment variable(`TLS_CERT` and `TLS_KEY`),
But this is not very urgent requirement to do it now instead we will keep as is and wait for feedback from user.

Creating this issue to track the discussion

/cc @dibyom @MarcelMue

[2021-01-20 16:38] dibyom commented on #619
The pipelines project uses this: https://github.com/tektoncd/pipeline/blob/master/test/e2e-tests-upgrade.sh

[2021-01-20 17:31] dibyom commented on #920
/kind feature

[2021-01-21 11:02] bigkevmcd commented on #910
Yes, you could use a [CEL interceptor](https://tekton.dev/docs/triggers/eventlisteners/#cel-interceptors) with a filter that returned false if the commit message field contained something like `[skip ci]`.

`filter: body.message.indexOf('[skip ci]') > 0 || body.message.indexOf('[ci skip]') > 0`

You'll need to change the `body.message` part to include the the path to the commit message in whatever

[2021-01-21 11:02] bigkevmcd commented on #910
/label question

[2021-01-21 11:03] bigkevmcd commented on #910
/kind question

[2021-01-21 19:32] dibyom commented on #827
/close

[2021-01-21 19:32] #827 closed

[2021-01-21 21:36] dibyom commented on #775
/remove-lifecycle stale
This should be possible now. Need to verify

[2021-01-22 03:51] gokula-krishna-dev commented on #902
@dibyom Thank you for your support!

There's is one more issue. The role in examples/rbac.yaml is pointing to default namespace. I saw in your PR you made a sym link with getting started role. I think the file should be duplicated and namespace should be updated to `getting-started` to make it work. Can I create a PR to fix it? Or is there a better approach?

[2021-01-22 08:04] renhao-0518 commented on #910
filter: header.match('X-Gitlab-Event', 'Push Hook') && body.message.indexOf('[skip ci]') > 0 || body.message.indexOf('[ci skip]') > 0 && header.canonical('X-Gitlab-Token').compareSecret('secretToken', 'gitlab-secret')
[code]
--------------------------------------------------------------------------------------
filter: header.match('X-Gitlab-Event', 'Push Hook') && body.commits.message.indexOf('[sk

[2021-01-22 10:01] bigkevmcd commented on #910
What version of Triggers are you using?

Also, you could use the GitLab interceptor https://tekton.dev/docs/triggers/eventlisteners/#gitlab-interceptors

[2021-01-22 10:13] bigkevmcd commented on #910
Ok, I've had a look at this, I can see that you're using GitLab...

https://docs.gitlab.com/ee/user/project/integrations/webhooks.html#push-events indicates that the "commits" field of the event is a JSON array of JSON objects.

This expression `body.commits.message.indexOf('[skip ci]')` is basically trying to lookup element `message` in the array of objects, which because it's not an object, does

[2021-01-22 13:24] renhao-0518 commented on #910
I agree with you, it should be written like this
[code]

[2021-01-22 13:30] bigkevmcd commented on #910
@renhao-0518 I realised that I made a mistake there, you want to filter ones out with skip ci-...

So, you probably want `body.commits[0].message.indexOf('[skip ci]') = 0 || body.commits[0].message.indexOf('[ci skip]') = 0`

That will fail if it detects `[skip ci]` or `[ci skip]` in the body (the indexOf returns the position within the string), which would cause the Trigger to not execute.

[2021-01-22 13:38] renhao-0518 commented on #910
if 0 > 0 then fasle
if 1 > 1 then ture

No matter whether the content I submit contains [ci skip || skip ci] or not, it will always return false. Why is this so?

[2021-01-22 13:40] renhao-0518 commented on #910
Yes, I also encountered this problem just now

Yes, I also encountered this problem just now

[2021-01-22 13:47] renhao-0518 commented on #910
The operation symbol should be ==, = the admission controller will not pass the verification

[2021-01-22 14:08] renhao-0518 commented on #910
When i change to this ，Whatever I submit, he returns false，I suspect there is a problem with the controller，He had just succeeded once，After that, no matter what I submit, it returns false

[2021-01-22 14:19] renhao-0518 commented on #910
[code]
[code]

[2021-01-22 15:34] bigkevmcd commented on #910
@renhao-0518 https://github.com/google/cel-go/blob/master/ext/strings.go#L52

It returns `-1` when the string isn't found.

[2021-01-22 15:42] dibyom commented on #902
hey @gokula-krishna-dev copying would work though in the past this has led to issues where the file would get out of date. I updated the instructions for all the kubectl commands to always use `-n getting started` which should also solve the issue.

[2021-01-22 16:18] renhao-0518 commented on #910
[code]

[code]

[code]
------------------------------------------------------------------------------------------------------------------------------------
[code]

[code]

I don't understand, where did I go wrong

[2021-01-22 22:26] #911 closed

[2021-01-23 06:06] leptonyu opened #923 "Allow to change default namespace tekton-pipelines."
https://github.com/tektoncd/triggers/blob/608bc75bfe6726d6db904f4b8fa018b64b76028a/pkg/interceptors/interceptors.go#L191

This code lead to following error, because it fix the namespace.

[code]

[2021-01-23 16:33] lqy1992 opened #924 "How to set the nodeselector and tolerances of the pipelinerun pod created by triggers"
### How to set the node node selector and tolerances of the pipelinerun pod created by triggers
I refer to the official website examples to configure my CICD tasks.
https://github.com/tektoncd/triggers/tree/master/examples
But I found that I can't control the related configuration of nodeselector and tolerances of the generated cicd pod.
I only found the configuration of EventListener in the offic

[2021-01-25 04:40] savitaashture commented on #923
OpenShift install Triggers component under `openshift-pipelines` namespace.
As we hardcoded namespace to `tekton-pipelines` we will face above error.

I agree to have this feature

I would propose that instead of hard coding namespace to `tekton-pipelines` we should able to get namespace value where Triggers controllers are installed @dibyom wdyt ?

[2021-01-25 12:02] savitaashture commented on #924
@lqy1992 if you want to specify  nodeselector and tolerances for the pod created by pipeline you need to configure those as part of  [pipelinerun in TriggerTemplate](https://github.com/tektoncd/triggers/blob/master/examples/triggers/triggertemplate.yaml#L18-L38) as [PodTemplate](https://github.com/tektoncd/pipeline/blob/master/pkg/apis/pipeline/v1beta1/pipelinerun_types.go#L177)

[2021-01-25 13:20] lqy1992 commented on #924
I succeeded, thank you very much for the answer.

[2021-01-25 13:20] #924 closed

[2021-01-25 16:10] Fabian-K commented on #892
The required changes to enable this seems to be small. I opened a PR in case you consider this change :)

[2021-01-25 16:15] dibyom commented on #923
/kind bug

[2021-01-25 16:24] dibyom commented on #923
hmm yeah this is a bug :(

We should probably be using the value of the SYSTEM_NAMESPACE env var, and not rely on the default system namespace.

[2021-01-25 17:09] dibyom commented on #923
We need to propagate the namespace that Triggers is installed in. The SYSTEM_NAMESPACE env var in the EL Pod propagates the namespace that the EL is installed in.

[2021-01-26 09:07] bigkevmcd commented on #910
@renhao-0518 you're matching on `[skip ci]` or `[ci skip]` but only sending `skip ci`.

[2021-01-26 09:53] #923 closed

[2021-01-26 13:10] Fabian-K opened #928 "EventListener fails to create service due to max length limitation"
### Feature request

When creating an EventListener with a long name, it fails to create the Service due to the max length limitation of 63 characters. Does it make sense to reject the creation of the event listener in the first place? Or are there other options available to handle this internally?

[code]

I´m currently using release v0.10.2.

Thanks, Fabian

[2021-01-26 22:43] #901 closed

[2021-01-27 05:27] renhao-0518 commented on #910
@bigkevmcd
[code]
When I submit normally, he always returns to fasle

[2021-01-27 19:31] dibyom opened #931 "HTTP Response StatusCodes from EventListener"
# Background

Today the EventListener waits for at least one resource to be created before returning a HTTP response.  We return 201 if a resource is created and 202 otherwise.  If we fail to create a resource due to an auth error, we return a 401 response instead.

Note that the 201 status code, the user still may not know exactly what resource was created. They'd still have to look into the EL l

[2021-01-27 21:59] dibyom opened #932 "Status Conditions for EventListener"
# Background

Currently, the EventListener's `status` field contains following 4 condition types - `Available`, `Deployment`, `Progressing`, `Service`.
The `Deployment` and `Service` condition indicate whether the deployment or service exists.  `Available` and `Progressing` are conditions propagated from the underlying Deployment's conditions.

# Problems
1. 4 conditions are a lot and can be confu

[2021-01-27 22:08] dibyom commented on #928
Thanks for the report @Fabian-K

It looks like we don't do any additional validation on EL names but we probably should. Service names can only be 63 chars long. We always add `el-` as a prefix to the service being created so we should limit event-listener names to 60 chars.

I think it should be fairly simple to add some validation for this here:
https://github.com/tektoncd/triggers/blob/master/p

[2021-01-28 04:27] dibyom commented on #775
Was trying to verify this but failed to upgrade my minikube setup to k8s v.1.20

[2021-01-29 08:47] bigkevmcd commented on #910
@renhao-0518 The way the filters work, is that if the expression returns false, then the remainder of the interceptor is skipped.

In your filter, you're saying "only proceed if the message beings with `[skip ci]` or `[ci skip]`".

Likely want to say ` body.commits[0].message.indexOf('[skip ci]') == -1` because it returns `-1` when the message is not found in the string.

[2021-01-29 13:03] renhao-0518 commented on #910
@bigkevmcd  Sorry, there may be a misunderstanding, maybe my expression is not accurate enough，In fact, I want to execute the pipeline during normal submission，When the submission information contains [ci skip] or [skip ci], he will not execute the pipeline

[2021-01-29 13:39] bigkevmcd commented on #909
This was covered in the release notes as a breaking change for 0.11.0 https://github.com/tektoncd/triggers/releases/tag/v0.11.0

[2021-01-29 15:53] bigkevmcd commented on #910
@renhao-0518 I understand that, so, you need to return false (which stops the interceptor) when it contains the strings you're avoiding.

The log above:
[code]
For the example you gave, means that your test is inverted, you want to return false.

So, you want to say...

[code]

i.e. return true _only_ if both conditions are met, which means that the commit message contains neither of the two strin

[2021-01-29 20:11] dibyom commented on #869
/cc @bigkevmcd @wlynch would like to get your thoughts on the ideas above.

(I'm currently doing a PoC with options 2 and 3)

[2021-01-30 05:23] renhao-0518 commented on #910
@bigkevmcd Just meet one of the conditions，Now the problem has been solved, thanks for your help，```shell body.commits[0].message.indexOf('[ci skip]') == -1 ```  If used alone, it can work normally ，```shell body.commits[0].message.indexOf('[ci skip]') == -1 || body.commits[0].message.indexOf('[skip ci]') == -1 ``` If combined, it will return true no matter what is submitted

[2021-01-30 06:43] bigkevmcd commented on #910
@renhao-0518 if you look at the last example I gave, I used `&&` i.e. if neither `[ci skip]` AND `[skip ci]` are in the message, it can continue.

Glad to hear it's sorted tho'

[2021-01-30 10:14] renhao-0518 commented on #910
@bigkevmcd Thanks, now everything is normal

[2021-02-01 21:06] dibyom commented on #192
Have a branch with a simple bash test runner: https://github.com/tektoncd/triggers/compare/master...dibyom:examples_test?expand=1

[2021-02-02 09:33] ipedrazas opened #938 "Proposal: Use standard k8s labels"
### Feature request

It would be great if we could incorporate the use of standard/recommended k8s labels to identify applications/components resources (https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/).
[code]

Since `pipelines` has already adopted some (https://github.com/tektoncd/pipeline/issues/2497), it would be great to adopt the same set of labels for all the

[2021-02-02 13:21] afrittoli commented on #901
We used to have `$(uid)` in resource names in trigger templates - we still do in the getting started, which with the new uid is not possible, as the resource name becomes too long:
[code]

I think new UUID should be introduced as an opt-in, otherwise the new release will break many templates.

[2021-02-02 16:54] #928 closed

[2021-02-03 16:55] jmcshane opened #940 "Proposal: Add cel logic to applying trigger bindings"
### Feature request

Allow triggerbindings to be applied based off a cel selector

### Use case

Here's my use case, we are trying to do an "initiating" pipeline that operates based off all the different github events that can be fired on a repository. This can be "issue comment", "pr opened or updated", "pr closed", "pr comment", "release". We want to build a pipeline that runs with a flag based

[2021-02-03 20:45] dibyom commented on #910
I'm going to close out this issue. Please re-open if you run into other issues.

/close

[2021-02-03 20:45] #910 closed

[2021-02-03 22:07] skk2142 opened #941 "Cloudevents are sometimes not emitted for task state change"
# Expected Behavior
Taskrun successful should emit an event.
# Actual Behavior
No event is emitted for success, but I do get events for started and unknown state.
I have shown the headers of events emitted for the taskrun.
# Additional Info
[code]
However, the task did succeed:
`
deploy-run-7x5ft-get-info-wjsnz                           48 minutes ago   7 seconds    Succeeded
`
I'm using the cloud

[2021-02-04 09:21] Fabian-K commented on #896
We now embed the TriggerBinding into the EventListener. Unfortunately we can´t do this (yet) for the TriggerTemplate as the model of our client needs to be updated first, so we now face some `error getting TriggerTemplate ...`. So far I´m only seeing this issue on event listener pods that got restarted, I´m wondering if that is a coincidence... 🙇‍♂️

[2021-02-04 18:07] dibyom opened #942 "TriggerTemplate errors with \n character"
# Expected Behavior

Users should be able to use a Trigger with binding or template param values that contain the newline `\n` character.

# Actual Behavior

TriggerTemplate errors out. I tried a few cases cases -- 1) TriggerTemplate with a default param that contains a newline, 2) with the annotation `triggers.tekton.dev/old-escape-quotes: "true"` added, and 3) with a binding value that contains

[2021-02-04 19:38] dibyom commented on #896
so when the pods get restarted, you get the error message for a while and then everything works? Or is the error continuous?

[2021-02-04 20:07] Fabian-K commented on #896
Somehow I have the feeling that once a EventListener pod shows the error, all future events handled by the pod will also fail. Unfortunately only a feeling, I´ll have to observe this better

[2021-02-05 13:55] jmcshane opened #944 "Use watches on Triggers rather than loading them on each request to the Event Listener"
### Feature request

Right now, every single request to the event listener has to gather all the associated triggers from the target namespaces and hardcoded in the eventlistener by the sink. Each sink could instead create a watch on the target k8s Triggers and maintain a list outside of the main sink request/response loop. This can lower sink processing time because it would reduce the API calls

[2021-02-05 15:15] dibyom commented on #944
What version of triggers are you on? We already use listers to get the resources which internally uses a cache to reduce the number of calls to the API server: https://github.com/tektoncd/triggers/blob/master/pkg/sink/sink.go#L58-L63

[2021-02-05 15:21] jmcshane commented on #944
Ah shit, I didn't understand the listers correctly, sorry @dibyom. I'll close this

[2021-02-05 15:21] #944 closed

[2021-02-05 17:14] jmcshane opened #945 "Feature: Allow Triggers to invoke other triggers after interceptor processing"
### Feature request

<img width="681" alt="Screen Shot 2021-02-05 at 11 06 40 AM" src="https://user-images.githubusercontent.com/9361244/107065300-3bc41080-67a2-11eb-9f52-5c8fc6087664.png">

Triggers processed in the sink right now can currently only resolve to a single template and set of bindings. As outlined in #820, there is often a goal to do some initial interceptor processing before invokin

[2021-02-05 21:21] dibyom commented on #820
Ref #945, #940

[2021-02-05 21:41] dibyom commented on #945
Thanks for writing this up. So this looks like a solution to the problem discussed in #820 It's a problem that I've been thinking through a bit myself :)

Is the main reason you want this maintainability of the YAML configurations or some performance concerns (or both)?

From going through the slack discussion, it seems to me that maintainability of the trigger configs was one big concern (if poss

[2021-02-05 21:59] jmcshane commented on #945
Thanks for your feedback @dibyom. I'll definitely plan to join the WG on Wednesday. I'm trying to sanitize out my company specific information from the Trigger objects, but I'll share some examples before WG.

One alternative I want to address is that idea of a "group" of triggers. I'm very willing to go with that approach, but the downside here is that you need to somehow select the bindings that

[2021-02-06 21:41] jmcshane opened #948 "Feature: Allow triggerbinding and triggertemplate refs to be populated by tekton expressions"
### Feature request

Currently, triggerbinding and triggertemplate references must be hardcoded strings. In this feature requests, these strings can be populated by an expression, possibly adding a new field in the `TriggerSpecBinding` and `TriggerSpecTemplate` spec besides `Ref` to account for this difference in how the values would be populated.

### Use case

This would allow Trigger objects to

[2021-02-06 21:51] jmcshane commented on #948
I've been looking at the code here and this looks like it could be done in the `template` package right before `template.ResolveTrigger` is invoked. The `template.ResolveParams` method already takes a set of parameters with the event body and extensions and resolves those to specific values. In this case, we would either:

1. Iterate through all the `Ref` fields and look for Tekton expressions wit

[2021-02-09 00:18] abhinavkhanna-sf opened #951 "Question: Event Listener logs showing lot of unknown events"
I am seeing event listeners is logging lot of events at least 2-3 events every second.

Not sure what the source is. Its not causing any issues. They fail to trigger as they are missing required headers.

Its causing lot of noise while debugging actual issues.

any pointers on how to stop them? Thanks

[code]

My Setup

AWS EKS 1.18
AWS Load Balancer
Tekton Triggers: v0.11.2
ArgoCD managing whole

[2021-02-09 04:25] jmcshane commented on #869
I've been reading through the docs on [TEP-0026](https://github.com/tektoncd/community/blob/main/teps/0026-interceptor-plugins.md) and [TEP-0022](https://github.com/tektoncd/community/blob/main/teps/0022-trigger-immutable-input.md) and would definitely think that option 3 makes sense because params and extensions inherently have a different meaning in the processing of an interceptor.

When I thin

[2021-02-09 07:02] abhinavkhanna-sf commented on #845
@dibyom
I am seeing this issue in 0.11.2 as well. is it resolved?

[2021-02-09 14:14] bigkevmcd commented on #951
That's coming from a GitHub interceptor, it looks like you've got a GitHub interceptor receiving events that are _not_ coming from GitHub?

[2021-02-09 14:32] abhinavkhanna-sf commented on #951
@bigkevmcd Is there a way to figure out what's the source? (I did place Source IP restrictions on my ALB so its not external traffic from internet.)

[2021-02-09 19:27] dibyom commented on #951
do you have some kind of a health check configured perhaps?

[2021-02-09 19:47] abhinavkhanna-sf commented on #951
Thanks that helped. It was AWS Load Balancer`s Target Node Group. It was set at 15 seconds. I was seeing multiple times per second because of number of nodes. Target Group sends request on all nodes to check the status

I am running the event listener service as NodePort.

@dibyom Is there a way healthz endpoint for event listener?

[2021-02-09 19:54] bigkevmcd commented on #951
This does maybe indicate that we're missing a log entry for the received URL?

[2021-02-09 19:55] dibyom commented on #951
@abhinavkhanna-sf Yeah I was going to suggest using /live

@bigkevmcd I think we log the request at DEBUG not info

[2021-02-09 21:57] dibyom commented on #869
@jmcshane Thanks for the feedback and the use case is much appreciated!

[2021-02-10 01:18] jmcshane commented on #942
So @dibyom it looks like newlines that are set as parameters passed in at https://github.com/tektoncd/triggers/blob/master/pkg/resources/create.go#L69 need to be escaped in order to pass as newlines. Unfortunately, it looks like you have to know where that newline string goes in the resolved template. If it shows up in a pipelinev1.ArrayOrString parameter, it needs to be escaped there before it is

[2021-02-10 01:20] jmcshane commented on #942
The problem with finding this context is that triggers replaces the byte arrays in a json.RawMessage, so that context isn't available: https://github.com/tektoncd/triggers/blob/master/pkg/template/resource.go#L135

[2021-02-10 02:21] jmcshane commented on #775
I just tested this with kind on a v1.20 cluster. Created a file:

[code]

Ran the following commands with kind 0.10 (kubernetes v1.20.2) to install triggers:
[code]

Validate the pods are up and running:

[code]

Then, ran the following command to delete triggers:

[code]

The command completed successfully (after all pods were deleted) and the eventlistener was removed.

[2021-02-10 02:41] dmitry-mightydevops opened #952 "cel filter error"
# Expected Behavior

I have the following EventListener

[code]

When I imitate the event with curl:

[code]

I get the following error in event listener pod:

[code]

I tried `"body.ref == 'refs/heads/main' && body.head_commit != null"` but that still gave me the same error.

What am I doing wrong? I checked the https://github.com/google/cel-spec/blob/master/doc/langdef.md and it seems the **null

[2021-02-10 03:58] jmcshane commented on #942
Scratch that, we can just encode this by escaping the newline anywhere the param is replaced. Submitted PR #953

[2021-02-10 06:54] bigkevmcd commented on #952
Hello @dmitry-mightydevops I've had a look at this, and reproduced it locally.

The CEL implementation in use is https://github.com/google/cel-go and looking at the code, the only thing you can compare `null` with seems to be `null`, which is unfortunate, and I don't have a workaround for this.

I've opened an issue in the upstream CEL implementation.

[2021-02-10 07:18] dmitry-mightydevops commented on #952
thank you @bigkevmcd!

[2021-02-10 10:06] bigkevmcd commented on #951
I've added the start of some documentation on debugging eventlisteners, there's a bit on debugging TriggerBindings already, but I added notes on how to enable debug logging, and the caveats etc, and I noticed that the debug-level log was missing the path.

[2021-02-10 11:43] vdemeester commented on #203
/remove-lifecycle stale
/lifecycle frozen

[2021-02-10 13:25] elixirl1l commented on #896
I have to rollback to v0.9.1 due to this issue.

[2021-02-10 18:56] dibyom commented on #775
Thanks for verifying @jmcshane
Ok to close @savitaashture ?

[2021-02-11 00:53] dmitry-mightydevops opened #955 "binding-eval error reading HTTP body: read http.txt: file already closed"
[code]

produces the following error:

[code]

**test.yaml**
[code]

**http.txt**
[code]

I took a JSON push object from github webhook and then did this inside nodejs

[code]

and then used len value inside content-length of that http.txt and pasted the **out** as the last line in HTTP.txt file.

[2021-02-17 17:06] pollard93 opened #959 "Cloud events not working in getting started docs"
# Expected Behavior

Cloud events should be received by `event-display` pod in getting started docs.

# Actual Behavior

Cloud events are not received by `event-display` pod.

I have tested that the dns is correct for the service as well as sent test requests to the service which is logged by the pod. So I can only assume that the events are not being sent.

I'm also a little confused by the docs

[2021-02-17 22:28] dmitry-mightydevops opened #961 "Github Interceptor: invalidation of the secret returns positive http code with the response"
# Expected Behavior

If github's repository webhook settings have incorrect **secret** value then the following things happen with a new push:

1. Request is not starting the PipelineRun and I see the error in the logs of the pod (good)

2. A proper error inside trigger event listener POD, like "security token" mismatch, right now it displays the incorrect reason for the failure.

3. I expected a

[2021-02-17 22:43] dibyom commented on #961
This is the intended behavior right now. We return a 401/3 if we fail to create the resource due to a k8s RBAC error.
See https://github.com/tektoncd/triggers/issues/931 for a feature proposal around status codes.

Also, GitHub best practices state using " 202 to acknowledge receipt of payload that won't be processed" https://docs.github.com/en/rest/guides/best-practices-for-integrators#use-approp

[2021-02-19 11:16] Hokwang commented on #875
I fix this problem.
In /etc/kubernetes/manifests/kube-apiserver.yaml, there's no_proxy setting.
but there's no `.svc`.

I added it and now works perfectly.

[2021-02-19 11:16] #875 closed

[2021-02-20 01:50] freefood89 opened #964 "nodeAffinity not respected"
Hello, I'm having problems scheduling builds on specific node pools in GKE. I think this might be a bug

# Expected Behavior

Pipeline tasks to be scheduled onto nodes with tags `blah/instance-family: n2` or `blah/instance-family: c2`

# Actual Behavior

Tasks are randomly scheduled onto nodes regardless of affinity

# Steps to Reproduce the Problem

1. Label node in cluster with `blah/instance-fa

[2021-02-20 03:00] freefood89 commented on #964
Nevermind... got it to work

I changed the storage class to one that has binding mode `WaitForFirstConsumer` and it fixed the issue

[2021-02-20 03:00] #964 closed

[2021-02-20 15:46] #575 closed

[2021-02-23 21:17] GabrielLasso opened #967 "How to configure github checks?"
I did configure the EventListener and the TriggerTemplate so that a new TaskRun is created for every commit in my repository.

However, I'd like the status of the run to appear in the checks (that yellow ball next to the commit).

Is that possible using Tekton? How to do that?

[2021-02-24 05:53] AndrewOYLK opened #968 "any plan to support gitea for the type of interceptors？"
### Feature request

Gitea is used by our company for private respository，so I hope trigger can support gitea

[2021-02-24 17:13] dibyom commented on #796
I think this was fixed in #843
/close

[2021-02-24 17:13] #796 closed

[2021-02-25 14:41] jmcshane commented on #736
i think this project should match the approach taken by the pipeline metrics, as documented here: https://tekton.dev/docs/pipelines/metrics/ and implemented for [pipelinerun](https://github.com/tektoncd/pipeline/blob/8bcfd8bd2f5f3ccef96196bd667800e8230f1022/pkg/reconciler/pipelinerun/metrics.go) and [taskrun](https://github.com/tektoncd/pipeline/blob/8bcfd8bd2f5f3ccef96196bd667800e8230f1022/pkg/re

[2021-02-25 20:56] afrittoli opened #973 "Chaining two webhook interceptors breaks the output of the first"
# Expected Behavior

I can use two or more webhook interceptors one after the other.

# Actual Behavior

The output of the first webhook interceptor appears to be deleted by the execution of the second interceptor.
The issue seems to happen only when the two webhook interceptors are one right after the other.
The sequence webhook, CEL, webhook works fine.

Thanks @fiunchinho for discovering the is

[2021-02-25 20:56] afrittoli commented on #973
/cc @fiunchinho @dibyom

[2021-02-25 21:04] dibyom commented on #973
Thanks for writing this up. Looks like there is a (very ugly/hacky) workaround till we land a fix  -- add a CEL interceptor between the two webhook interceptors.

[2021-02-25 22:30] dibyom commented on #973
One update from https://github.com/tektoncd/triggers/pull/971#discussion_r583248172. Not 100% sure but I think what is going on is:

[code]

[2021-02-26 00:26] mjgallag commented on #896
I believe I just had this issue. Here is log before restart:
[code]
Here is log after restart:
[code]

Unfortunately, I didn't figure out why it restarted. I tried scaling deployment to 0 and then back up to 1, triggering another restart and it still couldn't find `EventListener` even though it was there. I deleted and recreated `EventListener` and it started working again.

I realize now that thi

[2021-02-26 07:33] fiunchinho commented on #973
Using a CEL interceptor between the two webhook interceptors doesn't fix the issue for me. And if I understand the problem correctly, it shouldn't fix it. The code still uses `request.Extensions` when calling the second webhook, and `request.Extensions` is not aware of the extensions added by the first webhook.

[2021-02-26 08:34] fiunchinho commented on #973
I pushed a new commit to my branch adding a CEL interceptor between the two webhooks to show that the unit test keeps failing.

[2021-02-26 14:52] dibyom commented on #973
yeah looks like we'd have to fix how we merge request.Extensions and body.extensions.

[2021-02-27 04:10] jinzishuai commented on #902
@dibyom It seems that `kubectl -n getting-started apply -f ./docs/getting-started/rbac/admin-role.yaml` does not override the namespace for the ClusterRoleBinding for me. I had to change the yaml file for it work:
[code]
Does this make sense? Maybe we cannot share the example with the getting-started doc?

[2021-03-02 18:17] ImJasonH commented on #77
/remove-lifecycle stale

[2021-03-03 12:13] ibotty commented on #478
It's still relevant.  Please remove label.

[2021-03-03 18:50] #656 closed

[2021-03-04 14:08] c0ldd opened #980 "Failed replacing params from json event values"
# Expected Behavior
EventListener should start TaskRun with param value from event body

# Actual Behavior
EventListener failed to replacing params:
```{"level":"error","ts":"2021-03-04T13:45:28.858Z","logger":"eventlistener","caller":"sink/sink.go:230","msg":"failed to ApplyEventValuesToParams: failed to replace JSONPath value for param body: $(body.value): value is not found","knative.dev/contro

[2021-03-05 09:18] Fabian-K opened #983 "EventListener fails to reconcile when using Knative Service with "validation.webhook.serving.knative.dev" denied the request"
Hi,

thanks for all the effort to implement Knative Service with EventListeners! Unfortunately I´m struggeling with the following issue:

# Expected Behavior
Reconciliation loop is successful when using Knative Service with EventListeners

# Actual Behavior
Reconciliation loop is stuck with
[code]

EventListener Status:
[code]

The generated Knative Service looks good:
[code]

# Steps to Reproduce

[2021-03-05 16:16] dibyom commented on #980
Does it work with `curl -d '{"value":"Test value"}' -H "Content-Type: application/json" -X POST http://localhost:8080/` or alternatively changing your TriggerBinding to use `$(body.body.value)`?

(The `body` key is implicitly added to refer to anything in the incoming request body. You could also do `header.Content-Type` for example)

[2021-03-05 17:17] dibyom commented on #983
/cc @savitaashture

I think this might be because we are trying to copy over annotations? Maybe we need to have a list of annotations we should not touch?

[2021-03-08 09:33] garyyang85 opened #985 "Github webhook doesn't work on page but works with curl"
# Expected Behavior
Github webhook works
# Actual Behavior
202 response received on page, but there is error found in event listener log. This behavior is similar with #656.  My point is that I can use the HMAC tool to generate the Signature, and it works good in curl.  But when is trigger from github webhook page, it reports error in log, and no task triggered.
# Steps to Reproduce the Problem

1

[2021-03-08 20:29] wstrange opened #986 "Cron example no longer works. Eventlistener interface has changed?"
Triggering a pipeline using the cron example does not appear to work.

The cron performs:

[code]

It looks like recent additions to validate the event now expect a non empty payload:

https://github.com/tektoncd/triggers/blob/master/pkg/sink/validate_payload.go

Using curl gets me further:

[code]

The pipeline is triggered (good), but it looks like parameters set in the trigger template are not

[2021-03-08 21:31] wstrange commented on #986
An additional issue I encountered is the parameter for the trigger template now requires the `tt` prefix:

Old param: `$(params.gitrevision)`

New Parameter `$(tt.params.gitrevision)`

[2021-03-08 21:43] wstrange commented on #986
This worked for me:

[code]

[2021-03-09 00:41] garyyang85 commented on #985
Caused by incorrect content-type.
Close

[2021-03-09 00:41] #985 closed

[2021-03-09 14:51] c0ldd commented on #980
Yep it's worked. So according to [doc](https://github.com/tektoncd/triggers/blob/release-v0.11.x/docs/triggerbindings.md) where example with "Keys with dots ." is example wrong ? It should be
$(body.body.tekton\\.dev) -> "triggers"
to be workable ?

[2021-03-09 21:31] dibyom commented on #986
Thanks @wstrange

Sorry for the trouble. We made the params to tt.params change a while back so it is possible that this example was broken for a while (another issue that could be caught with #192 )

Seems like you have a working example now. Would you mind opening a PR with the fix?

[2021-03-09 22:47] wstrange commented on #986
Yep - I'll create a PR.

[2021-03-10 10:15] dongwangdw opened #990 "Getting Started clusterrolebinding namespace is wrong"
I have an ocp cluster 4.6.x.
And I tried the getting-started example.
But I got the error when I tried to feed the line from curl command as below:
[code]

But the **triggerbinding:** `getting-started-pipelinebinding` does exist. So I wonder how can I debug this?
Or is this a bug?

[2021-03-10 14:04] savitaashture commented on #983
Ya could be
@Fabian-K Thank you for trying it out
I will take a look at this

[2021-03-10 15:19] dibyom commented on #990
I've heard of a couple reports of this happening intermittently. Could you delete and recreate your EventListener? Does it work then?

[2021-03-10 16:25] dibyom commented on #990
@dongwangdw what version of openshift and Triggers are you using?

[2021-03-10 17:06] #986 closed

[2021-03-11 02:23] dongwangdw commented on #990
I rechecked and it resulted from the failure of cluterrole binding. I made some changes in the `getting-started`, https://github.com/tektoncd/triggers/blob/main/examples/rbac.yaml#L61.

This file is referred in `getting-started` from example. In `getting-started`, namespace `getting-started` is used but it is `default` here. This will cause errors. The service account should has no permission to l

[2021-03-11 03:36] dongwangdw commented on #990
I just made it with the changes.

we can close this issue. But the getting-started exmaple should be improved.

[2021-03-11 09:10] #980 closed

[2021-03-11 12:23] DJW-00000 opened #994 "Throw error when wrong secretKey is specified"
### Feature request

Please throw an error if the `secretKey` of the Kubernetes Secret resource is invalid. Currently this is not checked, and the false message `payload signature check failed` is returned.

<https://github.com/tektoncd/triggers/blob/c81fc87b7264a1d037f5aa801335f04038d3d2f7/pkg/interceptors/bitbucket/bitbucket.go#L66>

Of course, this did not happen to me. I am just asking for a f

[2021-03-11 16:08] savitaashture commented on #983
@Fabian-K here is the fix https://github.com/tektoncd/triggers/pull/995

@dibyom we need to do patch release :pray:

[2021-03-11 16:27] dibyom commented on #990
Ah got it....I'll keep this issue open to fix the getting-started roles.

[2021-03-11 16:29] dibyom commented on #994
This would be a nice improvement. Would be happy to accept a PR for this :)

[2021-03-11 17:30] Fabian-K commented on #983
Cool, thank you for taking care of this!

[2021-03-12 16:34] dibyom commented on #571
I think we can close this out now?

[2021-03-12 16:39] dibyom commented on #968
Hi @AndrewOYLK  We are working on a mechanism to easily add your own interceptor (https://github.com/tektoncd/community/blob/main/teps/0026-interceptor-plugins.md)

Not too familiar with Gitea but assuming it supports webhooks like other SCMs it should be fairly easy to write one for Gitea.

[2021-03-12 16:41] dibyom commented on #973
The workaround for now is if you have two webhook interceptors make sure they write to two different top level fields e.g. webookA can write to body.webhookA. and webhookB can write to body.webhookB.somefield.

[2021-03-12 16:47] dibyom commented on #896
https://github.com/tektoncd/triggers/pull/977 should help here I think (we are forcing the EL to fetch the spec before starting to process any triggers).
That being said, I've started noticing this in our e2e tests quite a bit (they fail due to the bindings failing to be found)

I think this has something to do with the lister that we use to fetch these resources using stale data but I'm not 100%

[2021-03-12 17:03] #983 closed

[2021-03-12 17:05] dibyom commented on #967
You could use a finally task in your pipeline to set the status: https://hub.tekton.dev/tekton/task/github-set-status

Also, you might get a faster response for questions like these if you post on slack :)

[2021-03-14 15:38] goldmann opened #996 "EventListener and Trigger relation clarification"
I would like to understand why we declare/reference Triggers in EventListeners and not the other way around - in Triggers we reference EventListeners?

In order to create a new Trigger in the system I need to update the EventListener so it starts to work. I would imagine that I could create a Trigger with a reference to particular EventListener instead. This would be picked up by the controller an

[2021-03-14 17:05] goldmann commented on #996
Let me explain my assumptions and my use case here for better understanding.

My system works on top of Triggers and Tekton in general. Usage of this system is partitioned by namespace. Each "user" gets a new namespace in the cluster.

All Triggers and are created (and managed in generally) automatically by the system. This means that where there is a need for new Trigger it is created. When it's

[2021-03-15 08:27] vdemeester commented on #996
/kind question
/cc @tektoncd/triggers-maintainers

[2021-03-16 15:02] dibyom commented on #996
Hi @goldmann great questions :)

You are right that initially the model was that users would have to directly reference triggers in the EventListener. However, with [TEP-009](https://github.com/tektoncd/community/blob/main/teps/0009-trigger-crd.md) we added namespace selectors which allows an EventListener to select all Triggers within a specified namespace without then having to be explicitly spe

[2021-03-16 17:48] dibyom commented on #870
/remove-lifecycle stale

[2021-03-16 18:57] dibyom commented on #871
/remove-lifecycle stale

[2021-03-17 14:40] dibyom commented on #624
/remove-lifecycle rotten

[2021-03-18 05:08] #868 closed

[2021-03-18 17:15] dibyom opened #1006 "Triggers release pipeline does not contain core interceptors"
# Expected Behavior

The triggers release YAML should contain the core interceptor definitions + deployment YAMLs

# Actual Behavior

Broken with https://github.com/tektoncd/triggers/pull/976

release.yaml will only contain the controller/webhook/eventlistener but not the core interceptors.

# Additional Info

With #976, core interceptors are now installed as instances of the
ClusterInterceptor CR

[2021-03-19 03:04] dmitry-mightydevops opened #1008 "Unable to run event-listener"
# Expected Behavior

Unable to start event listener

[code]

event listener:

[code]

# Actual Behavior

event listener pod is in CrashLoopBackOff state. I am trying to run that listener in a different namespace (CI), while tekton's pipeline/trigger/dashboard runs in a different namespace:

[code]

# Additional Info

- Kubernetes version:
[code]

- Tekton Pipeline version:

[code]

[2021-03-19 13:49] bigkevmcd commented on #1008
Hi @dmitry-mightydevops reading the logs you can see...

`
E0319 02:56:29.933248       1 reflector.go:178] k8s.io/client-go@v11.0.1-0.20190805182717-6502b5e7b1b5+incompatible/tools/cache/reflector.go:125: Failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount:ci:project-crm-backend-trigger-sa" cannot list resource "configmaps" in API group "" in the namespace "ci"`

It

[2021-03-19 15:10] dibyom opened #1009 "Migrate deprecated TriggerInterceptors to new API"
### Feature request

In https://github.com/tektoncd/triggers/pull/1001 we added a new API for configuring interceptors in a Trigger and deprecated the old way (e.g. directly referencing `github`, `gitlab` etc.). We should add logic to our defaulting webhook to automatically switch any uses of old style of interceptors to the new API. We also need to call this logic from the reconciler so that alre

[2021-03-19 20:18] dibyom commented on #896
Did some digging today. I think I know what's going on here:

1. First, we create a [sharedInformerFactory](https://github.com/tektoncd/triggers/blob/02c38968e98d2d428498c0ffccfed4645e2fcf7f/cmd/eventlistenersink/main.go#L89-L94)

2. Next, in a separate goroutine, we call [`factory.Start()`](https://github.com/tektoncd/triggers/blob/02c38968e98d2d428498c0ffccfed4645e2fcf7f/cmd/eventlistenersink/ma

[2021-03-19 20:26] jmcshane commented on #896
@dibyom awesome digging. this makes a ton of sense. if you implement 2, i would also remove the hack that fails when the el resolution fails

[2021-03-19 20:37] dibyom commented on #896
https://github.com/tektoncd/triggers/pull/1012 is where I have been playing around with this.

[2021-03-19 21:07] dmitry-mightydevops commented on #1008
thank you @bigkevmcd !

[2021-03-19 21:07] #1008 closed

[2021-03-20 02:25] mpetason commented on #203
It looks like this issue may have been resolved by updating the webhook yaml config? It doesn't seem like the same error happens when I run it on a more up to date version. It looks like plumbing has other issues where resources is a directory now instead of a yaml file. If I run the same command against triggers it looks like it works.

@afrittoli can you see if this is still an issue and let me

[2021-03-23 12:29] Fabian-K opened #1014 "Missing resource cleanup when switching an existing EventListener to make use of Knative Services"
# Expected Behavior

When updating the spec of an existing EventListener to use Knative Service, the now obsolete resources (Deployment, Service) should be deleted.

# Actual Behavior

Deployment and Service are not deleted. This also prevents the Knative Service from rolling out successfully because it does not own the Service `el-*` ("There is an existing placeholder Service "el-sample" that we

[2021-03-23 15:31] dibyom commented on #1014
/cc @savitaashture

[2021-03-23 18:53] mpetason commented on #994
I can work on this issue.

/assign

[2021-03-24 15:21] jmcshane opened #1015 "Manage triggers outside of the HTTP request process"
### Feature request

The current implementation of the eventlistener merges all the triggers within the HTTP request every single time it is invoked.

### Use case

This change would be hidden to a user of triggers, but would in theory improve performance and management of triggers in the event listener sink backend.

### Discussion Items

* What is the best approach for implementing this cache?
*

[2021-03-24 15:44] #1006 closed

[2021-03-24 15:49] dibyom commented on #967
I'm going to close out this issue now. If you have more questions, feel free to ask to the Slack!

[2021-03-24 15:49] #967 closed

[2021-03-24 15:49] dibyom commented on #892
I think with the Knative EL, this is no longer needed. Feel free to re-open if that's not the case.
/close

[2021-03-24 15:49] #892 closed

[2021-03-24 15:50] dibyom commented on #890
Closing since the issue seems to have been with the CEL expression.

[2021-03-24 15:51] dibyom commented on #801
/close

[2021-03-24 15:51] #801 closed

[2021-03-24 15:51] dibyom commented on #731
Closing out due to inactivity. We can consider adding more default variables like dates if the use cases arise!
/close

[2021-03-24 15:51] #731 closed

[2021-03-24 15:52] dibyom commented on #392
This should be fixed now with the ongoing work on #271

[2021-03-24 15:52] dibyom commented on #392
/close

[2021-03-24 15:52] #392 closed

[2021-03-25 15:54] #896 closed

[2021-03-26 08:31] praveen4g0 opened #1019 "Replicas field is misleading while using customresource(knative)"
# Expected Behavior
* When user provides replicas as 3 part of event listener, expected to create 3 pods of event listener.
# Actual Behavior
* But it just creates one pod when user chooses custom resource type as knative instead of native k8s resources.
Seems it's misleading to use replicas in this scenario.
(may be a webhook validation error/warning would help :thinking: )

# Steps to Reproduce

[2021-03-26 08:43] savitaashture commented on #1019
/assign

[2021-03-26 08:46] savitaashture commented on #1019
Planning to deprecate `replicas` from [el spec](https://github.com/tektoncd/triggers/blob/main/pkg/apis/triggers/v1alpha1/event_listener_types.go#L62) and move under [kubernetesResource](https://github.com/tektoncd/triggers/blob/main/pkg/apis/triggers/v1alpha1/event_listener_types.go#L79)

Because replicas will be useful incase of `kubernetesResource`.

Earlier it was added to el spec assuming Tri

[2021-03-26 11:08] Fabian-K commented on #896
Great to see this, thank you!

[2021-03-27 12:21] savitaashture opened #1020 "Remove deprecate field replicas from eventlistener spec"
`Replicas` are deprecated from Eventlistener Spec and added as part of `resources.kubernetesResource`.
deprecated replicas will be removed in a future release.

[2021-03-29 17:49] #270 closed

[2021-03-30 16:51] #994 closed

[2021-03-30 17:00] jmcshane commented on #948
Here's a simple example of why this could be useful. Let's say a Tekton system wants to track the resource owner for a set of pipelines that it triggers, but processes the triggers centrally. An event from Github would have the field `body.repository.owner.login`. This field could be used to reference a Triggerbinding per Github organization that could be added to the metadata of each PipelineRun

[2021-03-31 04:17] jmcshane opened #1023 "Cluster interceptor documentation doesn't demonstrate how to invoke existing interceptors in new formation"
Update documentation to reflect cel filter usage as released in #1006 using the ClusterInterceptors with deprecated kinds

[2021-03-31 04:17] jmcshane commented on #1023
I'm definitely willing to assist in this one to help people migrate, we may want to provide a small migration document as well.

[2021-03-31 04:18] jmcshane commented on #1023
@dibyom this may be helpful in the 0.13 release

[2021-03-31 14:12] dibyom commented on #1023
The examples should have been updated. But I'll write up something.

[2021-03-31 14:12] dibyom commented on #1023
/assign

[2021-03-31 14:50] jmcshane commented on #948
great question. one thing you see in this example is that dynamic bindings are often paired with dynamic templates. putting the default data in a resolved binding allows us to avoid repeating the values across all the templates that may consume that information

[2021-03-31 14:52] dibyom commented on #778
This is now implemented with pluggable interceptors (and the ClusterInterceptor CRD). The new Interceptor interface does now allow for the body to be modified, instead new data can be keyed under an "extensions" field.
For now, we will allow the old style webhook interceptors that do allow for the body to be modified for backwards compatibility.

[2021-03-31 14:53] dibyom commented on #778
/close

[2021-03-31 14:53] #869 closed

[2021-03-31 15:35] wlynch opened #1026 "Embedded ResourceTemplates aren't updated on EventListener Update"
# Expected Behavior

When I update an embedded trigger in an EventListener, the update should be active for future trigger invocations.

# Actual Behavior

The EventListener/Trigger is successfully updated (kubectl get shows the right output), but when the trigger is invoked the old config is used.

# Steps to Reproduce the Problem

1. Create a trigger embedded in an EventListener. Example:
[code]

[2021-03-31 15:36] wlynch commented on #1026
/cc @jmcshane

[2021-03-31 15:42] jmcshane commented on #1026
adding some thoughts after doing some basic diagnostics:

* It appears that the trigger lister doesn't have a watch on changes to triggers
* We may want to take a look at other CRD values as well, such as changing a pipelineSpec in a triggertemplate

[2021-03-31 15:52] jmcshane commented on #1026
https://github.com/tektoncd/triggers/blob/main/cmd/eventlistenersink/main.go#L94 <- timeout in the lister factory

there may be some issue with the way this is set up because I have seen it take more than 30 seconds to resolve the updates

[2021-03-31 15:58] jmcshane commented on #1026
a place to start could be to listen for the triggers on the configured target namespaces and force resync of the lister factory, like is done for the eventlistener here: https://github.com/tektoncd/triggers/blob/main/pkg/reconciler/v1alpha1/eventlistener/controller.go#L72

[2021-03-31 16:03] dibyom opened #1027 "CoreInterceptors Installer controller"
### Feature request

The goal is to have an optional component (maybe a Job?) that will wait for the ClusterInterceptor CRD to become established and then create the 4 core interceptors.

### Use case

The main use case is that this will allow users to install Triggers in a single command.

[2021-03-31 16:26] dibyom commented on #336
This is possible now with #271
/close

[2021-03-31 16:26] #336 closed

[2021-04-01 20:23] dibyom commented on #1023
/close

[2021-04-01 20:23] #1023 closed

[2021-04-02 20:22] dibyom opened #1032 "Interceptors: Pass interceptor ref as part of TriggerConfig"
### Feature request

Today, the TriggerContext that is sent as part of InterceptorRequest does not contain the name of the ClusterInterceptor. The actual interceptor deployment has to infer it (using paths or something else). We should send the entire `ref`field as well as the optional `name` field if present from the TriggerInterceptor as part of the TriggerContext.

### Use case

1. ClusterInter

[2021-04-02 20:35] dibyom opened #1033 "Interceptors: Library to make it easier to author interceptors"
### Feature request

We should make it easy to do common things for Interceptor authors in Go so that they can just focus on writing business logic (similar to [knative/pkg/webhook](https://github.com/knative/pkg/tree/main/webhook))

Some functionality that this library can have
* Setting up web server with sensible defaults (users only implement a handler)
* Helper functions to convert errors to

[2021-04-02 21:22] dibyom opened #1034 "Interceptors: Describe params in CRD spec"
### Feature request

Each interceptor can contain a list of params (key value pairs) where the name is a string and the value is a valid JSON object. Today, the only way for users to know what params are supported by an interceptor is to read the docs.

We should
1. Add a section in the ClusterInterceptor CRD spec that describes the the list of  valid param names.
2. We should use this to validate

[2021-04-07 19:10] #1009 closed

[2021-04-08 15:17] jmcshane commented on #1026
I just did an experiment with the following configs.

1. Deploy pipelines and triggers
2. Deploy this example: https://github.com/tektoncd/triggers/tree/main/examples/triggers
3. Update the following:

[code]

[code]

Then, ran:

[code]

This created a pipelinerun with the script: `echo "Hello This is the default message"`

Now, I updated the TriggerTemplate with the following script:

[code]

I r

[2021-04-09 06:17] VeereshAradhya opened #1036 "Updated values of TriggerTemplate and TriggerBinding not getting reflected in EventListener"
# Expected Behavior
Updated values of TriggerTemplate and TriggerBinding should get reflected in EventListener

# Actual Behavior
Updated values of TriggerTemplate and TriggerBinding not getting reflected in EventListener

# Steps to Reproduce the Problem

1. Create TriggerTemplate, TriggerBinding, Trigger and EventListener and bind them
2. Change the name of the resource in created TriggerTemplat

[2021-04-09 14:12] bitsofinfo commented on #788
/remove-lifecycle rotten

[2021-04-09 16:21] jmcshane commented on #1036
This is the same issue as #1026. I'll have a PR up soon to resolve for the v0.13.0 release

[2021-04-09 16:22] jmcshane commented on #1026
I am now getting these updated immediately with a code change. I will have a PR up shortly

[2021-04-09 16:36] jmcshane commented on #1036
Thanks for this report @VeereshAradhya. I believe this is a regression in release v0.12.1. You can downgrade to v0.12.0 or take a look at #1037

[2021-04-09 16:41] jmcshane commented on #491
@afrittoli I'd love to have something like this as well. With the new interceptor capabilities, this could be deployed as a separate service in an eventlistener namespace easily. I think I could implement in a separate repo for now, and then we can figure out where it would live in tekton.

[2021-04-09 17:34] #1026 closed

[2021-04-09 17:34] #1036 closed

[2021-04-09 19:55] jmcshane commented on #973
I think given the new format for the v0.13 release, we can resolve this issue once migrating webhook endpoints to the new format is well documented. Since the extensions will need to be explicitly returned from the interceptor, triggers will no longer allow the body to be directly modified.

[2021-04-09 23:56] jmcshane commented on #938
@ipedrazas which labels are not present and on what component? The same PR you reference in pipelines also links a PR on triggers, #556. Is there a specific component that does not receive these labels?

[2021-04-10 02:27] jmcshane opened #1041 "Add readiness check for core-interceptors deployment"
### Feature request

Interceptors deployment should have readiness probe so that restarts on that pod do not cause issues with resolving the HTTP request.

### Use case

Expect all triggers core components to have probe endpoints that can be used to validate pod health

[2021-04-10 03:40] jmcshane commented on #1033
I have created an initial implementation of this: https://github.com/jmcshane/interceptor-sdk

Its not exactly in line with the knative webhook package linked above, but it does add a couple necessary pieces:

* Generate ClusterInterceptor CRD
* Provide ko build `config/` directory

I think this may be a starting point to break into two pieces. The first piece is a library that can be referenced f

[2021-04-11 01:07] jmcshane commented on #952
@dmitry-mightydevops looking at the upstream issue, that project won't be resolving the null comparison issue. One thing I was wondering is if you have tried the `has` function. You can use this to check whether an entry is present in a JSON document. Try to update your filter to:

[code]

[2021-04-11 01:16] jmcshane commented on #484
/remove-lifecycle rotten

[2021-04-11 01:19] jmcshane commented on #484
with the work done for the v0.13 release, I think this is a great time to invest in further interceptor patterns.

I'm going to take a look at the previous implementation by @bobcatfish and see how it can be adapted into the current deployment structure for the triggers-core-interceptors. With the plugin model, we could make this an optional alpha feature for some time and even allow it to be depl

[2021-04-11 04:20] jmcshane commented on #484
I took a slightly different approach now that we can allow for arbitrary JSON parameters in an interceptor expression. The base module is set at `data.tekton` and the rego filter will run `data.tekton.filter`.

You can then write additional queries based off that initial compiled module (which we then only have to compile once). Those queries will be evaluated and binding variables will locate eac

[2021-04-12 14:21] dbazhal opened #1045 "Params inside template"
# Expected Behavior

[code]
should work fine and create task runs "deploy-xxx-<hash>". And it works for example in tekton triggers v0.3.1.

# Actual Behavior

In v0.12.1 it comes into
[code]

[2021-04-12 14:53] jmcshane commented on #1045
@dbazhal in the triggertemplate, you reference parameters using `$(tt.params.name)`, rather than `$(params.name)`. This is so a generated PipelineRun can distinguish between a pipeline and task parameter and a triggertemplate parameter

[2021-04-12 14:56] jmcshane commented on #973
@dibyom @afrittoli I believe this issue is resolved now using custom interceptors (as long as the extensions field does not overlap). Maybe we change this issue to demonstrate @afrittoli use case with `add-pr-body` and `add-team-member` deployed as a custom interceptor.

[2021-04-12 14:58] jmcshane commented on #890
@dibyom did you mean to close this?

[2021-04-12 15:01] dbazhal commented on #1045
oh, shh. my bad, thanks for help!

[2021-04-12 15:01] #1045 closed

[2021-04-12 16:29] jmcshane commented on #478
one thing to note here is that if you use case is to trigger on something around a pipelinerun/taskrun executing, you can use the cloudevent configuration on the `config-defaults` tekton-pipelines configmap to send those events to a target eventlistener. if you need to send those across multiple eventlisteners, you can use a forwarder to send those events to multiple targets (without needing to de

[2021-04-12 16:30] jmcshane commented on #478
https://tekton.dev/docs/pipelines/events/#events-via-cloudevents

[2021-04-12 16:49] dibyom commented on #890
Yup 🤦

/close

[2021-04-12 16:49] #890 closed

[2021-04-12 16:56] #955 closed

[2021-04-12 17:25] jmcshane commented on #968
@AndrewOYLK reading https://docs.gitea.io/en-us/webhooks/, it appears that the gitea webhooks are the same format as github webhooks, even including the same signature verification features as the github implementation. Could you attempt to point your gitea server webhook to an eventlistener service and use the `github` interceptor type and see if that does the trick?

[2021-04-12 17:29] jmcshane commented on #959
@pollard93 are you sure you were using v0.20.1 of pipeline and not v0.20? That version had a bug resolved here: https://github.com/tektoncd/pipeline/pull/3761 where cloudevent forwarding was not compatible with Kubernetes 1.20. Can you try to reproduce this issue with the latest released versions of pipeline and triggers?

[2021-04-12 17:30] jmcshane commented on #959
you can see that PR was released in v0.22.0: https://github.com/tektoncd/pipeline/releases/tag/v0.22.0

[2021-04-12 19:33] dibyom commented on #973
Do we still have this issue if two cluster interceptors write to the same top level extensions field (i.e. A writes extensions.foo and B also writes to extensions.foo)?

[2021-04-12 19:46] jmcshane commented on #973
@dibyom what would be the expected behavior when you write data to the same extensions field? Right now, it would overwrite it when the second one wrote the same interceptor field.

[2021-04-12 20:45] dibyom commented on #973
Overwriting actually sounds like a reasonable idea to me though some kind of merging could be an option too. Either way we should document the behavior in the docs. (I'll add this to the WG agenda, we can decide, and then update the docs).

[2021-04-13 15:58] jmcshane commented on #909
/close

[2021-04-13 15:58] #909 closed

[2021-04-13 16:04] jmcshane commented on #845
@abhinavkhanna-sf you will need to update your trigger and binding in order to take advantage of the marshalJSON function. Try this:

[code]

[2021-04-13 16:06] jmcshane commented on #775
verified again with v0.12.1. I'm going to close

/close

[2021-04-13 16:06] #775 closed

[2021-04-13 16:09] jmcshane commented on #385
@dibyom what is the "correct" behavior here? has that ever been decided?

[2021-04-13 16:19] dibyom commented on #385
Leaning towards just making this an error.

[2021-04-13 19:06] jmcshane commented on #526
I just validated this same behavior today with the latest version of k8s. Exact same issue with deleting the webhook and then getting the expected error message.

This seems like its blocked by an upstream knative pkg issue (since we don't really do anything special in triggers for this). Should we submit an issue there?

[2021-04-13 21:23] dibyom commented on #526
Yes, opening an issue in knative/pkg sounds good.

[2021-04-14 02:19] jmcshane commented on #526
So, I did some research and I think that there's a couple things going on. First, the behavior of the validation interference is definitely still happening, but I think the Kubernetes API is handling the case insensitivity "appropriately". I just deployed the config that @bobcatfish demonstrated, but when I updated my configuration with `resourceTemplates`, it did change the triggertemplate resour

[2021-04-15 11:59] felipecruz91 opened #1055 "Could not resolve interceptor URL"
Hi,

I'm trying to trigger a pipeline from a Bitbucket git push, using this [example](https://github.com/tektoncd/triggers/tree/main/examples/bitbucket) as a reference.

However, I get the following error in the event listener container:

[code]

By the error msg `cluster.interceptor.triggers.tekton.dev "bitbucket" not found` it seems something is missing.

If I try to find the interceptors instal

[2021-04-15 13:14] tualeron opened #1056 "ClusterInterceptor docs should explicitly mention using `continue: false` instead of an error"
ClusterInterceptor docs should explicitly mention using `continue: false` instead of an error when the interceptor should filter Trigger processing.

_Originally posted by @jmcshane in https://github.com/tektoncd/triggers/pull/1048#discussion_r612895782_

[2021-04-15 13:14] sergetron commented on #1056
/assign @dibyom

[2021-04-15 13:14] sergetron commented on #1056
/kind documentation

[2021-04-15 13:17] tualeron opened #1057 "ClusterInterceptor docs need to explain when an error message should be provided in the status field"
ClusterInterceptors docs should provide some guidance about when an error message should be provided in the status field and clarify whether a failed filter should provide anything in the Status block when the event is unmatched.

_Originally posted by @jmcshane in https://github.com/tektoncd/triggers/pull/1048#discussion_r613261996_

[2021-04-15 13:17] sergetron commented on #1057
/assign @dibyom

[2021-04-15 13:17] sergetron commented on #1057
/kind documentation

[2021-04-15 13:41] jmcshane commented on #1056
To add a little more context, the interceptor response object has the ability to specify both a status and a boolean `continue` field. What is an interceptor responding with `continue: false` be expected to provide in terms of status? Is just filtering an issue valid or should all things filtered out provide some context to "why" they are not continuing in the status body.

[2021-04-15 19:13] sh-ch opened #1059 "`template.ParseJSONPath` should have an additional input to tweak the `AllowMissingKey` behavior"
### Feature request

Currently `template.ParseJSONPath` always returns an error if the provided path does not exist in the JSON payload, since `AllowMissingKey` is hard coded to be false. We can add an additional `allowMissingKey bool` to the input to control if the missing key is desired to result in an error or empty string.

### Use case

With `AllowMissingKey` always set to false, it is hard t

[2021-04-16 05:36] anilkumarpanditi commented on #875
Hi,
We are facing the same issue on Openshift 4.7 , could you please tell the steps to add  .svc.

[2021-04-16 16:27] rauanmayemir commented on #1055
Confirming same issue with `github` interceptor on the latest pipelines `v0.23` and triggers `v0.13`.
I'm using a setup similar to this: https://github.com/tektoncd/triggers/blob/07bc97a568d1efbcb9e2def7966edab4e80dabb3/examples/github/github-eventlistener-interceptor.yaml

[2021-04-16 16:36] dibyom commented on #1055
What is the output of `kubectl get clusterinterceptors`?

[2021-04-16 17:04] rauanmayemir commented on #1055
@dibyom Sorry about that, should have read the release notes properly.
@felipecruz91 You need to apply `interceptors.yaml` from the release notes.

[2021-04-16 17:10] felipecruz91 commented on #1055
Thank you.

My impression initially was that installing Tekton Triggers will provide everything I needed (even Interceptors), however, the latest release notes says otherwise.

Shouldn't that be mentioned as part of the main README.md file in the project?

[2021-04-16 17:24] dibyom commented on #1055
Its mentioned in the section on Installing Triggers: https://github.com/tektoncd/triggers/blob/main/docs/install.md#installing-tekton-triggers-on-your-cluster

[2021-04-16 17:43] dibyom commented on #1055
I think this is safe to close this now?
/close

[2021-04-16 17:43] #1055 closed

[2021-04-20 08:29] johnlongo opened #1062 "Getting Connection Refused for EventListener"
HI,
Getting Connection Refused (see attached) for EventListener that I created (see below).
Is there anyway to set an initial delay on the live probes when the Event Listener pod is created?
Any advice will be greatly appreciated, thank you in advance.

apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: build-completable-future-app-pipeline-run
  namespace: completable-

[2021-04-21 06:01] rannox opened #1065 "Event Listener failed to list ClusterTriggerBinding/ClusterInterceptors"
# Expected Behavior

Event Listeners works without generating error logs about the missing permissions to list `ClusterTriggerBindings` and `ClusterInterceptors`.

# Actual Behavior

Not installing the `ClusterRoleBInding` from https://github.com/tektoncd/triggers/blob/main/examples/rbac.yaml is causing the logs of the Event Listener to be filled with the following error message:
[code]

The devel

[2021-04-23 21:17] dibyom opened #1067 "V1Beta1 types for Triggers"
Tracking issue for adding a v1beta1 apiVersion for Trigger APIs.

- [x] Get a POC for v1beta1 types: https://github.com/tektoncd/triggers/pull/1079
- [x] Refactor: Remove Builders: #1080
- [x] Refactor: Move functions and types out of versioned v1alpha1 packages to reduce copy pasting
- [x] Merge v1beta1 types in
- [x] Switch Reconciler to use v1beta1 types
- [x] Switch EventListener sink to use v

[2021-04-23 21:29] coyote240 commented on #1020
EventListeners are behaving as though this were already removed instead of deprecated:

`error: eventlisteners.triggers.tekton.dev "redacted" could not be patched: admission webhook "webhook.triggers.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "replicas"`

[2021-04-26 04:20] dibyom commented on #1067
WIP v1beta1 branch: https://github.com/dibyom/triggers/tree/v1beta1

[2021-04-26 09:14] rannox commented on #1065
I just read the https://github.com/tektoncd/community/blob/main/teps/0009-trigger-crd.md. According to the new design of the Tekton Triggers, only Cluster Operators should be able to create Event Listeners, which totally makes sense and thus the ClusterRoleBinding :)

[2021-04-26 09:14] #1065 closed

[2021-04-26 10:21] Fabian-K opened #1069 "EventListener using Knative Services should use /live for readiness probe"
# Expected Behavior
The event listener pod should only receive traffic when it signaled readiness when using Knative Services.

# Actual Behavior
The event listener pod might receive traffic earlier because knative only waits for the tcp socket to be available and not if the HTTP response is 200.

When using a Knative Service based EventListener definition (e.g. https://github.com/tektoncd/trigger

[2021-04-26 11:22] chmouel opened #1070 "Eventlistener expose information about cluster"
# Expected Behavior

Not showing the namespace where the eventlistenner is running

# Actual Behavior

[code]

# Additional Info

It's usually bad security practice to expose cluster internal information to the public, since the eventlistenner are usually exposed to the internet for GitHUB or other VCS webhooks it may be better to hide this information.

[2021-04-26 12:27] afrittoli commented on #1070
Nice catch. The `eventListener` part too might be considered sensitive, as it implies the service name.
We could perhaps make that information available as opt-in via the service configuration?

[2021-04-26 12:34] afrittoli commented on #491
/remove-lifecycle stale

[2021-04-26 12:36] afrittoli commented on #491
Thanks @jmcshane - I'd love to see this one in experimental or in plumbing.

[2021-04-26 12:38] afrittoli commented on #820
This seems partly related too: https://github.com/tektoncd/triggers/issues/205 - the feature talks about chaining event listeners  - but the idea to have an initial common filtering logic is the same.

[2021-04-26 19:05] joebertj commented on #948
I basically need to select a pvc based on two parameters:
[code]

[2021-04-27 17:21] dibyom commented on #1070
Agreed. Is there a particular issue that exposing the namespace/el name exposes us to?
The trade-off here is around ease of debugging. Having the EL name and the namespace along with the eventID gives one all the required information to look up the logs for a particular event for debugging. Without those two, the user would have to manually figure out which event listener/namespace the webhook is

[2021-04-27 17:21] dibyom commented on #1069
/cc @savitaashture

[2021-04-27 17:26] dibyom commented on #1062
Currently, we add the /live endpoint after we have sync'd all the caches: https://github.com/tektoncd/triggers/blob/main/cmd/eventlistenersink/main.go#L139-L144

I suspect this is what is leading to the delays. I think we should start the liveness endpoint earlier in the startup cycle. This might mean that we have to move the liveness probe to its own port.

[2021-04-27 17:32] dibyom commented on #1059
If the only use case is better error handling support, we could return specific error types and clients could check on those types instead of on a string.

But if there are other use cases for not returning an error on `allowMissingKey`, then I'm happy to add in the param.

[2021-04-27 17:34] dibyom commented on #1065
Sorry for the delay in responding. Yes, the idea is the cluster operators create EventListeners. And users can create the Trigger types. The EventListeners can then select all triggers in a namespace using the namespaceSelector or a subset using labelSelector.

[2021-04-28 17:08] AndrewOYLK commented on #968
@dibyom @jmcshane Sorry for my late response. Thanks a lot, I will try.

[2021-05-05 00:29] #904 closed

[2021-05-05 15:11] dibyom commented on #932
/assign

[2021-05-06 15:11] #736 closed

[2021-05-06 18:19] edgecode opened #1076 "EventListener logs "error Trigger not found" although it finds a Trigger"
# Expected Behavior
Should not be logged as an _error_ but as an _info_

# Actual Behavior
Logged as an error:
[code]

# Steps to Reproduce the Problem
The issue occurs when
* _Trigger, TriggerBinding and TriggerTemplate_ are applied to a different namespace than the EventListener
*  you use a list of namespaces in which the EventListener will search for Triggers, i.e your EventListener contains s

[2021-05-06 23:40] #79 closed

[2021-05-06 23:40] #161 closed

[2021-05-07 00:40] #253 closed

[2021-05-07 01:40] #153 closed

[2021-05-07 02:40] #415 closed

[2021-05-07 07:40] #618 closed

[2021-05-07 09:40] #231 closed

[2021-05-07 13:40] #681 closed

[2021-05-07 20:50] kylebluenote opened #1081 "go get binding-eval does not work"
# Expected Behavior
Running the command specified at https://github.com/tektoncd/triggers/blob/main/docs/triggerbindings.md#troubleshooting-triggerbindings to install binding-eval should install binding-eval

# Actual Behavior
$ go get -u github.com/tektoncd/triggers/cmd/binding-eval
github.com/tektoncd/triggers/cmd/binding-eval imports
	github.com/tektoncd/triggers/cmd/binding-eval/cmd imports
	g

[2021-05-08 00:40] #737 closed

[2021-05-08 01:40] #856 closed

[2021-05-08 14:08] savitaashture commented on #920
@dibyom i was just checking implementation part
I see few approaches

1. Adding flag `el-enable-tls` with default value as `false`

Approach-1:

1. set flag `el-enable-tls` to `true` while deploying triggers controller
[code]
2. set `TLS_CERT` and `TLS_KEY`  as env
[code]

Approach-2:

1. set flag `el-enable-tls` to `true` while deploying triggers controller
[code]
2. set Volume with secret source

[2021-05-08 14:17] savitaashture commented on #920
If we add/change existing implementation do we need to update TEP https://github.com/tektoncd/community/blob/main/teps/0027-https-connection-to-triggers-eventlistener.md

[2021-05-08 22:40] #709 closed

[2021-05-09 11:40] #713 closed

[2021-05-10 05:14] dibyom commented on #920
I don't think we need to update the TEP as long as the user facing API does not change.
Either approach sounds good to me.

[2021-05-10 14:57] dibyom opened #1083 "Add support for Feature Gates to Triggers"
### Feature request

The goal is to implement the design described in [TEP-0033](https://github.com/tektoncd/community/blob/main/teps/0033-tekton-feature-gates.md) for features. This will allow Triggers developers to add new features in an alpha state that users can explicitly opt-in to enable before promoting them to stable

TEP: https://github.com/tektoncd/community/blob/main/teps/0033-tekton-fe

[2021-05-10 15:31] dibyom opened #1084 "Cache secret fetches in interceptors"
### Feature request

Currently, we make calls to the API server directly in the interceptors for fetching secrets for secret validation. We should switch to an informer/lister ([like we do in the EventListener](https://github.com/tektoncd/triggers/blob/main/pkg/sink/sink.go#L59-L65)) so that we cache the responses.

### Use case

1. Prevent interceptor calls to the API server from being throttled

[2021-05-10 16:45] savitaashture commented on #1020
@coyote240 are you facing this with latest code ?

[2021-05-12 14:30] dibyom commented on #271
Shipped in v0.13. Closing.

[2021-05-12 14:37] #571 closed

[2021-05-12 14:38] dibyom commented on #385
/close

[2021-05-12 14:38] #385 closed

[2021-05-12 14:38] dibyom commented on #271
/close

[2021-05-12 14:38] #271 closed

[2021-05-12 14:44] dibyom commented on #938
Like @jmcshane said, we already add the recommended labels to the controller/webhook deployment. I'm going to close this but feel free to re-open if there are any labels that we are missing.

/close

[2021-05-12 14:44] #938 closed

[2021-05-12 14:49] dibyom commented on #643
I think we can just update the Description column with what the 3 param values are?

[2021-05-12 14:51] dibyom commented on #77
@gabemontero  Interceptors now run in separate services. Is there anything else we need to do for this issue?

(Somewhat related: https://github.com/tektoncd/triggers/pull/1077#discussion_r630519129)

[2021-05-12 15:07] #932 closed

[2021-05-12 16:41] #478 closed

[2021-05-12 17:03] jmcshane opened #1089 "Create integration test run for knative eventlistener service"
### Feature request

A regression was introduced for the knative service type. We can avoid this in the future by creating a good integration test that deploys an eventlistener in this fashion.

### Use case

Avoid future regressions against the knative Eventlistener deployment

[2021-05-12 17:24] savitaashture opened #1090 "Knative service creation failed with port validation"
# Expected Behavior
Knative service should create successfully
# Actual Behavior

1. when we apply [custom-resource](https://github.com/tektoncd/triggers/tree/main/examples/custom-resource) example  EL fail with below error
[code]
2. Knative Serving adds `queue-proxy` container along with EL container and Knative itself handles metrics on `9090` port for queue-proxy and because of that we face alr

[2021-05-12 18:35] ibotty commented on #478
On OpenShift/OKD I'd like to trigger on Changes in ImageStreamTags.  I'd like to reopen that issue.

[2021-05-13 16:08] dibyom commented on #478
@ibotty Would you mind opening a new GH issue for that? Thanks!

[2021-05-13 19:10] ibotty commented on #478
But wouldn't it be the same issue as that one?  Or do you mean specifically for ImageStreamTags?

[2021-05-14 01:17] #1090 closed

[2021-05-16 09:30] ljupchokotev commented on #1084
Looking at [this code](https://github.com/tektoncd/triggers/blob/main/pkg/interceptors/github/github.go#L84), an improvement would be to check the event type before trying to load the secret. This way, a single event will not read the webhook secret for all GitHub interceptors, but only for the ones where the event type matches.

[2021-05-17 15:23] dibyom commented on #1084
@ljupchokotev Agreed. That would be a good change too :)

[2021-05-17 15:27] GJKrupa opened #1092 "GitLab Interceptor - Filter on specific types of Merge Request webhook"
### Feature request

GitLab webhook events for merge requests can be generated on a number of conditions that may not require a new build (e.g. description change, MR merged or closed, labels added). Can the interceptor be updated to allow filtering of changes based on user needs? This could be as simple as filtering on the keys in the "changes" object in the JSON payload and by comparing the curr

[2021-05-17 18:04] dibyom commented on #931
We are going to publicize the status change a bit and then put it in a release.

[2021-05-17 18:05] dibyom commented on #1092
While this isn't possible via the Gitlab Interceptor, you should be able to use the CEL interceptor to craft a filter that does what you want.

[2021-05-18 02:04] garyyang85 opened #1094 "Is it possible to define a increasing number in trigger template"
I am using tekton to build image triggered by webhook (push event). My question is that is it possible to define the image name or tag with increasing number like v1.0/v1.1/v1.2.
[code]

[code]

[2021-05-18 10:04] GJKrupa commented on #1092
Perfect. After some trial and error I've managed to get a pipeline to trigger on all of the right conditions using the CEL interceptor. Thanks, @dibyom .

[2021-05-19 16:23] savitaashture opened #1098 "Deletion of Eventlistener fail with unknown field "podTemplate" after upgrading to 0.14.0"
# Expected Behavior
After upgrading Triggers from 0.13.0 to 0.14.0 user should able to delete existing EvenListeners
# Actual Behavior
After upgrading Triggers from 0.13.0 to 0.14.0 user is not able to delete existing EvenListeners
# Steps to Reproduce the Problem

1. Install 0.13.0 Triggers
2. Create GH eventlistener example
3. Upgrade to 0.14.0
4. Upgradation success
5. Try to delete the existin

[2021-05-20 14:35] #1098 closed

[2021-05-21 06:18] hokadiri commented on #1008
Hi @bigkevmcd , i did use that rbac but still getting a similar error. Any ideas why?

[2021-05-21 06:33] hokadiri commented on #1008
This seem to work for me.
[code]

[2021-05-21 07:50] savitaashture opened #1105 "Remove Deprecate fields PodTemplate"
PodTemplate deprecated as part of https://github.com/tektoncd/triggers/pull/1100 and need to be removed in a future release.

[2021-05-21 08:48] sm43 commented on #1020
/assign

[2021-05-21 12:13] badamowicz commented on #896
Hi all!
We've upgraded to Triggers v0.13.0 several days ago and still are facing this issue.
`{"level":"error","ts":"2021-05-21T10:26:55.905Z","logger":"eventlistener","caller":"sink/sink.go:223","msg":"failed to resolve bindings: error getting TriggerBinding : triggerbinding.triggers.tekton.dev \"cd-deploy-binding\" not found","knative.dev/controller":"eventlistener","/triggers-eventid":"e091d12a

[2021-05-21 17:35] dibyom commented on #1083
/assign

[2021-05-21 18:07] #1041 closed

[2021-05-25 02:18] #990 closed

[2021-05-26 16:08] savitaashture commented on #1069
Hey @Fabian-K
Actually Knative doesn't support ReadinessProbe with port https://github.com/knative/serving/blob/main/pkg/apis/serving/fieldmask.go#L344-L347
That is the reason we are not allowing users to set probes in eventlistener yaml
as it will fail again in Knative

[2021-05-26 16:57] Fabian-K commented on #1069
Thanks for looking into this! I think the port can´t be specified because it will use the same port on which it forwards incoming requests. This should not be an issue, right? But IMO the readinessProbe should be defined otherwise knative might forward incoming requests before the el container is able to handle them.

[2021-05-27 03:06] sm43 commented on #1020
Done in #1113
/close

[2021-05-27 17:15] savitaashture commented on #1069
Hey @Fabian-K I just re checked the code and i see even if we set the probes Knative will override those as part of [rewriteUserProbe](https://github.com/knative/serving/blob/main/pkg/reconciler/revision/resources/deploy.go#L72-L83) and which is called while creating [container](https://github.com/knative/serving/blob/main/pkg/reconciler/revision/resources/deploy.go#L156)

I assume the request won

[2021-05-27 17:31] Fabian-K commented on #1069
Knative rewriting the probe through the queue container makes sense to me. In the end, both the queue container and the eventlistener container needs to be ready in order to receive traffic.

Based on the wording "we route them through the queue container" i assume if a readinessProbe is defined, the queue container will include it when deciding if it can receive traffic or not. Probably they pass

[2021-05-31 09:54] nikhil-thomas commented on #44
/remove-lifecycle stale

[2021-05-31 13:39] prateekkhera commented on #1094
@garyyang85 - I am also at the same status as you're. Did you figure out anything yet?

[2021-06-01 01:52] skk2142 opened #1117 "Dynamic number of tasks"
### Feature request

Creating tasks at runtime.

### Use case

I want to run certain number of tasks in images that are determined at the runtime. Each task is a command that needs to run in some container who image is also determined at runtime. The number of these tasks are unknown at the time the pipeline is created: all we know is the command that needs to run in each of these containers. One

[2021-06-01 01:53] skk2142 commented on #1117
Closing the issue here as it might be more relevant for the pipeline repo.

[2021-06-01 01:53] #1117 closed

[2021-06-01 16:40] dibyom commented on #902
I think this should be fixed now. We added a cluster role binding with the right namespace.

[2021-06-02 11:50] sm43 commented on #1105
/assign

[2021-06-02 15:31] dibyom opened #1119 "Package Roles for EventListener SA's with Triggers Releases"
### Feature request

The RBAC roles needed by an EventListener ServiceAccount is currently documented in the [examples/rbac.yaml ](https://github.com/tektoncd/triggers/blob/main/examples/rbac.yaml) file.

Everytime we change the RBAC roles, we update the file. But since the roles are not part of the packaged release, we have to update the release notes and users have to manually update the roles t

[2021-06-02 15:49] dibyom commented on #1119
Specifically what I'm thinking is:

1. One ClusterRole (tekton-triggers-eventlistener) that contains all Roles

2. The example is updated to use a standard RoleBinding for the default namespace that uses the above ClusterRole.

[2021-06-02 15:55] #1105 closed

[2021-06-03 10:46] sm43 commented on #1084
/assign

[2021-06-03 17:23] jinzishuai opened #1121 "How to create an PR EventListener based on github labels"
I've got something kind of working but not completely.
With
[code]
I can trigger a pipeline based on the label. However, I am not quite sure what syntax are allowed to require one of many PR labels to match the specific `CI/CD-PR` value.

The above code only works if there is exactly one label. It fails if there is no label or multiple labels.

May I have some suggestions?
Thanks a lot.

[2021-06-03 18:23] jinzishuai commented on #1121
FYI, the webhook payload would have the `body.pull_request.labels` as an array that might look like
[code]

[2021-06-05 18:31] #889 closed

[2021-06-07 19:14] boarder981 opened #1124 "Event ID character length causing pipelineruns to fail"
I'm running Tekton on a Kubernetes 1.20 cluster.  Until now, I've been using Triggers v0.11.2.  Within my TriggerTemplates, I had been giving PipelineRuns a human-readable name for easy identification in the dashboard.  The format is [environment]-[appName]-[eventid].  The eventid in this case is a random 5-character string.  TriggerTemplate looks something like this:

[code]

The [v0.12 release n

[2021-06-07 22:55] bitsofinfo commented on #439
/reopen

[2021-06-08 11:48] savitaashture commented on #1020
/close

[2021-06-08 11:48] #1020 closed

[2021-06-08 11:53] PuneetPunamiya commented on #649
/assign

[2021-06-09 15:28] #1084 closed

[2021-06-10 07:52] Fabian-K commented on #1069
Hi @savitaashture! May I kindly ask if you agree that this change makes sense and it´s just a time/effort issue?

[2021-06-12 22:21] #861 closed

[2021-06-14 06:15] 13567436138 opened #1126 "InvalidImageName"
# Expected Behavior

# Actual Behavior
gh-validate-78974bfb6-w65h6                             0/1     Pending           0          1s
gh-validate-78974bfb6-w65h6                             0/1     Pending           0          1s
gh-validate-78974bfb6-w65h6                             0/1     ContainerCreating   0          1s
gh-validate-78974bfb6-w65h6                             0/1     Invalid

[2021-06-14 07:16] 13567436138 opened #1127 "for: "serviceaccount-listener.yaml": admission webhook "webhook.triggers.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "serviceAccount""
# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[2021-06-14 08:12] 13567436138 opened #1128 "when replicas is 2, pipeline wile run 2 times."
# Expected Behavior

# Actual Behavior
simple-pipeline-run-lrltc-say-bye-4rt8s-pod-nkbtq       0/2     Pending            0          1s
simple-pipeline-run-lrltc-say-bye-4rt8s-pod-nkbtq       0/2     Pending            0          1s
simple-pipeline-run-lrltc-say-bye-4rt8s-pod-nkbtq       0/2     Init:0/1           0          2s
simple-pipeline-run-2crzx-say-bye-srlkj-pod-wbfx8       0/2     Comple

[2021-06-15 19:59] dibyom commented on #1127
`serviceAccount` was changed to `serviceAccountName` a while back.

[2021-06-15 20:12] dibyom commented on #1126
Are you directly applying the YAMLs from the repo? If you want to install from source, follow the instructions here: https://github.com/tektoncd/triggers/blob/main/DEVELOPMENT.md#install-triggers

[2021-06-15 20:13] dibyom commented on #1124
Hmm, one workaround I can think of is to use generateName instead of using $(uid) to add in the chars for unique id.
[code]

[2021-06-15 20:14] dibyom commented on #973
/assign

[2021-06-15 20:23] dibyom commented on #643
/assign

[2021-06-15 20:51] dibyom commented on #1056
/assign

[2021-06-15 20:59] dibyom commented on #1128
Interesting...are you sure the request made it to a single replica or both replicas?

[2021-06-15 21:51] boarder981 commented on #1124
Wow, I didn't even know generateName existed.  Great idea!  The only problem is that I need to set a param `pipelineRunUid` with the same value as the pipelineRun name, like so:

[code]

I don't think there would be a way for me to set the value of `pipelineRunUid` to the pipelineRun name it generates.

[2021-06-16 01:44] dmitry-mightydevops opened #1131 "EventListener: failed to write back sink response: http: Handler timeout"
# Expected Behavior

EventListnere respond to github webhook reequest

# Actual Behavior

Unable to register github webhook, getting the following inside the `EventListener` logs

[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version:

[code]

- EventListener Manifest

[code]

## CURL

[code]

[2021-06-16 03:19] 13567436138 commented on #1127
thanks

[2021-06-16 03:19] #1127 closed

[2021-06-16 06:55] #1126 closed

[2021-06-17 19:43] dmitry-mightydevops commented on #1131
Ok turned out it was `vh-backend-staging-trigger-sa` that was referencing github webhook secret (cel filter) by incorrect name. Working properly after adjusting the name of the secret inside ServiceAccount yaml manifest

[2021-06-17 19:43] #1131 closed

[2021-06-17 20:05] xificurC opened #1133 "EventListener only triggers when the TriggerTemplate is refreshed"
# Expected Behavior

Creating a TriggerTemplate and EventListener in any order should eventually work.

# Actual Behavior

After the EventListener is up and I hit it through `curl` (available externally through an Ingress rule) this is all that shows up in the logs:

The TriggerTemplate should create a PipelineRun but there isn't one and the logs are void of any additional info. If I change the Tr

[2021-06-18 13:56] vdemeester commented on #649
/lifecycle frozen

[2021-06-21 22:28] dmitry-mightydevops opened #1135 "error getting secret: context deadline exceeded"
# Expected Behavior

After editing any task with `kubectl  edit task taskname` event listener should not wait N seconds to accept the incoming webhook.

# Actual Behavior

[code]

However if I wait a couple minutes and do another push, it works as expected. Not sure if it is a bug or "expected" behavior, but this is kind of strange.

# Additional Info

This is a portion of my eventlistener declara

[2021-06-22 11:05] PuneetPunamiya commented on #920
/assign

[2021-06-23 04:58] #1056 closed

[2021-06-23 04:58] #1057 closed

[2021-06-23 04:58] #973 closed

[2021-06-23 11:40] savitaashture commented on #649
/assign

[2021-06-23 13:01] PuneetPunamiya commented on #1133
/assign

[2021-06-23 14:22] dibyom commented on #1135
Looks like the issue here is the call to the API server to fetch the secret for payload validation timed out. This sounds like an intermittent network issue though we recently added a caching layer for this call in https://github.com/tektoncd/triggers/issues/1084 which might help

[2021-06-23 14:28] dibyom commented on #1124
Hi @boarder981 sorry for the delay in answering. You can use a context variable to get the name of a pipelineRun from within a pipeline `$(context.pipelineRun.name)` . See https://github.com/tektoncd/pipeline/blob/main/docs/variables.md#variables-available-in-a-pipeline

[2021-06-23 15:05] #643 closed

[2021-06-23 15:10] savitaashture commented on #1089
/assign

[2021-06-23 19:08] dibyom commented on #192
There are 3 parts to this:
- [ ] Validate the Trigger YAMLs - This is simple. We can apply the YAMLs from each example and ensure they are created.
- [ ] Invoke the Trigger - This would involve connecting to the EventListener, and then sending a HTTP request with some predefined Headers and event body that is different for each example. For my PoC, I created a convention that each example folder w

[2021-06-23 22:26] grunlab opened #1136 "No more arm32v7 images available after v0.12.1"
Until release v0.12.1, arm32v7 images were available.
See manifests here: https://console.cloud.google.com/gcr/images/tekton-releases/GLOBAL/github.com/tektoncd/triggers/cmd/controller@sha256:96a63ec6d0cc0871d7dfea9d831b6da20df474bbdcbd01caf62f488e2d682db4/details?tab=info
Available platform architectures were: amd64, arm, arm64, ppc64le, s390x

Starting from v0.13.0, no more arm32v7 images were a

[2021-06-24 00:38] dmitry-mightydevops commented on #1135
@dibyom I can replicate it by editing the "task".

[code]

and get same error message in log. Like I mentioned I'm on **0.20.1**. I'm planning to upgrade to 0.25 this weekend and will report if I face same issue.

[2021-06-24 17:38] khrm opened #1139 "Metrics for Events Received and Successful processing by EventListener"
### Feature request

We would like to have `eventlistener_request_count` for events received and `eventlistener_trigger_success_count` for successful processing of events by EventListener

### Use case

1. We want to track the number of requests coming to the EventListener sink and successful processing. This will enable setting monitoring to handle issues arising due to incorrect implemtation of

[2021-06-24 17:38] khrm commented on #1139
/assign @khrm

[2021-06-25 14:58] #931 closed

[2021-06-28 14:21] dibyom commented on #1136
This seems related to https://github.com/tektoncd/pipeline/issues/4059 and https://github.com/tektoncd/pipeline/pull/3717.

I think when we updated the release pipeline, we used the same platforms that pipelines was built for. It should be easy enough to add `linux/arm` to the list of [platforms](https://github.com/tektoncd/triggers/blob/main/tekton/publish.yaml#L31)

However I don't think there i

[2021-07-01 21:31] dibyom commented on #942
So, in https://github.com/tektoncd/triggers/pull/953#issuecomment-861729659 I had suggested that we revive and merge #953.  I did a bit more digging and it looks like the problem with newline characters is restricted mainly to YAML multilines i.e. either trigger binding values or trigger template param defaults containing YAML multiline strings. If the incoming event body contains a \n, Trigger pr

[2021-07-02 20:25] dibyom opened #1145 "Create Draft Release failing"
# Expected Behavior

Create Release Draft should create draft release notes.

# Actual Behavior

The TaskRun fails with the following error:
[code]

# Steps to Reproduce the Problem
[code]

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-con

[2021-07-02 20:26] dibyom commented on #1145
@afrittoli @nikhil-thomas do you have any idea if the create draft release task changed recently?

[2021-07-03 18:32] #940 closed

[2021-07-06 11:04] #1128 closed

[2021-07-07 05:44] nikhil-thomas commented on #1145
`[pr-data] egrep: /root/pr.csv: No such file or directory`

i think this is because of the change in HOME. In create-release-draft task we use `$HOME/pr.csv` everywhere.

we migth need a fix like https://github.com/tektoncd/plumbing/pull/854/files

[2021-07-07 08:12] DJW-00000 opened #1146 "EventListener fuzzy matching is used to termine the target of an incoming event"
In Tekton triggers version `v0.10.2` `EventListeners` will use fuzzy matching to determine the target of an incoming event.

An event is routed if the name of the event is prefixed with the name of the `EventListener`.

This means that if you have a dangerous pipeline `my-dangerous-pipeline` it will respond to multiple names such as:
- `my-dangerous-pipeline`
- `my-dangerous-pipeline-dry-run`
- `m

[2021-07-07 13:53] aivanov-citc opened #1147 "Exclude some labels by mask from deployment of EventListener"
Good day!
We use the "flux" gitops system for deployment in kubernetes. With this deployment, flux enriches all its monitored resources with kustomize.toolkit.fluxcd.io labels.
[code]
If it is possible to exclude the inheritance of some labels from resources when processed by the controller? Remove by mask flux labels
[code]
for example, in strimzikafkaoperator this is implemented through an envir

[2021-07-08 01:39] #439 closed

[2021-07-09 08:42] #1145 closed

[2021-07-10 11:09] #951 closed

[2021-07-11 12:18] johnlongo opened #1149 "Trying to apply the following listner to okd 4.7"
Trying to apply the following listner to okd 4.7, can anyone tell me what's wrong with my definition?
I also attached the yaml file to.

apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: build-completable-future-app-pipeline-run
  namespace: completable-future-app
spec:
  serviceAccountName: default
  triggers:
    - name: trigger-completable-future-app-pipeline-run

[2021-07-12 03:29] Jin-Whee-Park opened #1150 "Can't use existed Pipeline and Tasks with PipelineResource"
# Expected Behavior
A Pipeline Run passes every process

# Actual Behavior
I tried to create my own CI/CD process with Tekton, but I could'n complete it. It seems that specifing PipelineRun in resourcetemplates of TriggerTemplate doesn't work such as mapping resources for Tasks of referenced Pipeline.
This result seems bug for me. Is this checked?
Or should I modify some resources spec?
![image](h

[2021-07-12 05:37] #1150 closed

[2021-07-12 17:36] dibyom commented on #1149
Switching from `name` to `ref` should help

[2021-07-13 09:01] Fabian-K commented on #1069
Friendly ping on this :)

[2021-07-13 16:07] dibyom commented on #1069
I'll add it to the agenda for this week's WG :)

[2021-07-14 10:27] savitaashture commented on #1069
@Fabian-K sorry for the delay in response

Yes queue proxy uses `SERVING_READINESS_PROBE` https://github.com/knative/serving/blob/main/pkg/reconciler/revision/resources/queue.go#L354 and the value for the env coming from https://github.com/knative/serving/blob/main/pkg/reconciler/revision/resources/queue.go#L243-L246 which will override probe info given by the user

[2021-07-14 15:27] dibyom commented on #1147
Hi @aivanov-citc thanks for the feature request. It should be feasible to add in a mask or an exclude list or something for doing this.
Before we proceed though, we'd like to understand the use case a bit better. Why do we need to exclude the labels from being propagated?

[2021-07-14 17:44] bitsofinfo opened #1152 "0.12: PR #969 breaks custom interceptors that convert non-json to JSON"
# Expected Behavior

in triggers < v0.12, my interceptor that convert non-JSON bodies to JSON, work fine. For example I have Slack POSTing a body to my event listener endpoint where BODY = `payload=[urlencodedvalue]`

My interceptor converts the url encoded payload value into JSON and returns it back to the caller (event listener) then the rest of the interceptor continues and things move forward

[2021-07-14 21:09] aivanov-citc commented on #1147
Hi @dibyom !
The Flux GitOps system monitors its controlled resources through the Git repository. Flux enriches controlled resources with labels. Custom resources (EventListener) are part of the cluster configuration and must be controlled by flux, but the deployments generated from them are not, and they are not in the git repository. Flux believes that this is an extra resource and is trying to

[2021-07-15 20:09] dibyom commented on #1152
/cc @khrm

Is the issue here that non JSON payload is being sent to the EventListener? The EventListener was always designed to support only JSON payloads...it's just that we were not actually enforcing that via early validation until recently.

[2021-07-15 20:10] dibyom commented on #1147
Ahh interesting...and there is no way to tell Flux (via some similar annotation/label/regex) to ignore the deployment/service?

[2021-07-15 20:12] dibyom opened #1154 "Create Draft Release task does not add interceptor files to Assets"
# Expected Behavior

When I run a triggers release, the create draft release task should add both the release.yaml as well as the interceptors.yaml files to the release assets.

# Actual Behavior

It only adds release.yaml. The release captain has to manually add  the interceptors.yaml file.

# Steps to Reproduce the Problem

1. Follow the release cheatsheet, in particular the steps on creating a

[2021-07-15 20:16] aivanov-citc commented on #1147
No. He controls all the resources that are in the git repository. We just need to remove the inheritance of these labels from the generated deployments and everything works. Therefore, need to remove its labels when generating a deployment from a custom resource

[2021-07-15 20:41] bitsofinfo commented on #1152
Yes, for example, we use Slack to provide end user interactivity w/ tekton and slack buttons, which are interactive controls. Slack posts non-json payloads, which we leverage a custom webhook interceptor in the even listener to convert what slack sends to json. This seems like a completely reasonable use case that we've been using in production fine, but after moving to 0.12 it no longer works. Se

[2021-07-15 20:58] dibyom commented on #1152
That's definitely one option. On the other hand we have had reports of users not detecting misconfigured non JSON webhooks with the previous behavior. All built in interceptors expect JSON payloads and fail when they can't marshal the body to JSON.

Is there no way to configure Slack to send JSON payloads?

[2021-07-16 06:09] #1067 closed

[2021-07-16 12:13] bitsofinfo commented on #1152
Slack sends a POSTs form encoded data where the body = `payload=<url encoded json>`  or some variant of that depending on the interactivity type (buttons, vs slash commands etc)

https://api.slack.com/interactivity/handling#payloads
https://api.slack.com/interactivity/slash-commands#app_command_handling

there are others who've demonstrated uses of webhooks to do this conversion as well
https://bi

[2021-07-19 09:28] Fabian-K commented on #1069
Hi, thanks for picking this up. As I´m not sure if you agree that this change should be implemented here an example:

Without using knative, the following pod is executed to handle incoming events. It contains a readinesProbe such that it
will only receive events once it is fully initialized. (I´ve reduced the yamls to the relevant parts only)

[code]

When using customResource and knative, the po

[2021-07-20 12:40] sm43 commented on #1119
/assign

[2021-07-21 05:28] sm43 commented on #1119
@dibyom do we want to merge [`tekton-triggers-example-minimal`](https://github.com/tektoncd/triggers/blob/042a8dd502aaf8ec8946fb6e8fa349d9cf8f43f4/examples/rbac.yaml#L6) and [`tekton-triggers-example-clusterrole`](https://github.com/tektoncd/triggers/blob/042a8dd502aaf8ec8946fb6e8fa349d9cf8f43f4/examples/rbac.yaml#L43) both the roles to together or keep separate?
for `tekton-triggers-example-minim

[2021-07-21 15:54] dibyom commented on #1119
Discussed at WG - we can try having two ClusterRoles - one for roles that need a RoleBinding, and one for the ones that need a ClusterRoleBinding

[2021-07-21 16:07] dibyom commented on #1152
Thanks for the details @bitsofinfo The Slack API that sends the JSON payload as a field within the body is ....interesting.

@khrm This is simple to implement but I wanted to check on the original motivation for #969 . Is it ok to make that optional (default would be that we validate for JSON, but we can relax that requirement using a flag of some sort?)

[2021-07-21 16:14] dibyom commented on #1147
Discussed this at the WG today. This should be an option at the triggers controller level.

1. We'll need a config-options or config-features configMap
2. We'll add an option to add a pattern (prob. a regex?) for labels to exclude propagation.
3. Change the label propagation code to use the above pattern to determine if some labels should be excluded.

1. is implemented in https://github.com/tekto

[2021-07-21 19:51] boarder981 commented on #1152
I'm also leveraging Slack and ran into this issue when upgrading to Triggers v0.12.  A way to toggle JSON validation on/off would be great.

[2021-07-22 07:40] sm43 commented on #1027
@dibyom what if we add this as a part of interceptor server? like before starting the server we can check if the core
interceptors exist, if not create it and then start the server. would that be possible?
if we add a job then we will have to ship an additional image to user.

[2021-07-22 08:22] pietervincken opened #1159 "PodSecurityPolicy deprecated in Kubernetes 1.21"
# Expected Behavior
The released deployment manifest doesn't have deprecated resources listed in it.

# Actual Behavior
PodSecurityPolicy tekton-triggers is listed in the deployment manifest which is a deprecated resource as of 1.21.

# Steps to Reproduce the Problem

1. Download the latest release yaml (tested with 0.15.0)

# Additional Info

- Kubernetes version: 1.21

  **Output of `kubectl ver

[2021-07-23 15:33] robertlestak opened #1161 "triggers-webhook-cert expired after a year"
# Expected Behavior

- Tekton Triggers to auto-renew the `triggers-webhook-cert` that is auto-provisioned at install time

# Actual Behavior

- `triggers-webhook-cert` expires after one year

# Steps to Reproduce the Problem

1. Install `tekton-triggers`
2. Wait a year
3. After a year, try to apply a manifest to triggers, and you will receive the following error: `x509: certificate has expired or

[2021-07-23 15:49] sm43 commented on #1119
done in #1158
/close

[2021-07-26 10:28] khrm commented on #1152
@dibyom A way to toggle validation would be the way forward. I would look into this.

[2021-07-26 12:48] savitaashture commented on #1069
@Fabian-K agree we can provide
[code]
then it will be added to `SERVING_READINESS_PROBE` env of `queue-proxy` container

But we cannot provide port because of validation from Knative side and because of that `SERVING_READINESS_PROBE` will have default value `8080`

[code]

@dibyom Considering the scenario can we move back eventlistener containerPort to `8080` instead of `8000` changes introduced i

[2021-07-27 14:48] frerikandriessen commented on #952
For anyone who's interested, I ran into the same issue and I worked around it by comparing the type, since the null type is reserved for null values. Like so:
`type(body.head_commit.id) != type(null)`

[2021-07-28 15:19] dibyom commented on #1069
Reason for changing port to 8000 from https://github.com/tektoncd/triggers/pull/887/files#r552558068

[2021-07-30 05:33] sm43 opened #1168 "Polling a repository to detect changes and trigger a pipeline"
To Poll a repository at a certain interval to look for any changes and trigger a pipelinerun/taskrun.

Use cases:
- Some users might not have permission to setup a webhook so this could be helpful to trigger
a pipelinerun/taskrun after some changes.
- another use case https://github.com/tektoncd/triggers/issues/480#issuecomment-620605920

This can be done using a cronjob but could to a part of tri

[2021-07-30 05:34] sm43 commented on #1168
/kind Discussion

[2021-07-30 09:28] vdemeester commented on #1168
We should also probably support "any" git repositories (and not only github/gitlab/…).

[2021-07-31 08:09] #1149 closed

[2021-07-31 08:18] johnlongo opened #1169 "okd 4.7 tekton triggers latest - listner crash loop connection refused."
created a listner using the attached yaml and the listner enters into a crash loop (see attached). Please advise how I can solve this issue.

Not sure if this is the problem, but saw this message in the okd console:
failed to apply non rbac manifest: CustomResourceDefinition.apiextensions.k8s.io "clustertriggerbindings.triggers.tekton.dev" is invalid: status.storedVersions[1]: Invalid value: "v1be

[2021-08-01 08:44] #1169 closed

[2021-08-03 03:43] johnlongo opened #1172 "Installed Tekton pipelines, triggers etc. into a new OKD 4.7 cluster."
Installed the latest Tekton pipelines, triggers etc. into a new OKD 4.7 (4.7.0-0.okd-2021-07-03-190901) cluster using the following steps:
oc adm policy add-scc-to-user anyuid -z tekton-pipelines-controller
oc adm policy add-scc-to-user anyuid -z tekton-pipelines-webhook
oc apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.notags.yaml
oc apply --filename https

[2021-08-03 10:17] krystian-kulgawczuk opened #1173 "Default main branch getting started trigger template"
Documentation suggests to fork this repository:
https://github.com/iancoffey/ulmaceae
https://github.com/tektoncd/triggers/blob/main/docs/getting-started/triggers.yaml#L10 is not compatible with this repository because the only branch it has is "master". Please don't waste people's time looking for errors. This should work out of the box. Either change branch name or create new repository with "co

[2021-08-04 08:46] savitaashture commented on #682
@juanri0s hey friendly check
Are you still working on this issue?
If not i am interested to work as this is required for downstream project (Openshift)

[2021-08-04 14:48] dibyom commented on #1119
/close

[2021-08-04 14:48] #1119 closed

[2021-08-04 14:50] bitsofinfo commented on #1152
@khrm any update on this?

[2021-08-04 15:06] hokadiri opened #1174 "emptyDir workspace not properly set in pipeline run created from trigger template"
# Expected Behavior
Setting default `emptyDir: {}` as a workspace of a pipeline run in a trigger template should properly setup the emptyDir workspace.

https://tekton.dev/docs/pipelines/workspaces/#emptydir

# Actual Behavior
Trigger template fails to create the pipelinerun resource

# Steps to Reproduce the Problem
Setup a trigger template with an emptyDir workspace in a pipelinerun
[code]

Trig

[2021-08-04 15:32] khrm commented on #1146
Hi,
I didn't get this. How are we doing fuzzy matching? At present, EventListener sink receives an event at route / and process all Triggers or Triggers Ref.

[2021-08-04 16:12] khrm commented on #1172
I think this is happening because we are setting security context for EventListener  which isn't allowed in OpenShift (and probably in OKD also). We apply a patch in downstream to fix this. https://github.com/openshift/tektoncd-triggers/blob/master/openshift/patches/0001-Change-eventlistener-flag-default-value-to-false.patch

You can use this release.yaml to fix this issue: https://github.com/open

[2021-08-04 16:40] sm43 commented on #1152
/assign
based on discussion in WG, waiting for #1110 to get merged then I will create a pr to enable/disable json validation through `feature-flags` configmap.

[2021-08-04 18:15] johnlongo commented on #1172
Installed tekton again in a freshly restored cluster with the following, but still seeing the same issue:

oc new-project tekton-pipelines

oc adm policy add-scc-to-user anyuid -z tekton-pipelines-controller
oc adm policy add-scc-to-user anyuid -z tekton-pipelines-webhook

oc apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.notags.yaml
oc apply --filename /op

[2021-08-05 05:51] #1173 closed

[2021-08-05 10:09] khrm commented on #1172
Is there anything coming in log tab or terminal tab?

[2021-08-05 12:21] johnlongo commented on #1172
{"level":"info","ts":"2021-08-05T12:20:16.714Z","caller":"logging/config.go:116","msg":"Successfully created the logger."}
{"level":"info","ts":"2021-08-05T12:20:16.715Z","caller":"logging/config.go:117","msg":"Logging level set to: info"}
{"level":"info","ts":"2021-08-05T12:20:16.715Z","caller":"logging/config.go:79","msg":"Fetch GitHub commit ID from kodata failed","error":"\"KO_DATA_PATH\" does

[2021-08-06 15:15] vyom-soft opened #1177 "bitbucket tekton eventlistener openshift"
# Expected Behavior
The eventListener (sink) is should receive the expected payload from bitbucket push.
# Actual Behavior
{"level":"error","ts":"2021-08-06T14:43:14.827Z","logger":"eventlistener","caller":"sink/validate_payload.go:39","msg":"Invalid event
body format format: unexpected end of JSON input","knative.dev/controller":"eventlistener","stacktrace":"github.com/tektoncd/triggers/
pkg/sink

[2021-08-06 15:44] khrm commented on #1177
Did you select `Application/json` for webhook? From the error log we can see that payload isn't json.

[2021-08-06 15:47] dibyom commented on #1168
We discussed this at the last WG and decided that the next steps would be to open up a TEP with the problem statement/use cases so that we can gather more requirements/feedback for this feature.

[2021-08-06 15:52] dibyom opened #1178 "HA support for Tekton Triggers controllers"
### Feature request

We should investigate what it would take to support HA for the Tekton Triggers controller + webhook.
Docs for Pipelines: https://tekton.dev/docs/pipelines/enabling-ha/#controller-ha

[2021-08-06 16:04] dibyom commented on #1159
Related to https://github.com/tektoncd/pipeline/issues/4112
In particular, we should track when Pipelines removes its PSP and also then also remove the Triggers PSP: https://github.com/tektoncd/pipeline/pull/4122

[2021-08-06 16:39] vyom-soft opened #1180 "example bitbucket listener.yaml"
During creation of the bitbucket-listerner.yaml (alpha)  following error is seen

**Error from server (BadRequest): error when creating "bbucket-eventlistener.yaml": admission webhook "webhook.triggers.te
kton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "params"**

Could you please hint why the unknown field "params" error is coming.

Best Regar

[2021-08-06 18:26] dibyom commented on #1027
@sm43 Sorry, I missed your comment -- so I like the idea of adding it as part of the interceptors server. One issue with that though is that the Interceptor server would need a cluster role to create the CoreInterceptor CRDs...which might be an ok thing to do if we limit the role to only being able to create the 4 core interceptors using`resourceNames`

[2021-08-09 06:24] savitaashture commented on #1180
Hey @vyom-soft
Based on the error it shows that you are using old triggers version and latest example
It would be helpful if you provide triggers version so that we can give more details on error.

[2021-08-09 12:15] khrm commented on #1172
@johnlongo Can you share the yaml for EventListener and rbac? I think issue is with RBAC and serviceaccount. Some permissions are missing.

[2021-08-09 13:27] johnlongo commented on #1172
Attached are the yaml files I'm using (note not allowed to upload yaml files, so I changed them to txt).
[trigger-openshift-alertmanager-listener.txt](https://github.com/tektoncd/triggers/files/6954832/trigger-openshift-alertmanager-listener.txt)
[trigger-openshift-alertmanager-rbac..txt](https://github.com/tektoncd/triggers/files/6954833/trigger-openshift-alertmanager-rbac.txt)

[2021-08-09 14:28] savitaashture commented on #1174
Hey @hokadiri

I tried to reproduce issue by installing same tekton versions
[code]

For me the resources are getting created successfully without any issue

Tested yamls attached [here](https://gist.github.com/savitaashture/5d8281f22165886cdd08cdd4989e404e)

[2021-08-10 03:25] #1069 closed

[2021-08-10 05:59] hokadiri commented on #1174
Hmm, ok thanks for checking

[2021-08-10 14:37] #682 closed

[2021-08-10 14:46] dibyom commented on #1161
Hmm...we rely on the knative/pkg certificates controller for renewing/changing the secrets at the right time. Have you seen the same issue happen with your pipelines install too or no? If not, one possibility is that the certificates controller tried to update the cert but could not due to some reason (missing RBAC roles perhaps?)

Do you happen to have logs for the `tekton-triggers-webhook` deplo

[2021-08-11 15:48] khrm commented on #1172
Can you try rbac file I have attached? We need to follow EL roles(tekton-triggers-eventlistener-roles and tekton-triggers-eventlistener-clusterroles) given [here](https://github.com/tektoncd/triggers/blob/main/config/200-clusterrole.yaml).

[trigger-openshift-alertmanager-rbac.txt](https://github.com/tektoncd/triggers/files/6969697/trigger-openshift-alertmanager-rbac.txt)

[2021-08-12 13:19] hokadiri opened #1183 "Event listener should return an appropriate response when pipelinerun fails"
# Expected Behavior
I get an appropriate response that the pipelinerun failed to create (e.g an http 500)
# Actual Behavior
Silently fails with a HTTP 202 code

# Steps to Reproduce the Problem
Introduce a bug in your trigger template. E.g using upper case in the pipelinerun generated name.

[code]
Event listener silently fails (returns a `202`) even though it failed to create the pipelinerun.
[co

[2021-08-12 14:53] shuknk8s opened #1184 "Trigger fails to work as documented on kind cluster"
#  Expected Behavior - As specified in the trigger samples

# Actual Behavior - Event listener pods not starting up - crashloop back/error hence the listener is not processing simulated git webhook events

# Steps to Reproduce the Problem

1. Setup a pipeline, trigger , trigger template, trigger binding, event listener as per v1alpha github example
2. Applied the required RBAC as suggested in the

[2021-08-12 20:01] dibyom commented on #1183
Thanks for the detailed info @hokadiri  The HTTP 202 behavior is intentional but I think there are other ways to accomplish your goal.

Some background - A single incoming event can trigger multiple triggers. Previously we used to wait for all triggers to finish processing and then respond with a 201. A few issues with this:
1. Even if we returned a 201 it does not mean each trigger was processed

[2021-08-13 16:05] dibyom opened #1185 "[Documentation] CEL filters with arrays"
### Feature request

From a Slack user: We don't have examples of using CEL filters with arrays.

### Use case

1. Filter a trigger based on specific files being changed from a GitHub webhook

[2021-08-13 19:44] dibyom commented on #1184
Hi are you using Triggers version v0.15 and the examples from the main branch?
Could you try using the examples from the v0.15.x branch? https://github.com/tektoncd/triggers/tree/release-v0.15.x/examples/v1alpha1/github

(We made a change to where the ClusterRoles for the EventListeners are defined post the v0.15 release which might be the thing contributing to the CrashLoop  cc @sm43 )

[2021-08-14 23:06] johnlongo commented on #1172
I applied the cluster roles you supplied, then I added sa tekton-triggers-sa to the project and and added cluster roles tekton-triggers-eventlistener-roles and tekton-triggers-eventlistener-clusterroles to the new sa (tekton-triggers-sa) I created in the project. After that the listener started up without any issues (see attached). Thank you for all the help

![image](https://user-images.githubuse

[2021-08-14 23:06] #1172 closed

[2021-08-16 19:01] dibyom commented on #1177
(Will close this out, plz feel free to reopen if @khrm's suggestion did not help)

[2021-08-16 19:07] #1177 closed

[2021-08-16 19:08] dibyom commented on #1183
(I'm going to close this out since the other alternatives are being tracked by other issues)

[2021-08-16 19:08] #1183 closed

[2021-08-18 15:24] #1083 closed

[2021-08-18 21:54] dibyom commented on #1161
Thanks for the logs and sorry for the delay in responding. I don't see anything suspicious there (other than the bad certificate errors)

Two questions:
1. How did you fix the issue? Did you manually roll the certs?
2. Is it possible to get the RBAC roles for the service account that the webhook pod is running as? Specifically, does it have permissions to get/list/update secrets?

One thing I did

[2021-08-19 08:35] sm43 commented on #1152
#1189  adds a feature to disable payload validation.
Previously, we discussed it to add as a feature flag but that would mean all eventlistener will have payload validation disabled.

so instead of that to start with the pr add support for an annotation.

User can add an annotation `tekton.dev/disable-payload-validation: "true"` on an eventlistener and this will disable payload validation for that

[2021-08-20 05:19] sm43 commented on #1147
/assign

[2021-08-20 07:13] shuknk8s commented on #1184
Thanks dibyo. Can you please confirm whether or not the current/latest release of tekton pipeline manifest is compatible with   v0.15.x branch of trigger manifests or I should deploy the v0.15 release manifest of tekton pipeline before deploying the manifest of  trigger conforming to v0.15.x branch?

[2021-08-20 07:16] shuknk8s commented on #1184
Also could you please review the readme of  https://github.com/tektoncd/triggers/tree/release-v0.15.x/examples/v1alpha1/github, the name of the event listener specified in port forward seems to be incorrect, it does not carry the interceptor suffix upon creation.

[2021-08-23 17:28] dibyom commented on #1184
The current/latest release is v0.15.1 which should be compatible with the release-v0.15.x branch

Yikes, good find. Will fix.

[2021-08-24 04:33] lioramilbaum commented on #1092
@GJKrupa Can you please share the code snippet? That could be very useful for me. BTW, were you able to add a label to the PipelineRun with the merge request id?

[2021-08-24 07:54] khrm commented on #1139
Resolved by #1191

[2021-08-24 07:54] #1139 closed

[2021-08-25 02:50] robertlestak commented on #1161
No worries, thanks for digging into this.

I do agree that the version is quite old - I'll take this as the driver to upgrade the environment, and come back here in a year if the issue crops back up :)

[2021-08-25 02:50] #1161 closed

[2021-08-25 04:54] #1152 closed

[2021-08-25 09:45] savitaashture opened #1195 "Bump Pipeline, K8s and Knative version"
Before doing Triggers v0.16.x release lets bump the Pipeline, K8s and Knative version

[2021-08-25 10:58] piyush-garg commented on #1195
I tried this and facing some issues like

[code]

When I am using another client like NewSimpleClient from client-go, facing other issues like

[code]

[2021-08-25 17:30] dibyom opened #1198 "Triggers will not work on k8s v1.22"
# Expected Behavior

Triggers works on k8s v.122

# Actual Behavior

This is the same issue as https://github.com/tektoncd/pipeline/issues/4158. More details in that issue.

[2021-08-29 16:51] sm43 commented on #1184
@dibyom yeah make sense, should we rename them? it would be easier that way otherwise users would have to go through docs to resolve the issue. wdyt?
also what should we rename them to https://github.com/tektoncd/triggers/blob/main/examples/rbac.yaml? 😅

[2021-08-29 20:27] shuknk8s commented on #1184
Hi Dibyo and Tekton Team,

Could you please consider reviewing the recent issue  update from my side
on an annoying problem with latest version of trigger and interceptors.
Applied the branch 0.15.x manifests buy my existing working code which
worked flawlessly with previous version of triggers broke. I shared all
details in line , need your help urgently as I am approaching user testing
with upgr

[2021-08-30 07:26] vincentgerris commented on #1184
hi, I think changing the newer version to use old setup gives the problem that it will not work if new setup is used with new branch? Perhaps the addition of a kubectl script that tests and executes the update is an idea?
verify-cluster-permission-setup.sh ?
Perhaps not ideal either but can fix the current situation and perhaps future ones.
For me, I installed Tekton and the examples at about the

[2021-08-30 14:08] dibyom commented on #1184
/tekton/scripts/script-0-n49g7: line 3: syntax error: unexpected "("

@shuknk8s could you provide the task/pipelineRun yaml that was created and the triggertemplate that was used. I'm mostly just interested in the git-clone task you are using and what params are being used for it both in the run as well as the template.

@sm43 renaming makes sense. Maybe eventlistener-binding or eventlistener-clus

[2021-08-30 15:14] shuknk8s commented on #1184
@Dibyo
Here is the response inline with your request

Here is the error reported by git-clone step of git-build task
/tekton/scripts/script-0-n49g7: line 3: syntax error: unexpected "("

@shuknk8s <https://github.com/shuknk8s> could you provide the
task/pipelineRun yaml that was created and the triggertemplate that was
used. I'm mostly just interested in the git-clone task you are using and
what p

[2021-08-30 17:39] piyush-garg commented on #1195
There are two PRs now #1196 and #1209

I raised #1196  with the help of @mattmoor only and the reason I was working on this was having pipeline v0.27.1 and have the same set of dep like knative and k8s as in pipeline for v0.16.x so that when we bump the deps in CLI for pipeline and triggers, everything becomes consistent in terms of indirect deps (we faced difficulties in past) as we are working t

[2021-08-30 20:13] dibyom commented on #1184
@shuknk8s do you happen to have the actual pipelinerun/taskrun yaml that was failing...I'm interested in looking at what params triggers is creating the pipelinerun with

[2021-08-30 20:31] shuknk8s commented on #1184
Hi @ Dibyo,

I have pasted the pipeline definition in my previous email. I run the
pipeline using tkn start pipeline so don't have definition for pipelinerun
or taskrun

n Mon, Aug 30, 2021, 4:14 PM Dibyo Mukherjee ***@***.***>
wrote:

[2021-08-30 20:51] shuknk8s commented on #1184
I can extract the yaml of failed pipelinerun and taskrun from the cluster
and share with you.

I described the pipeline run and taskrun pod to see what went wrong
specifically the events since log gave me one liner. I am suspecting
whether the git cel filter with starting round bracket is causing the issue
since the pipeline is auto invoked through event listener

On Mon, Aug 30, 2021, 4:30 PM Shu

[2021-08-30 21:34] shuknk8s commented on #1184
@DibyoM,

Attached are the tkn describe output and the yaml definition of the fail
pod that corresponds to git-build failed step for your reference.

On Mon, Aug 30, 2021 at 10:09 AM Dibyo Mukherjee ***@***.***>
wrote:

Name:              build-and-deploy-run2phgh
Namespace:         default
Pipeline Ref:      build-and-deploy
Service Account:   pipeline
Timeout:           1h0m0s
Labels:
 tekton.de

[2021-08-31 06:17] piyush-garg commented on #1195
Fixed by #1196

/close

[2021-08-31 06:17] #1195 closed

[2021-08-31 06:25] vdemeester commented on #1198
@dibyom I think we can close as #1197 is now merged
/close

[2021-08-31 06:25] #1198 closed

[2021-08-31 19:53] dibyom commented on #1184
Ok, so looking at the pipeline run params, it looks like they are not being replaced:

[code]

So, the question is why - one thing I noticed from your Trigger template is that it is using $(params.foo) instead of $(tt.params.foo) - This is a change we made over a year ago to distinguish trigger template params from regular pipeline params (See #589 and #690)

[code]

I'm not sure how this would ha

[2021-08-31 20:49] shuknk8s commented on #1184
Thanks so much for catching this and I realized that for manual pipeline
invocation that trigger binding template is not used and probably that is
why pipeline run works fine while invoking the pipeline via tkn start. I
will validate the changes you suggested and keep you posted.

Thanks a bunch for excellent support, much appreciated.

On Tue, Aug 31, 2021, 3:53 PM Dibyo Mukherjee ***@***.***>
wr

[2021-09-01 06:26] shuknk8s commented on #1184
@DibyoM,

I am afraid that the changes you had suggested in the Trigger Binding
manifest, in fact, created a far bigger issue. The event trigger has
stopped working completely i.e, the event listener is not even processing
the event , earlier at least ,  the git web hook event was triggering the
piple though it was failing at the first git clone step
Attached is the modified trigger binding manife

[2021-09-01 15:32] #1185 closed

[2021-09-01 16:36] dibyom opened #1217 "[Docs] Update docs on Exposing EL outside cluster"
The page mentions `Exposing an EventListener using a Kubernetes Ingress object` would not work on GKE. I think Ingress should work on GKE now.

https://github.com/tektoncd/triggers/blob/63c2ad7f7ad26f8ce9a106d76cf81068996bbf55/docs/eventlisteners.md#exposing-an-eventlistener-outside-of-the-cluster

[2021-09-01 17:22] dibyom commented on #1184
Hi @shuknk8s

Did you make the change in TriggerBinding or TriggerTemplate - the $(tt.params.foo) changes have to be within the TriggerTemplate's resourceTemplate field where you are describing the PipelineRun to be created.

2. Looking at the logs - `"couldn't unmarshal json from the TriggerTemplate: invalid character '7' in string escape code\"`  So, we are adding some additional escape chars th

[2021-09-02 18:40] hokadiri commented on #1174
I haven't re-tried. I just went with the option to explicitly setting the default `medium: Memory`

[2021-09-02 19:32] shuknk8s commented on #1184
Thanks a bunch figuring out the silly mistakes and correcting in
timely manner.  The event listener manifest along with trigger template and
binding with your suggested correction is working like a charm.

I am bit surprised how the template and binding combo with the escape
character was working with old trigger, event listener and interception
applied in conjunction back in 2020. May the introdu

[2021-09-03 16:37] Fabian-K opened #1219 "Eventlistener using Knative Service: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update"
Hi,

I´m facing an issue when creating a EventListener using Knative Service. When applying the EventListener

[code]

I can see the Knative Service being created
[code]

However the EventListener does not reach the ready state

[code]

Here are the logs of the triggers controller, I guess the interesting part is `error updating to eventListener custom object: services.serving.knative.dev \"el-def

[2021-09-06 07:56] khrm opened #1221 "CloudEvents for EventListener processing"
### Feature request

EventListener should cloudevents when it successfully process an event or fails. This will enable user to do actions based on that and also monitor.

#### Technical Challenge
In case of successful event trigger we can easily send an event signifying success of an event. But in case of failure, this will easily clog cloudevents receiver as there will be much more failure for ev

[2021-09-07 05:01] dibyom commented on #1219
/cc @savitaashture

[2021-09-07 05:02] dibyom commented on #1184
character was working with old trigger, event listener and interception
applied in conjunction back in 2020.

Yeah that's puzzling. Is it possible that the yamls were modified recently or they were recreated recently and the escape chars were added during this process?

[2021-09-07 05:03] dibyom commented on #1180
I'll close out this issue. Feel free to reopen if this persists
/close

[2021-09-07 05:03] #1180 closed

[2021-09-07 14:31] shuknk8s commented on #1184
Nope

On Tue, Sep 7, 2021, 1:03 AM Dibyo Mukherjee ***@***.***>
wrote:

[2021-09-08 12:19] amer commented on #775
I'm having a similar issue with v0.15.0. I upgraded today from v0.13.0. I'm getting the error `Delete failed with admission webhook "validation.webhook.triggers.tekton.dev" denied the request: decoding request failed: cannot decode incoming old object: json: unknown field "podTemplate"` whenever I try to delete the eventlisnter. FluxCD reconciliation is failing too because apply fails as well.

[2021-09-09 09:52] savitaashture opened #1223 "Add webhook conversion to triggers"
### Feature request

From 0.15.x release triggers support `v1beta1` API version.
As triggers support both `v1beta1` and `v1alpha1` webhook conversion is required
For more info : https://tektoncd.slack.com/archives/CL3T51NRF/p1630935534009800

### Use case
Conversion webhook is needed to convert things on the “way out” too, so if somebody does a watch or get against a different version of the resou

[2021-09-09 10:48] vaikas commented on #1223
Is this something that we should be writing a TEP for? I was going to type down my thoughts on this into a Google doc for discussion, but wasn't quite sure what y'all would prefer as discussion medium? If it's not frowned upon, I'll be doing that and hoping to circulate something early next week.

[2021-09-09 11:03] vaikas opened #1224 "Consider providing a storage migration job that users can run after an upgrade."
### Feature request

Consider providing a tool for upgrading the stored versions on the API server for various versions.

### Use case

For example, EventListener has two supported API versions, v1alpha1 and v1beta1
https://github.com/tektoncd/triggers/blob/main/config/300-eventlistener.yaml#L74
https://github.com/tektoncd/triggers/blob/main/config/300-eventlistener.yaml#L39

At any given time onl

[2021-09-09 11:25] vdemeester commented on #1224
cc @tektoncd/core-maintainers too as this would apply to `tektoncd/pipeline` as well (and @tektoncd/operator-maintainers for the operator 😛 )

[2021-09-09 12:04] savitaashture commented on #1223
+1 on TEP because most of the Tekton feature discussions are done using TEP

[2021-09-09 14:33] vaikas commented on #1219
I think the problem (even though these point to older version of the code) is that when we create the expected resource here:
https://github.com/tektoncd/triggers/blob/main/pkg/reconciler/eventlistener/eventlistener.go#L244

And then here we use that data:
https://github.com/tektoncd/triggers/blob/main/pkg/reconciler/eventlistener/eventlistener.go#L283

I think instead of trying to update with the

[2021-09-09 14:59] vaikas commented on #1224
And the cool thing is that it should just be the matter of updating the list of resources that need to have their storages migrated like so:
https://github.com/knative/eventing/pull/3168/files#diff-f4f5ee556d4ac9c801a8248840b9d7bc522275086b72865457ba6074e6168d93R38

So no changes are required to add additional resources.

[2021-09-09 15:18] mattmoor commented on #1223
My $0.02 is that a TEP feels heavy for conversion webhooks.  There really aren't a lot of choices to be made or design to surface, it's mostly just executing/implementing what the framework provides.

Pipelines implements this, and I don't think it had a TEP for this? https://github.com/tektoncd/pipeline/blob/2b6c6a0f4edf26142f5bdb769f22ae496f0eb2ac/pkg/apis/pipeline/v1beta1/task_conversion.go#L29

[2021-09-13 06:42] savitaashture commented on #1223
Yup this is also valid point i mean if there won't be lot of choices for design and implementation writing TEP is heavy.

With my limited knowledge i see TEP is one place where we go and look for new features design implementation details.

I may be thinking in narrow way :smile_cat:  so i would leave to @vdemeester @dibyom thoughts

I think TEP idea arrived after this all implementation /cc @vdem

[2021-09-15 10:03] vyom-soft commented on #1180
Hello,
Here are the information.
I am using Redhat openshift pipelines 1.41 provided by redhat.
https://github.com/openshift/tektoncd-pipeline
https://github.com/openshift/tektoncd-operator
Components
Tekton Pipelines: v0.22.0
Tekton Triggers: v0.12.1
ClusterTasks based on Tekton Catalog 0.22

[2021-09-15 10:08] vyom-soft commented on #1180
Hello @savitaashture
Here are the information.
I am using Redhat openshift pipelines 1.41 provided by redhat.
https://github.com/openshift/tektoncd-pipeline
https://github.com/openshift/tektoncd-operator
Components
Tekton Pipelines: v0.22.0
Tekton Triggers: v0.12.1
ClusterTasks based on Tekton Catalog 0.22

[2021-09-15 11:16] vyom-soft opened #1226 "Tekton event listener X-Hub-Signature header"
Hello,
I am seeing the below error. Could you please see, what could be cause of it.

{"level":"info","ts":"2021-09-15T11:13:08.362Z","logger":"eventlistener","caller":"sink/sink.go:213","msg":"interceptor stopped trigger processing:
 rpc error: code = InvalidArgument desc = no X-Hub-Signature header set","knative.dev/controller":"eventlistener","/triggers-eventid":"c1eb2f5c-946
b-4a7b-ae3b-7d6dd7

[2021-09-15 15:41] savitaashture commented on #1226
Hey @vyom-soft could you give us the steps which you executed so that it will be easy for us to reproduce and see what went wrong

[2021-09-15 17:40] vyom-soft commented on #1226
**Binding**:
When I create this resource  https://github.com/tektoncd/triggers/blob/main/examples/v1beta1/bitbucket/triggerbinding.yaml
I see following error:
error: unable to recognize "bb-binding.yaml": no matches for kind "TriggerBinding" in version "triggers.tekton.dev/v1beta1".
_Hence I used the v1alpha1 version for  binding. Which succeded._

**Listener**:
Using this https://github.com/tekto

[2021-09-16 10:10] savitaashture commented on #1226
When I create this resource https://github.com/tektoncd/triggers/blob/main/examples/v1beta1/bitbucket/triggerbinding.yaml
I see following error:
error: unable to recognize "bb-binding.yaml": no matches for kind "TriggerBinding" in version "triggers.tekton.dev/v1beta1".
Hence I used the v1alpha1 version for binding. Which succeded.

@vyom-soft  this is because you are using old version of trigger w

[2021-09-16 10:13] savitaashture commented on #1226
I see error Error from server (BadRequest): error when creating "bbucket-eventlistener.yaml": admission webhook "webhook.triggers.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "params"

Again `0.12.1` doesn't support `params`  as its supported from `0.13.0` https://github.com/tektoncd/triggers/releases/tag/v0.13.0

[2021-09-16 10:18] savitaashture commented on #1226
So i would say if you are using triggers `0.12.1` then use examples from [0.12.1](https://github.com/tektoncd/triggers/tree/v0.12.1)
so that you won't stuck with those kind of issues.

[2021-09-16 10:20] savitaashture commented on #1226
@vyom-soft once after successful creation did you face below error again
[code]

[2021-09-16 10:28] vyom-soft commented on #1226
@savitaashture Thank you. I will try again with version 0.12.1. And post the outcome.

[2021-09-17 07:49] vaikas opened #1228 "Inconsistent field naming in errors, should be consistently lowercased."
# Expected Behavior
Consistent casing and proper field names in all the error messages. While this does not really affect the functionality, it can be confusing to the users, and well, I think it should be fixed so it looks consistent.

# Actual Behavior
It varies from place to place.

For example, here [in this function](https://github.com/tektoncd/triggers/blob/main/pkg/apis/triggers/v1beta1/tri

[2021-09-17 08:41] vaikas opened #1229 "Panic if interceptor.webhook.objectRef is nil"
# Expected Behavior
Invalid resource will result in an error that's actionable.

# Actual Behavior
nil pointer deref results in panic.

Problem is here:
https://github.com/tektoncd/triggers/blob/main/pkg/apis/triggers/v1beta1/trigger_validation.go#L102

[code]

We check if the ObjectRef is nil, but we then use it below regardless.

I'll fix this as part of my PR adding more Unit Tests (where I unc

[2021-09-20 09:40] DrissiReda opened #1231 "Trigger a tekton pipeline after a file is pushed to an s3 bucket"
I've been looking at tekton triggers, and I haven't seen a way to do this.

I have a tekton pipeline that pulls a csv from an s3 bucket, then it pushes that data into a database. I want this pipeline to trigger whenever I push a new file to this specific s3 bucket.

Any way to do this? Preferably natively.

[2021-09-22 14:35] dibyom commented on #1223
Generally, we have TEPs for user facing API changes or large changes where there are a lot of design trade offs. So, that might be a bit of an overkill here. A doc or GH issue should be fine.

[2021-09-23 18:32] dibyom commented on #1168
that is definitely an approach we should consider!

[2021-09-24 08:49] crdnb opened #1257 "How to configure a webhook secret on CEL Interceptors?"
# Expected Behavior
The docs show how we can configure webhook secrets on github and bitbucket interceptors. It would be great to also have an example how to secure cel interceptors.

# Actual Behavior
No docs found.

# Steps to Reproduce the Problem
See the docs: https://tekton.dev/docs/triggers/interceptors/#cel-interceptors

# Additional Info

[2021-09-24 20:00] #1147 closed

[2021-09-29 15:12] #1229 closed

[2021-09-29 15:23] savitaashture commented on #1226
"Listen and serve on port 8000","knative.dev/controller":"eventlistener"}
{"level":"info","ts":"2021-09-16T14:43:41.052Z","logger":"eventlistener","caller":"sink/sink.go:213","msg":"interceptor
stopped trigger processing: rpc error: code = InvalidArgument desc = no X-Hub-Signature header set","knative.dev/control
ler":"eventlistener","/triggers-eventid":"f6c6dbbd-d8f7-4517-94a0-18becff5a0a3","/tri

[2021-10-01 12:19] savitaashture commented on #649
@dibyom planning to move to next release

[2021-10-04 09:07] Fabian-K commented on #1219
Thank you for looking into this. I just tried if this is resolved with the current main (3b028b7ccabe19267150735422bdf9499ba6193c), however, I´m now seeing the following events on the EventListener:

[code]

Controller Logs:
[code]
Let me know if you need more information!

@vaikas @savitaashture

[2021-10-05 14:06] JCzz opened #1233 "Apple silicon - triggers has same errro as for pipelines: Error executing command: fork/exec"
Hi

I am looking at using triggers, and have run into an error similar to one i have seen in Pipelines - where I got a workaround, see this: https://github.com/tektoncd/pipeline/issues/4247

I triggers I get the following error message: `Error executing command: fork/exec /bin/sh: exec format error`

Now in triggers I dont know how to work around it the same way. I can see the trigger controller c

[2021-10-05 19:26] dibyom commented on #1233
Is the error from the Triggers controller or an EventListener? Having the exact error would be helpful!

Guessing here: the one place where we do declare a base image is https://github.com/tektoncd/triggers/blob/main/.ko.yaml#L1

Maybe you can try switching that to the image that worked for you? But in that case, you will have to build and install [from source](https://github.com/tektoncd/triggers

[2021-10-06 12:28] JCzz commented on #1233
Thanks @dibyom and good point regarding error message :-)

The message is: `Error executing command: fork/exec /bin/sh: exec format error`

Sounds like a good solution, but I think I will refrain from building.

Do you know if it possible to call/start pipelines from other solutions. I am using Knative for deployment and maybe I can use Knative Eventing?

[2021-10-06 14:00] JCzz commented on #1233
Over at Slack I had a chat with Andrea Frittoli. I asked how I could use Knative Eventing and he suggested curl, kubectl, tkn or golang client. I have decided to move in that direction until eventually Tekton trigger, and pipelines for that matter, is working out of the box on arm64 ;-)

I will keep this issue open for arm64 to come - ok?

[2021-10-06 18:13] dibyom opened #1235 "Investigate running example tests with alpha fields"
For examples using new features that require `enable-api-fields` to be set to `alpha`, we do not currently support running them in our [e2e test runner](https://github.com/tektoncd/triggers/blob/main/test/e2e-tests-examples.sh).

We should add support for these examples. https://github.com/tektoncd/pipeline/tree/main/docs/developers#example-yamls would be a good starting point.

[2021-10-09 03:26] tuananh commented on #654
runas non root is not enough for openshift, as they enforce the user id as well. any particular reason why we don't support `securityContext` in podTemplate?

[2021-10-12 06:53] savitaashture commented on #945
Fixes as part of this PR https://github.com/tektoncd/triggers/pull/1232

[2021-10-12 08:49] savitaashture commented on #1219
@Fabian-K yes you are right its a regression issue

Fixed here https://github.com/tektoncd/triggers/pull/1238

[2021-10-12 09:18] Fabian-K commented on #1219
Thank you! I just tried it out and it does work. I only noticed that it leads to two revisions on knative side, not sure if that can be safely ignored :)

[2021-10-12 15:19] savitaashture commented on #1219
@Fabian-K i have updated this PR https://github.com/tektoncd/triggers/pull/1238
Could you please try once
Thank you

[2021-10-13 21:27] freefood89 commented on #1161
@robertlestak thanks for the tip!

For some reason when I recreated the secret and restarted the webhook/controller pod they didn't populate the secret with a fresh cert. I figured knative would create it, but maybe I'm not understanding how it works

On a side note, another workaround for forcing your Trigger to go deploy is to delete the `ValidatingWebhookConfiguration` and `MutatingWebhookConfi

[2021-10-15 00:14] #996 closed

[2021-10-18 17:32] savitaashture opened #1243 "EventListener deletion hang after upgrade"
**Issue:**
Deletion of eventlistener hang after upgrading from previous to latest code
# Expected Behavior
* Eventlistner should delete successfully
# Actual Behavior
* Eventlistner deletion is not success
# Steps to Reproduce the Problem

1. Installed 0.16.x release
2. Created github and custom-resource examples
3. Upgraded to use latest code from main branch
4. All resources are up n running
5.

[2021-10-20 14:40] #1243 closed

[2021-10-20 14:55] #1219 closed

[2021-10-21 19:12] dibyom opened #1245 "Find root cause for why reconciler tests were not failing"
# Expected Behavior

Reconciler tests should fail when expected test output does not match actual output.

# Actual Behavior

Our reconciler tests were **passing** when expected test output did not match actual output 😱 😱

While working on #1244 I noticed that our reconciler tests were ignoring [`metav1.ObjectMeta.Finalizers`](https://github.com/tektoncd/triggers/blob/release-v0.16.x/pkg/reconcile

[2021-10-21 20:04] #1245 closed

[2021-10-22 08:43] Fabian-K opened #1248 "Triggers adds `triggerGroups` field to existing EventListeners when upgrading to 0.17.0"
Hi,

I´m facing strange behavior related to the new `triggerGroups` field of EventListeners. The triggers controller seems to add the field `triggerGroups` to existing EventListeners when upgrading to 0.17.0.
Because however the feature has not been enabled, this can lead to rejection by the webhook on future operations.

# Steps to Reproduce the Problem

1) setup triggers & add an event listener

[2021-10-28 12:03] dSchaexn opened #1253 "yaml spec of eventlitener interceptor ref parameters cant get grpc protorized"
The following spec cant be converted into a protobuf message. Am i right?

 triggers:
    - name: gitlab-push-events-trigger
      interceptors:
        - name: "verify-gitlab-payload"
          ref:
            name: "gitlab"
            kind: ClusterInterceptor
          params:
            - name: secretRef
              value:
                secretName: "gitlab-secret"
                secretK

[2021-10-29 06:04] #1253 closed, assigned to nobody

[2021-11-01 19:35] sbwsg commented on #526
/label priority/important-longterm

[2021-11-01 19:44] sbwsg commented on #1135
@dmitry-mightydevops did this issue persist after an upgrade to later version?

[2021-11-01 19:45] bobcatfish commented on #1136
@imjasonh recently brought back building arm v7 images for Pipelines (https://github.com/tektoncd/pipeline/pull/4331) given that precent maybe we can bring it back here as well?

[2021-11-01 19:45] bobcatfish commented on #1136
/remove-lifecycle stale

[2021-11-01 19:48] sbwsg commented on #1159
/priority important-longterm

[2021-11-01 19:52] bobcatfish commented on #1184
Sounds like there is a remaining mystery about how some of this functionality had worked previously but since that state has been updated since we might not be able to get to the bottom of it :(

Besides that, is there anything remaining to resolve on this issue or okay to close?

[2021-11-01 19:55] sbwsg commented on #1233
/priority important-longterm

[2021-11-02 01:42] shuknk8s commented on #1184
Yeah.  It does not make sense as well, all good. Thanks for your support.

On Mon, Nov 1, 2021, 3:52 PM Christie Wilson ***@***.***>
wrote:

[2021-11-02 15:46] #1184 closed

[2021-11-02 20:35] dmitry-mightydevops commented on #1135
Yes it's good, although I have fixed it in a different way - I moved cel block to verify security token after cel filter block verifying the repo head ref.

[2021-11-02 20:35] #1135 closed

[2021-11-04 18:56] dibyom commented on #1257
hi @crdnb This should be possible using the `compareSecret` extension function. See the docs here: https://github.com/tektoncd/triggers/blob/main/docs/cel_expressions.md#list-of-extension-functions