[2020-01-23 15:28] wlynch commented on #373
This is reproducible at v0.2.0, but not at master (at the very least d9e62eab3912972cd1f18d38fff8480e0033da2e).

This was probably fixed as a result of another change. I'll try to track down which commit.

[2020-01-23 15:34] wlynch commented on #373
@dibyom++

I think https://github.com/tektoncd/triggers/commit/63f3badc8dbce481bfd2bee3f13d433815447c76#diff-57fed74cee793226b40869dac1113d50R162-R165

Ended up fixing this. ^_^

[2020-01-23 15:34] #373 closed

[2020-01-23 17:11] #365 closed

[2020-01-23 17:27] dibyom commented on #371
/kind feature

[2020-01-23 20:34] dibyom commented on #161
/kind feature

[2020-01-23 20:36] dibyom commented on #164
/kind cleanup
/area testing

[2020-01-23 20:37] dibyom commented on #184
/kind feature

[2020-01-23 20:37] dibyom commented on #192
/area testing

[2020-01-23 20:37] dibyom commented on #192
priority/important-soon
/maybe-next-milestone

[2020-01-23 20:39] dibyom commented on #201
/area api

[2020-01-23 23:50] #366 closed

[2020-01-24 17:08] dibbles opened #382 "Resource creation fails as label name does not conform to k8s requirements"
# Expected Behavior

If I am allowed to call a trigger "a/b/c/d" then the triggers code should not later fail.

# Actual Behavior

The eventlistener pod errors with a naming issue

[code]

The addLabels code is simply taking the triggername and using it as a label value:
https://github.com/tektoncd/triggers/blob/63f3badc8dbce481bfd2bee3f13d433815447c76/pkg/resources/create.go#L72

Unsure whether t

[2020-01-24 19:45] ncskier commented on #382
/assign

[2020-01-24 20:44] akihikokuroda commented on #276
This is the health check done by the ELB (elastic load balancer) instead of the kubelet.    The health check path, port and etc..  can be specified as annotations in the ingress.  I believe the ELB send the health check probe to the url.  The eventlistener can have either a separate port or a separate path for this.  https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/ingress/annota

[2020-01-24 21:38] #382 closed

[2020-01-24 22:20] dibyom opened #385 "Nested TriggerBinding expressions $($())"
Following the discussion in https://github.com/tektoncd/triggers/pull/376#discussion_r370209602
let's discuss what the behavior should be for nested Tekton expressions in TriggerBindings

## Current documented behavior

- Nested expressions are allowed. However, only the text in innermost `$()` is evaluated as JSONPath, the rest is treated as regular strings. From the [docs](https://github.com/tek

[2020-01-24 22:20] dibyom commented on #385
/kind question
/cc wlynch

[2020-01-27 15:53] dibbles opened #387 "Single trigger fired multiple times when multiple triggers exist"
# Expected Behavior

When I have 3 triggers, I expect each trigger's interceptor to fire once, for each webhook call to the eventlistener.

# Actual Behavior

One trigger is fired 3 times.

# Steps to Reproduce the Problem

1.  Create an eventlistener with multiple triggers (interceptors probably optional)
2.  Trigger the eventlistener
3.  In your event listener pod log you will note logging from

[2020-01-27 15:58] ncskier commented on #387
/assign

[2020-01-27 15:59] dibyom commented on #387
/kind bug

[2020-01-27 16:50] dibyom commented on #205
/kind feature

[2020-01-27 16:51] dibyom commented on #243
/close

[2020-01-27 16:51] #243 closed

[2020-01-27 16:53] dibyom commented on #347
Does this still happen in the 0.2.1-preview build? https://github.com/tektoncd/triggers/releases/tag/v0.2.1-preview

I'm guessing that the problem was due to using the `[0]` JSONPath syntax in a 0.1 Triggers installation (JSONPath was introduced in 0.2.0)

[2020-01-27 16:53] dibyom commented on #347
/kind question

[2020-01-27 17:00] dibyom commented on #356
I think having some performance numbers on the number of Triggers we can support would be nice!

Given that we relaxed the validation to not check for the presence of bindings/templates, I don't think creating the EL is where we'll run into issues.

We do use the Kubernetes/Triggers clientset to fetch resources in the EL sink at runtime (e.g. fetch the EL, then iterate over all the triggers; fetch

[2020-01-27 17:02] dibyom commented on #361
I think this might be related to #357

Does this still happen with the 0.2.1 preview build? https://github.com/tektoncd/triggers/releases/tag/v0.2.1-preview

[2020-01-27 17:03] dibyom commented on #361
/kind bug

[2020-01-27 17:06] dibyom commented on #362
Hey @amlozano You are right that at the moment we do not have a built in BitBucket interceptor. That would definitely be a nice feature to add if you'd like to add it. We can follow the same patterns as the GitHub/Gitlab ones: https://github.com/tektoncd/triggers/blob/master/pkg/interceptors/github/github.go

[2020-01-27 17:06] dibyom commented on #362
/kind feature

[2020-01-27 17:39] vdemeester commented on #356
/kind bug

[2020-01-27 18:58] #387 closed

[2020-01-28 07:51] amlozano commented on #362
Hi dibyom, I may have time to invest into the implementation, I have to check first since I am not really experienced with Golang and it might take too much time from my project to do that. I created the ticket to keep track of it at least, and if anyone with more experience wants to help, it would be awesome.

[2020-01-28 14:52] dibbles opened #391 "Interceptors receiving incorrect headers"
# Expected Behavior

Having multiple triggers, each with one interceptor, which has a number of headers (note type is webhook).  I expect each trigger to be fired once with the correct set of headers on the request to the interceptor.

e.g this set of headers on each trigger but with different header values name1, name2, name3 etc..

[code]

# Actual Behavior

What I see varies, but is usually a s

[2020-01-28 16:02] ncskier commented on #391
I was able to reproduce this error with the code on my branch [here](https://github.com/ncskier/triggers/tree/test-interceptors/examples/test-interceptors). The code sets up an EventListener with one Interceptor and 3 triggers. Each trigger sends its own headers `test-interceptors-0`, `test-interceptors-1`, and `test-interceptors-2`.

I viewed the Interceptor pod logs after curling the EventListen

[2020-01-28 16:59] dibbles commented on #391
its because the request is not fresh on each goroutine ..... need to do something like

[code]

(i think)

[2020-01-28 17:10] ncskier commented on #271
Waiting for design doc

[2020-01-28 17:17] ncskier commented on #367
Might need some discussion about replacing JSONPath or supporting both

[2020-01-28 20:08] ncskier commented on #391
/assign

[2020-01-28 20:12] ncskier commented on #391
Duane's code seems to fix the problem for me, although I'm not sure why... it doesn't look like the request gets modified at any point; I'm probably missing something though 🤔

[2020-01-28 20:39] dibyom commented on #391
The request is modified if it is a Webhook interceptor. Other interceptors at the moment do not modify the request body...so this problem probably won't be happen with those

[2020-01-28 20:43] ncskier commented on #391
Where do we modify that request though? We make a copy here: https://github.com/tektoncd/triggers/blob/master/pkg/sink/sink.go#L162, so I'm not sure where it gets modified.

[2020-01-28 20:56] dibyom commented on #391
for webhook requests, we add the additional "header" fields before making the call; for all other interceptors, we pass the request as is

[2020-01-28 22:08] ncskier opened #392 "Interceptor response headers are dropped"
# Expected Behavior
I expect the Headers to persist across a chain of Interceptors without each Interceptor having to write every header back to the response.

Our [interceptor documentation](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md#event-interceptor-services) does not say that an interceptor must write all of the Headers from the request back to the response:

# Act

[2020-01-28 22:49] dibyom commented on #392
I think the behavior is that we pass along each request in its entirety (body and headers) to the next interceptor in the chain. The built in interceptors should all return back the headers that were passed in e.g. [Github](https://github.com/tektoncd/triggers/blob/master/pkg/interceptors/github/github.go#L92) If they don't that's definitely a bug.

Where things get a bit weird are Webhook interce

[2020-01-28 23:49] ncskier commented on #391
PR here: https://github.com/tektoncd/triggers/pull/393

[2020-01-29 00:03] ncskier opened #394 "Clean up sink_test.go"
The [sink_test.go](https://github.com/tektoncd/triggers/blob/master/pkg/sink/sink_test.go) file has a lot of messy tests with repeated code (especially for the `HandleEvent()` function). It's difficult to write clean tests for this file, because it's pretty high-level. However, I think that we can clean up some of the code, and hopefully use some [table driven tests](https://github.com/golang/go/w

[2020-01-29 15:01] #391 closed

[2020-01-30 16:25] dibyom commented on #394
/kind cleanup

[2020-01-30 16:25] dibyom commented on #394
/area testing

[2020-01-31 02:35] karimbzu opened #403 "example code for triggertemplate, push-binding and pullrequest-binding"
Hi, i am new to tekton pipelines, it is requested to share some example code for triggertemplate and 2
triggerbindings i.e as mentioned on guideline the basic requirements to enable github webhook is,
"-template and two triggerbindings -push-binding and -pullrequest-binding".
Thanks for help

[2020-01-31 10:18] CSTDev commented on #347
@dibyom Yep that was it, all good with v0.2.1. Thanks!

[2020-01-31 10:18] #347 closed

[2020-01-31 14:20] karimbzu commented on #403
https://github.com/pipeline-hotel/example-pipelines.git

[2020-01-31 14:21] #403 closed

[2020-02-02 07:52] DanielBFox commented on #361
Hello,

I just tried with the release v0.2.1 and it works now like a charm.

{"level":"info","logger":"eventlistener","caller":"sink/sink.go:147","msg":"params: %+v[{gitrepositoryurl {string git@gitlab.com:danielbfoxg/mycalculator/go/add.git []}} {gitrepositoryname {string add []}} {gitrevision {string refs/heads/master []}}]","knative.dev/controller":"eventlistener","/triggers-eventid":"dlfgs","/

[2020-02-02 07:52] #361 closed

[2020-02-03 16:30] ncskier opened #405 "Regression test for multiple triggers admission webhook timeout"
Write a test that catches the bug described in issue #356. The bug was fixed in the v0.2.1 release; however, we need a test to verify that the bug will not be re-introduced into our codebase.

### Additional Info
Issue https://github.com/tektoncd/triggers/issues/356 found a bug in Triggers v0.1.0 where the admission webhook times out after adding around 35 triggers to an EventListener. This was be

[2020-02-03 16:42] ncskier opened #406 "Performance metrics"
@dibyom commented from https://github.com/tektoncd/triggers/issues/356#issuecomment-578846320:

# Expected Behavior
I expect to know the limitations of the Triggers project when using it on a large scale.

# Actual Behavior
I do not know the limitations of the Triggers project when using it on a large scale.

# Additional Info
This is a relatively open-ended issue, so please leave comments about p

[2020-02-03 16:44] ncskier commented on #356
I'm closing this issue since the bug has been resolved in the latest release of Triggers (v0.2.1)

I'm opening a couple of issues for follow-up work:
- regression test: https://github.com/tektoncd/triggers/issues/405
- performance metrics: https://github.com/tektoncd/triggers/issues/406

[2020-02-03 16:44] #356 closed

[2020-02-03 22:55] dibyom opened #409 "Better examples"
In this iteration of improving our examples, I'd like to make our examples more like the ones in pipelines i.e. self contained files that a user can `kubectl apply` and then get something useful to happen e.g. something like the cron example we currently have.

Couple of conventions:
- Each file should contain all of the components needed e.g. the EventListener, TriggerBinding, TriggerTemplates et

[2020-02-03 22:55] dibyom commented on #409
/kind documentation

[2020-02-04 06:44] khrm commented on #371
/assign

[2020-02-04 06:44] #322 closed

[2020-02-04 06:53] piyush-garg commented on #248
/assign

[2020-02-04 17:27] wlynch commented on #367
Previous discussion: https://github.com/tektoncd/triggers/issues/178#issuecomment-549576420

[2020-02-04 21:10] dibyom commented on #394
/assign

[2020-02-05 00:39] gabemontero commented on #77
Hey @vtereso

First, given it was several months ago, if the question you asked here has already been answered (with the same conclusion as me), apologies for missing that and the added noise here :-)

I believe the answer to your question is "no" in that the associated service account permission do not act as sufficient shield.

My explanation as to "why" is tl;dr ... but I'll risk it in the hope

[2020-02-05 03:31] popcor255 commented on #409
/assign

[2020-02-05 17:44] khrm opened #415 "Decouple from Pipeline or Align with Pipeline release"
# Expected Behavior
Whenever a new pipeline is released, tkn-cli should have no problem in updating to it and at the same time using Triggers.

# Actual Behavior
At present, this causes a dependency issue at tkn-cli side. We need to update Pipeline in Triggers before in tkn-cli.

# Additional Info
Either decoupling or aligning Triggers with Pipeline release would solve this issue.

[2020-02-05 17:58] khrm commented on #371
We might have to go with supporting embedding in TriggerCRD if we implement that for solving EL pod proliferation issue.

[2020-02-05 21:24] dibyom commented on #415
/area dependency

[2020-02-05 21:25] dibyom commented on #415
/milestone 0.3

[2020-02-05 21:25] dibyom commented on #415
The main usage of pipeline in triggers is the the `Param` type. Maybe we don't need to reuse param...I don't think we are using ArrayParams anyway!

[2020-02-05 21:36] ncskier commented on #371
Yep, I think that's true. However, I don't think that it affects this issue right now. The inherent structure of how TriggerBindings are used will remain the same.

Plus, I assume that if we decide to make a separate TriggerCRD, then there will be a discussion about whether or not to allow users to embed the TriggerCRD in an EventListener.

[2020-02-06 04:35] zhangtbj opened #418 "New TestEventListenerCreate test fail because cluster level resources are not deleted"
# Expected Behavior
When I run the e2e test, it should pass as before

# Actual Behavior
TestEventListenerCreate test fails because the cluster level resources are not deleted:

1. clusterrolebinding.rbac.authorization.k8s.io "my-rolebinding"
2. clusterrole.rbac.authorization.k8s.io "my-role"
3. clustertriggerbinding.tekton.dev "my-clustertriggerbinding"

# Steps to Reproduce the Problem

1. have

[2020-02-06 16:15] dibyom commented on #418
cc @piyush-garg

I wonder how CI is passing :thinking:

[2020-02-06 16:16] dibyom commented on #418
/area testing

[2020-02-06 16:25] piyush-garg commented on #418
/assign

[2020-02-06 16:27] piyush-garg commented on #418
@dibyom I think the CI is passing because we always spin a new environment for CI

[2020-02-06 17:25] gabemontero commented on #77
fyi I updated my prior comment https://github.com/tektoncd/triggers/issues/77#issuecomment-582186100 as I've looked at the code more and understand that
- there is validation to restrict the type instantiated from the `TriggerTemplate` to the various Tekton types
- clarifying that with the `Step` being exposing the `Container` API it is possible to create privileged containers

[2020-02-06 18:29] #418 closed

[2020-02-07 02:18] zhangtbj commented on #418
Thank you all!

[2020-02-07 17:55] #248 closed

[2020-02-07 18:21] piyush-garg commented on #290
/assign

[2020-02-07 18:58] #290 closed

[2020-02-10 08:04] khrm commented on #372
/assign

[2020-02-10 10:51] khrm commented on #276
/assign

[2020-02-11 17:08] wlynch commented on #330
Done!

[2020-02-11 17:08] #330 closed

[2020-02-11 17:31] gabemontero commented on #77
per sync call today I'm assigning to myself

will update this with the WIP PR when I have it available

[2020-02-11 17:32] gabemontero commented on #77
oops .... @wlynch @dibyom I don't have permission to assign this to myself ;-)

can one of you all do the owners?

[2020-02-11 17:32] gabemontero commented on #77
/assign @gabemontero

[2020-02-11 17:33] gabemontero commented on #77
check that @wlynch @dibyom  ... just could not do it from the assignee portion of the issue ;-)

[2020-02-11 18:58] #372 closed

[2020-02-12 00:29] jfelten opened #436 "Eventlistener broken on eks"
# Expected Behavior
eventlistener pod starts

# Actual Behavior
fails to start with error: Failed to get in cluster config: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory

# Steps to Reproduce the Problem
-

1. Install tekton pipelines and triggers on an eks cluster
2. Create a designated namespace and service account
3. create an event listener (and depedencie

[2020-02-12 16:15] bitsofinfo opened #437 "EventListener Webhook interceptor does not retain HTTP method when proxying request to target Service"
# Expected Behavior

If I have a `webhook` interceptor configured for an `EventListener`, if I do a http POST to the generated `Ingress` for that `EventListener` I expect my custom k8s service to also get a POST

# Actual Behavior

My custom interceptor service that receives the proxied/forwarded request from the webhook receives an http GET

# Steps to Reproduce the Problem

1. Create a webhook i

[2020-02-12 18:56] dibyom commented on #437
/kind bug

[2020-02-12 18:56] dibyom commented on #437
/cc @wlynch

[2020-02-12 20:09] bitsofinfo opened #439 "Add configurable http method support for Webhook interceptors"
Would be good to in addition to being able to tweak custom headers per webhook interceptor definition (existing feature); to also be able to override the http method that it will forward the request along with.

The default behavior imho should be to leave the original inbound method the evenlistener was hit with, unless changed via this new method.

This would permit for all sorts of unique custo

[2020-02-12 22:18] jfelten commented on #436
I figured out my issue. Since I had created my tekton service account via terraform the default behavior is to diable automounting of service account tokens. https://www.terraform.io/docs/providers/kubernetes/r/service_account.html#automount_service_account_token

The yaml serviceAccount flag is automountServiceAccountToken: false for those interested.

It is now working on eks.

Closing since thi

[2020-02-12 22:18] #436 closed

[2020-02-13 15:54] dibyom commented on #439
/kind feature

[2020-02-13 18:47] dibyom opened #440 "FR: Configurable Services/Deployments for EventListener Sinks"
# Expected Behavior

A user should have more control over their EventListener sink. Today the only option we provide is the `serviceType`. Users might want to control the number of replicas for their deployments, loadBalancerIPs etc.

# Actual Behavior

We don't provide a declarative way for users to configure any of these. Users may modify the created sink objects directly but we do not provide a

[2020-02-13 18:49] dibyom commented on #437
/milestone 0.3

[2020-02-14 11:04] bigkevmcd opened #441 "Combine GitLab and GitHub interceptors"
# Expected Behavior

Instead of `GitHub` and `GitLab` interceptors being separate

[code]

Perhaps these could be simplified to a `GitWebhook` with type `github` or `gitlab`

This would make extending somewhat simpler:

And tidy this long validation line up:

https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/event_listener_validation.go#L83

And make it easier to extend w

[2020-02-14 15:08] bitsofinfo commented on #437
i don't see this listed @ https://github.com/tektoncd/triggers/milestone/3

[2020-02-18 02:31] gabemontero commented on #77
Intermediate update:
- convinced myself (and I believe @pmorie as well though we are reconvening later this week to talk some more) that all the admission webhooks, SARs, belong in tektoncd/pipelines
- any updates in this repo, if any, would be around a more granular auth flow out of the event sink
- I've got a commit/branch in my fork where I'm tinkering with some ideas along these lines, though

[2020-02-18 16:11] dibyom commented on #367
At the Feb 11 WG, we decided we can push this after the 0.3 milestone

[2020-02-18 16:16] dibyom commented on #415
For the 0.3 release, we decided that I can co-ordinate with CLI/Pipeline to ensure we have the pipeline version we need

[2020-02-18 17:04] dibyom commented on #332
/assign

[2020-02-18 17:39] akihikokuroda commented on #440
The requirement for the service is already covered but here is information for EKS configuration: https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/GettingStarted.md#notes-for-amazon-eks

[2020-02-18 18:08] #276 closed

[2020-02-20 17:04] ncskier commented on #87
In PR #438, a discussion started about the use-case of chaining Interceptors: https://github.com/tektoncd/triggers/pull/438#issuecomment-589155906

The use-case described made me think about this issue, and whether it should be the job of an Interceptor to "call out" for additional information, or if we need a separate mechanism in Triggers for this.

Interceptors were initially built as a way to

[2020-02-20 18:28] #405 closed

[2020-02-20 18:46] ncskier opened #450 "Cloud Event example"
# Expected Behavior
Cloud Events are a relatively common way of sending and receiving events. Triggers currently supports receiving HTTP requests with JSON payloads, so I think that we should have an example in the repository for a CloudEvent.

# Actual Behavior
There are currently no Triggers examples for receiving a CloudEvent.

# Additional Info
I created this issue because of a question raised

[2020-02-20 19:46] dibyom commented on #450
I think we've been using the pattern of pipelines emitting cloud Events that are sent to a Triggers repo that then run a task based on the event in tektoncd/plumbing

[2020-02-21 13:35] wlynch commented on #87
I think with the inclusion of WebhookInterceptors we can close this out.

I think #270 will help this. You can either provide a Service, or a URL (where you could host multiple interceptor endpoints). I suspect possibly adding a URL path to Services may also help this out this particular case, this way you could deploy a single Service and route accordingly.

I suspect this is an area we can learn

[2020-02-21 13:35] wlynch commented on #270
https://github.com/knative/pkg/blob/d9a38f13e8b9aa736f714b793ee28788de1b30e0/apis/duck/v1beta1/destination.go#L26-L47

Is a good example of how we can represent this.

[2020-02-21 13:47] wlynch commented on #441
I would prefer to keep these separate, just so that they can be updated and configured separately.

Even within pipelines there is a strong argument against the common pull request resource, since it limits interactions with the underlying SCMs to the lowest common denominator interface. There's been some experimentation within the catalog to break things up into individual tasks: https://github.c

[2020-02-21 14:41] bigkevmcd commented on #441
Plugin registration sounds like the way to go, sounds good to me

[2020-02-21 18:41] ncskier commented on #332
@dibyom and I talked offline about moving this issue to the beginning of v0.4.0 development, so that we don't introduce a breaking change right before releasing v0.3.0. So, I'm going to move this issue to the v0.4.0 Milestone. We'll want to merge the code at the beginning of the release development cycle so that we can have a good amount of time for testing 👍

[2020-02-21 19:03] ncskier commented on #371
@khrm are you still working on this issue? Since there isn't a PR yet, we'll probably want to push this issue back into the v0.4.0 release.

[2020-02-25 19:34] #437 closed

[2020-02-26 06:10] khrm opened #456 "Multi-Tenant EventListener"
# Expected Behavior
It should be feasible to use multi-tenant EventListener.

# Actual Behavior
EventListener can create tekton resources if it has appropriate clusterroles but multi-tenant EventListener isn't possible.

# Steps to Reproduce the Problem
The following flow isn't possible if we deploy multi-tenant EventListener:

1. Using admin account

- Create a namespace foo
- Create EventListene

[2020-02-26 06:12] khrm commented on #456
@gabemontero @wlynch @ncskier
I was discussing this scenario.

[2020-02-26 06:13] khrm commented on #456
/kind feature

[2020-02-26 19:22] akihikokuroda opened #458 "Header key should be treated as case-insensitive"
# Expected Behavior

In the TriggerBinding,

[code]
should put the GitHub event (like push, pull_request) to the github_event parameter.

# Actual Behavior

This params definition causes failure on the receiving of the GitHub event.  It can not find the header.

# Steps to Reproduce the Problem

1. create eventlistener with the TriggerBinding with the parameter definition
2. receive an event from

[2020-02-26 19:45] akihikokuroda commented on #458
/assign

[2020-02-26 20:00] dibyom commented on #458
/kind bug

[2020-02-27 14:21] #441 closed

[2020-02-27 15:02] ncskier opened #459 "Problem upgrading to v0.3.0"
# Expected Behavior
I expect to be able to upgrade to v0.3.0 without changing my EventListener.

# Actual Behavior
When upgrading to v0.3.0, the EventListener no longer works properly. When it receives an event, there seem to be errors extracting event data.

Here's an example error:
[code]

I think that I also saw a case when the $(params.example) were not filled in the TriggerTemplate.

I've fou

[2020-02-27 20:44] akihikokuroda commented on #459
/assign

[2020-02-27 20:45] akihikokuroda commented on #459
Issue is missing `b.kind` in the TriggerBindings

[2020-02-27 22:15] dibyom commented on #459
Yeah, we set the default in the reconciler but never persist it. And the ResolveTrigger function in the sink expects a Kind to be set

[2020-02-27 23:35] akihikokuroda commented on #459
/unassign

[2020-02-28 12:31] afrittoli opened #463 "Labels on event listener break service selector"
# Expected Behavior
It should be possible to add custom labels on an event listener

# Actual Behavior
Label is set to the event listener:
[code]

Label is propagated to the service, and it's added to the service selector:
[code]

However the label is not propagated to the pod:
[code]

Which causes the service selector to catch nothing.
I'm having this issue on triggers v0.2.1 - not sure if the is

[2020-02-28 15:13] #458 closed

[2020-02-28 15:32] #459 closed

[2020-02-28 16:17] dibyom commented on #463
/kind bug

[2020-03-05 19:11] bitsofinfo commented on #367
would love this!

[2020-03-05 19:29] bitsofinfo opened #472 "Add support for CEL string 'replace' functions"
Would be great to have a `replace` function for strings.

I don't think a custom one would be necessary to develop in triggers itself, but just wanted to note that eventually this should be available in cel-go per https://github.com/google/cel-go/pull/316 requiring a dependency update once released

[2020-03-05 21:06] dibyom commented on #472
/kind feature

[2020-03-06 01:45] rlangfordBV opened #473 "How to set front-end port on EL Service"
How do you actually set the front-end port for the service an EL creates?  I want to wire it up to an existing ingress controller.

I have this `EventListener`:
[code]

and the service config looks like:
[code]

I'd like set `port` to something else.

[2020-03-06 20:29] bigkevmcd commented on #472
This is dependent on https://github.com/google/cel-go/pull/316

[2020-03-06 21:31] #473 closed

[2020-03-09 22:15] bigkevmcd commented on #472
I'll wait for a release of cel-go with the new strings code, but this is a preview https://github.com/tektoncd/triggers/compare/master...bigkevmcd:bump-cel-version#diff-380a89d5f9158ee4a011057e1609c4beR80-R81

[2020-03-10 16:07] disposab1e opened #476 "TriggerTemplate does not create PVC"
# Expected Behavior
PVC is created.

# Actual Behavior
[code]

# Steps to Reproduce the Problem
1. Create a TriggerTemplae with PVC.
[code]
2. Trigger TriggerTemplate.
3. View erros in EventListener.

# Additional Info
From the docs: **TriggerTemplates can create any Kubernetes resource(s)**

[2020-03-11 17:13] disposab1e commented on #476
I see: **As on now, only Tekton resources can be defined within a TriggerTemplate.**

As in Tekton Pipelines it's a good idea to make the docs more clear!

[2020-03-11 17:14] #476 closed

[2020-03-12 17:43] ncskier commented on #476
Thanks for your feedback @disposab1e. I created a PullRequest (https://github.com/tektoncd/triggers/pull/477) to address your issue over the TriggerTemplate documentation. Please let me know if you think my PullRequest will adequately solve your issue for new users who read through the Triggers documentation.

[2020-03-12 17:46] ncskier commented on #476
As a second note, @disposab1e, would you find it very helpful if Tekton Triggers was able to create Kubernetes resources other than Tekton resources? Are you unable to use Tekton Triggers without this feature?

[2020-03-12 19:57] disposab1e commented on #476
@ncskier Yes I think this can be very helpful?

We use for GitOps:
- Argo CD 1.4.2 (Operator)
- Tekton Pipeline (v0.10.1)
- Tekton Triggers (v0.3.1)
- SelaedSecrets (v0.9.6)

Actually we use a single EventListener, TriggerBinding and TriggerTemplate for all off our CI/CD Pipelines serving many differnet projects in many different namespaces. _All of our custom Tekton Pileline/Trigger Kubernetes Re

[2020-03-13 10:29] dbazhal opened #478 "Add ability to trigger on kubernetes resouces, not only web hooks"
# Expected Behavior

Any way to trigger on some in-cluster event/resource required.
Watch-list objects of some type, or watch kubernetes events, and when an object meets some conditions - then take some infro from it, and trigger as tekton triggers usually do - create object(usually taskrun/pipelinerun).

# Actual Behavior

Now we can only trigger on some external http events.

[2020-03-13 15:48] ncskier commented on #476
@disposab1e Thank you for elaborating on your use-case. If you have the time, could you please turn your last comment, with your use-case, into a new Triggers issue? We'll probably want to add a feature for removing the TriggerTemplate limitation of only creating Tekton resources. I think that it will be helpful to discuss this feature with the community in a new issue 👍

(I can create the issue i

[2020-03-13 16:31] dibyom commented on #478
/kind featur

[2020-03-13 17:04] bobcatfish opened #480 "Poll based change detection?"
(moved from https://github.com/tektoncd/pipeline/issues/1489 by @evgf)

# Expected Behavior

It should be possible to trigger on any change to the state of a repo (i.e. poll based).

(I'm assuming we're talking about the content of the repo itself, but maybe we're also talking about stuff like PRs, issues and comments?)

# Actual Behavior

Currently we provide support or at least docs for:
- Trigg

[2020-03-13 20:20] dibyom opened #481 "Support creating v1beta1 Pipeline resources"
# Expected Behavior
Triggers should be able to create both v1alpha1 and v1beta1 Tekton resources

# Actual Behavior
Triggers can only create both v1alpha1 and v1beta1 Tekton resources

# Steps to Reproduce the Problem

1. Use a TriggerTemplate with a v1beta1 Tekton API

# Additional Info
See: https://github.com/tektoncd/triggers/pull/469#issuecomment-598890208

[2020-03-13 20:21] dibyom commented on #480
/kind feature

[2020-03-13 21:44] bobcatfish commented on #481
Couple places i noticed to update:

* https://github.com/tektoncd/triggers/blob/master/pkg/client/dynamic/clientset/tekton/tekton.go#L11
*  https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/trigger_template_validation.go#L25

[2020-03-15 05:03] disposab1e opened #482 "Relax TriggerTemplate limitation of only creating Tekton resources"
# Expected Behavior
It should be possible to create a PersistentVolumeClaim resource in TriggerTemplate `spec.resourcetemplates:`.

# Actual Behavior
Only Tekton resources are allowed.

# Steps to Reproduce the Problem

We would like to have a possibilty to dynamically create a PVC within TriggerTemplate.

[code]

We don't think this will break any design decisions but can be very helpful in some

[2020-03-15 05:04] disposab1e commented on #476
@ncskier Pleasure! #482

[2020-03-16 10:14] vdemeester commented on #480
I am also not sure if it is in the scope of triggers (or documentation would be, but as a feature ?).

If it is a feature in triggers, as it is poll-based, we wouldn't need an event-listener (because event-listener is for "push-based"), so on which resource should it be ?

[2020-03-16 11:09] vdemeester commented on #481
/kind feature
/area api

[2020-03-16 13:41] ncskier commented on #476
Thanks!

[2020-03-16 13:41] ncskier commented on #482
/kind feature

[2020-03-16 19:02] ncskier commented on #456
@khrm I understand your use-case of wanting your EventListener in Namespace `foo` to be able to use TriggerTemplates and TriggerBindings in Namespace `bar` and other Namespaces.

However, is your goal to truly have multi-tenancy, or just multiple users of one organization? I'm honestly not very knowledgable about the subject of multi-tenancy, but if I understand correctly, multi-tenancy comes with

[2020-03-16 22:31] dewan-ahmed opened #483 "https://github.com/tektoncd/triggers/blob/master/examples/example-pipeline.yaml file is a Task. Name indicates its a Pipeline."
# Expected Behavior
File is a Task YAML
# Actual Behavior
File is a Pipeline YAML

# Steps to Reproduce the Problem

1. Go to https://github.com/tektoncd/triggers/blob/master/examples/example-pipeline.yaml

# Additional Info

[2020-03-17 13:26] ncskier commented on #483
There's a Pipeline at the bottom of the file. The Tasks at the beginning are used in the Pipeline: https://github.com/tektoncd/triggers/blob/master/examples/example-pipeline.yaml#L59.

[2020-03-17 13:26] #483 closed

[2020-03-17 15:02] dewan-ahmed commented on #483
Got it. Thanks!

[2020-03-17 15:14] ncskier commented on #483
No problem 👍

[2020-03-17 16:03] khrm commented on #456
@ncskier For now, we are just focusing on just multiple users of one organization. Where every project/user is assign a namespace.

[2020-03-17 19:07] bobcatfish opened #484 "Add Rego interceptor"
# Expected Behavior

In addition to supporting CEL for filtering and mutation of payloads, we can support other options out of the box, such as Rego.

# Actual Behavior

We only support CEL, tho folks can bring their own interceptors of course!

# Additional Info

To actually make this happen we should propose a design since there are a few ways we could express filtering + overlays with Rego.

[T

[2020-03-17 19:12] dalefwillis opened #485 "Dynamic params sent from EventListener to PipelineRun"
# Expected Behavior

I'm sorry to spam issues with this but I'm not seeing any docs on this topic. First off - I love the idea of Tekton and the triggers project is a great addition. I was able to follow through the getting started guide and so I know I have the event listeners setup properly to do basic things.

What I'm attempting to do is to take the entire payload body from a github hookshot (

[2020-03-18 12:41] dibyom commented on #484
/kind feature

[2020-03-18 13:06] dibyom opened #486 "Allow Secret Access in CEL Interceptor"
# Expected Behavior
The CEL interceptor should provide a way to access Kubernetes secrets
Potential syntax: https://github.com/tektoncd/dashboard/issues/1129#issuecomment-597562963

# Actual Behavior
No way to access secrets from CEL at the moment. So folks who need to "hide" information have to use something like https://github.com/tektoncd/dashboard/issues/1129

# Additional Info
* We should con

[2020-03-18 15:03] ncskier commented on #486
I think that we're already doing this for the GitHub & GitLab interceptors; for them to work the EL Pod must have access to all Secrets in the namespace. So, I think the security concern here probably applies to all Interceptors as a whole.

[2020-03-18 15:49] ncskier commented on #485
Hello @dalefwillis, I'm a little unclear whether you're requesting a feature or having trouble getting the `$(body)` parameter to be sent to your Pipeline.

If it's the former, does this feature sound similar to what you're looking for? https://github.com/tektoncd/triggers/issues/87

If it's the latter, then this should illustrate how to send the `$(body)` of your event to a Task/Pipeline:
[code]

[2020-03-18 19:23] dalefwillis commented on #485
Thanks for the response @ncskier - last question related to these kinds of dynamic params:

I can tell from the output the params are variable replaced using Go and when that happens if the variable being replaced is a json object Go just prints it out without regard for it being json - so for instance it would print `{test:object}` instead of `{"test": "object"}` which would cause something like

[2020-03-18 20:21] dibyom commented on #481
/assign

[2020-03-18 20:26] ncskier commented on #485
I think that's because my `echo` command in the Task didn't have single quotes. Using `echo '$(inputs.params.body)'` should return this:
[code]

If you check the TaskRun resource with `kubectl get taskrun test -oyaml`, the parameter is being passed to the Task like this:
[code]
However, one thing to note is that I think we're escaping the double quotes, so when you check the resource JSON, the par

[2020-03-18 21:28] ncskier commented on #485
Since we pretty much came up with a working example in this issue thread, I've created a PR to add the example to the Triggers repo: https://github.com/tektoncd/triggers/pull/487. This way, other people can easily run the example.

[2020-03-18 21:42] dalefwillis commented on #485
Awesome - thanks @ncskier for doing that so quickly! I'll close this ticket since you didn't reference it in the PR to be resolved.

[2020-03-18 21:42] #485 closed

[2020-03-19 16:17] bitsofinfo commented on #482
@disposab1e do you currently have any workaround/hack way you create these PVCs dynamically before a PipelineRun invokes? care to share?

[2020-03-20 09:29] afrittoli opened #491 "Add a debug interceptor"
# Expected Behavior
This is a feature request. It would be nice to have a stock interceptor in triggers that one could deploy and use to debug, namely dump the payload and headers to the log.

# Actual Behavior
It can be hard to troubleshoot format / content issues in the payload if one does not control the source.

[2020-03-20 09:29] afrittoli commented on #491
/kind feature

[2020-03-20 13:10] bigkevmcd commented on #480
I'm interested in this sort of functionality, but what would it mean within a "triggers" context?

Detect changes, and trigger a PipelineRun or TaskRun with the changes, maybe the RepoURL and SHA?

[2020-03-20 14:45] bigkevmcd commented on #491
What would you like this to look like?

Logging of headers and payload?

I've seen GitHub hook events with a payload over 1.5MiB, dumping those in log the isn't cheap.

[2020-03-20 14:47] bigkevmcd commented on #491
My first thought was something similar to https://golang.org/pkg/net/http/httputil/#DumpRequest

[2020-03-20 15:11] ncskier commented on #491
As an alternative idea, could we add a debug log line in the EventListener sink that prints the information that you want (payload & headers)?

Then, to view this information, you could change the logging ConfigMap `config-logging-triggers` to `debug` to enable these logs (`loglevel.eventlistener: debug`). We have some information about this in the docs [here](https://github.com/tektoncd/triggers/

[2020-03-20 19:19] sbose78 commented on #480
Poll based change detection would be nice to have!

[2020-03-22 14:49] bigkevmcd commented on #491
Or another option, would be a webhook interceptor that just returned 200 and headers/bodies after logging out the fields you wanted

[2020-03-23 18:06] bigkevmcd commented on #339
@wlynch I think we could close this out?

[2020-03-23 19:54] dibyom opened #494 "cleanup: Migrate the list of resources Triggers is allowed to create to a single place"
# Expected Behavior

- The allowed types should be in a single location

# Actual Behavior
They are in two places:
- pkg/client/dynamic/clientset/tekton/tekton.go and
- pkg/apis/config/allowed_types.go

# Additional Info
Found in #490
/kind cleanup

[2020-03-23 22:51] dibyom opened #495 "Cleanup cluster resources when e2e tests fail"
# Expected Behavior
I should be able to re-run the e2e test on the same cluster twice even if the first run fails

# Actual Behavior
When e2e tests fail, cluster resources "my-clustertriggerbinding", "my-role", "my-rolebinding" are not cleaned up.  So, if I re-run the test it always fails

# Steps to Reproduce the Problem
1. Run e2e tests:  go test -v -count=2 -tags=e2e -timeout=20m ./test

# Addi

[2020-03-23 23:05] dibyom opened #496 "PortForward in e2e test is brittle"
In /test/eventlistener_test.go TestEventListenerCreate, we port forward to the EventListener sink. To do this, we exec out to kubectl and sleep for a few seconds. A more robust way would be to use something like https://godoc.org/k8s.io/client-go/tools/portforward

/area testing
/kind cleanup

[2020-03-24 15:46] vtereso commented on #480
With consideration for https://github.com/tektoncd/triggers/issues/478, I really like the idea of focusing Triggers around the `EventListener` paradigm. Polling is a bit different, but for locations that don't have webhooks builtin, I like it. This also has the benefit of making it so the service doesn't have to be exposed?

[2020-03-24 15:50] vtereso commented on #385
In this format, it seems like we are allowing for the inner value to be resolved recursively rather than just taking the text. I think an error is probably better?

[2020-03-24 16:08] vtereso commented on #415
We can close this issue/readdress once we sync in 0.4.

[2020-03-24 16:09] vtereso commented on #463
/assign

[2020-03-24 16:16] vtereso commented on #482
Due to security considerations, we want to make sure we do this right and that the use case is warranted. Auto workspaces might be able to support your use case. We will continue to look at this.

[2020-03-24 16:19] vtereso commented on #478
I like the idea of this. However, most resources have their own controller so I don't entirely know the use case.

[2020-03-24 16:23] disposab1e commented on #476
@ncskier No idea why I wasted my time?! See last comment: #482

[2020-03-24 16:25] disposab1e commented on #482
@vtereso What are your security concerns? Where is a auto workspace feature?

[2020-03-24 16:28] vdemeester commented on #482
@disposab1e auto workspace is there : https://github.com/tektoncd/pipeline/issues/1986
@vtereso can you elaborate on the security concern ?  what differs from creating tekton resources and pvcs ? (if the user has the rights to do so)

[2020-03-24 16:31] vdemeester commented on #415
@vtereso how so ? this will be an issue after 0.4 right ?
@dibyom if it's only for Param types, it might be worth "duplicating" those (acting like a completely separate client, using the API only, no shared code)

[2020-03-24 16:31] disposab1e commented on #482
@vdemeester Perhaps it will be there? Still open, nothing to use right now.

[2020-03-24 16:32] vdemeester commented on #482
On auto-workspace, yeah, there is no auto-workspace yet, which makes using `workspace` with dynamically provisionned PVC close to impossible with triggers indeed :sweat:

[2020-03-24 16:33] dbazhal commented on #478
I won't be inventing new ideas, my own goals for example are to:
- lower automation entry level for my users, so they could do anything even not knowing golang/kubernetes api internals
- watch apps behaviour and launch self-healing/notification tasks/pipelines
- watch different objects change and launch pipeline that bakes immutable artifact as compilation of many factors and delivers it through m

[2020-03-24 16:35] disposab1e commented on #482
I do not agree! I can use workspace feature with dynamically provisioned PVCs. Ok it's harder without error handling and without lifecycle management.

[2020-03-24 16:42] vdemeester commented on #482
My comment above says that it's hard as of today (not being able to create `PersistentVolumeClaim` in a `TriggerTemplate`), which I think is a problem (hence my question to @vtereso). I didn't mean that it shouldn't be supported, but the opposite, I think it should be supported (otherwise this mean we need to do an extra *hoop* to create dynamic PVC, like have a `Task` that creates it and then tri

[2020-03-24 16:54] disposab1e commented on #482
I think there must be "something" when you remove PipelineResources in the future. I totally understand the discussions about not to pin tekton-pipelines to a specific way to store data between tasks. But it's a common use case "the need for storage". I had this discussion in mind when I was asking for PVCs in TriggerTemplates. I don't think this will break your design decissions. But when you cre

[2020-03-24 16:57] ncskier commented on #456
Trying to write up the use-case to see how it would work with https://github.com/tektoncd/triggers/pull/454 which adds ServiceAccounts per Trigger.

## Use-case

If I understand the use-case correctly, the idea is to support having multiple users where each use has their own Namespace. In this Namespace, each use will have their own TriggerTemplates + TriggerBindings as well as their own ServiceAc

[2020-03-24 17:30] gabemontero commented on #456
at least for me @ncskier this captures a valid scenario and concerns that could be addressed by my PR, given it provides for more granular/specific authorization across multiple users.

And as this scenarios has been fleshed out, I *believe* we may have to answer to a TODO question I currently have in my PR's changes:  https://github.com/tektoncd/triggers/blob/29146ce2c30d98ce6d427b9dba9e63364b1d0

[2020-03-24 18:29] #481 closed

[2020-03-24 18:40] dibyom opened #499 "Update ingress and webhooks tasks to v1beta1"
# Expected Behavior
docs/create-ingress.yaml and docs/create-webhook.yaml should be v1beta1 tasks.

# Actual Behavior
They are v1alpha1 tasks

# Additional Info
The biggest change is probably switching the params/resources from inputs.params to just params.

cc @ncskier @akihikokuroda
/kind cleanup

[2020-03-24 18:43] ncskier commented on #499
Do we know if people are using these? Also, should they be moved to the [Tekton Catalog](https://github.com/tektoncd/catalog)?

[2020-03-24 18:54] dibyom commented on #499
Yeah moving them to the Catalog is a good idea 💯

[2020-03-24 19:11] ncskier commented on #415
I agree with @vdemeester that it shouldn't be a problem to create our own Param types.

---

Trying to create a quick summary, currently I think we use Pipelines for:
- tests
- Params
- clientset for creating resources (the two files mentioned in [this](https://github.com/tektoncd/triggers/issues/494) issue)

Is there anything else that I'm missing?

[2020-03-24 21:06] akihikokuroda commented on #499
/assign

[2020-03-25 02:38] zhangtbj opened #501 "clustertriggerbindings.tekton.dev "my-clustertriggerbinding" is not deleted in e2e"
The e2e tests work fine when I first executing on my cluster.

But when I run the e2e test second time, I got an error:
[code]

It means the `clustertriggerbindings.tekton.dev "my-clustertriggerbinding"` doesn't be cleaned up after e2e test.

It need to be deleted. Thanks!

[2020-03-25 12:45] akihikokuroda commented on #499
I'll do this in 3 steps (pullrequest):
1. Change the create_ingress.yaml and create_webhook.yaml in the triggers/docs
2. Create these tasks in catalog
3. Change the triggers/docs/README.md, triggers/docs/exposing-eventlisteners.md and triggers/docs/getting-started/README.md. Delete the  create_ingress.yaml and create_webhook.yaml in the triggers/docs

[2020-03-25 14:20] ncskier commented on #501
/area testing

[2020-03-25 14:22] ncskier commented on #501
Is this a duplicate of https://github.com/tektoncd/triggers/issues/495. Does this only happen when the first test fails? fyi @dibyom

[2020-03-25 14:39] zhangtbj commented on #501
It happen from second test. there is no `my-clustertriggerbinding` at the first test.

[2020-03-25 14:49] dibyom commented on #501
yeah this is a duplicate of #495 and should be fixed via #497

[2020-03-25 14:50] dibyom commented on #501
Will close this in favor of #495
/close

[2020-03-25 14:50] #501 closed

[2020-03-26 08:35] afrittoli opened #504 "[feature proposal] Alternate ways of running triggers"
# Expected Behavior

Triggers are an excellent way to provide a partially configured set of runtime resources, and isolated a limited number of parameters that are relevant for specific use cases.

Triggers receive a payload that includes the information needed to complete the runtime setup of resources. Today that payload can only be received over HTTP by.a service associated to the event listene

[2020-03-26 08:39] vdemeester commented on #504
/kind feature

[2020-03-26 08:39] afrittoli commented on #504
@bobcatfish @dibyom @vdemeester @ckadner @Tomcli

[2020-03-26 08:42] vdemeester commented on #504
This could be a way to do #480 (but the scope of this feature request is broader :angel: )
I really like the idea :angel:

It is also a tiny bit related to #482 for the attaching some runtime aspects.

[2020-03-26 15:24] ncskier commented on #504
Really interesting idea for extending Triggers functionality using a trigger type 👍I'd be interested in seeing a list of use-cases for different ways that people want to trigger a Trigger – I know there are a couple other issues floating around like https://github.com/tektoncd/triggers/issues/478.

One quick note:

Unless I'm misunderstanding something, there's nothing stopping you from doing this

[2020-03-27 03:07] MartinForReal opened #505 "Feature request: Eventlistener should support customized podTemplate"
# Expected Behavior
Event listener should accept customizable default pod template as what tekton pipeline did.
If we can add a field in CRD that would be better

# Actual Behavior
Event listener is created using the default deployment template.  But it doesn't comply with our schedule policy.

# Additional Info
https://github.com/tektoncd/pipeline/pull/1901

[2020-03-27 03:12] MartinForReal commented on #505
/kind feature

[2020-03-27 03:13] MartinForReal commented on #505
@bobcatfish @dibyom @vdemeester @ckadner @Tomcli

[2020-03-27 03:16] MartinForReal commented on #505
/area api

[2020-03-27 09:48] afrittoli opened #508 "Confusing params syntax in trigger templates"
# Expected Behavior
`TriggerTemplates` allow defining a set of (Tekton) resources that should be provisioned.
`TriggerTemplates` expose parameters that can be injected into the resources using the `$(params.<param-name>)` syntax. The problem is that some of the resources that can be provisioned in `TriggerTemplates`  have their own parameters, and they can refer to them using the exact same syntax

[2020-03-27 12:34] afrittoli commented on #504
That's a very good point, thank you.
To have a completely empty body though I would need to have to have a dedicated event listener for each cronjob. I could have a body that only includes a cronjob name, and use a CEL filter to direct that to a trigger with the right binding.

[2020-03-27 13:17] #332 closed

[2020-03-27 14:55] ncskier commented on #504
Ah, good point; for multiple cron jobs you would need something to filter on 👍

[2020-03-27 14:58] ncskier commented on #508
/kind feature

[2020-03-27 15:03] ncskier commented on #505
This issue sounds similar to https://github.com/tektoncd/triggers/issues/440. I wonder if we can address both issues in the same way?

[2020-03-30 14:15] #495 closed

[2020-03-30 18:16] dibyom commented on #505
Yeah this seems like a very reasonable feature request. I'm for adding this

[2020-03-30 18:17] dibyom commented on #505
I wonder if a podTemplate would be enough though....is there a need for customizing things such as number of replicas etc.?

[2020-03-30 18:17] dibyom commented on #440
Closing in favor of #505
/triage duplicate
/close

[2020-03-30 18:17] #440 closed

[2020-03-30 18:21] dibyom commented on #508
Yeah, I've managed to confuse myself with this as well....would something like renaming the `params` in TriggerTemplates to something else will be sufficient?

[2020-03-30 18:37] dibyom commented on #504
Maybe we can do something like create the `CronJob` resource implicitly instead of requiring the user to create it

I wonder if each trigger having a dedicated `path` within the Listener might help here.
Also, since each Trigger now includes interceptors, bindings, name, template...maybe it makes sense for it to be its own CRD.

has been proposed before as well. Perhaps time to look at it again: h

[2020-03-30 18:37] afrittoli commented on #508
I would leave `params` in the syntax since there may be more vars in future coming from the trigger template

[2020-03-30 18:39] dibyom commented on #482
I think the security issues are the same as mentioned in https://github.com/tektoncd/triggers/issues/77

[2020-03-30 19:12] dibyom commented on #415
I think that's about it

[2020-03-30 19:49] dbazhal commented on #478
Oh, and another reasons came to mind.
1. kubernetes deployments watch themself and run rollout on change
2. in okd <= 3.11 there is buildconfigs/deploymentconfigs, and they all can trigger when themselves change

Tekton pipelines and tasks do not run themselves on change, because they are separated from their runs.
So there must be some tool to run tekton pipeline then it changes. Tekton triggers

[2020-03-31 19:34] dibyom commented on #486
Fixed by #492

[2020-03-31 19:34] #486 closed

[2020-03-31 21:33] dibyom commented on #415
I like Vincent's idea though I think this can wait till 0.5.

[2020-04-01 06:18] savitaashture commented on #362
Hi @amlozano
Are you working on this feature?

[2020-04-01 18:59] amlozano commented on #362
@savitaashture no, sorry. I don’t find time now to work on this, plus we discarded going on with tekton for the moment. Maybe we will give it a try in the future.

[2020-04-01 19:17] #463 closed

[2020-04-02 03:10] MartinForReal commented on #505
Sorry for the late reply.
I browsed the sink's code and found a lot of useful information in the discussion in #370 .
At the service access level, we need to find a way to reduce the number of ingresses, svc resources so that the configurations are removed and attack risk is reduced.
At the workload level, we need to reduce the usage of the resource. The best scenario is that the sink is created a

[2020-04-02 06:48] savitaashture commented on #362
/assign

[2020-04-02 06:48] savitaashture commented on #362
@amlozano thank you for the conformation :+1:

[2020-04-03 18:47] joe-sonrichard opened #516 "upgrade to v0.3.1 fails if k8s not v1.15.0+"
# Expected Behavior
Upgrade to v0.3.1 would work on k8s versions **1.11.0+** as specified [in the docs](https://github.com/tektoncd/triggers/blob/v0.3.1/docs/install.md#pre-requisites).

# Actual Behavior
Tekton triggers pod fails because k8s version is not **1.15.0+**

# Steps to Reproduce the Problem
On a system previously running Tekton Triggers v0.2.1

1. Install TektonTriggers on k8s v1.14.9

[2020-04-03 19:07] joe-sonrichard opened #517 "v0.4.0-rc1 requires k8s version 1.15.0+ but docs don't say so"
# Expected Behavior
Upgrade to v0.4.0-rc1 would work on k8s versions **1.11.0+** as specified [in the docs](https://github.com/tektoncd/triggers/blob/v0.4.0-rc1/docs/install.md#pre-requisites).

# Actual Behavior
Tekton triggers pods fail because k8s version is not **1.15.0+**

# Steps to Reproduce the Problem
On a system previously running Tekton Triggers v0.2.1

1. Install TektonTriggers v0.4.0-

[2020-04-03 19:07] #516 closed

[2020-04-04 19:25] jlpettersson commented on #482
@disposab1e @vdemeester @vtereso I agree with you all! This is a blocker before using Tekton in a professional environment. I spent some time and submitted a PR for the solution I proposed in the auto workspace issue.

[2020-04-06 06:37] ymatsush opened #518 "found no matching overload for 'truncate' (split) in example yaml"
I received an error when running the sample below.

https://github.com/tektoncd/triggers/blob/master/examples/eventlisteners/cel-eventlistener-multiple-overlays.yaml

[code]

# Expected Behavior

The description below should be correct.

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Apply Tekton pipeline.
2. Apply sample for Event Listener.
3. Create webhook from Github.

[2020-04-06 18:21] #517 closed

[2020-04-06 19:14] dibyom commented on #518
/kind bug

[2020-04-06 19:15] dibyom commented on #518
cc @bigkevmcd

[2020-04-06 20:50] dibyom commented on #518
/assign

[2020-04-06 21:41] #518 closed

[2020-04-07 14:05] jace-ys opened #523 "Default ConfigMap getting deleted in Controller's namespace"
# Expected Behavior

Deleting all EventListeners in a namespace should not delete the logging ConfigMap that the `tekton-triggers-controller` and `tekton-triggers-webhook` rely on.

# Actual Behavior

When running EventListener's in the same namespace as `tekton-triggers-controller`, deleting all EventListeners in the namespace causes the default ConfigMap `config-logging-triggers` (created as par

[2020-04-07 15:21] bobcatfish opened #525 "Can't use Pipeline level params with TriggerTemplate params"
# Expected Behavior

I should be able to use params from the TriggerTemplate inside of a resource template that contains a Pipeline spec which also has it's own params.

# Actual Behavior

Both TriggerTemplate params + Pipeline params are specified with `$(params.my-param)` and TriggerTemplates can't distinguish between them, meaning that when you try to use a pipeline level param, TriggerTemplate

[2020-04-07 15:38] dibyom commented on #523
Interesting! Definitely a bug. To answer your question, usually we do not create the Trigger resources in the same namespace as the controllers which would probably explain why we have not run into this. Regardless, even if someone does use the same namespace, we should not delete the config-map.

/kind bug

[2020-04-07 15:47] khrm commented on #456
I created this short design after abstracting earlier discussion from older design document.
https://docs.google.com/document/d/1NX0ExhPad6ixTM8AdU0b6Vc3MVD5hQ_vIrOs9dIXq-I/edit#

[2020-04-07 15:59] dibyom commented on #525
Another possible solution might be the one suggested in #508 i.e. TriggerTemplate params use $(tt.params) vs $(params)

[2020-04-07 16:08] dibyom commented on #415
/assign

[2020-04-07 16:31] bobcatfish opened #526 "Incorrect capitalization in fields treated differently b/w first creation + updates"
# Expected Behavior

When I make a change to a TriggerTemplate it should change!

# Actual Behavior

When I apply a TriggerTemplate and subsequently try to make changes to it, the changes are never reflected in the state of the TriggerTemplate! I have to delete the TriggerTemplate and re-apply it to see the change.

# Steps to Reproduce the Problem

1. Apply a Trigger template such as:

[code]

2.

[2020-04-07 16:31] bobcatfish commented on #526
p.s. I thought this was just me until I paired with @sbwsg and he ran into it as well

[2020-04-07 16:35] bobcatfish commented on #525
Looks like I duplicated #508? feel free to close this! (I like the tt.params syntax btw)

[2020-04-07 17:27] sbwsg commented on #526
Ah, interesting!  So... If I add a new _param_ to the trigger template then I see this update straight away after applying it.

However, if I rename a workspace (for example) in the resourceTemplate and apply it then that change ends up in the `kubectl.kubernetes.io/last-applied-configuration` JSON but does not appear in the `resourceTemplate` itself.

[2020-04-07 17:32] bobcatfish commented on #526
This is wild! If I change a param and a resource template field at the same time, the param change takes and the resource template field only changes in the last-updated-configuration :O

@dibyom sounds like this makes sense to you somehow??

[2020-04-07 18:17] dibyom commented on #525
I think the solution is similar but this is technically a "different" bug
/kind bug

[2020-04-07 18:18] dibyom commented on #526
My hunch is that it has something to do with just the resourceTemplates since they get stored as  "rawMessage"/"unstructured" unlike the regular fields

[2020-04-07 18:18] dibyom commented on #526
/kind bug

[2020-04-07 18:20] dibyom opened #527 "Migrate Triggers to use Go Modules"
# Expected Behavior
Triggers uses Go modules for dependencies

# Actual Behavior
Triggers is still using dep

# Additional Info
Couple of PRs already open for this: #462 #180

[2020-04-08 00:49] booninite opened #529 "TriggerBinding JSONPath doesnt appear to honor bracket notation fully"
# Expected Behavior
Able to use valid JSONPath syntax (e.g.,`$(body.taskRun.metadata.labels['tekton.dev/pipelineTask'])`) and bind parameter to the value of the label tekton.dev/pipelineTask.

# Actual Behavior

EventListener errors:

[code]

# Steps to Reproduce the Problem

1. Attempt to reference any value containing a `.` within bracket notation in a TriggerBinding
2. Set up a TriggerTemplate/

[2020-04-08 13:38] ncskier commented on #529
/kind bug

[2020-04-08 19:29] dibyom commented on #526
probably related: https://github.com/kubernetes/kubernetes/issues/64612

[2020-04-08 19:33] bobcatfish commented on #526
In the repro case we were using `resourceTemplates` instead of `resourcetemplates` 😅  Looks like if you create a CRD with a field having the wrong case, it gets automatically corrected, but apply afterward doesnt do that b/c it just generates a patch containing the field with the wrong capitalization which is then IGNORED X'D

It's possible that open API validation will help here, some related iss

[2020-04-08 19:34] bobcatfish commented on #526
@dibyom tried adding openapi validation, but it seemed to be ignored unless we disabled the webhook 😨

[2020-04-08 19:51] sbwsg commented on #526
Wow, great sleuthing!

[2020-04-08 20:37] dibyom commented on #526
Expanding on @bobcatfish 's comment above, here is what I tried:
*. Add openAPI schema validation to `config/300-triggertemplates.yaml`:
[code]
*. Applied the CRD and then tried to create a `TriggerTemplate` with a `resourceTemplates` field. This should have failed due to the above validation but did not i.e. the template got created. Interestingly, the if you get the tempalte, the field is now al

[2020-04-08 20:53] dibyom commented on #529
Does escaping the `.` work? e.g `$(body.taskRun.metadata.labels['tekton\.dev/pipelineTask']))`

[2020-04-08 21:17] booninite commented on #529
That worked!  Thank you

[2020-04-08 21:26] dibyom commented on #523
Fixed by #530
/close

[2020-04-08 21:26] #523 closed

[2020-04-09 04:27] disposab1e commented on #482
@jlpettersson Looks wonderful! I like the idea that the PVC is deleted when TaskRun, PipelineRun is deleted!

[2020-04-09 15:33] dibyom commented on #529
Awesome! I'll keep this issue open so that we document it/use it in an example.

[2020-04-09 22:41] TristonianJones commented on #472
@bigkevmcd Just a quick FYI, the cel-go v0.4.1 release is stable and contains the extensions you're looking for.

With respect to encoders, I think a base64 encoding/decode function is also another reasonable CEL extension. One way to go for future custom functions is to file a feature request against cel-go for an extension. I can't promise it will be implemented right away, but I can promise to

[2020-04-10 14:58] bitsofinfo commented on #472
@TristonianJones awesome thanks, can't wait for this!

[2020-04-13 19:08] fabioluciano opened #533 "Got persistentvolumeclaim "pipelinerun-pvc" not found when running pipelineRun"
# Expected Behavior

A pipelineRun executed.

# Actual Behavior
In my script there is no mention of pipelinerun.
[code]

# Steps to Reproduce the Problem

1. Create a cluster using k3s distribuition. I used this script, [that](https://gist.github.com/fabioluciano/a11088b3145e91d2d4d766b49ebe0d81) i made;
2. Apply the follow resources..

[code]

[2020-04-13 19:21] #533 closed

[2020-04-14 00:08] sravankumar777 commented on #362
Looking for this feature for our use case using tekton pipelines.
Would like to listen to events from bitbucket webhook and trigger the pipeline for building & deployment operations.
Would be great to see about it :)
@savitaashture, thanks for working on this feature.

[2020-04-14 09:25] eddycharly opened #534 "[webhook] No v0.4.0 tagged image ?"
There is no `v0.4.0` image available for webhook ?

Looking at [gcr.io/tekton-releases/github.com/tektoncd/triggers/cmd/webhook](gcr.io/tekton-releases/github.com/tektoncd/triggers/cmd/webhook) there doesn't seem to be an image with the `v0.4.0` tag, though tags for other versions are available.

[2020-04-14 15:52] dibyom commented on #534
/kind bug
/area release

[2020-04-14 16:00] wlynch commented on #478
You might be interested in https://knative.dev/docs/eventing/samples/kubernetes-event-source/ which would allow you to produce events that could then be consumed/filtered by Tekton Triggers.

[2020-04-14 16:11] dbazhal commented on #478
Oh, thank you. We're looking into knative eventing right now, but that seem to be pretty complex tool, yet pretty rigid, so writing our own small trigger controller looks easier and more flexible in short term.

[2020-04-14 16:48] dibyom commented on #534
/assign

[2020-04-14 17:27] wlynch commented on #504
I've also been thinking about this! :D

One idea I've been thinking about is "resource bundles" (I know the bundles term is being used elsewhere in Tekton, but I don't have a better name atm) - allowing users to compose resources together to refer to them as a single entity.

For example, we currently define a "Cron Trigger" as a CronJob + Tekton Trigger. But what if the "Cron Trigger" was its own

[2020-04-14 19:13] dibyom commented on #534
@eddycharly I've manually added the tags for now.

I'm guessing something with wrong with the tagging mechanism in the Task that we use for the release. It added the latest tag but not the version tag (https://github.com/tektoncd/triggers/blob/master/tekton/publish.yaml#L134).

[2020-04-14 19:48] eddycharly commented on #534
Thanks @dibyom
Dis you add the tag on other images also ? I forgot to update the issue but it was missing on controller and eventlistenersink images too.

[2020-04-14 20:16] dibyom commented on #534
Yes, I tagged all 3!

[2020-04-14 20:20] eddycharly commented on #534
Perfect 👍
Thank you !

[2020-04-14 20:25] dibyom commented on #237
NIghtly releases have been around for a while now!

/close

[2020-04-14 20:25] #237 closed

[2020-04-14 20:30] dibyom commented on #339
This has been added: https://github.com/tektoncd/triggers/blob/master/docs/cel_expressions.md
/close

[2020-04-14 20:30] #339 closed

[2020-04-14 20:37] dibyom commented on #351
/kind documentation

[2020-04-14 21:06] dibyom commented on #306
Closing this. Please re-open if the comment above did not solve this issue.
/close

[2020-04-14 21:06] #306 closed

[2020-04-15 12:26] jace-ys opened #538 "Parsing JSON strings in CEL interceptors"
# Expected Behavior

It will be really useful if we could parse JSON strings in CEL interceptors, when we get a payload containing a JSON string field.

# Actual Behavior

When my EventListener receives `deployment` webhooks from GitHub, that JSON object contains a payload field that's a JSON string (not sure why GitHub does this 😓). Example:

[code]

I would ideally like to do something like this

[2020-04-15 14:53] dibyom commented on #538
/kind feature

[2020-04-16 11:54] ghglza opened #539 "EventListener, TriggerTemplate and TriggerBinding resources cannot be instantiated on k8s v1.18 w/ ServerSideApply enabled"
Starting in k8s v1.18, ServerSideApply is promoted to beta, and the feature gate enabled per default.

# Expected Behavior
It should be possible to instantiate Tekton Triggers resources on k8s v1.18 w/ ServerSideApply enabled

# Actual Behavior
Instantiation fails for EventListener, TriggerBinding and TriggerTemplate resources with error message

[code]

This does not happen if the k8s v1.18.1 API

[2020-04-16 12:06] vdemeester commented on #539
@ghglza This is also an issue on `tektoncd/pipeline` by the way

/cc @bobcatfish @dibyom
/kind bug

[2020-04-16 12:06] vdemeester commented on #539
(I think we should create an issue on `tektoncd/pipeline` too :wink:)

[2020-04-16 13:32] ghglza commented on #539
Sorry I'm not sure this warrants also a tektoncd/pipeline issue -- creating Condition, Pipeline, and Task resources worked for us when the ServerSideApply feature gate was enabled.
Only trigger resources were affected: another look in the error log revealed that creation failed not only for EventListener, but also forTriggerTemplate and TriggerBinding (maybe the title of this issue should be chang

[2020-04-16 13:34] vdemeester commented on #539
Interesting, we did have that issue while testing Pipelines only (no triggers) on OpenShift 4.5.x (which ships k8s 1.18)… but maybe it got fixed somehow in tektoncd/pipeline, I need to try again…

Yes :+1:

[2020-04-16 14:47] dibyom commented on #539
Interesting...any idea what the difference is in the Pipeline types that allows them to work with server side apply?

[2020-04-16 14:59] vdemeester commented on #539
@dibyom it could also be the `knative.dev/pkg` *or* the `k8s.io/*` dependencies that differ :angel:

[2020-04-16 18:19] jlpettersson opened #541 "Add readiness probe"
# Expected Behavior

I expect to be able to use Triggers in GKE

# Actual Behavior

When exposing the EventListener with Ingress on GKE, it requires a **ReadinessProbe** or a successful response on `/`. But `/` is already used for event handling in the EventListener.

The effect is that the "backend" for the cloud load balancer will stay "UNHEALTHY".

# Proposed Solution

The EventListener already

[2020-04-16 18:20] #541 closed

[2020-04-20 09:22] ghfalcon7 opened #544 "Question: One event listener to trigger different pipelines"
I want to use Tekton for the CICD pipeline of 5 applications that are meant to run in the same k8s cluster. Configuring an eventlistener per application (dns, ingress, trigger binding and trigger template per event listener) seems a bit over kill.

I am looking for a way to trigger different pipelines depending on the source repo of the webhook.

Is it possible for example to have the trigger temp

[2020-04-20 10:52] ghfalcon7 commented on #544
Was able to use github interceptor to implement a WA.

[2020-04-20 10:53] #544 closed

[2020-04-20 18:28] savitaashture opened #545 "TriggerBinding doesn't support params of Array type"
# Expected Behavior
TriggerBinding should not expect params of array type

# Actual Behavior
TriggerBinding allow user to provide params of array type

# Steps to Reproduce the Problem

1. Create a triggerbinding by providing params with array type
2. TriggerBinding create successfully

# Additional Info
For more info https://github.com/tektoncd/triggers/pull/543#issuecomment-616490309 , https://g

[2020-04-20 18:54] dibyom commented on #539
So, I failed to reproduce on my local environment using minikube. My EventListener got created successfully and it could create Taskruns as well. I confirmed that serverSideApply was enabled since if i do a kubectl get on the resource, the `metadata` contains a ` [managedFields](https://kubernetes.io/docs/reference/using-api/api-concepts/#field-management)` field.

@ghglza are you still running in

[2020-04-20 22:11] dibyom opened #546 "EventListenerScaleTest is racy due to missing serviceAccount"
# Expected Behavior

The EventListener created by the Scale test should start up.

# Actual Behavior

The Sink is "Available" for a little bit but eventually gets restarted by a LivenessProbe until it crashloops.
Originally discovered in https://github.com/tektoncd/triggers/pull/467

# Additional Info

Upon more investigation, I do not think this is related to the number of triggers at all....addi

[2020-04-20 22:12] dibyom commented on #546
/kind bug
/area testing
/assign

[2020-04-20 22:12] dibyom commented on #546
cc @ncskier

[2020-04-21 13:56] ghglza commented on #539
The error is gone for us, too:
After upgrading to k8s v1.18.2 (and several newer commits of CRI-O), our Triggers deployment bailed out due to RBAC errors on our side (failed to adapt to the changed API group name) -- but these were reported clearly, and easily fixed.
So from my perspective, this can be closed as bug.

[2020-04-21 14:10] vdemeester commented on #505
This would be really nice to have this to be able to configure "resource request" for the event-listener pod :angel:

[2020-04-21 14:26] #546 closed

[2020-04-21 14:27] vdemeester commented on #505
That's a good point, maybe having a `DeploymentTemplate` that would be merged with the default (and be validated a bit differently than the default `Deployment` spec would work).

That said, I think we might want to consider `Service` and `Deployment` as implementation detail and try as much as we can to **not** make those info bubble up. This would mean, having a `replicas` field, and maybe a `po

[2020-04-21 14:53] dibyom commented on #539
Cool! Will close the issue. Please reopen if you notice this again!
/close

[2020-04-21 14:53] #539 closed

[2020-04-21 15:35] dibyom commented on #456
I think @ncskier 's comment captures the scenario well. @gabemontero 's per trigger changes should allow for the scenario mentioned. In the last WG meeting, it was suggested that we have some kind of  a best practices doc on how to go about setting up Triggers in multi-tenant scenarios. I'm wondering if this is an example scenario that we should present. Alternatives could be - each namespace has

[2020-04-21 15:41] dibyom commented on #456
I think @ncskier 's comment captures the scenario well. @gabemontero 's per trigger changes should allow for the scenario mentioned. In the last WG meeting, it was suggested that we have some kind of  a best practices doc on how to go about setting up Triggers in multi-tenant scenarios. I'm wondering if this is an example scenario that we should present. Alternatives could be - each namespace has

[2020-04-21 17:39] dibyom commented on #505
From the WG discussion today:
1. We should think what adding something like a `PodTemplate` would mean for api compatibility...I know in Pipelines we have been trying to be careful about not adding Kubernetes primitives into the Tekton API (cc @ImJasonH )

2. Also worth considering, what the exact use cases are. Do we need all of the knobs present in the Pipeline PodTemplate? Maybe we just need `r

[2020-04-21 17:42] dibyom commented on #545
From the WG today, we decided that we'll keep Params in bindings to only strings for now. In #532, we'll start using our own Param types that only have string values so there should be any confusion!

/close

[2020-04-21 17:42] #545 closed

[2020-04-21 20:46] #529 closed

[2020-04-21 21:01] skaegi commented on #525
I have a similar problem where I am trying to add jsonpath support in the pipeline. My plan there is to follow what Kubernetes does and escape $ as $$. e.g. see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#container-v1-core

One really really important difference that I think we want to have is that Kubernetes container args use the rule "If a variable cannot be resolved, t

[2020-04-22 06:21] vdemeester commented on #505
I do agree on both. I do prefer the approach on having the least kubernetes primitive in there. As far as I can, the only need we have right now are resource request/limits and replicas.

[2020-04-22 06:48] EliZucker commented on #504
Was procrastinating on my midterms and decided to check on Triggers... It's awesome to see how far this project has come! I hope everyone is doing well.

This seems like a cool proposal, and I was thinking that this discussion might tie back into earlier design discussions; Feel free to ignore my comments, but I'll write them here in case they are helpful:
&nbsp;

I remember having similar thought

[2020-04-22 07:15] MartinForReal commented on #505
We also need to add tolerations or nodeSelector

[2020-04-22 12:49] bigkevmcd commented on #472
@TristonianJones We're going to go through a "breaking changes" step, to bring in the strings library.

I'm going to switch to align with your `"str-ing".split('-')` approach, instead of our `split("str-ing", "-")` version, and the other hook-processing functions will go the same way.

We have an existing `decodeb64` function (which is about to become `string.decodeb64()`).

In order to avoid furt

[2020-04-22 12:57] bigkevmcd commented on #472
@TristonianJones To be clear, I'd happily do the work to move the implementation here into cel-go.

[2020-04-22 14:29] savitaashture opened #549 "TriggerTemplate should have default values for the param type when it is empty"
# Expected Behavior
TriigerTemplate have [params](https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/trigger_template_types.go#L48) in the spec and while creating if we doesn't specify [Type](https://github.com/tektoncd/triggers/blob/master/vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/param_types.go#L38) then Triggers Webhook should assign a default value

[2020-04-22 14:33] savitaashture commented on #549
Right now there are no default set for `TriggerTemplate` we can add changes [here](https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/trigger_template_defaults.go#L8)

[2020-04-22 16:53] TristonianJones commented on #472
Hi @bigkevmcd!

Since base64 encode / decode can be applied to `bytes` or `string` types, I think it's actually reasonable to use `base64.encode` and `base64.decode` as the function names since this will also be the same convention I'd follow for json as well: `json.encode`, `json.decode`.

In thinking about this request I realized that there is a bug which is addressed in https://github.com/googl

[2020-04-22 21:50] bitsofinfo commented on #472
awesome can't wait!!

[2020-04-23 16:29] TristonianJones commented on #472
Just as a quick update, I'm going to take a bit more time to make the fix in google/cel-go#341 more bulletproof. It's got a rough edge on it at the moment.

[2020-04-24 16:58] MartinForReal commented on #505
Maybe we can add a config object for following configs

+ imagePullSecrets
+ imagePullPolicy
+ customLabels
+ tolerations
+ tolerations
+ nodeSelector
+ replicas
+ resourceLimits

and hard code following settings:

+ livenessProbe
+ readinessProbe

If this works, I would like to submit patches.

[2020-04-24 22:08] dibyom commented on #415
I found one other usage of Params  (incl. ArrayParams): Header values in webhook interceptor. Though I'm wondering if we can always use []string like Go header values instead of arrayOrString.

[2020-04-27 16:35] dibyom commented on #527
Fixed by https://github.com/tektoncd/triggers/pull/554

[2020-04-27 16:35] dibyom commented on #527
/cose

[2020-04-27 16:36] dibyom commented on #527
/close

[2020-04-27 16:36] #527 closed

[2020-04-27 19:22] dibyom commented on #538
Fixed in https://github.com/tektoncd/triggers/pull/537

[2020-04-27 19:22] dibyom commented on #538
/milestone 0.5

[2020-04-27 19:22] dibyom commented on #538
/close

[2020-04-27 19:23] #538 closed

[2020-04-27 19:27] dibyom commented on #505
Curious about `imagePullSecrets` and `imagePullPolicy`. What's the use case for adding those in Triggers? The others sound good to me!

[2020-04-27 19:32] dibyom commented on #394
#413 fixed most of this -- most setup is now abstracted out into helper functions. Table driven tests will be a bit harder here given the variety of things were are asserting.
Closing for now
/close

[2020-04-27 19:32] #394 closed

[2020-04-27 20:08] ImJasonH commented on #505
Knative has a duck type for thing that should expect to look like a Pod: https://godoc.org/github.com/knative/pkg/apis/duck/v1#PodSpecable

The idea is that tools and libraries can operate on a number of Pod-alike things, e.g. Knative services and K8s Pods and Deployments.

@mattmoor in case I've mischaracterized or there's a better canonical description of this model.

[2020-04-28 01:47] MartinForReal commented on #505
Imagepullpolicy is needed when we need to validate image before we start a pod.( In this case  we need to set imagepullpolicy to Always ). One possible policy is: image doesn't contains vulnerabilities. This can be achieved by enforcing the security policy in image registries( harbor or jfrog artifacts)
Imagepullsecret is used when we need to ensure that only sys admin have access to these images

[2020-04-28 13:24] TomaszKlosinski commented on #480
That's a blocker for my company. We're not allowed to expose EvenListener to public Internet. This features would solve this issue. I suppose this might be a common case for bare metal Kubernetes installations behind NAT/firewall.

[2020-04-28 15:55] khrm commented on #370
Summary of Discussion on this &
https://github.com/tektoncd/triggers/issues/456

1.  Design recommended in both scenarios are based on having URL to determine EL or TriggerCRD .
2.  Main issue with these designs are RBAC. Should be give RBAC permissions similar to controller for a global EventListener?
3. If we don't want to 2, then we would need to give permission to create Pod with a particular

[2020-04-28 16:49] gabemontero commented on #505
@dibyom asked that I echo a concern I noted in recent triggers wg call around use of the entire podtemplate as it exposes the podsecuritycontext (https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2960)

allowing controllers to set these on behalf of requesting users is a slippery slope

certainly tektoncd/pipelines is already allowing it as well with PodTemplate being embedded in the

[2020-04-28 20:24] ImJasonH commented on #505
(SAR stands for `SubjectAccessReview` described here: https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access)

[2020-04-28 22:19] ncskier commented on #415
Another option is to use Go's [http Header type](https://golang.org/pkg/net/http/#Header).
Although, that's a `map[string][]string`, so it would change the interceptor YAML syntax a bit.

[2020-04-29 04:55] #549 closed

[2020-04-29 09:36] lqy1992 opened #561 "Can the configuration automatically destroy the pod after the construction is completed?"
# Expected Behavior
There is a configuration to automatically delete the pods generated by each pipeline
# Actual Behavior

# Steps to Reproduce the Problem

1. Pods are still on the list after running pipelines every time, it is not beautiful when there are more cicd tasks

# Additional Info

[2020-04-29 14:07] ncskier commented on #561
If I understand correctly, you would like to clean up the Pods created from all of your PipelineRuns.

This sounds like an issue for the Pipelines repo rather than Triggers. Triggers is more concerned with creating resources (PipelineRuns & TaskRuns)... the lifecycle of these PipelineRuns & TaskRuns falls under the Pipelines project.

I did a quick search, and it looks like there is already an iss

[2020-04-29 15:02] lqy1992 commented on #561
ok,we hava same problem

[2020-04-29 15:02] #561 closed

[2020-04-30 11:26] msjostrom commented on #505
I would like to be able to add a sidecar proxy to the event sink container, for security purposes. Maybe that's an additional use case for the custom podTemplate.

[2020-04-30 17:18] dibyom opened #563 "Release Triggers v0.5.0"
# Steps
1.  Publish release candidate build followingI v0.5.0-rc1: https://github.com/tektoncd/triggers/tree/master/tekton#create-an-official-release
1.  Organize the release notes in the draft release
1. Wait for feedback for 1-2 days
1. If there are no major issues, publish a v0.5.0 build https://github.com/tektoncd/triggers/tree/master/tekton#create-an-official-release

1. Post a message on Sla

[2020-04-30 18:57] khrm opened #564 "Remove Deprecated Default Ref in EL Spec for Embedded Bindings"
# Expected Behavior
User should be forced to specify the ref.
# Actual Behavior
User just need to give the name only. Ref is given same value as name.

PR where this is introduced: https://github.com/tektoncd/triggers/pull/548

[2020-05-05 17:59] #472 closed

[2020-05-06 08:55] xishengcai opened #567 "payload signature check failed"
# Expected Behavior
when github push, not normal trigger pipline
# Actual Behavior
{"level":"error","logger":"eventlistener","caller":"sink/sink.go:210","msg":"payload signature check failed","knative.dev/controller":"eventlistener","/triggers-eventid":"wlnbz","/trigger":"github-interceptor","stacktrace":"github.com/tektoncd/triggers/pkg/sink.Sink.executeInterceptors\n\tgithub.com/tektoncd/trigger

[2020-05-06 09:32] lqy1992 opened #568 "TriggerTemplate default value is not applied if the param is missing from Binding"
### [Summary](https://github.com/tektoncd/triggers/issues/568#issuecomment-648838427):

triggers-binding.yaml
[code]
triggertemplate.yaml
[code]
when i dont set replaceset
curl -X POST \
  http://192.168.5.73:30318/ \
  -d '{
	"head_commit":
	{
		"id": "master"
	},
	"repository":
	{
		"url": "https://github.com/tekton-nodejs-demo.git"
	},
	"dockertag":
	{
       	"version": "latest"
	},
	"dockerhu

[2020-05-06 20:35] gabemontero commented on #505
My prototype is at least demoable / presentable for community consumption.

My hope is to show it / talk to it during the trigger/pipeline WG meetings next Tuesday and Wednesday, May 12/13

[2020-05-08 11:32] savitaashture commented on #508
/assign

[2020-05-08 17:01] #371 closed

[2020-05-08 19:34] savitaashture commented on #508
Hi @afrittoli @dibyom
As per the above discussion it shows that we agreed to make changes like `$(tt.params.<paramName>`
It means the structure is something like below
[code]
With this what happenes is `ResourceTemplate`  can take `TriggerTemplate` params in any of these two ways
`$(tt.params.<paramName>` or `$(params.<paramName>`
I mean if we give params value in any of the above format its able

[2020-05-11 13:21] iancoffey commented on #450
I have an example I can add for this 👍

[2020-05-11 15:17] ghfalcon7 opened #570 "Triggers with interceptors no longer work after a certain number is reached"
When adding multiple triggers **with interceptors** to the same event listener, I noticed that all triggers work fine until I add a ninth trigger with interceptors, all the old triggers still work but the ninth doesn't get triggered although it's configured in the same way as the others. Here is definition of the event listener I used:
[code]

[2020-05-11 16:50] savitaashture opened #571 "Use Knative to create an EventListener Pod"
Currently triggers use Kubernetes resources to create EventListener pod and services with this existing solution how are we addressing some of the below scenario
1. How Autoscale achieved if there are multiple requests ?
2. How to manage resources when EL pod is in idle state ?
3. Which solution are we going to use to expose EL pod as discussed in this [issue](https://github.com/tektoncd/triggers/

[2020-05-11 16:50] savitaashture commented on #571
/wg-discuss

[2020-05-12 14:51] dibyom commented on #571
/kind feature

[2020-05-12 14:53] dibyom commented on #570
/kind bug

[2020-05-12 14:55] dibyom commented on #568
from looking at the example, this should work
/kind bug

[2020-05-12 14:56] dibyom commented on #567
hello, could you provide some more info. Would be helpful to know what the EventListener configuration is.

The error is "msg":"payload signature check failed" so I'm guessing you are using the GitHub interceptor...perhaps the secret used to validate is not correct?

[2020-05-12 14:56] dibyom commented on #567
/kind question

[2020-05-12 14:57] dibyom commented on #564
/kind cleanup

[2020-05-12 15:17] lqy1992 commented on #568
You can easily pass this example test
https://github.com/tektoncd/triggers/tree/master/examples

kubectl apply -f role-resources/secret.yaml
kubectl apply -f role-resources/serviceaccount.yaml
kubectl apply -f role-resources/triggerbinding-roles
kubectl apply -f triggertemplates/triggertemplate.yaml
kubectl apply -f triggerbindings/triggerbinding.yaml
kubectl apply -f triggerbindings/triggerbindin

[2020-05-12 15:19] dibyom commented on #505
Imagepullsecret is used when we need to ensure that only sys admin have access to these images
Both of options are optional, we can remove them from the list

Those all sound like good use cases. The only image that this would apply to is the EventListener sink   so I'm wondering if one alternative here is that the operator passes in the right image to the Triggers controller (currently this is pa

[2020-05-12 15:30] dibyom commented on #505
@gabemontero thanks for the write up and looking forward to the demo!! One thing about `podTemplate` in Triggers is that it only applies to the EventListener sink image which only processes HTTP calls whereas in pipelines it applies to Tasks that can be executing arbitrary commands. So, in my mind, Triggers is at less of a risk than Pipelines.

@msjostrom interesting...would this be service mesh l

[2020-05-12 15:34] gabemontero commented on #505
yep if the use of PodTemplate is narrowed at that level I would concur wrt the relative risk assessment @dibyom

[2020-05-12 15:49] dibyom commented on #508
Hi @savitaashture yeah, the first option could work but that would mean all TriggerTemplates now have to be updated to add a `tt` field inside spec which I'd like to avoid if possible.

The second option sounds reasonable...wonder if we should call them ttparams or `tt.Params` or something else..
One thing to be consider here is that we'd like to make this backwards compatible..so for at least one

[2020-05-12 15:55] msjostrom commented on #505
I guess it could be, but in my current case I want to use the openshift oauth-proxy sidecar to force the event producer to authenticate using an openshift issued token.

[2020-05-12 16:46] savitaashture commented on #568
@dibyom
The issue which i mentioned during  WG  discussion is not exactly same the one mentioned here

**Issue:**
Use of same `TriggerBinding` to the `EventListener` gives below error
[code]

**TriggerBinding yaml**
[code]

**EventListener Yaml**
[code]

As mentioned above used same **TriggerBinding** for multiple Triggers in the **EventListener**
In the first trigger of `EventListener` there is n

[2020-05-12 16:50] rannox opened #572 "TriggerTemplate can't create Secret object"
Hello Tekton Triggers Team! Hope you can help me out with that :-)

# Expected Behavior
The TriggerTemplate can create a Kubernetes Secret Object.

# Actual Behavior
I get the following error message by applying the trigger template resource:
`Error from server (BadRequest): error when creating "trigger-template.yaml": admission webhook "validation.webhook.triggers.tekton.dev" denied the request:

[2020-05-12 17:02] savitaashture opened #573 "Cannot use same TriggerBinding with the multiple Triggers for CEL interceptors"
**Issue:**
As discussed in WG call issue is
Can not use same **TriggerBinding** to the multiple **Triggers** if `TriggerBinding` containes params for those interceptors

**TriggerBinding yaml**
[code]
**EventListener Yaml**

[code]

Same `TriggerBinding` **pipeline-binding** used in a multiple Triggers of the EventListener

In the first trigger of EventListener there is no info of **branch** and i

[2020-05-12 17:08] savitaashture commented on #568
@dibyom https://github.com/tektoncd/triggers/issues/573 similar issue but for different  scenario

[2020-05-12 17:22] dibyom commented on #572
At the moment we only support creating Tekton resources though being able to create other resources such as Secrets has been proposed (e.g. #482)
/cc @ncskier for the IBM tutorial part

[2020-05-13 02:33] llhhbc opened #575 "Accept knative trigger event to eventListener"
# Expected Behavior
I can receive event from knative eventing, and post msg to eventListener to do trigger.

# Actual Behavior
EventListener  can only accept http request, but not knative event.

# Steps to Reproduce the Problem

# Additional Info

[2020-05-13 05:33] llhhbc commented on #575
/kind feature

[2020-05-14 14:08] estei opened #577 "One more breaking change for 0.5.0 release notes"
# Expected Behavior

Straightforward update for EventListeners
This worked in 0.4.0
[code]

# Actual Behavior

We are now required to have either an inline `spec` or a `ref:`
https://github.com/tektoncd/triggers/blob/454c8e0151f188288ae98c44688bbd0c8a182e25/pkg/apis/triggers/v1alpha1/event_listener_validation.go#L49-L52

Above need to be changed to:

[code]

The need for `ref` in bindings is not m

[2020-05-15 08:05] rannox commented on #572
Hello dibyom!

many thanks for the timely reponse! :)
I wrote a java microservice, which gets triggered from the webhook interceptor and creates secrets dynamically.

Just some background info:
For example a developer triggers a prod deployment through the pipeline with his own api key (security requirement for us). The api key is passed as a parameter to the deployment task. This key is unfortuna

[2020-05-18 07:25] dghubble commented on #563
Thanks for the great work!

Minor feedback: Its small, but having the Github releases and tagged image availability aligned would probably help get more eyes on release candidates. We detect new releases, but have to manually check gcr.io and inspect example yaml to find the specific images you're intending to use.

[2020-05-18 16:29] davissp14 opened #581 "Unable to create EventListener with Github Interceptor"
# Expected Behavior
Create an EventListener with a Github interceptor.

# Actual Behavior
Fails to create EventListener with the following error:
[code]

# Steps to Reproduce the Problem
Create an 0.4.0 EventListener while specifying a github interceptor and specific eventTypes.
[code]

# Additional Info
* IBM Cloud - IKS
* Kubernetes 1.15.11

[2020-05-18 21:15] dibyom commented on #575
Does knative not emit HTTP cloudevents? I was under the impression that they do. If so, the event listener should be able to handle them

[2020-05-18 21:25] dibyom commented on #572
Nice!

Interesting. Not sure if this will work for your use case but a workaround I can think of is instead of each developer passing the apiKey as a param, they could pass a ref to a Secret name that contains the apiKey

Would this be in Triggers/Pipelines or both?

[2020-05-18 21:37] dibyom commented on #573
Could you elaborate a bit more. As in what is the behavior that you expect here and what does actually happen?

[2020-05-18 21:43] dibyom commented on #581
Hi @davissp14 the `eventTypes` (and `secretRef`) needs to be indented to be under the `github` field. Let me know (and reopen the issue!) if that doesn't solve the problem.

[2020-05-18 21:43] dibyom commented on #581
/close

[2020-05-18 21:43] #581 closed

[2020-05-18 21:47] dibyom commented on #563
@dghubble yeah, that definitely isn't intentional. Sounds like a bug. Will investigate.

[2020-05-18 22:00] dibyom commented on #577
Hi @estei Thanks for pointing this out.
To make this change backwards compatible, we utilize a mutating webhook to set the `ref` field with the value of `name` field when it is not set: https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/event_listener_defaults.go#L51

However, you are right that we should point that the `name` field is now deprecated and will be removed in

[2020-05-18 22:05] dibyom commented on #577
I've updated the release notes. Feel free to reopen if you notice anything else!

[2020-05-18 22:05] dibyom commented on #577
/close

[2020-05-18 22:05] #577 closed

[2020-05-19 05:58] estei commented on #577
Cool :+1:

Just did a few more tests to see if I had hit a corner case.
I don't see the error I got before, so it was probably my test setup that was outta whack after the update from 0.4 to 0.5.0.

[2020-05-19 15:24] savitaashture commented on #573
**Actual: **
When we use same triggerbinding for multiple triggers it gives below error
[code]
If eventlistener containes multiple triggers and all use same triggerbinding in that case if first trigger miss any of the TriggerBinding param

**Expected:**
Should be able to successfully create resources

[2020-05-20 01:33] llhhbc commented on #575
@dibyom Knative event trigger can only send Get request, and can't send with head and body. Knative event trigger can send cloudEvent to service, but EventListener can't deal.

[2020-05-21 13:33] lawrencejones commented on #406
We have ran into an issue where the fetching of the kubernetes secret for the github interceptors  validation is causing us to timeout our github webhooks. We're at about 40 triggers, and each triggers takes about 250ms to process, causing the webhook request to exceed the 10s Github timeout.

I think it's clear we need to cache these secrets. Do you have a preference on how? We could change the i

[2020-05-25 19:05] jlpettersson commented on #572
Interesting use-case.

I am not sure writing the key to a Secret is a good option for this use-case. Secrets must have unique name, you want to refer to it later. And there must be a way to garbage-collect or remove the Secret at some point. Secrets is usually not used in that dynamic context. Secrets in a namespace should probably be owned by the owners of the namespace.

I understand that you wa

[2020-05-26 09:29] a-roberts opened #583 "Upgrading to Triggers 0.5 from 0.4 errors if you used type: in a TT's params"
# Expected Behavior
I expected the upgrade from Triggers 0.4 to Triggers 0.5 to not require this, or to mention this in the release notes

# Actual Behavior
As part of https://github.com/tektoncd/experimental/issues/547 I noticed the problem and the solution is to delete all references to type: for all parameters in my TriggerTemplate, and to delete any existing TriggerTemplates

**My guess is, yo

[2020-05-26 13:46] ncskier commented on #583
/kind bug

[2020-05-26 13:50] a-roberts commented on #583
Adding https://github.com/tektoncd/triggers/pull/532 as this was mentioned on Slack and looks to be the culprit

[2020-05-26 14:40] dibyom commented on #583
@a-roberts is the value of `type` in our TriggerTemplates always `string`?

Yeah, I'll edit the release notes. The `type` field was undocumented and unsupported for Template params, so I'm inclined to just update the notes (vs adding in a patch release).

[2020-05-26 15:05] a-roberts commented on #583
Yeah that's right, https://github.com/tektoncd/experimental/blob/b45e925f437ad85c7ee840fa22d124877169740f/webhooks-extension/base/400-monitor-triggertemplate.yaml - all strings.

Initially added here https://github.com/tektoncd/experimental/commit/5e707323d937c865778e46a5d0d8d1b095374481, it's not clear why, so I'm cool with updating the notes personally although I wonder if users were using this

[2020-05-26 16:37] dibyom opened #584 "Standardized TriggerBindings for Git providers in Catalog"
# Expected Behavior

We have a few standard bindings for Git providers (GitHub, GitLab, BitBucket) that all contain standardized param names (e.g. repo_clone_url, commit_id etc.). These standard bindings can be put in the Tekton Catalog (thanks @bobcatfish for the idea!).

# Actual Behavior
Users generally define their own TriggerBindings containing only the params they use.

# Additional Info
The

[2020-05-26 16:40] dibyom commented on #584
Discussion notes from May 26 WG:

TriggerBinding Catalog ideas - GitHub/GitLab/BitBucket Binding:
* All contain the same param names e.g. commit_id, repo_name, clone_url etc.
* [billy] Allow PipelineRuns to provide extra parameters · · tektoncd/pipeline#2513 probably a prereq
* [billy] Things like repo_name aren't always consistent - e.g. is repo name for * github.com/tektoncd/pipeline pipeline or

[2020-05-26 17:09] bigkevmcd commented on #584
We could do something in the CEL/GitLab interceptors, and base it around exposing the hooks defined in https://github.com/jenkins-x/go-scm/blob/master/scm/webhook.go to bindings...

So, in a binding you could have `$(event.Repo.FullName)` etc.

This would have the benefit of using the same package we use for other things (go-scm), and reusing the standardisations inherent in that code.

[2020-05-26 17:10] bigkevmcd commented on #584
We are building templated bindings, which can be reused, and modified.

[2020-05-27 07:33] sebgoa opened #586 "Change event listener port"
question:

Is it possible to change the event listener port ?

Right now it serves on 8080, I would like to change it to 80.  Editing the services and setting the port does not work (I guess the controller is overriding it)

[2020-05-27 09:29] bigkevmcd commented on #584
What I'd propose for this:

1. Change the interface

[code]

The CEL and Webhook interceptors can return `request.Context()` i.e. pass the context through unchanged.

_Perhaps instead of modifying the body, the overlays could be added to a struct in the context by the CEL interceptor._

Change the GitHub and GitLab interceptors to use a GitHub or GitLab client and [Parse](https://godoc.org/github.

[2020-05-27 12:42] bigkevmcd commented on #584
A quick stab at this (only supports GitHub for now, but it would be trivial to add GitLab) https://github.com/bigkevmcd/triggers/tree/git-intercepted-hooks

One of the issues is the discoverability of the fields in the `hook` inside the TriggerBindings, referring to a Go struct isn't particularly friendly, but the resources are complex.

The approach I linked at the end of the above proposal might

[2020-05-28 16:00] bobcatfish commented on #298
Closing this in favor of https://github.com/tektoncd/plumbing/issues/241

[2020-05-28 16:00] #298 closed

[2020-05-28 17:37] ncskier commented on #586
Unfortunately, I don't think this is an officially supported feature. However, you could modify your Tekton Triggers controller deployment called `tekton-triggers-controller` to change the [`-el-port`](https://github.com/tektoncd/triggers/blob/master/config/controller.yaml#L59) to 80:
[code]

I don't think that this has been thoroughly tested, so I'll mark this issue as a feature request 👍

/kind

[2020-06-01 11:11] bigkevmcd commented on #570
@ghfalcon7 can you clarify a bit what you mean by "doesn't work", is it erroring, is it just not being replaced?

I'm wondering if this and https://github.com/tektoncd/triggers/issues/573 are related?

[2020-06-01 20:02] bigkevmcd commented on #573
@savitaashture is there a bit missing from the end of this?

I'm guessing the error triggers?

Can you provide the template you're testing with?

I've tried reproducing but unsuccessfully so far.

[2020-06-01 20:05] dibyom opened #590 "Add CEL extension for URL parsing"
# Expected Behavior
Users should be able to extract portions of a url (e.g. query params) using CEL

# Actual Behavior
No way to do this today

# Additional Info
From slack:
- Could also add r.URL.Path or just all of r.URL perhaps (with tests, and docs )
- Having a full shim around the URL library to get at all the values would be generally useful

e.g.
[scheme:][//[userinfo@]host][/]path[?query][

[2020-06-01 20:05] dibyom commented on #590
/kind feature

[2020-06-02 15:23] rannox commented on #572
Sorry for the late anwser!

Yeah, that would be nice!

I think our current solution matches the one you just described. I will try to explain a bit the use case, and the current implementation, hopefully it will understandable :)

We have applications decomposed in bounded contexts.
Each bounded context is managed by one team and can have one or more microservices.
Furthermore each team implements

[2020-06-02 21:18] jlpettersson commented on #572
@rannox thanks for a good description of the use case!

I am working on a very similar setup.

I wouldn't call this an API-key, isn't this a ServiceAccount Token with access to the control plane?

The way I solve it, in my solution that is very similar, is that when I generate the namespace `[bounded-context]-cd-pipeline-namespace` I also generate the Service Account, e.g. `stage-deployment-accoun

[2020-06-03 10:23] ghfalcon7 commented on #570
no it's not like #573, no errors it just doesn't get triggered.

[2020-06-03 13:36] savitaashture commented on #573
@bigkevmcd here is the example which i have tried

https://gist.github.com/savitaashture/b6f76ef7b26de161d89560356b94075c

[2020-06-03 14:41] bigkevmcd commented on #573
@savitaashture thank you for that, I'll dig into this.

[2020-06-04 17:35] NavidZ commented on #496
I wanted to take a stab at this. @dibyom qq regarding this. When I run this test locally it fails [here](https://github.com/tektoncd/triggers/blob/master/test/eventlistener_test.go#L425) as is. I was just wondering whether something is wrong with my setup or is that the flakiness you are referring too. I feel like it is probably my setup as it always fails.

[2020-06-04 21:47] dibyom commented on #496
Thanks for looking into this @NavidZ I just tried it on my setup (test running locally, pointing to a GKE cluster running 1.15.9-gke.24) and it works. So, I'm guessing it is probably related to your setup.

What is the response status code when it fails? Maybe we could try printing out the whole request?

[2020-06-05 15:24] dibyom commented on #590
Fixed in #591
/close

[2020-06-05 15:24] #590 closed

[2020-06-05 15:58] dibyom commented on #563
Ok, got to the bottom of the problem - our release task tags the regional registires (us.gcr.io, eu.gcr.io, asia.gcr.io) but not the global one i.e. gcr.io.

[2020-06-05 20:29] dibyom commented on #534
Re-opening since this was found in v0.5.0 as well

[2020-06-08 13:49] #534 closed

[2020-06-08 16:08] NavidZ commented on #496
It was actually accepting the request with 202 which was not expected.
For the time being I just returned right before that error (as there was another request before it and it was passing anyway), so I could test the port forwarding logic that happens earlier and I sent a PR for it. Btw, I'm new to both Go and this project. So I wasn't sure for example whether I should have committed the vendor f

[2020-06-08 20:16] NavidZ commented on #496
Regarding the test I was trying to run it against a locally run cluster with 1.16. When I switched to GKE it started working and passed the whole test. I'm looking into the bot failures on the PR. But I need to maybe dig a little deeper later to see if everything can also easily work with say a docker desktop k8s instance.

[2020-06-09 21:04] dibyom commented on #573
/kind bug

[2020-06-09 21:22] bigkevmcd commented on #573
@dibyom I did a deep dive into this, and I _don't_ think it's a bug.

Using a single TriggerBinding, but with different bodies is leading to missing values not being picked up by the binding, one possible option would be to allow default values for Triggerbinding params.

[2020-06-11 10:21] 2020testuser opened #604 "Trigger - Event"
Hi,
Just started looking at trigger.

Could you please clarify on the below?

1. Does  tekton trigger uses Prow or Lighthouse internally?

2. If  tekton trigger doesn't use Prow or Lighthouse internally, does all its 3 components handle webhook?

Thanks in advance!

[2020-06-11 15:03] wlynch commented on #604
Tekton Triggers does not use Prow or Lighthouse for its handling of webhooks.

- Interceptors allow you to filter / validate incoming webhooks.
- TriggerBindings allow you to extract information out of incoming events (e.g. branch, commit information)
- TriggerTemplates allow you to specify the Tekton Pipelines resources you want to create in response to the Trigger.

For more information, check o

[2020-06-11 15:03] #604 closed

[2020-06-11 18:14] bigkevmcd commented on #573
Well, it would stop the error here...but, I'm not sure I'd recommend using it.

It _might_ end up pushing complexity into the template/scripts that are using the extracted parameters.

[2020-06-11 20:26] 2020testuser opened #605 "Triggers with webhooks"
Hi,
Could anyone please clarify on the below?

1. Does tekton triggers internally use prow?

2. Can lighthouse be used  with tekton triggers ? If so, are there any samples/information on this?

3. Can prow be used with tekton triggers (if ans for 1 is no) ?
If so, are there any samples/information on this?
Thanks !

[2020-06-12 06:43] savitaashture commented on #571
Initial discussion draft : https://docs.google.com/document/d/1GtCfpzgGFPt224A7xNE5sjN8REytytmNL8E9oXAk4Uc/edit

[2020-06-12 15:47] savitaashture opened #606 "Remove deprecated params from TriggerTemplate spec"
### Background:
In order to avoid confusion from `TriggerTemplate params` with `ResourceTemplate params` we are replacing `$(params)`  from ResourceTemplate to `$(tt.params)` as part of this [PR](https://github.com/tektoncd/triggers/pull/589)

Currently in order to have a backward compatibility ResourceTemplate supports both `$(params)` and `$(tt.params)` for a release or two later need to remove

[2020-06-12 15:47] savitaashture commented on #606
/assign

[2020-06-12 22:35] afrittoli opened #607 "Release v0.5.0 breaks event listeners with name instead of ref"
# Expected Behavior
I can still use my el after v0.5.0 update

# Actual Behavior
It doesn't work, it shows this error in the logs:
[code]

# Steps to Reproduce the Problem

1. Upgrade to v0.5.0.
2. Send a payload to an el that uses bindings

# Additional Info

After upgrading to v0.5.0 in dogfooding I got the issue.
I tried to edit my eventlistener, I replaced name with ref for bindings.
After the

[2020-06-12 22:35] afrittoli commented on #607
Related: https://github.com/tektoncd/triggers/commit/454c8e0151f188288ae98c44688bbd0c8a182e25 ?

[2020-06-12 22:35] afrittoli commented on #607
Related: https://github.com/tektoncd/triggers/commit/454c8e0151f188288ae98c44688bbd0c8a182e25 ?

[2020-06-12 22:36] afrittoli commented on #607
From the release notes:
[code]

[2020-06-14 22:31] bitsofinfo opened #608 "v0.5.0: CEL decodeb64: unexpected type 'bytes'"
# Expected Behavior

I have an CEL overlay interceptor and this should work (docs say decodeb64 returns a string)

[code]

# Actual Behavior

[code]
The docs say `decodeb64()` yields a string, but this error seems to indicate its passing along bytes

Workaround: `string(body.item1.decodeb64()).parseJSON().appName`

[2020-06-15 06:13] vdemeester commented on #608
/kind bug

[2020-06-15 10:20] vdemeester commented on #606
/kind cleanup

[2020-06-15 14:25] dibyom commented on #607
/kind bug
/cc @khrm

[2020-06-15 16:39] #608 closed

[2020-06-15 18:28] dibyom commented on #482
The use case mentioned in this issue is now possible using `volumeClaimTemplate`. I'm going to close this out now but we can re-open if any new use cases pop up that needs Triggers to create non-Tekton resources.

[2020-06-15 18:35] NavidZ commented on #496
/assign

[2020-06-15 19:47] jlpettersson opened #610 "Support OpenID Connect authentication and authorization with OpenPolicyAgent"
# Expected Behavior

That I can use OpenID Connect authenticated request sent to the Trigger. And that I can check authorization using the OpenPolicyAgent.

# Actual Behavior

Only SSH-keypair or a predefined password/credential/Secret can be used as authentication and authorization.

# Additional Info

**Authentication**

Common types of authentication:
* SSH key pair (typically generated on deve

[2020-06-16 11:48] 2020testuser commented on #605
Can anyone please provide details for the above? Looking for some information to get started. Thanks in advance!

[2020-06-16 16:20] bigkevmcd opened #612 "Interceptors should be able to "pass" on a result"
# Expected Behavior

Currently, if an interceptor returns an error, it causes the trigger to stop processing, and it's logged out as an error.

https://github.com/tektoncd/triggers/blob/master/pkg/interceptors/github/github.go#L87
https://github.com/tektoncd/triggers/blob/master/pkg/interceptors/cel/cel.go#L89

These are not really "errors" as such, and it can be a bit alarming to see them logged

[2020-06-16 17:24] jlpettersson commented on #610
The new PodTemplate field, may be a good place to add an optional sidecar, for e.g. OPA

The field is added in https://github.com/tektoncd/triggers/pull/597/commits/52a4cb6498d2c2e011e0da403d9087386916169b

[2020-06-16 17:25] #496 closed

[2020-06-16 20:51] #564 closed

[2020-06-16 20:52] dibyom commented on #570
This sounds a lot like the issue fixed by https://github.com/tektoncd/triggers/pull/595

[2020-06-17 16:01] dibyom commented on #612
seens related to: https://github.com/tektoncd/triggers/issues/336

[2020-06-17 18:02] bigkevmcd commented on #612
@dibyom ooops, yes, I should've remembered that one :-)

I'm happy to close this out

[2020-06-17 18:02] #612 closed

[2020-06-17 20:22] dibyom commented on #610
Thanks for the detailed write up. The high level requirement seems to be around that Triggers has no notion of authentication/authorization for incoming requests. A lot (most?) CI/CD use cases are for triggering off of Webhook messages where the standard seems to be around using a shared secret to do some validation -- though it seems for

* I don't know what the GitRepoProvider is...do you have a

[2020-06-17 20:39] jlpettersson commented on #610
Sorry, this was a bit abstract description from my side. With _GitRepoProvider_ I meant a provider of git repositories, e.g. GitHub, GitLab, Bitbucket Server, Bitbucket Cloud, Google Cloud Source Repositories, and similar... a provider of git repositories for customers.

The main use case for me currently is to have a BuildPipeline in cluster X that trigger a DeployPipeline in cluster Y. E.g. by s

[2020-06-17 21:05] jlpettersson commented on #610
OPA use _rego_ as the language for writing the logic of authorization. There is already a proposal for a rego-interceptor: https://github.com/tektoncd/triggers/issues/484

In a way, using OPA as a separate service or as a rego-library is similar, but I can see a point when an organization adopt OPA sidecars to "externalize" authorization, e.g. so that you get audit-logs in a separate container. Ma

[2020-06-17 21:10] dibyom opened #615 "getting-started tutorial is failing"
# Expected Behavior

The Pipeline in the getting-started guide work (it used to on this setup!)

# Actual Behavior

The task fails with two  errors:

1. The condition fails with:

[code]
I resolved this by setting adding `workingDir: "$(resources.source-repo.path)"` to the path

2. The build-docker-image task fails with:
[code]

Haven't been able to fix this yet

# Steps to Reproduce the Problem

[2020-06-17 21:11] dibyom commented on #615
/kind bug

[2020-06-17 21:14] dibyom commented on #615
Not familiar with `img` but quick some googling suggests we might need a PodSecurityPolicy with some annotations:
1. https://github.com/genuinetools/img/issues/266
2. https://github.com/genuinetools/img#running-with-kubernetes

(Another option is to use kaniko instead of img to be consistent with the Pipeline tutorial

[2020-06-17 21:24] dibyom opened #616 "Support embedded TriggerTemplates"
# Expected Behavior

We should  be able to embed a TriggerTemplate spec inside a eventlistener's trigger just like we embedd a [TriggerBinding](https://github.com/tektoncd/triggers/blob/master/examples/eventlisteners/eventlistener-embedded-bindings.yaml)

# Actual Behavior

Users have to create a separate TriggerTemplate object and then reference it

# Additional Info
1. Other examples are embeddi

[2020-06-17 21:31] gabemontero commented on #610
Yeah I would concur with @jlpettersson that my refs to OPA wrt access control and authorization are centered around k8s admission control, where k8s RBAC/SARs are the "baked in" k8s mechanism there.

From an OPA perspective, that means https://www.openpolicyagent.org/docs/v0.12.2/kubernetes-admission-control/

Ultimately for the piece I've been advocating for in the API WG and pipelines WG, we nee

[2020-06-17 21:39] dibyom opened #617 "More concise embedded TriggerBindings"
# Expected Behavior
A trigger binding consists of name and value pairs. So, when we embed it we should be able to use something like:

[code]

# Actual Behavior
Today, the above example looks like:
[code]

# Additional Info

From: https://github.com/tektoncd/triggers/pull/548/files#r417024864
/kind feature

[2020-06-17 21:48] dibyom commented on #605
No, we don't

This lighthouse? https://github.com/jenkins-x/lighthouse#lighthouse
I don't know a lot about it but I haven't heard of anyone using them together yet.

Is the use case triggering ProwJobs using TektonTriggers? If so, then the answer is no. Right now, Triggers is limited to creating only Tekton resources (though being able to create other resources has come up from time to time)

[2020-06-17 21:57] wlynch opened #618 "Feature: TriggerTemplate ObjectMeta templating"
/kind feature

# Idea

Make it easy to apply common ObjectMeta attributes to all TriggerTemplate resources consistently without needing to modify the underlying Pipeline/Task resource(s).

## Proposal

Add `ObjectMeta` to `TriggerTemplateSpec`, e.g.

[code]

## Examples

### Apply labels to pipelines

[code]

Would label all resources with `repo` and `pr` labels. This is useful for providing filte

[2020-06-18 16:52] dibyom opened #619 "Upgrade tests for Triggers"
## What

Test that Triggers continues to work when upgraded from a previous version to a new one

1. Install version N of triggers
2. Create an  EventListener/Binding/Template
3. Invoke the EventListener and verify resource got created
4. Install version N+1 of triggers
5. Invoke the EventListener and verify resource got created

## Why

A large chunk of release bugs with Triggers has been due to

[2020-06-18 18:29] bitsofinfo opened #621 "0.5.0: CEL header expressions case-sensitivity inconsistency"
Using 0.5.0

I have this in a interceptor

[code]

the filter works fine, but the expression on the header does not, errors with

[code]

When I change the expression to `header['X-My-Pipeline-Version'][0]` then it works

The header handling should be case-insensitive, or if it is case-sensitive, it should match on same casing that is in the actual request headers

[2020-06-18 19:04] dibyom commented on #621
would using the extension function `header.Canonical` help here: https://github.com/tektoncd/triggers/blob/master/docs/cel_expressions.md#list-of-extension-functions

cc @bigkevmcd

[2020-06-18 19:29] 2020testuser commented on #605
@dibyom - Thank You! This helps.

[2020-06-18 19:29] #605 closed

[2020-06-18 19:38] bigkevmcd commented on #621
Yes, this is what it's for, I'd like to deprecate `.match` in favour of `.canonical`

[2020-06-18 20:55] bitsofinfo opened #622 "CEL: add parseYAML() function"
Would be great to have `<string>.parseYAML() -> map<string, dyn>`

[2020-06-19 07:04] khrm commented on #622
kind/feature

[2020-06-19 07:04] khrm commented on #622
/kind/feature

[2020-06-19 14:40] #362 closed

[2020-06-19 14:55] dibyom commented on #610
@jlpettersson Yeah, there is indeed an open feature request to add a built in rego interceptor like we currently have for CEL 😄 I was hoping though we could try something out even without that:

1. Run OPA as a separate Deployment (or Daemonset). Expose it via a k8s service

2. In your eventListener, use a [webhookInterceptor](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md

[2020-06-19 15:42] dibyom opened #624 "CLI tool for manual Trigger runs"
#  Expected Behavior

I can easily test out their Trigger config e.g. does the CEL expression work, does my binding expression extract the right variable, does my trigger template replace the right variable etc.

# Actual Behavior

I have to setup an EventListener, TriggerBinding, and TriggerTemplate. I have to port-forward to the Listener, and make a curl call, and then look into the Listener log

[2020-06-19 15:43] dibyom commented on #624
/cc @wlynch @dorismeixing @bigkevmcd

[2020-06-19 18:04] dibyom commented on #525
So, the current TriggerTemplate validation checks that every param usage inside a resourceTemplate `$(param.xyz)` maps to a declared TriggerTemplate param.

I'm wondering if we can just flip this around i.e. we look at the declared TriggerTemplate params and then validate that all of them are used in the template. The only downside I can see is that this means TriggerTemplate won't support declari

[2020-06-22 14:44] vdemeester commented on #624
Any reason for not pushing for having this in `tkn` early ? :thinking:
/cc @danielhelfand @pradeepitm12 @piyush-garg

[2020-06-22 15:09] zgfh opened #626 "how to get poll scm like jenkins?"
because my network limit, I can not use github webhook
this is a way like jenkins poll scm to check git change ?

# Additional Info
https://stackoverflow.com/questions/41114251/what-is-the-difference-between-poll-scm-build-periodically-in-jenkins/41114307

[2020-06-22 16:18] danielhelfand commented on #624
Reading this, it sounds like more of a proof of concept/basic requirements at this point and could potentially be added to `tkn` later on (e.g. `tkn trigger run` under `Can be added later`) if understanding correctly? Either as part of `tkn` itself or maybe could be added as some type of plugin to `tkn` if that would be a more preferred route.

But I would see no reason not to want something like

[2020-06-22 18:55] dibyom commented on #624
yeah, one motivation for keeping this in Triggers would be faster/easier iteration -- we'd have to do some refactoring to how we execute a Trigger to ensure we can run it outside the context of an EventListener. Once that is done, it should be easy enough to make it part of the `tkn` surface!
(The plugin model sounds cool too!!)

[2020-06-22 20:54] danielhelfand opened #627 "Update Knative Dependencies to Align with Pipelines"
# Expected Behavior

To be able to deploy triggers without issues.

# Actual Behavior

On some distributions of Kubernetes, the following error can occur due to the version of Knative dependencies used by triggers:

[code]

The workaround is to set the `KUBERNETES_MIN_VERSION` environment variable on the deployments for the triggers controller/webhook to be the version of the cluster being used. T

[2020-06-22 21:43] jlpettersson commented on #610
It sounds doable, yes. _An alternative_ is better than _no alternative_.

[2020-06-23 01:45] dibyom opened #629 "E2e test has a data race"
Found in  #625. Looks like the portforward test

[code]

[2020-06-23 14:45] TomaszKlosinski commented on #626
As far a I know, it's not possible currently with Tekton Triggers.

[2020-06-23 14:48] TomaszKlosinski opened #630 "Limit EventListener trigger to master branch"
Hello,

I have a EventListener like this one:
[code]

How can I limit this to trigger a pipeline run only on master branch?

Thanks in advance!

[2020-06-23 16:00] TomaszKlosinski commented on #630
OK, I figured it out:
[code]

[2020-06-23 16:00] #630 closed

[2020-06-23 16:54] jace-ys commented on #568
I am having a similar issue as well - omitting a field in the payload that the TriggerBinding uses causes that error, even when a default for it is set.

[2020-06-23 17:08] jace-ys commented on #573
I am having a similar issue as well - omitting a field in the event payload that the TriggerBinding uses causes that error, even when a default for the param is set.

It seems to me like when we apply our event values to params in our TriggerBindings, `ParseJSONPath` will fail if the JSON field is missing and we error before we reach `MergeInDefaultParams`.

https://github.com/tektoncd/triggers/bl

[2020-06-23 20:06] #629 closed

[2020-06-23 20:07] dibyom opened #632 "Release Triggers v0.6.0"
# Steps
1.  Publish release candidate build followingI v0.6.0-rc1: https://github.com/tektoncd/triggers/tree/master/tekton#create-an-official-release
1.  Organize the release notes in the draft release
1. Wait for feedback for 1-2 days
1. If there are no major issues, publish a v0.6.0 build https://github.com/tektoncd/triggers/tree/master/tekton#create-an-official-release

1. Post a message on Sla

[2020-06-23 20:07] dibyom commented on #632
/assign

[2020-06-23 20:09] dibyom commented on #563
/close

[2020-06-23 20:09] #563 closed

[2020-06-23 20:59] dibyom commented on #632
I'll have a release candidate build out once #589 is merged

[2020-06-24 05:03] khrm commented on #626
/kind question

[2020-06-24 05:34] chetan-rns commented on #622
/assign

[2020-06-24 07:09] khrm commented on #626
@zgfh
There's no way to do using only Triggers You can solve this problem in the following steps:

1. Write a k8s cronjob which checks for git repo change.
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
2. When the job finds any changes, it sends a request with payload to EventListener.
3. Now EventListener can execute the Triggers and create resources.

[2020-06-24 13:59] jace-ys commented on #568
I've been hitting this issue as well - it seems that if an omitted field in the JSON payload is used in a TriggerBinding, we error out before even reaching the code the merges in default values from our TriggerTemplate.

The relevant bits of code I found: https://github.com/tektoncd/triggers/blob/master/pkg/template/event.go#L36-L41
Here we exit with a JSONPath error, thus never reaching MergeInDe

[2020-06-24 14:43] #508 closed

[2020-06-25 00:57] zgfh commented on #626
@khrm @TomaszKlosinski thanks

[2020-06-25 00:57] #626 closed

[2020-06-25 05:47] mattmoor opened #635 "Pick up genreconciler"
I did this for pipelines, and can either help or guide this here, but the general idea is that you can decorate types with:

[code]

... and we will generate a type reconciler shell for it, which hold most of Knative's upstream controller best practices.

You can see an example of this migration [here](https://github.com/tektoncd/pipeline/pull/2771).

It's also notable that if you jump all the way

[2020-06-25 15:31] bitsofinfo opened #638 "CEL feature: string casing functions"
Would be great to have toUpper, toLower etc for strings

https://github.com/google/cel-go/issues/370

[2020-06-26 07:47] wajid-poernomo opened #639 "Unable to create Event Listener without ref and spec included in YAML."
# Expected Behavior

I've followed the instructions in:

https://github.com/tektoncd/triggers/blob/master/docs/getting-started/README.md

working off the files in master.

I expect to be bale to run the following command to create a triggertemplate, triggerbinding and eventlistener.

# Actual Behavior

Get the following error:

triggertemplate.triggers.tekton.dev/getting-started-triggertemplate un

[2020-06-26 07:47] wajid-poernomo commented on #639
[

](url)

[2020-06-26 09:41] andrey-carerix opened #640 "CEL feature: URL extension"
To make a secure integration with Bitbucket Cloud it is necessary to inspect the incoming webhook URL query parameters to extract pre-shared secret value (e.g. https://mywebhook/?token=icWo3SV9lbx0lm4n) to be validated with existing CEL extension function compareSecret.

[2020-06-26 15:06] bitsofinfo opened #641 "CEL expressions, debugging, better error messages"
Here is one of the more common error messages I get in CEL interceptors that do a `filter`

[code]

Its pretty cryptic, i don't know if its a problem w/ my filter, or the input. Leads to a lot of trial and error time. None of my inputs start with `p`

[2020-06-26 15:15] #622 closed

[2020-06-26 15:38] dibyom commented on #635
I think this might also address #627

I'll try to pick this up next week...unless someone beats me to it 😉

[2020-06-26 15:45] dibyom commented on #640
Hi @andrey-carerix we recently added a `parseURL()` function in https://github.com/tektoncd/triggers/pull/591
I think that should do the trick?
/kind question

[2020-06-26 15:46] dibyom commented on #639
hi @wajid-poernomo which version of Triggers are you using?

[2020-06-26 15:47] dibyom commented on #639
Ahh, I see our getting-started EventListener still uses `name` instead of a `ref` to refer to bindings.

/kind bug

[2020-06-26 15:47] dibyom commented on #638
/kind feature

[2020-06-26 15:50] dibyom commented on #627
Not that I'm aware of. We just need to bump our dependencies!

[2020-06-26 15:50] dibyom commented on #641
cc @bigkevmcd

[2020-06-26 15:54] vdemeester commented on #635
/kind feature

[2020-06-26 16:02] bigkevmcd commented on #641
Can you provide an example of the sort of expression that's generating that.

Generally, we return the error that CEL is giving back, I could include the expression that failed in the error return.

[2020-06-26 17:58] andrey-carerix commented on #640
@dibyom yes, I am aware of that function. But it's meant to parse some attributes within the json body. I am looking for a way to get a reference to the URL the webhook listener was invoked with by a callee (e.g. bitbucket cloud service). Basically URL extension that gives me access to the original HTTP request URL object similar to what body and header extensions provide.

[2020-06-26 18:12] dibyom commented on #640
ahh I see, we need to expose the url as well as the body and headers

[2020-06-26 18:12] dibyom commented on #640
/kind feature

[2020-06-26 18:24] andrey-carerix commented on #640
@dibyom exactly. Here is the real-life use case to support this feature request:

- bitbucket cloud has a webhook configured with a secret as query parameter, e.g. https://mywebhook/?token=icWo3SV9lbx0lm4n. Note: unlike bitbucket server there is no other way to secure your webhook endpoint other than bake a pre-shared secret as URL query parameter.
- bitbucket cloud invokes the above webhook URL w

[2020-06-26 19:44] dibyom commented on #640
yeah, currently we have `$(body)` and `$(header)`. We can add a `$(url)` or `$(fullUrl)` field that is accessible to the bindings.

[2020-06-28 15:33] bitsofinfo opened #643 "CEL doc: compareSecret: parameter description needed"
https://github.com/tektoncd/triggers/blob/master/docs/cel_expressions.md

The `compareSecret` functions just say `<string>.compareSecret(string, string, string) -> bool` leaving the reader with no clue as to which parameter is what.... 3 args, but i don't know which one is the secret sub key/prop to be used, which is the secret name and which is the namespace. Its clearly described here: https://g

[2020-06-28 15:58] bitsofinfo opened #644 "0.6.0: CEL: compareSecrets error:found no matching overload for '_&&_' applied to '(bool, string)'\n"
This works:
[code]

This fails:
[code]

[code]

[2020-06-28 16:01] bitsofinfo commented on #641
yes including the expression back in the log would definitely aid and save some time.  I get it occasionally during dev for all sorts of expressions where there might be a typo or unexpected data etc.

[2020-06-29 09:49] bigkevmcd commented on #643
It's _partially_ a rendering issue https://tekton.dev/docs/triggers/cel_expressions/ renders the table in a better way (you can see the example).

But I'll look at what I can do there, balancing the output, with the common-format for CEL documentation.

[2020-06-29 14:03] bigkevmcd commented on #644
This looks like a CEL issue, rather than a `triggers`?

My guess is that it's an operator precedence issue

The `_&&_` looks to me like `header.match('x-h1', 'v1') && header.canonical('x-h2')`

I wonder if adding brackets to `header.canonical('x-h2').compareSecret('secretKey1','my-secret-in-tekton-ns')` this would fix it?

[2020-06-29 14:04] bitsofinfo commented on #644
You mean like `(header.canonical('x-h2').compareSecret('secretKey1','my-secret-in-tekton-ns'))`?

[2020-06-29 14:24] bigkevmcd commented on #644
@bitsofinfo Yes, I _think_ that's the expression that's breaking it.

[2020-06-29 15:18] bitsofinfo commented on #644
@bigkevmcd tried that, I get the same error

[2020-06-30 14:19] #640 closed

[2020-06-30 20:55] dibyom opened #649 "Emit Events when a Trigger is processed successfully"
# Expected Behavior

When a Trigger successfully creates a resources, we should emit a k8s event.

# Actual Behavior

Triggers does not emit any k8s events today.

# Additional Info

- We could also consider emitting events on Trigger failures -- but likely there will be many of them so this should be optional.
- Events in Pipelines: https://github.com/tektoncd/pipeline/blob/c7a60b8a77c05d8ddbc0d5

[2020-07-01 06:16] savitaashture opened #650 "Support secure connection between service to EventListener pod"
# Expected Behavior
Supporting secure connection between EventListener service to pod.

# Actual Behavior
Currently we can achieve secure connection till ingress/service but cannot achieve secure connection from service to eventlistener pod.

# Additional Info
Trigger should support end to end secure connection within and outside the cluster which helps a lot in security requirements.

/kind featu

[2020-07-01 13:05] bigkevmcd commented on #641
@bitsofinfo do you think the changes in #646 will help.

I had another look at the log entry...

`{"level":"error","logger":"eventlistener","caller":"sink/sink.go:145",
"msg":"error making the evaluation context: invalid character 'p' looking for beginning of value",
"knative.dev/controller":"eventlistener","/triggers-eventid":"4zzsm",
"/trigger":"my-triggered-deploy-v1-interceptor",
"stacktrace":

[2020-07-01 13:09] bigkevmcd commented on #621
@bitsofinfo just checking in here, I think changing your expression to `header.canonical('my-pipeline-version')` will work and it's specifically for this case.

The implementation in `header.canonical` delegates through this https://golang.org/pkg/net/textproto/#CanonicalMIMEHeaderKey to do the lookup, which might help with understanding the rules that are applied.

[2020-07-01 15:04] vdemeester opened #651 "Using map in CEL panics the eventlistener"
# Expected Behavior

I can use `map` as defined in the language spec (see [here](https://github.com/google/cel-spec/blob/master/doc/langdef.md)).

# Actual Behavior

It panics (used in the interceptor of an eventlistener at least)

# Steps to Reproduce the Problem

The event json is a GitHub payload, `body.pull_request.labels` is a list with a `map` in, and that map contains `name`. The goal is to

[2020-07-01 17:55] dibyom opened #653 "Licenses deleted for golang.org/x packages"
# Expected

All packages have LICENSE files in third_party

# Actual

Running the `hack/update-deps.sh` seems to delete the LICENSE files for `golang.org/x` packages:
https://github.com/tektoncd/triggers/pull/628/files

/kind bug

[2020-07-01 18:21] #164 closed

[2020-07-01 18:21] #639 closed

[2020-07-01 21:49] danielhelfand opened #654 "Add securityContext Option for PodTemplates"
# Expected Behavior

I should be able to specify a `securityContext` to run containers as a non root user when I create an EventListener. This issue is a result of using a Kubernetes cluster that enforces containers being run as non root:

[code]

The container image running as root is `gcr.io/tekton-releases/github.com/tektoncd/triggers/cmd/eventlistenersink:v0.6.0`.

# Actual Behavior

[code]

A

[2020-07-02 02:28] bitsofinfo commented on #621
yup, will just use that. thx

[2020-07-02 02:28] #621 closed

[2020-07-02 02:30] bitsofinfo commented on #641
yes, the more info the better, thx!

[2020-07-02 15:10] khrm opened #656 "EventListener return a 2xx status on failure"
When I test a trigger and it fails, the event listener pod logs messages with a level: error. But the status code returned by the event listener is in the 2xx range which is confusing. Github seems to think that the web hooks worked.

# Expected Behavior
In case of an error, the event listener should return a status code in the 500's

# Actual Behavior
In Github, I can see that the webhook was exe

[2020-07-02 15:10] khrm commented on #656
/kind bug

[2020-07-02 15:11] khrm commented on #656
/assign

[2020-07-02 17:10] TristonianJones commented on #644
Hi All, the issue is the return type declaration for `compareSecret` should be `decls.Bool`, but the last argument (the return type) is listed as `decls.String`:

https://github.com/tektoncd/triggers/blob/5348837b14624898ff67b1e7c4b72a6f03982415/pkg/interceptors/cel/triggers.go#L179-L181

[2020-07-02 17:36] bigkevmcd commented on #644
@bitsofinfo thanks, sorry about that, should be fixed...

[2020-07-02 17:36] bigkevmcd commented on #644
@bitsofinfo and thanks for debugging it!

[2020-07-02 17:37] bitsofinfo commented on #644
solid thx, will be out in next release?

[2020-07-02 18:03] TristonianJones commented on #644
I will accept some blame here since the call signature for creating function declarations could definitely be more intuitive. Feel free to mention me if you ever want an extra pair of eyes.

[2020-07-02 18:06] TristonianJones commented on #643
@bigkevmcd those docs look great. If you'd like improvements on the CEL documentation I'm happy to take a FR and any pro-tips you have to offer for syncing docs between API reference and implementation.

[2020-07-03 13:39] bigkevmcd commented on #643
@TristonianJones Thank you, that's mostly a copy and paste and post-edit.

If there are any better ways, I'd be up for it (or contributing to).

If you had time to look over the way CEL is used in triggers, and spot any issues, I'd be really grateful :-)

[2020-07-03 16:02] jorgemoralespou commented on #654
Or maybe the image shouldn't need to be run as run.

[2020-07-03 16:14] vdemeester commented on #654
For what is worth, it should be possible for those to not be run as root, see https://github.com/tektoncd/pipeline/pull/2606 for the same thing done on pipeline.

[2020-07-03 16:23] danielhelfand commented on #654
Yes, if it can be run as nonroot, I think that’s the better approach here.

But in general, I still can’t help but feel there should be more pod template options for EventListeners. However, perhaps we can wait for those use cases to reveal themselves as other issues.

[2020-07-06 15:39] #651 closed

[2020-07-06 15:50] #644 closed

[2020-07-06 16:29] dibyom commented on #656
Yeah, this is confusing behavior. But I'm not convinced we should return a 5xx in this scenario.

The error here seems to be forced by sending form-urlencoded bodies instead of JSON. This is something we explicitly do not support. So, IMO, a 4xx makes a better return code than 5xx here.

The best practices for integrating with GithHub webhook states that 5xx should be reserved for catastrophic sce

[2020-07-06 18:57] dibyom commented on #271
/assign

[2020-07-07 15:14] khrm commented on #656
Yes, 4xx makes sense to me also.

[2020-07-08 13:36] siamaksade commented on #649
Events in case of failure are also very valuable given that the alternative is for the user to dig into the eventlistener pod logs. The use-case is that user commits a change to a GitHub repo and GitHub reports successfully invocation of the webhook but Tekton does not start the pipeline. Events would be a good starting point for finding what has gone wrong.

[2020-07-08 14:27] dibyom opened #667 "Allow Access to URL in WebhookInterceptor"
# Expected Behavior

Webhook Interceptors should be able to access the original URL (e.g. to parse out a url param).

# Actual Behavior
This is possible with CEL using `requestURL` but not with Webhooks.

# Additional Info

Some discussion in: https://github.com/tektoncd/triggers/pull/657

/kind feature

[2020-07-08 17:41] #627 closed

[2020-07-10 10:52] bigkevmcd commented on #480
@TomaszKlosinski https://github.com/bigkevmcd/tekton-polling-operator might work for you, it's a very early version, but it will poll repositories and trigger pipelines.

[2020-07-10 15:01] ppitonak opened #675 "Escape incoming data"
# Expected Behavior
Incoming data parsed by trigger binding should be escaped so that it's not possible to execute injection attack.

In my example below, I expect to see
`Hello Pavol && echo I was here on $(date +%F) and I can do whatever I want!`

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. deploy the following reproducer
[code]
2. expose the event listerner, e.g. `oc expose

[2020-07-10 15:32] dibyom commented on #632
v0.6.0 and v0.6.1 are now both released!

[2020-07-10 15:32] dibyom commented on #632
/close

[2020-07-10 15:32] #632 closed

[2020-07-10 17:16] dibyom commented on #675
Thanks for the detailed report. Like you already mentioned, technically the issue is with Pipelines though using Triggers increases the risk.

One idea would be to escape anything in `$()` from event bodies. Another would be for Pipelines to add some kind of escaping? On the other end of the spectrum, we could keep the behavior as is, and warn users about such potential misuse. Thoughts @gabemonte

[2020-07-10 20:02] gabemontero commented on #675
Minimally something to definitely highlight up top in the documentation, in both pipeline and trigger projects.  And yes, as @dibyom noted here and as myself and others have noted in WG calls or other issues, security around event injection into triggers could use bolstering.  We've done a few things in the space, but more is desirable.

Some thoughts from a Pod security perspective (when it is en

[2020-07-10 20:53] dibyom commented on #675
Yeah while escaping might be the correct behavior from a security standpoint, I think we do have use cases we'd want this behavior. So, I'm not sure if want to escape always either. /cc @sbwsg @bobcatfish

[2020-07-10 21:53] dibyom commented on #649
Agreed! Though for failure events we'd also need to resolve #336 first!

[2020-07-10 22:01] dibyom commented on #635
I made some progress here: https://github.com/tektoncd/triggers/compare/master...dibyom:genreconciler?expand=1

I still need to fix up some of our reconciler tests that were testing unexported functions

[2020-07-13 04:10] savitaashture commented on #567
/triage needs-information

[2020-07-13 06:10] #567 closed

[2020-07-13 08:52] bigkevmcd commented on #675
I've implemented a couple of different approaches here https://github.com/tektoncd/pipeline/compare/master...bigkevmcd:escape-strings-in-script

One would escape everything in the `Script` element of the Task, the other would would require more explicit (using `#()`) escaping.

[2020-07-14 16:48] bigkevmcd commented on #675
I'll summarise the options as I see them:

On the triggers side:

- Manual escaping (add a CEL function, perhaps `shellEscape()` on strings)
- Automated escaping of data in TemplateBindings?

On the pipeline side:

- Explicit manual escaping perhaps something like `#(params.name)` instead of `$(params.name)`
- Automatic escaping of all params in here https://github.com/tektoncd/pipeline/blob/maste

[2020-07-14 17:14] wlynch commented on #675
@bigkevmcd SGTM.

My 2c is we should lean towards being more secure by default here and only allow unescaping if opted in if possible. My expectation is that most users (myself included) would use the `$()` behavior by default, and only be burned when the input changes to something unexpected. That said, we should weigh this against the difficulty of dealing with escaping (e.g. perhaps this is som

[2020-07-16 16:07] danielhelfand opened #678 "TriggerTemplates Allow PipelineRun with taskRef to be Created"
# Expected Behavior

An error message stating that a PipelineRun has no field `taskRef`, preventing the creation of the invalid TriggerTemplate, such as what happens when an invalid PipelineRun is created:

[code]

# Actual Behavior

TriggerTemplate is created with a PipelineRun that has a `taskRef` property. There doesn't appear to be validation of resourcetemplates for this case.

# Steps to Rep

[2020-07-16 16:07] danielhelfand commented on #678
/kind bug

[2020-07-19 16:53] skaegi opened #679 "Config to turn-off Trigger's namespaced SA impersonation"
Is there a config parameter or someway to prevent users from using the feature that let's cross-namespace SA impersonation.  This is very hard to secure and let's anyone who has privs to create an EventListener in one namespace the ability to impersonate any other user in any namespace like a cluster admin and steal their credentials. Am I misunderstanding this or is there a feature flag to turn t

[2020-07-20 00:34] rektide commented on #575
@llhhbc what's the status of those neat [eventadapters](https://github.com/llhhbc/triggers/commit/5d9ea8903d976917f6da250bdb36efd0fdfd15b2) you were working on? should i continue to track this ticket or is there something else to follow too? cool effort thanks good luck.

[2020-07-20 00:37] skaegi commented on #679
/kind question

[2020-07-20 08:29] vdemeester commented on #575
Note, @savitaashture is working on this too, see
- [duck-typing on tektoncd/triggers](https://hackmd.io/Y-Gmz1rpTCWcrGuNXINH8A)
- [Use knative for eventlistener pod](https://docs.google.com/document/d/1GtCfpzgGFPt224A7xNE5sjN8REytytmNL8E9oXAk4Uc/edit)

[2020-07-20 17:04] #667 closed

[2020-07-21 15:44] skaegi opened #681 "Trigger controller managed multi-eventlistener service"
When I create a new EventListener in a namespace I would like the trigger controller to handle the service handling bits instead of generating a new Pod.

At a high-level this would mean:
1) The controller runs an http service where all events are delivered (I'll call it trigger-svc for now)
2)  When an EventListener is created, the controller will create a Service in the EventListener's namespace

[2020-07-21 15:50] skaegi commented on #681
/kind feature

[2020-07-21 16:11] skaegi opened #682 "EventListener ServiceAccountName should default to... default"
In the docs -- https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md#serviceaccountname -- it states that ServiceAccountName is required. In our environment an EventListener author would never know what ServiceAccounts are available so we would like to use "default" in this case or better still follow Tekton Pipelines logic -- https://github.com/tektoncd/pipeline/blob/db66eca6112

[2020-07-21 21:52] dibyom commented on #682
Using a default serviceAccountName from a `defaults` configMap sounds good to me.
The difference between the service account name in Pipeline vs Triggers is that while there are some use cases where the default SA makes sense (a task that needs no access to any secrets or anything) for Pipelines, in Triggers the SA must always have roles to create Task/PipelineRuns (which I don't think the default

[2020-07-21 21:52] dibyom commented on #682
/kind feature

[2020-07-21 21:58] juanri0s commented on #682
I can work on this!😁 Just let me know the route the team wants to go with this. I know a default option in a config is what was brought up above.

Is this a new config or am I updating a keyvalue in an existing one?

[2020-07-22 14:36] dibyom commented on #682
Awesome! We'd have to create a new configMap and add the key-value there.
The pipelines repo does something similar that you could use for inspiration: https://github.com/tektoncd/pipeline/blob/master/config/config-defaults.yaml

and
https://github.com/tektoncd/pipeline/blob/master/pkg/apis/config/default.go

[2020-07-22 14:52] dibyom commented on #679
Can you elaborate on this? Is it that one user can in theory create a EL with a serviceAccountName that they might not have access to? In that case, how is it different from the Pipelines scenario where a user can create a Taskrun with a SA they don't have access to. In the Triggers sceanrio, all that a user can do is create a PipelineRun/TaskRun while in Pipelines, the user can actually run arbit

[2020-07-22 14:54] dibyom commented on #681
As discussed in yesterday's WG, this is similar to the "mode based" EventListener proposal (see the alternatives section in https://github.com/tektoncd/community/pull/148/files

[2020-07-22 15:00] dibyom commented on #678
Yeah, one issue here is that resourceTemplates are hard to validate since they are not fully formed resources i.e. the value of the task/pipelineRef can be $(params.whatever) which will fail the validation.

That being said, there is probably some partial validation we can do here. Perhaps fill in default values for params if supplied? and replace other params with random strings and call validate

[2020-07-22 17:55] juanri0s commented on #682
Okay I'm taking a look now.

I have it named as `defaults.yaml` with `defaults` name under config

Are we okay with `tekton-pipelines` namespace?

[code]

[2020-07-22 18:10] dibyom commented on #682
I'd suggest calling it `triggers-defaults` instead of defaults

[2020-07-22 19:18] juanri0s commented on #682
okay so apart from the config addition, do we have to set up anything to read from the default config values in the case where a SA isn't provided? I know you linked the pipeline `default.go` example but where are we expecting these methods to be called?

[2020-07-23 17:27] dibyom commented on #682
There is a setDefaults method here: https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/event_listener_defaults.go#L24

We should check if the spec contains a serviceAccountName, if it doesn't we should add the default one

[2020-07-23 17:35] juanri0s commented on #682
yupp that makes sense. Thank you for the info! Will add it in soon

[2020-07-24 09:07] afrittoli opened #687 "Event listener does not accept events after some time"
# Expected Behavior
I can always deliver events to an event listener

# Actual Behavior
We enabled cloud events from taskruns in our dogfooding clusters. This means that every single task run and condition that runs generates three events (start, running, passed/failed), and these events are all sent to a single event listener in the dogfooding cluster.

A few of these events are selected to trigg

[2020-07-24 11:41] skaegi commented on #679
I’m totally fine with the ability for an EL to impersonate an SA “in the same namespace”. Anyone who can create a pod via TaskRun, Job, StatefulSet, etc can do that today.

My concern is about the Trigger’s ability to impersonate an SA “in another namespace” . That is a cluster-wide super power and something no other built-in k8 CRD allows. I would consider removing this ability as I believe it is

[2020-07-27 17:46] dibyom commented on #687
That seems to indicate that the issue is on the side of Pipelines controller trying to emit events.We might be running out of sockets on the pipelines controller if we are trying to publish too many events? Are we reusing the same connection or creating a fresh TCP connection each time?

[2020-07-27 17:52] dibyom commented on #687
We could verify if we can list the number of sockets by exec'ing into the pod (likely many in TIME_WAIT states)

One possible workaound is increase the number of MaxIdleConnections to a higher number: https://github.com/golang/go/issues/16012#issuecomment-224948823

[2020-07-28 08:20] vdemeester commented on #687
Some logs of a stuck event-listener.
[2020-07-28-buggy-el-tekton-events.zip](https://github.com/tektoncd/triggers/files/4986914/2020-07-28-buggy-el-tekton-events.zip)

[2020-07-28 13:12] afrittoli commented on #687
I tried exec'ing into the pod, but there's nothing usable in it.
I was hoping to cat `/proc/net/tcp` but not even cat is available.
I tried ephemeral containers, but my cluster is 1.16 and those are disabled by default.
I'll check if by chance they are enabled on GKE.

[2020-07-28 14:52] dibyom commented on #687
I took a look at the logs for the EL. Nothing really stood out. Based on the Cloud Event Failure event above, I still suspect the problem is with the pipelines controller trying to create too many http connections in a short time period. Any change we have the logs for the controller?

[2020-07-28 15:35] dibyom commented on #271
I wrote up a design proposal: https://docs.google.com/document/d/1zIG295nyWonCXhb8XcOC41q4YVP9o2Hgg8uAoL4NdPA/edit#heading=h.8z1iarlx6yyx

Planning on filing TEP after discussion.

[2020-07-29 15:15] #606 closed

[2020-07-29 23:33] juanri0s commented on #682
Just wanted to give context into the issues I was running into/thinking. But if I'm taking too long or too off from the solution we want, maybe this is something I could pair with someone on?

The default yaml is fine.
The default.go file is fine.

I understand that when an `EventListenerTrigger` is given, it doesn't require a SA. So we need to read the default SA from the config. The two example

[2020-07-30 12:23] bigkevmcd commented on #687
I've seen this before, when failing to close a request body (running out of sockets).

I'll take a look and see if that could be the case.

[2020-08-02 21:37] verokarhu commented on #650
Wouldn't this be solved by deploying a service mesh?

[2020-08-04 14:56] bobcatfish opened #697 "Proposal: Make triggers less generic and more coupled to Pipelines"
TriggerTemplates are very generic and can (theoretically) be used to create anything. We initially made them very generic on purpose b/c this felt like a better design: less coupling = better!

However, by making them less generic, the interface is pretty verbose and we lose out on validation (i.e. we have no idea what you want to create until you try to create it).

We've also started to talk abo

[2020-08-04 15:03] ImJasonH commented on #697
I really like the general direction of this change. I don't have any good naming suggestions but I'll keep thinking about it.

While we're making this change, do we think that we have to keep the 1:N mapping so that TriggerWhatevers can spawn multiple PipelineRuns?

[2020-08-04 15:06] bobcatfish commented on #697
@ImJasonH  do you think it would be better to have 1:1? I don't think I've thought about it too much - in https://github.com/tektoncd/plumbing/blob/0ccc386dc6247a4b6e0669d8ab2b11a3f5a81d51/tekton/ci/plumbing-template.yaml we have multiple PipelineRuns, so maybe @afrittoli has some thoughts

[2020-08-04 15:10] ImJasonH commented on #697
Oh I don't have a strong opinion or any signal either way. I just thought while we're changing the API we can take the opportunity to reassess other decisions if we thought it could be helpful. This could also be a distraction! 😅

[2020-08-04 17:33] siamaksade commented on #697
I like the idea of a pipeline recipe as a blueprint for creating pipeline run, task run and runs for a particular pipeline, a resource that contains the config data. However this doesn't need to be part of triggers. Trigger would be one way to invoke the API to create instances of pipeline runs based on the recipe, but the same need exists for CLI or Tekton Dashboard. \

For example with `tkn`, I

[2020-08-04 18:14] bobcatfish commented on #697
oooo i like that @siamaksade !

(also maybe: PipelineBlueprint?)

[2020-08-04 19:19] dibyom opened #699 "EventListener docs should describe the pod/svc it creates"
# Expected Behavior

- We describe how the EL spawns of a deployment and service.
- We describe how to access the above deployments/services e.g. some example tkn/kubectl commands

# Additional Info
Based on slack feedback: https://tektoncd.slack.com/archives/CKUSJ2A5D/p1596562013277900?thread_ts=1596487995.276700&cid=CKUSJ2A5D

[2020-08-04 19:19] dibyom commented on #699
/kind documentation

[2020-08-04 19:26] dibyom opened #700 "Propagate annotations from EL to svc and pods"
# Expected Behavior
If a user adds a new annotation/label to an EventListener, we should propagate that down to the underlying deployment and service.

One use case:
- Propagating service specific annotations e.g. for LoadBalancer services one might specify load balancer specific annotations

# Actual Behavior
We propagate labels but not annotations

# Additional Info
- current code: https://githu

[2020-08-04 20:52] NavidZ commented on #615
/assign NavidZ

[2020-08-05 15:56] dibyom commented on #700
The **workaround** for now would be to manually update the service that the EventListener creates. A listener named `foo` will create a create an service called `el-foo`. One can manually edit that service and apply any custom annotations needed.

[2020-08-06 05:04] piyush-garg commented on #700
/assign

[2020-08-06 13:00] bitsofinfo commented on #697
hopefully this wouldn't involve a major breaking change, i.e. refactoring of existing trigger config setups running in folks prod systems to comply w/ this change. Works fine for me as is, and today it makes intuitive sense on how it fits together. Why change it? If "recipies" needs to be added maybe do it separately, whenever I hear of a "recipe" i think of "wizardy" types of things which I avoid

[2020-08-06 14:48] dibyom commented on #697
@bitsofinfo curious -- whats your use case for using variable interpolation for the field names. I've always looked at that as an unintentional "feature" since I can't really think of a use case for it 👼

[2020-08-06 14:50] bobcatfish commented on #697
if we did move to this, it would be a breaking change. im sure TriggerTemplates would continue to be supported for a while - we could choose to support them indefinitely, but once we do a beta release we could decide to drop support for them

Apologies for the potential inconvenience, but being able to make a change like this is one of the reasons triggers is currently alpha and not yet beta

We c

[2020-08-06 14:56] bitsofinfo commented on #697
so this isn't a proposal but more of a feature that is definitely happening?

[2020-08-06 14:57] bobcatfish commented on #697
it's a proposal

[2020-08-06 15:10] dibyom commented on #697
Thanks for the detailed write up @bobcatfish

- We should definitely figure out a way to do better validation for the templates. This has come up in other issues as well (see #678)

- No strong opinions on renaming the type itself (maybe TektonTemplates to indicate these are for Tekton resources only, or RunTemplates in a future where we only have Run objects that are usually created)

- TriggerTe

[2020-08-06 15:15] bobcatfish commented on #697
Totally: the less magic the better! And that's pretty much exactly why we made the design so generic in the first place.

And @bitsofinfo, if we decide to pursue this (if!), we could decide that we want to have BOTH the more coupled type and continue to support the ultra generic TriggersTemplates as well even into beta.

Are you able to provide more detail about how are you are using the more gene

[2020-08-06 16:39] abayer commented on #697
This looks really solid to me - being able to point to a recipe in Lighthouse for a presubmit or postsubmit, rather than needing a full `PipelineRunSpec`, would be great.

[2020-08-06 16:49] eddycharly commented on #697
I definitely liked the genericity of trigger templates.

I see the advantages of being able to validate the template content but I also hoped that it would let me create any kind of resource.

Would it make sense to support both ?

[2020-08-06 18:18] bitsofinfo commented on #697
@dibyom looking through my current use of triggers I don't have any `$()` var usage within the `name:` or `key:` or `ref`  attrs for params or CEL overlays etc across interceptors, TriggerBindings, TriggerTemplates etc. I do make extensive use of this across `values` in all 3 of these areas however.

I do use it in the `metadata.name` of items listed under `resourcetemplates` and despite not doing

[2020-08-06 19:38] rakhbari commented on #697
I put my vote down for keeping the existing generic template/binding/eventlistener functionality as is. I really like the fact that I can "cause" the creation of any Kube object with any sort of internal or external event. The separation of the EL, from definition of what's to be created (TriggerTemplate), and then having the binding glue things into TrigerTemplate was brilliant and I certainly wo

[2020-08-06 22:50] ImJasonH commented on #697
@rakhbari What types of non-Tekton resources are you creating using Triggers?

[2020-08-07 11:32] siamaksade commented on #697
@rakhbari after you create a `TriggerTemplate` and specify all the resources you need to be created in it when a trigger comes, let's say you want to test your pipeline with manually starting it. What do you do that doesn't involve duplication and copy-pasting snippets from `TriggerTemplate` into a `PipelineRun`? Let's say afterward you update your pipeline and add a new parameter that doesn't hav

[2020-08-07 11:53] rakhbari commented on #697
@ImJasonH We (eBay) have greatly extended our internally installed/maintained Kubernetes clusters with several CRDs. A few, having to do with recording of "quality gates" need to be created when certain events occur in our Github Enterprise servers. The `EventListener` mechanism is the absolute perfect vehicle for these use cases.

So the versatility of the triggers/binding/EL mechanism can't be o

[2020-08-07 12:15] rakhbari commented on #697
@siamaksade Frankly the `PipelineRun` I created manually are no longer of any use to me once I've embedded them in a `TriggerTemplate`. I may maintain one in my environment config repo, just as a way to manually test changes to the pipeline it targets, but once I've vetted those changes, the `TriggerTemplate` will be my source of truth for those changes, since that's what actually gets invoked whe

[2020-08-07 16:13] #615 closed

[2020-08-10 02:17] gabemontero commented on #697
Cool idea, regardless if it remains as a "change to triggers" as originally cited, or if it evolves into a "something additional instead of changing something existing" as the existing usage etc. gets sorted out.

At least for now, I've only got one thing to add to the prior comments:  one of the discussion points in the [trigger CRD TEP](https://github.com/tektoncd/community/pull/148), both in th

[2020-08-11 23:14] ibexmonj commented on #654
i ran into the same issue with `EventListerner` in my PSP enabled namespace.

Any workarounds here ?

[2020-08-12 03:15] danielhelfand commented on #654
@ibexmonj I believe this should be resolved in v0.7.0 of triggers after updating triggers images to use a non root base image: https://github.com/tektoncd/triggers/pull/672.

If upgrading is not an option, you could assign privileged permissions to a ServiceAccount and associate that ServiceAccount with the EventListener.

[2020-08-12 08:25] afrittoli commented on #687
Looking at the pod, I can see that it was restarted 67 times in almost 8 days:
[code]

The replica-set does not tell much more:
[code]

[2020-08-12 08:37] afrittoli commented on #687
Alternatively it could also be that at busy time the pod takes to long to answer the health-checks, and thus is restarted, which causes lost messages. I wonder if this could lead to connection left open on the source too.

[2020-08-12 15:48] dibyom opened #709 "Use auto-generated release notes for Triggers releases"
# Expected Behavior

The draft release notes created by the Triggers release task should classify the PRs into the right kinds (feature, bug etc.) and should auto-add the release notes.

# Actual Behavior

Release owner has to do this manually today.

# Additional Info

1. We need to enforce the kind/ label check in our PRs
2. Use the latest version of create-draft-release: https://github.com/tekt

[2020-08-12 17:12] ibexmonj commented on #654
Thanks @danielhelfand. we are on 0.3.1 to ensure kubernetes version compatibility. i was going to try setting a rolebinding up for the eventlisterner SA, just wanted to reach out here for an alternative. Thanks again

[2020-08-12 19:17] #155 closed

[2020-08-12 22:19] #84 closed

[2020-08-12 22:19] #170 closed

[2020-08-12 22:19] #137 closed

[2020-08-13 01:21] #260 closed

[2020-08-13 04:24] #314 closed

[2020-08-13 06:24] #136 closed

[2020-08-13 07:24] #184 closed

[2020-08-13 07:24] #201 closed

[2020-08-13 07:57] vdemeester commented on #203
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 09:26] #409 closed

[2020-08-13 13:53] bitsofinfo commented on #439
/remove-lifecycle stale

[2020-08-13 13:58] bitsofinfo commented on #439
/reopen

[2020-08-13 15:29] #367 closed

[2020-08-13 15:53] bobcatfish commented on #87
I feel like interceptors are the answer to this these days 🤔 , do you agree @dibyom @wlynch ?

[2020-08-13 16:15] dibyom commented on #87
I agree. Interceptors (both CEL overlays + Webhooks) can modify the event body and add extra "dynamic" parameters

[2020-08-13 18:50] bobcatfish commented on #205
/remove-lifecycle rotten

@dibyom do you think this makes sense to include in the roadmap?

[2020-08-13 18:52] bobcatfish commented on #205
Oh it already IS in the roadmap https://github.com/tektoncd/triggers/blob/master/roadmap.md

/lifecycle frozen

[2020-08-13 18:52] bobcatfish commented on #200
This is in the project roadmap https://github.com/tektoncd/triggers/blob/master/roadmap.md

/lifecycle frozen

[2020-08-13 19:32] #499 closed

[2020-08-13 20:35] dibyom commented on #385
This is another "unintentional" feature/bug that we should fix

[2020-08-13 22:02] dibyom commented on #687
Looks like the EL memory is going up until it crashes/get restarted. This only seems to happen for `el-tekton-events`. The other ELs are steady in terms of memory usage. Each increasing line is one `el-tekton-events-` container before it gets restarted:

![image](https://user-images.githubusercontent.com/3316877/90191119-4a4ee380-dd8e-11ea-88ca-3cdc4c4c8c3e.png)

Link if you have view access to th

[2020-08-13 22:46] dibyom commented on #270
/lifecycle frozen

[2020-08-14 00:34] #351 closed

[2020-08-14 03:37] #370 closed

[2020-08-14 03:37] #456 closed

[2020-08-14 07:38] #450 closed

[2020-08-14 08:39] #505 closed

[2020-08-14 08:49] bibi520 opened #711 "triggerbinding can use the cel get the value"
triggerbinding：
![image](https://user-images.githubusercontent.com/42456284/90231670-189d5180-de4e-11ea-9486-e5c53fc39cf2.png)

I just want to master this value what should I do

![image](https://user-images.githubusercontent.com/42456284/90231606-03c0be00-de4e-11ea-8a4c-64a523baa4bd.png)

[2020-08-14 11:41] #406 closed

[2020-08-14 12:41] #583 closed

[2020-08-14 14:08] afrittoli commented on #504
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-08-14 14:09] afrittoli commented on #504
I think this is still valid - I'm not sure if the solution should be in Triggers but I would like to keep the discussion going on this one.

[2020-08-14 14:38] afrittoli commented on #491
/remove-lifecycle stale

[2020-08-14 15:44] #572 closed

[2020-08-14 15:58] dibyom commented on #711
You'd want to use a CEL overlay to create a field for that and then use that in your binding. As an example:

[code]
https://github.com/tektoncd/triggers/blob/master/examples/eventlisteners/cel-eventlistener-multiple-overlays.yaml#L15

and the use $(body.extensions.branch_name) in your binding.

[2020-08-14 15:58] dibyom commented on #711
/kind question

[2020-08-14 19:14] dibyom commented on #270
We should add an URI field just like https://github.com/knative/pkg/blob/master/apis/duck/v1beta1/destination.go#L46
(we could try seeing if we can the Destination struct itself)

[2020-08-14 19:17] dibyom commented on #641
@bigkevmcd Is there more we can do here short term or can we close this given we now add the expression that failed in the logs as well

[2020-08-14 19:34] dibyom commented on #682
Hey @juanri0s sorry missed your last update. You brought up a good point. The SA for the EventListenerTrigger is an ObjectRef  -- (we are changing that in https://github.com/tektoncd/triggers/pull/705)

However, what I am thinking is we default not the [EventListenerTrigger SA](https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/event_listener_types.go#L91) but rather the [

[2020-08-14 19:46] #607 closed

[2020-08-14 20:29] dibyom commented on #504
/lifecycle frozen

[2020-08-14 20:29] dibyom commented on #571
/lifecycle frozen

Part of Roadmap and has been proposed in TEP-008

[2020-08-14 20:31] dibyom commented on #584
Re-opening this. We discussed this for a bit but never really went anywhere. Would still like to explore some form of standardized bindings/catalog support

[2020-08-14 20:31] dibyom commented on #406
/lifecycle frozen

I think @savitaashture did some initial work on some perf metrics in one of here porposals!

[2020-08-14 20:33] dibyom commented on #505
We now support a minimal customized podTemplate. We can add more fields if we need to or TEP-008 proposes a way to include a full customl PodSpec if needed.

[2020-08-14 20:34] dibyom commented on #456
/lifecycle frozen

This is being worked on in TEP-009. Though maybe we should open newer, more targeted issues for this? @khrm

[2020-08-14 20:35] dibyom commented on #370
Similar to https://github.com/tektoncd/triggers/issues/456 -> part of TEP-009 and TEP-008. I think we can keep this closed and open other issues for those two.

[2020-08-14 20:37] dibyom commented on #367
/lifecycle frozen

[2020-08-14 20:38] dibyom commented on #77
we've made some progress here with more granular RBAC. Do you think it makes sense to keep this closed or should we re-open @gabemontero ?

[2020-08-14 20:38] dibyom commented on #409
/lifecycle frozen

[2020-08-14 20:40] dibyom commented on #392
related #271

[2020-08-14 20:40] dibyom commented on #336
/lifecycle frozen

[2020-08-14 20:40] dibyom commented on #336
#271 is related

[2020-08-14 20:41] dibyom commented on #201
ref #697

[2020-08-14 20:41] dibyom commented on #192
/lifecycle frozen

[2020-08-14 20:44] dibyom commented on #136
There is an active TEP for this now: TEP-009.

[2020-08-14 20:46] #482 closed

[2020-08-14 21:46] #570 closed

[2020-08-14 22:46] #525 closed

[2020-08-14 23:46] #573 closed

[2020-08-15 04:49] #653 closed

[2020-08-15 06:22] bigkevmcd commented on #641
@dibyom I don't think so, if cel-go develops debugging functionality, I'd definitely incorporate that, but otherwise, I can't see what else we could add.

[2020-08-15 07:25] bibi520 commented on #711
Thanks for taking care of it

[2020-08-15 07:49] #257 closed

[2020-08-15 08:39] patcito commented on #456
@dibyom would you have a link to TEP-009? I can't seem to find it here https://github.com/tektoncd/community/tree/dec14d2a9b9a15b114e3955885f702c0e73eb2c4/teps

[2020-08-15 11:46] bitsofinfo commented on #643
/remove-lifecycle rotten
/reopen

[2020-08-15 11:57] AlanGreene commented on #456
https://github.com/tektoncd/community/pull/148

[2020-08-15 20:50] bigkevmcd commented on #643
@bitsofinfo can you say a bit more about what more you’re looking for?

[2020-08-16 15:55] piyush-garg opened #713 "Inconsistent naming of container in release.yaml"
The container name is `tekton-triggers-controller` in Controller Deployment while the name of the container in Webhook Deployment is `webhook`

Link for controller deployment: https://github.com/tektoncd/triggers/blob/master/config/controller.yaml#L53

Link for webhook controller: https://github.com/tektoncd/triggers/blob/master/config/webhook.yaml#L53

Is there any specific reason for this? Or is

[2020-08-16 21:39] gabemontero commented on #77
/remove-lifecycle rotten
/reopen

@dibyom yeah the more granular RBAC is minimally a first step, but I think we should track this issue  in conjunction with @khrm 's trigger CRD work; I'm curious as that reaches fruition if the serviceAccount associated with the trigger will be optional or not, along with how the trigger CRD work reconciles with https://github.com/tektoncd/triggers/pull/705

[2020-08-17 05:37] #679 closed

[2020-08-17 10:31] afrittoli opened #714 "Increasing the el number of replicas requires deleting the deployment"
# Expected Behavior

When the number of replicas is updated in the event listener, the number of replicas should be updated in the deployment.

# Actual Behavior

Nothing happens unless the deployment is deleted.
[code]

After deleting the deployment:
[code]

I get the right behaviour:
[code]

# Steps to Reproduce the Problem

1. Create an el
2. Change the number of replicas (I used `kubectl repla

[2020-08-17 13:04] savitaashture commented on #714
/assign

[2020-08-17 13:04] savitaashture commented on #714
/kind bug

[2020-08-17 14:47] afrittoli commented on #610
/remove-lifecycle rotten

[2020-08-17 14:50] dibyom commented on #480
/lifecycle frozen

[2020-08-17 14:52] afrittoli commented on #484
/remove-lifecycle rotten

[2020-08-17 14:55] afrittoli commented on #484
I think this would be a really cool feature to have, since it would enable managing an reusing policies - which with CEL can only be copy/pasted across event listeners.

Once example would be filtering GitHub webhook events based on the `user` and type of events, which can be used to restrict access to github comment commands like "/test" to individuals in a certain group.

[2020-08-17 16:04] bigkevmcd commented on #675
Let me see if I can clarify what we think should happen from this.

The values of _all_ params being output in tektoncd/pipeline should be escaped to be shell-safe?

[2020-08-17 16:17] savitaashture opened #716 "Handle validation for replicas"
Now User can specify replicas information using eventlistener as part of [spec](https://github.com/tektoncd/triggers/blob/master/pkg/apis/triggers/v1alpha1/event_listener_types.go#L58)

Following are few observation:
1. No validation for the replicas and user can set any negative value (ex: -1)
2. No replicas specified as part of spec But still EL will have below data after the creation
[code]
and

[2020-08-17 16:17] savitaashture commented on #716
/kind feature

[2020-08-17 16:18] savitaashture commented on #716
/assign

[2020-08-17 19:59] dibyom commented on #711
Sure thing @bibi520 I'm going to close this issue. Feel free to re-open if this did not solve your problem.
/close

[2020-08-17 19:59] #711 closed

[2020-08-18 01:09] wstrange commented on #504
Was just looking at this today.  k8s Cron tasks are really unwieldy. It would be great to have a tekton native way of running timed tasks.

[2020-08-18 01:47] dibyom commented on #713
Hmm, this does not sound intentional. Sounds like a bug we should fix!

[2020-08-18 05:41] khrm commented on #713
Interestingly, this issue is there in pipelines also.
https://github.com/tektoncd/pipeline/blob/f618ff57d1df60f02db009153fb0e8ff79d97dd4/config/controller.yaml#L56
https://github.com/tektoncd/pipeline/blob/f618ff57d1df60f02db009153fb0e8ff79d97dd4/config/webhook.yaml#L59

[2020-08-18 12:09] barthy1 opened #718 "Use another NodeSelector value in EventListener tests"
Question: Is it possible to change in the tests https://github.com/tektoncd/triggers/blob/79884efba46bcdbfd2794a01129fe9c36084d0bb/test/eventlistener_test.go#L290 and https://github.com/tektoncd/triggers/blob/79884efba46bcdbfd2794a01129fe9c36084d0bb/test/eventlistener_scale_test.go#L54 NodeSelector specification from `beta.kubernetes.io/arch=amd64` to `beta.kubernetes.io/os=linux`?

I am working t

[2020-08-18 15:47] savitaashture commented on #654
Hey @danielhelfand if nothing to be addressed as part of this issue can we close it ?

Because its hanlded by https://github.com/tektoncd/triggers/pull/672 as part of 0.7.0 release

[2020-08-18 15:49] danielhelfand commented on #654
@savitaashture Yeah, I think it makes sense to close.

[2020-08-18 15:49] #654 closed

[2020-08-18 15:50] dibyom commented on #697
Summarizing discussion from the WG last week:

1. Generic templates for non tekton resources seem popular even though today we restrict TriggerTemplates only to Tekton resources. There are also some concerns around renaming the resource and backwards compatibility. We can keep exploring if we should support both a Generic type like today as well as a more coupled type.

2. Better validation should

[2020-08-18 15:58] savitaashture commented on #616
/assign

[2020-08-18 21:05] dibyom commented on #619
Would still be nice to have some testing in this area

[2020-08-18 21:07] dibyom commented on #718
Yeah, that sounds reasonable to me! PR welcome :)

[2020-08-18 21:07] dibyom commented on #624
We have some experimental code for this that processes Triggers locally. We should do a release for it and then figure out if it makes sense to merge that into the CLI

[2020-08-18 21:09] dibyom commented on #641
Based on @bigkevmcd 's comment above I'm going to close this issue. We can revisit later if CEL adds additional debugging facility.

[2020-08-19 01:29] GwonsooLee commented on #718
/assign GwonsooLee

[2020-08-19 01:37] GwonsooLee commented on #718
@barthy1  Great. This is actually I worried when I added nodeSelector in the test code :) Thank you so much for suggesting group idea!
If no one wants to assign this issue, then I will fix this! Thanks :)

[2020-08-19 03:07] piyush-garg commented on #713
I have created the issue on pipelines also https://github.com/tektoncd/pipeline/issues/3113

[2020-08-19 12:06] savitaashture commented on #699
/assign

[2020-08-19 14:31] iancoffey commented on #504
I agree Triggers may not be the right place for this, but maybe there is room for an experimental "sources" project to flesh out  what a better k8s cron task might look like. Or we could recommend folks just use knative cron event sources.

[2020-08-19 16:28] dibyom opened #723 "Triggers E2E tests failing on Boskos"
The tests are all failing with:

[code]

This error message seems similar to https://github.com/tektoncd/plumbing/issues/186

[2020-08-19 16:41] dibyom commented on #723
Looking at Boskos logs:

[code]

[2020-08-19 16:51] dibyom commented on #723
[code]

[2020-08-19 17:02] dibyom commented on #723
Looks like this is not limited to Triggers either:
https://prow.tekton.dev/?repo=tektoncd%2Fpipeline&job=pull-tekton-pipeline-integration-tests

[2020-08-19 17:02] dibyom commented on #723
I ran the command to activate gcloud API in the first boskos error message:
https://console.developers.google.com/apis/api/staging2-container.sandbox.googleapis.com/overview?project=574248271492

[2020-08-19 20:50] #87 closed

[2020-08-20 13:18] #718 closed

[2020-08-20 13:34] #716 closed

[2020-08-25 14:42] savitaashture opened #727 "Enhance existing eventlistener to support PodTemplate for Deployment using duck type"
This is part of [TEP-0008](https://github.com/tektoncd/community/pull/162)

TEP contain details about
1. Supporting `PodTemplate` for existing deployment which is created by  eventlistener and information about `ServiceType` for Service.
2. Support of custom CRDs by triggers so that eventlistener can leverage on that to create a `pod`

So as part of this issue we will be focusing first point which

[2020-08-25 14:42] savitaashture commented on #727
/kind feature

[2020-08-25 14:42] savitaashture commented on #727
/assign

[2020-08-25 15:36] vdemeester commented on #687
cc @n3wscott as it "may" be related to the cloudevents sdk code ?

[2020-08-25 22:15] n3wscott commented on #687
You can change the sender timeout but I have an open issue to control the receiver timeout. Let me look into it tomorrow.

[2020-08-26 09:45] khrm opened #729 "Trigger object as Ref in EventListener Spec"
# Expected Behavior
A user should be able to use Trigger CR as a ref in EventListener Spec.
# Actual Behavior
At present, we have to specify the complete EventListenerTrigger inside the EventListener Spec instead of just a ref.

/assign khrm

[2020-08-26 14:01] #714 closed

[2020-08-28 03:05] bibi520 opened #731 "Ask what the default variables are for the TriggerTemplate"
Something like this doesn't pass the variables that come with the TriggerTemplate
![image](https://user-images.githubusercontent.com/42456284/91516519-45f20100-e91e-11ea-95fe-10ab1eff0c3c.png)

[2020-08-28 03:05] bibi520 commented on #731
Is there a date variable

[2020-08-28 09:33] bigkevmcd commented on #731
The `$(uid)` field is documented in the TriggerTemplates documentation https://tekton.dev/docs/triggers/triggertemplates/

And there's no date field just now.

[2020-08-28 09:36] bibi520 commented on #731
ok  3q

[2020-08-28 09:37] bigkevmcd commented on #638
This is waiting on a new release of google/cel-go with the functionality.

[2020-08-28 09:37] bibi520 commented on #731
Will you consider adding variables later

[2020-08-28 11:52] bigkevmcd commented on #731
/kind question

[2020-08-28 19:50] bigkevmcd commented on #731
I guess the tricky thing is what does "a data variable" look like?

Is it simply a 64-bit unix-time long integer?

is there formatting of the date/time allowed?

[2020-08-29 01:07] bibi520 commented on #731
For example： 2020-08-27-10-44-05

[2020-08-31 22:20] #700 closed

[2020-09-01 14:33] dibyom opened #735 "Move away from pipeline test builders"
# Expected Behavior

Either use plain structs in our test code or use builders in triggers/test/

# Actual Behavior

We are using some builders from pipeline

# Additional Info

* We'd need this before we can bump pipeline past https://github.com/tektoncd/pipeline/pull/3124

/kind cleanup

[2020-09-01 18:31] dibyom opened #736 "FR: Metrics for EventListener"
# Expected Behavior

The EventListener sink should be instrumented to emit metrics in order to help with monitoring and observability. As an example, knowing the number of triggers processed would be very helpful in debugging #687

# Actual Behavior

The EventListener does not emit any metrics today. One workaround is to read/parse the log messages instead.

# Additional Info
Some ideas for metric

[2020-09-01 19:08] dibyom opened #737 "FR: Allow bindings to access to Trigger metadata/context"
# Expected Behavior

It should be possible to get the name of the current trigger, event ID etc. from a TriggerBinding and use it in a TriggerTemplate

# Actual Behavior

We add these as standard labels but the user does not have direct access to them.
https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md#labels

# Additional Info

One idea is to expose a "TriggerContext" (naming

[2020-09-01 19:09] dibyom commented on #731
We were discussing this in the Working Group today. One idea is to allow access to some context variables (date can be one such variables) -- I opened a feature request in #737

A different way might be to add a CEL function to get the date.

[2020-09-01 19:49] bigkevmcd commented on #731
I pondered a CEL function (it would be fairly trivial), and it could return a https://github.com/google/cel-go/blob/master/common/types/timestamp.go

But, it opens up questions like parsing, and formatting.

[2020-09-03 11:17] Fabian-K opened #741 "Resources are created even if the cel filter evaluates to false"
Hi,

I have the following event listener definition that should only trigger a pipelinerun for branch updates. It should not trigger for e.g. updates of tags.

[code]

Still, I can see that pipelineruns are triggered for the following push event containing

[code]

Here are the logs of the event listener pod
[code]

I am using triggers v0.7.0. Do you have any idea what´s going on?

Thanks!

[2020-09-03 12:51] Fabian-K commented on #741
🤦‍♂️  thanks @khrm

I missed the branch deletion event around the same time...
[code]

[2020-09-03 12:51] #741 closed

[2020-09-03 19:24] dibyom commented on #731
Yeah, I guess one can always write a task to take a timestamp and parse it to their liking 😛

[2020-09-08 00:09] sravankumar777 opened #746 "Validation for special characters for eventlistener cel filters"
# Expected Behavior
Event listener object should be validated with extra special characters.

# Actual Behavior
Event listener is created, even with extra special characters. Error message was provided only during the webhook event reaches to event listener.

# Steps to Reproduce the Problem

1. Deploy latest release of tekton-pipelines & tekton-triggers on local environment(kind cluster)
2. Creat

[2020-09-08 07:01] #635 closed

[2020-09-08 07:18] #699 closed

[2020-09-08 15:08] dibyom commented on #729
I think this was fixed with #726

[2020-09-08 15:19] #641 closed

[2020-09-08 15:26] savitaashture commented on #727
/milestone v0.9

[2020-09-08 15:34] dibyom commented on #746
Fixed in #745

[2020-09-08 16:06] wlynch commented on #729
/close

[2020-09-08 16:06] #729 closed

[2020-09-08 16:24] dibyom commented on #617
WG update: I'll write up a TEP!

[2020-09-08 16:24] dibyom commented on #616
WG Update: I'll write up a (short) TEP

[2020-09-08 16:24] dibyom commented on #746
/close

[2020-09-08 16:24] #746 closed

[2020-09-09 15:51] dibyom commented on #687
I was able to somewhat repro this -> I setup a pipelines controller to send cloud events to el-tekton-events in my controller. I used a modified version of the sink image so I could get a shell. Some findings:

1. Each cloud event call seems to create a new TCP connection.

2. These connections stay established forever! I ran a bunch of TaskTun calls yesterday -> all of those connections were stil

[2020-09-09 17:55] savitaashture opened #750 "Replicas validation is not working as expected when triggers upgraded from v0.7.0 to v0.8.0"
# Expected Behavior

* When triggers upgraded from `v0.7.0` to `v0.8.0` the existing Eventlistener apply should be success

# Actual Behavior

* When triggers upgraded from `v0.7.0` to `v0.8.0` the existing Eventlistener apply fails with below error

[code]

# Steps to Reproduce the Problem

1. Install tekton trigger with version `v0.7.0`
2. Create github example from here https://github.com/tekto

[2020-09-09 17:55] savitaashture commented on #750
/kind bug

[2020-09-09 17:55] savitaashture commented on #750
/assign

[2020-09-09 21:18] dibyom commented on #687
Reusing the same client should help I think?

Also, it seems like the high memory usage in Triggers was due to the large num of established connections. If I delete/restart the pipeline controller, the number of connections drops immediately and so does the memory usage:

![image](https://user-images.githubusercontent.com/3316877/92656135-822f4500-f2c0-11ea-9e9c-5049892e1949.png)

[2020-09-10 11:55] afrittoli commented on #687
I did some more tests with the pipeline controller, and I can confirm that the HTTP client is only created once.
However the original HTTP client does not have the target set (it is set in https://github.com/tektoncd/pipeline/blob/386637407f6715750dd643a5c740ecd9b2380b7e/pkg/reconciler/events/event.go#L55), so I suspect the client will create a new transport each time `Emit` is invoked.

[2020-09-10 16:19] dibyom opened #752 "EL Reconciler keeps updating Deployment"
# Expected Behavior

Reconcile succeeds eventually.

# Actual Behavior

In each reconcile cycle, we update the deployment and this keeps on going forever

# Steps to Reproduce the Problem

1. Install Triggers v0.8.0
2. Create a new EL e.g. `examples/gitlab`
3. Look at EL logs

# Additional Info

Snip:

[code]

[2020-09-10 16:19] dibyom commented on #752
/kind bug
/assign

[2020-09-10 16:32] dibyom commented on #752
I suspect this is due to the annotation propagation. The deployment controller adds a `deployment.kubernetes.io/revision` annotation that the EL reconciler will try to override leading to the continuous reconciliation cycles.

[2020-09-10 17:13] #750 closed

[2020-09-10 17:48] savitaashture commented on #752
@dibyom i think yes you are right.
I just verified by commenting this https://github.com/tektoncd/triggers/blob/master/pkg/reconciler/v1alpha1/eventlistener/eventlistener.go#L161-L164 and i don't see continues update.

[2020-09-10 17:51] dibyom commented on #752
Thanks for verifying. What I'm planning to do is to merge the existing and our desired labels (option 2. from https://github.com/tektoncd/triggers/pull/712#discussion_r474368780)

Later, we can also add a feature to stop propagating some common labels such as `kubernetes.io/last-applied-revision`.

[2020-09-10 17:57] savitaashture commented on #752
Ya that's good idea :+1:

[2020-09-10 18:40] robermar23 commented on #505
I am confused on why this issue was closed.

The documentation mentions podTemplate only support nodeSelector and tolerations?

Is that the "minimal customized podTemptate" mentioned?

I have a need to be able to define the resources for the pod's that are spun up.

Am I missing another means by which this is accomplished or is everyone just using their namespaced defaults?

[2020-09-11 17:07] #752 closed

[2020-09-11 18:44] dibyom commented on #617
/assign

[2020-09-15 09:48] dbazhal commented on #478
Can this please be reopened?) Would like to see this in future

[2020-09-16 08:03] vvvsrx opened #759 "I wish to customize the pipeline name"
# Expected Behavior
I hope to get a custom generateName, such as: `dss-$(tt.params.name)-$(uid)`

# Actual Behavior
But the `tt.params.name` I got has capital letters.

# Additional Info
[code]

What should I do? I checked the cel-go extensions, and there is no way to adapt?

[2020-09-16 15:13] dibyom commented on #675
There is now a TEP that proposes adding a shell escaped version of all pipeline params: https://github.com/tektoncd/community/pull/208

@ppitonak @bigkevmcd do you think adding escaped version for pipeline params is sufficient or is there more we need to do on the Triggers side?

[2020-09-16 15:27] bigkevmcd commented on #675
@dibyom I think that would be the best solution :+1:

[2020-09-16 16:59] dibyom commented on #759
/kind question

[2020-09-17 20:45] dibyom commented on #759
I think https://github.com/tektoncd/triggers/issues/638 would solve this use case.

In the meantime, I can only think of workarounds:
1. Not sure if this is possible, but can the name param only contain lower case letters?
2. If not, maybe the `tt.params.name` can be a label and not the name itself?

On a unrelated note, I see that you are using `generateName: dss-$(tt.params.name)-$(uid)`. genera

[2020-09-18 19:17] gabemontero commented on #568
/assign gabemontero

Based on the info here, I've now got a `TestResolveParams` unit test that reproduces this:

[code]

With the test case def of:

[code]

I'm working on a fix now.

[2020-09-19 14:48] vvvsrx commented on #759
How can it be, how can I convert the text to lowercase?

[2020-09-21 14:39] savitaashture opened #762 "EventListener should allow to set resource requirements"
# Expected Behavior
User should able to set resource information based on his requirement as part of eventlistener yaml.

# Actual Behavior
In the current situation user won't get the flexibility to set the resource information as part of eventlistener yaml but alternative option would be direct edit on deployment

# Additional Info

Discussion as part of this pr https://github.com/tektoncd/trigge

[2020-09-21 14:40] savitaashture commented on #762
We can consider this issue if there are any real need of resource requirements

[2020-09-21 19:25] #727 closed

[2020-09-22 15:52] dibyom commented on #687
https://github.com/tektoncd/pipeline/pull/3201 and #755 fixes the immediate issue. And we have #747 to add in some tunable timeouts.

/close

[2020-09-22 15:52] #687 closed

[2020-09-22 16:08] bigkevmcd commented on #638
@TristonianJones any chance of a release of cel-go with the strings library?

[2020-09-22 16:21] bigkevmcd commented on #759
/assign

[2020-09-22 17:21] TristonianJones commented on #638
I can put together a release today if that works for you.

[2020-09-22 17:43] TristonianJones commented on #638
Actually, the v0.5.0 should have the strings library in it I think.

[2020-09-22 18:00] bigkevmcd commented on #638
@TristonianJones Sorry, I should've been clearer, it's really the upper/lower casing things I'm looking for https://github.com/google/cel-go/pull/372

A release would be great, thank you

[2020-09-22 18:02] TristonianJones commented on #638
@bigkevmcd I just realized it was the upper/lower. I'll get that sorted out for you.

[2020-09-22 18:18] TristonianJones commented on #638
https://github.com/google/cel-go/releases/tag/v0.6.0

[2020-09-23 15:08] #638 closed

[2020-09-23 15:08] #759 closed

[2020-09-28 03:52] gejunqiang opened #772 "TriggerBinding doesn't support multiline string param?"
# Problem Description

I want to trigger my TaskRun dynamically with Tekton Triggers. And in TriggerBinding, I use a param named dockerfile, and the value is a constant  multiline string, it's shown as follows:

[code]

Then I use this command to call the event listener:

[code]

But it doesn't work. And the event listener pod logs messages with a level: error, the logs are shown as below:

[code]

[2020-09-28 07:42] khrm opened #774 "EventListener Namespace Selector for Trigger Object"
# Expected Behavior
A user should be able to specify NamespaceSelector in EventListener which selects namespaces from where EL fetches Trigger to process events.
# Actual Behavior
At present,  there is no such feature.
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info
Related TEP: https://github.com/tektoncd/community/blob/master/teps/0009-trigger-crd.md

/assign khrm

[2020-09-28 15:47] danielhelfand opened #775 "Removing Triggers from Cluster with kubectl delete -f Does Not Remove EventListeners"
# Expected Behavior

Using `kubectl delete -f https://storage.googleapis.com/tekton-releases/triggers/previous/<TRIGGERS_VERSION>/release.yaml` should remove the triggers component from a Kubernetes cluster and all associated triggers resources.

# Actual Behavior

If an EventListener is installed on the cluster, the `kubectl delete` command will hang until timing out as shown below:

[code]

The

[2020-09-28 20:43] dibyom commented on #775
Interesting....I think this might have something to do with the finalizer that we have for deleting the EL's logging config maps. The flow I think is:
1. When you delete a CRD, it will delete all instances of the CRD (EL in this case)

2. The EL objects have a `finalizer` specified, which means the `deletionTimestamp` field is set when we make a delete call.

3. The finalizer is supposed to notice

[2020-09-28 20:55] dibyom commented on #775
The other workaround would be to manually remove the finalizers.
` kubectl patch crd/eventlisteners.triggers.tekton.dev -p '{"metadata":{"finalizers":[]}}' --type=merge`

Wonder if knative has run into this at all? /cc @n3wscott

[2020-09-28 20:55] dibyom commented on #774
/kind feature

[2020-09-29 00:49] win5do opened #776 "Can I set params dynamically use CEL interceptor?"
Expected:
[code]
Please note that I used **Golang** grammar because I didn’t find CEL's `if ... else if ... if ...` or `switch` example.

It is difficult for me to derive grammar from [cel-spec](https://github.com/google/cel-spec/blob/master/doc/langdef.md).

If it can be achieved, please add some examples in the docs, thank you very much.

------

I know that another solution is to implement inte

[2020-09-29 14:57] dibyom commented on #776
/cc @bigkevmcd

[2020-09-29 16:09] bigkevmcd commented on #776
This sort of logic doesn't exist in CEL expressions.

I'm not quite sure what's missing grammar-wise from the CEL spec, but, you could do this...

[code]

But this doesn't work for the default case (it'll throw an error) and the `has` macro doesn't seem to like either.

This feels like a change in upstream cel-go might be warranted.

[2020-09-29 16:47] chmouel opened #777 "Backslash quote in json will crash the trigger parser"
On a git repo which is plugged to a triggers, i have made a standard git revert of a commit to submit to a PR.

The title of git revert would look like this :

[code]

This will shows up  like this in the webhook json payload :

[code]

but this title will crash trigger's parser :

[code]

Changing the title and removing the quote made triggers accepting the json payload and go on with its life...

[2020-09-29 16:49] wlynch opened #778 "Immutable Trigger Event Body"
FR/Tracking issue for Immutable Trigger Event Body. Feedback in today's working group was generally favorable, so TEP to come soon!

# Overview

Today with overlays, users have the ability to modify incoming event payloads. Interceptors are required to pass back bodies in responses to preserve data. This has a few challenges:

1. Auditability - modifying the event payload makes it difficult to loo

[2020-09-29 16:52] khrm commented on #777
/kind bug

[2020-09-29 19:10] dibyom commented on #777
@chmouel what version of Triggers are you running?

[2020-09-29 19:20] khrm commented on #777
@dibyom
He is running version 0.6.1.
I can recreate this on v0.8.1.
/assign

[2020-09-29 19:35] khrm commented on #777
Error in v0.8.1
[code]

[2020-09-29 19:38] dibyom commented on #777
yeah looks like the error is while creating the resource, the actual extraction in binding seems to work.

[2020-09-29 19:58] danielhelfand opened #779 "Use Pods as Test Data in Mock Controllers"
The current resources available for seeding test data for mock controllers is shown [here](https://github.com/tektoncd/triggers/blob/45daf11629f2709c359b5d6a3d5fad37939e96ec/test/controller.go#L55). I am wondering if it would make sense to add Pods to this collection of resources to aid with unit testing EventListener logs for `tkn` amongst other testing use cases. Or is there an alternative way t

[2020-09-29 20:21] dibyom commented on #779
Sure, that seems reasonable. Is CLI using the test controller for testing?

[2020-09-29 20:22] dibyom commented on #772
The error location looks very similar to #777

[2020-09-29 20:24] dibyom commented on #777
I was looking at #772 and it looks like the same issue. I think this is happening because we are doing some overly simplistic escaping here: https://github.com/tektoncd/triggers/blob/v0.8.1/pkg/template/resource.go#L117 (related #257 )

@khrm let me know if your findings are similar!

[2020-09-29 20:42] khrm commented on #777
Yes, it looks similar. I too reach same conclusion just now.

[2020-09-29 20:43] danielhelfand commented on #779
Yes, we use it for unit testing triggers commands quite a bit.

[2020-09-29 20:53] khrm commented on #777
Strangely enough, if I set a param directly with backlash, it works but if that arrives from an event body, it doesn't.  Will look into this day after tomorrow.

[2020-09-30 02:26] win5do commented on #776
By the way, Is it possible to extend the interceptor in the future, such as using Golang grammar with `go/parser` package as the DSL.

[2020-09-30 11:30] rannox opened #781 "chdir to cwd "/home/nonroot" set in config.json failed: permission denied": unknown"
Hello everyone,

updating the version of the Tekton Triggers from 0.6.1 to either 0.7.0 or 0.8.1 fails with:
 `"chdir to cwd (\"/home/nonroot\") set in config.json failed: permission denied": unknown`

# Expected Behavior

Installation of the Tekton Triggers should work.

# Actual Behavior

The start of the webhook and controller pods fails:

[code]

[code]

# Steps to Reproduce the Problem

1. In

[2020-09-30 15:11] #779 closed

[2020-09-30 15:14] dibyom commented on #776
We are looking to make it easier to add interceptors using plugins: https://github.com/tektoncd/triggers/issues/271

That should allow one to add something like a go/parser interceptor if they want though it is unlikely that it is something we'll add by default as part of Triggers.

[2020-09-30 15:21] dibyom commented on #781
This is likely due to https://github.com/tektoncd/pipeline/pull/2606 and https://github.com/tektoncd/triggers/pull/672

What kind of cluster are you running in? Does it have some kind of PodSecurityPolicy set?

[2020-09-30 17:29] dibyom opened #782 "Remove support for old `spec` style embedded bindings"
With #617 , we added support for a new style of embedded bindings syntax. For backwards compatibility, we kept the old syntax valid but deprecated.

Once we have given users enough time to migrate, we should remove the deprecated fields i.e. `spec` inside a embedded TriggerBinding.

BREAKING CHANGE

/kind cleanup